Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @iscai-msft, @tadelesh, @msyyc, @lmazuel, @joheredi, @timovv, @qiaozha, @MaryGao, @xirzec, @RodgeFu, @lirenhe

Reserve keywords
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/test/parser.test.ts
  packages/compiler/test/scanner.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

add updated design doc
  packages/http-client-csharp/generator/docs/mpfd-design.md
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Exclude js tests (#6414)
  vitest.workspace.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Put contentTypeProperty back where it's supposed to be
  packages/http/src/payload.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Create reserve-keywords-2025-2-12-22-22-24.md
  .chronus/changes/reserve-keywords-2025-2-12-22-22-24.md
Owners: none

Update reserved keywords
  packages/http-specs/specs/routes/main.tsp
  packages/http-specs/specs/special-words/main.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix package
  packages/protobuf/lib/proto.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Change how arrays types are treated and resolved
  packages/http-server-csharp/src/lib/interfaces.ts
  packages/http-server-csharp/src/lib/service.ts
  packages/http-server-csharp/src/lib/utils.ts
  packages/http-server-csharp/test/generation.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

put the callback to option
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/src/update-code-model.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix
  packages/http-client-csharp/emitter/src/emitter.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Fix new-project bug (#6409)
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-final-state-via.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

missed
  packages/http-specs/specs/special-words/main.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

.
  packages/http-specs/specs/special-words/main.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix format
  packages/http-client-csharp/emitter/src/options.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Fix tests
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfTAsync.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix formatter
  packages/compiler/src/core/helpers/syntax-utils.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/http-specs/specs/special-words/main.tsp
  packages/openapi3/src/cli/actions/convert/utils/get-scope-and-name.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Create reserve-keywords-2025-2-13-1-29-22.md
  .chronus/changes/reserve-keywords-2025-2-13-1-29-22.md
Owners: none

add telemetry for preview and emit
  packages/typespec-vscode/ThirdPartyNotices.txt
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/telemetry/telemetry-event.ts
  packages/typespec-vscode/src/tsp-executable-resolver.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
  packages/typespec-vscode/src/vscode-cmd/import-from-openapi3.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

regen snapshots
  packages/compiler/templates/__snapshots__/emitter-ts/src/emitter.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix type mismatch issue for encode datatime
  packages/http-specs/specs/encode/datetime/mockapi.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix publish osx
  eng/tsp-core/pipelines/jobs/cli/build-tsp-cli.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix e2e
  eng/tsp-core/pipelines/jobs/e2e.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

rename
  eng/common/pipelines/templates/variables/image.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

disable SpreadRecordForDiscriminatedUnion
  packages/http-specs/specs/type/property/additional-properties/main.tsp
  packages/http-specs/specs/type/property/additional-properties/mockapi.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

changelog
  .chronus/changes/http-specs_remove-discriminated-union-2025-2-13-10-42-35.md
Owners: none

rename
  eng/tsp-core/pipelines/jobs/cli/verify-tsp-cli.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix
  eng/tsp-core/pipelines/jobs/e2e.yml
  eng/tsp-core/pipelines/publish.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

revert script
  packages/http-client-java/eng/scripts/Build-Packages.ps1
  packages/http-client-java/eng/scripts/Initialize-Repository.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Ignore failing spector tests
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Payload/Pageable/NextLinkPaginationTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/_Type/Property/AdditionalProperties/AdditionalPropertiesTests.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Add test for
  packages/http-server-csharp/package.json
  packages/http-server-csharp/src/lib/utils.ts
  packages/http-server-csharp/test/generation.test.ts
  packages/http-server-csharp/test/test-host.ts
  pnpm-lock.yaml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix publishing (#6424)
  eng/common/pipelines/templates/variables/image.yml
  eng/tsp-core/pipelines/jobs/cli/build-tsp-cli.yml
  eng/tsp-core/pipelines/jobs/cli/verify-tsp-cli.yml
  eng/tsp-core/pipelines/jobs/e2e.yml
  eng/tsp-core/pipelines/publish.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

add definition
  packages/http-client-csharp/emitter/src/options.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

comment out SpreadRecordDiscriminatedUnion in js
  packages/http-client-js/test/e2e/http/type/property/additional-properties/spreads.test.ts
Owners: @joheredi, @timotheeguerin, @timovv, @qiaozha, @MaryGao, @xirzec, @bterlson, @markcowl, @allenjzhang, @witemple-msft, @chrisradek, @AlitzelMendez

review
  packages/http-client-python/generator/pygen/codegen/models/parameter.py
  packages/http-client-python/generator/pygen/codegen/models/request_builder_parameter.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/preprocess/__init__.py
  packages/http-client-python/package-lock.json
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

add streams libs
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test for update-code-model callback
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

skip streaming test for now, as tcgc is not released
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add .npmrc
  packages/http-client-python/.npmrc
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

update test
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix format
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @allenjzhang @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# This folder is not important and can be modified by anyone
.chronus/changes/

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft

######################
# Java
######################
/packages/http-client-java/                  @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @allenjzhang @witemple-msft @chrisradek @AlitzelMendez

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
