Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @iscai-msft, @lmazuel, @JoshLove-msft, @srnagar, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @tadelesh, @msyyc, @joheredi, @qiaozha, @MaryGao, @jorgerangel-msft, @christothes, @jsquire, @swathipil, @catalinaperalta, @mccoyp, @timovv, @xirzec, @RodgeFu, @lirenhe

http-client-java: Update Node.js packages to latest (#8877)
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Owners: @srnagar, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

code
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/lib.ts
Owners: @srnagar, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  packages/http-client-java/generator/http-client-generator-test/tsp/arm.tsp
Owners: @srnagar, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update tar package version to ^7.5.2
  packages/compiler/package.json
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

updated
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/serverlib.ts
Owners: @RodgeFu, @bterlson, @markcowl, @witemple-msft, @timotheeguerin, @chrisradek, @AlitzelMendez

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# Those files/folders can be modified by anyone
.chronus/changes/
cspell.yaml

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft
/docs/samples/client/                        @lmazuel @JoshLove-msft @iscai-msft @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @tadelesh @msyyc @joheredi @timotheeguerin @qiaozha @MaryGao

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft @christothes @jsquire
/docs/samples/client/csharp                  @JoshLove-msft @jorgerangel-msft @christothes @jsquire
/website/src/content/docs/docs/emitters/clients/http-client-csharp/ @JoshLove-msft @jorgerangel-msft @christothes @jsquire

######################
# Java
######################
/packages/http-client-java/                  @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/website/src/content/docs/docs/emitters/clients/http-client-java/ @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/.github/prompts/http-client-java-development.md @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                                                     @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel @swathipil @catalinaperalta @mccoyp
/website/src/content/docs/docs/emitters/clients/http-client-python/               @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel @swathipil @catalinaperalta @mccoyp  

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @witemple-msft @chrisradek @AlitzelMendez

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @witemple-msft @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @witemple-msft @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @witemple-msft @timotheeguerin @chrisradek @AlitzelMendez
