Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @nisha-bhatia, @srnagar, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @iscai-msft, @tadelesh, @msyyc, @lmazuel, @joheredi, @timovv, @qiaozha, @MaryGao, @xirzec, @RodgeFu, @lirenhe

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @allenjzhang @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# This folder is not important and can be modified by anyone
.chronus/changes/

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft @nisha-bhatia
/docs/samples/client/csharp                  @nisha-bhatia @JoshLove-msft @jorgerangel-msft

######################
# Java
######################
/packages/http-client-java/                  @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel
/website/src/content/docs/docs/emitters/clients/http-client-python/               @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @allenjzhang @witemple-msft @chrisradek @AlitzelMendez

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez

bad test
  packages/compiler/test/parser.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix allow new reserved keyword in augment decorator (#6826)
  .chronus/changes/fix-augment-dec-reserved-keywords-2025-3-2-7-23-59.md
  packages/compiler/src/core/parser.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/test/parser.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Add 1.0.0-rc.0 release notes
  website/src/content/docs/docs/release-notes/release-2025-04-02.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

formatting
  website/src/content/docs/docs/getting-started/code-generation-javascript.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Rebuild and regen samples to bump template versions
  packages/compiler/templates/scaffolding.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

revert to npm run for now
  eng/tsp-core/pipelines/jobs/publish-vscode.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Bump to 1.0rc
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/json-schema/CHANGELOG.md
  packages/json-schema/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package.json
  packages/openapi3/CHANGELOG.md
  packages/openapi3/package.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

update chronus and missed version bumps
  .chronus/config.yaml
  packages/typespec-vs/CHANGELOG.md
  packages/typespec-vs/package.json
  packages/typespec-vscode/CHANGELOG.md
  packages/typespec-vscode/package.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu, @lirenhe

Fix
  packages/compiler/CHANGELOG.md
  packages/compiler/templates/scaffolding.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

hard code for now
  eng/tsp-core/scripts/upload-bundler-packages.js
  website/playground-versions.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

update whitespace
  docs/samples/client/js/oauth/readme.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

remove
  .chronus/config.yaml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Update plugin dependency
  docs/samples/client/csharp/SampleService/package.json
  docs/samples/client/csharp/SampleService/src/Generated/SampleServiceClient.cs
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Generation.psm1
Owners: @nisha-bhatia, @JoshLove-msft, @jorgerangel-msft, @m-nash

Downgrade vs
  .chronus/config.yaml
  packages/typespec-vs/CHANGELOG.md
  packages/typespec-vs/package.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu, @lirenhe

remove mention of visual studio extension
  website/src/content/blog/2025-03-31-typespec-1-0-release/typespec_1_0_release.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez
