Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @iscai-msft, @tadelesh, @msyyc, @lmazuel, @joheredi, @timovv, @qiaozha, @MaryGao, @xirzec, @RodgeFu, @lirenhe

refactor `createTempDir()` signature
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

fix test
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix error when previewing openapi3.1 (#6403)
  .chronus/changes/vscode-openapi3.1-preview-2025-2-12-16-7-6.md
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
  packages/typespec-vscode/swagger-ui/swagger-initializer.js
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

replace deprected api
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/generator/pygen/preprocess/__init__.py
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

Create replace-deprecated-api-2025-2-13-7-47-41.md
  .chronus/changes/replace-deprecated-api-2025-2-13-7-47-41.md
Owners: none

http-client-java, enable eslint no-deprecated (#6364)
  eslint.config.js
  packages/http-client-java/package.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Create update-root-namespace-2025-2-12-6-11-5.md
  .chronus/changes/update-root-namespace-2025-2-12-6-11-5.md
Owners: none

add more telemetry and support delay
  packages/typespec-vscode/src/extension-state-manager.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/telemetry/telemetry-client.ts
  packages/typespec-vscode/src/telemetry/telemetry-event.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

remove flush which doesnt work
  packages/typespec-vscode/src/telemetry/telemetry-client.ts
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

review
  packages/http-client-python/emitter/src/utils.ts
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

README.md
  README.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

update
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/pygen/preprocess/__init__.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

update
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/generator/pygen/codegen/models/paging_operation.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

update test
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

refactor
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/codemodel/CodeModel.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

skip test
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix format
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

some update
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/telemetry/telemetry-client.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

Move includeInapplicableMetadataInPayload to private
  packages/http/generated-defs/TypeSpec.Http.Private.ts
  packages/http/generated-defs/TypeSpec.Http.ts
  packages/http/lib/decorators.tsp
  packages/http/lib/main.tsp
  packages/http/lib/private.decorators.tsp
  packages/http/package.json
  packages/http/src/decorators.ts
  packages/http/src/index.ts
  packages/http/src/metadata.ts
  packages/http/src/private.decorators.ts
  packages/http/src/tsp-index.ts
  packages/http/test/http-decorators.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

regen
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResultOfT.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Cleanup http apis
  .chronus/changes/cleanup-http-2025-2-13-8-55-47.md
  packages/http/src/experimental/index.ts
  packages/http/src/index.ts
  packages/http/src/route.ts
  packages/http/src/types.ts
  packages/http/test/test-host.ts
  packages/rest/src/rest.ts
  packages/rest/test/test-host.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Create cleanup-http-2025-2-13-16-14-28.md
  .chronus/changes/cleanup-http-2025-2-13-16-14-28.md
Owners: none

fix
  .chronus/changes/cleanup-http-2025-2-13-8-55-47.md
  packages/http/src/index.ts
  tsconfig.ws.json
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix
  packages/http/lib/streams/main.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix
  packages/http/test/http-decorators.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

regen docs
  packages/http/README.md
  website/src/content/docs/docs/libraries/http/reference/decorators.md
  website/src/content/docs/docs/libraries/http/reference/index.mdx
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Update `no-emit` to stop running emitter and `dry-run` to be the opt-in replacement (#6411)
  .chronus/changes/no-emit-dry-run-2025-2-12-18-42-23.md
  .chronus/changes/no-emit-dry-run-2025-2-12-18-42-24.md
  .chronus/changes/no-emit-dry-run-2025-2-12-18-50-22.md
  packages/compiler/src/core/cli/actions/compile/args.ts
  packages/compiler/src/core/cli/cli.ts
  packages/compiler/src/core/options.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/emitter-framework/asset-emitter.ts
  packages/compiler/src/server/constants.ts
  packages/compiler/src/testing/test-host.ts
  packages/compiler/templates/__snapshots__/emitter-ts/src/emitter.ts
  packages/compiler/templates/emitter-ts/src/emitter.ts
  packages/compiler/test/core/emitter.test.ts
  packages/compiler/test/e2e/cli/scenarios/with-emitter/emitter.js
  packages/http-server-csharp/src/lib/lib.ts
  packages/http-server-csharp/src/lib/service.ts
  packages/http-server-js/src/index.ts
  packages/http-server-js/src/lib.ts
  packages/json-schema/src/json-schema-emitter.ts
  packages/openapi3/src/lib.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/test-host.ts
  packages/protobuf/src/lib.ts
  packages/protobuf/src/proto.ts
  packages/protobuf/src/transform/index.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu

Tweak docs
  website/src/content/docs/docs/standard-library/discriminated-types.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Missed cleaning up testing export
  packages/compiler/src/testing/code-fix-testing.ts
  packages/compiler/src/testing/expect.ts
  packages/compiler/src/testing/index.ts
  packages/compiler/src/testing/source-utils.ts
  packages/compiler/src/testing/test-server-host.ts
  packages/compiler/test/checker/effective-type.test.ts
  packages/compiler/test/checker/namespaces.test.ts
  packages/compiler/test/checker/scalar.test.ts
  packages/compiler/test/checker/typeof.test.ts
  packages/compiler/test/core/diagnostics.test.ts
  packages/compiler/test/core/parser-utils.test.ts
  packages/compiler/test/experimental/mutator.test.ts
  packages/compiler/test/parser-utils.test.ts
  packages/compiler/test/scanner.test.ts
  packages/compiler/test/server/completion.test.ts
  packages/compiler/test/server/completion.tspconfig.test.ts
  packages/compiler/test/server/document-highlight.test.ts
  packages/compiler/test/server/get-hover.test.ts
  packages/compiler/test/server/goto-definition.test.ts
  packages/compiler/test/server/misc.test.ts
  packages/compiler/test/server/rename.test.ts
  packages/compiler/test/server/reuse.test.ts
  packages/compiler/test/server/signature-help.test.ts
  packages/compiler/test/yaml/diagnostics.test.ts
  packages/compiler/test/yaml/parser.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Allow in object value as well
  packages/compiler/src/core/parser.ts
  packages/compiler/test/parser.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix signature
  packages/compiler/src/server/type-signature.ts
Owners: @RodgeFu, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

fix regression
  packages/compiler/src/core/parser.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Rewrite doc sections that mention defaultness application/json
  website/src/content/docs/docs/emitters/openapi3/openapi.md
  website/src/content/docs/docs/libraries/http/content-types.md
  website/src/content/docs/docs/libraries/http/operations.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Tweak discriminated docs (#6438)
  website/src/content/docs/docs/standard-library/discriminated-types.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

remove todo as filed issue
  packages/compiler/test/scanner.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Document handling of Http.File
  website/src/content/docs/docs/libraries/http/operations.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Reserve keywords (#6416)
  .chronus/changes/reserve-keywords-2025-2-12-22-22-24.md
  .chronus/changes/reserve-keywords-2025-2-13-1-29-22.md
  packages/compiler/src/core/helpers/syntax-utils.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/src/server/type-signature.ts
  packages/compiler/test/parser.test.ts
  packages/compiler/test/scanner.test.ts
  packages/http-specs/specs/routes/main.tsp
  packages/http-specs/specs/special-words/main.tsp
  packages/openapi3/src/cli/actions/convert/utils/get-scope-and-name.ts
  packages/protobuf/lib/proto.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu

Update installation docs for feedback
  website/src/content/docs/docs/handbook/package-manager.md
  website/src/content/docs/docs/introduction/installation.mdx
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

steps
  website/src/content/docs/docs/introduction/installation.mdx
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

missing sidebar entry
  website/src/content/current-sidebar.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @allenjzhang @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# This folder is not important and can be modified by anyone
.chronus/changes/

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft

######################
# Java
######################
/packages/http-client-java/                  @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @allenjzhang @witemple-msft @chrisradek @AlitzelMendez

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
