Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @iscai-msft, @tadelesh, @msyyc, @lmazuel, @joheredi, @timovv, @qiaozha, @MaryGao, @xirzec, @RodgeFu, @lirenhe

fallback to 'npm install' if 'tsp install' fails
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

http-client-java, method override with etag (#6360)
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/test/utils.test.ts
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/MethodOverrideAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/MethodOverrideClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/MethodOverrideClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/models/GroupPartETagRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/models/GroupPartETagOptions.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/methodoverride_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/tsp/method-override.tsp
  packages/http-client-java/package-lock.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dev release for python
  packages/http-client-python/eng/pipeline/publish.yml
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

change the top level to lower case
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/type/client-kind.ts
  packages/http-client-csharp/emitter/src/type/code-model.ts
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputNamespaceConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

upgrade node
  packages/http-client-python/package.json
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

Create upgrade-node-python-2025-2-12-6-35-54.md
  .chronus/changes/upgrade-node-python-2025-2-12-6-35-54.md
Owners: none

replace cadl with tsp
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/external-process.ts
  packages/http-client-python/generator/pygen/__init__.py
  packages/http-client-python/generator/pygen/black.py
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/preprocess/__init__.py
  packages/http-client-python/generator/pygen/preprocess/python_mappings.py
  packages/http-client-python/generator/pygen/utils.py
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

Create clear-cadl-python-2025-2-12-6-49-45.md
  .chronus/changes/clear-cadl-python-2025-2-12-6-49-45.md
Owners: none

delete useless file
  packages/http-client-python/generator/test/unbranded/mock_api_tests/cadl-ranch-config.yaml
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

some more changes
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/service-authentication.ts
  packages/http-client-csharp/emitter/src/type/http-response-header.ts
  packages/http-client-csharp/emitter/src/type/input-api-key-auth.ts
  packages/http-client-csharp/emitter/src/type/input-auth.ts
  packages/http-client-csharp/emitter/src/type/input-oauth2-auth.ts
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputApiKeyAuthConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputAuthConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputOAuth2AuthConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecOperationResponseHeaderConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

more changes
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/type/input-client.ts
  packages/http-client-csharp/emitter/src/type/input-constant.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputClientConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputConstantConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

updated
  packages/compiler/src/core/path-utils.ts
  packages/compiler/src/server/serverlib.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu

change operation
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/input-operation.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputOperationConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

change parameter
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/type/input-parameter.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputParameter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputParameterConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix error when previewing openapi3.1
  .chronus/changes/vscode-openapi3.1-preview-2025-2-12-16-7-6.md
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
  packages/typespec-vscode/swagger-ui/swagger-initializer.js
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

change lro and paging
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/input-operation.ts
  packages/http-client-csharp/emitter/src/type/operation-long-running.ts
  packages/http-client-csharp/emitter/src/type/operation-paging.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputContinuationTokenConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputNextLinkConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputOperationPagingConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecOperationLongRunningConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

clean up
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/input-client.ts
  packages/http-client-csharp/emitter/src/type/operation-response.ts
  packages/http-client-csharp/emitter/src/type/protocols.ts
  packages/http-client-csharp/emitter/src/type/validation-type.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecOperationResponseConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Update "Create TypeSpec Project" flow according to 'tsp init' and bundle with compiler logic directly (#6295)
  .chronus/changes/vscode-bundle-init-2025-2-11-18-46-5.md
  .chronus/changes/vscode-bundle-init-2025-2-6-14-38-22.md
  .chronus/changes/vscode-bundle-init-2025-2-6-14-39-23.md
  packages/compiler/.scripts/build-init-templates.ts
  packages/compiler/src/internals/index.ts
  packages/compiler/templates/scaffolding.json
  packages/internal-build-utils/src/generate-third-party-notice.ts
  packages/typespec-vscode/.gitignore
  packages/typespec-vscode/.vscodeignore
  packages/typespec-vscode/ThirdPartyNotices.txt
  packages/typespec-vscode/package.json
  packages/typespec-vscode/rollup.config.ts
  packages/typespec-vscode/scripts/copy-templates.js
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/log/extension-log-listener.ts
  packages/typespec-vscode/src/pre-extension-activate.ts
  packages/typespec-vscode/src/ui-utils.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  pnpm-lock.yaml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu, @lirenhe

fix test cases
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TestData/TypeSpecInputConverterTests/LoadsTypeSpecPagingInput/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

format
  packages/http-client-csharp/emitter/src/lib/example-converter.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/sdk-context.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix ci
  packages/http-client-python/eng/scripts/setup/run_tsp.py
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

updated
  packages/compiler/src/server/completion.ts
Owners: @RodgeFu, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

revert unnecessary change from merge
  packages/compiler/src/core/checker.ts
  packages/compiler/src/lib/service.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
  packages/openapi/test/decorators.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft

add basic telemetry for emit code
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/telemetry/telemetry-client.ts
  packages/typespec-vscode/src/telemetry/telemetry-event.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

replace "cadl" with "tsp" (#6402)
  .chronus/changes/clear-cadl-python-2025-2-12-6-49-45.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/external-process.ts
  packages/http-client-python/eng/scripts/setup/run_tsp.py
  packages/http-client-python/generator/pygen/__init__.py
  packages/http-client-python/generator/pygen/black.py
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/preprocess/__init__.py
  packages/http-client-python/generator/pygen/preprocess/python_mappings.py
  packages/http-client-python/generator/pygen/utils.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/cadl-ranch-config.yaml
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

Fix install package manager
  packages/compiler/src/install/install.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

better link
  packages/compiler/src/install/install.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Create fix-install-pm-windows-rename-2025-2-12-15-16-53.md
  .chronus/changes/fix-install-pm-windows-rename-2025-2-12-15-16-53.md
Owners: none

fix
  packages/compiler/src/install/install.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix new-project bug
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

empty lines
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Follow node module resolution
  packages/compiler/src/module-resolver/module-resolver.ts
  packages/compiler/test/module-resolver/module-resolver.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

remove comment
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

format
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

rename
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

lint
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Dry run instead of noEmit
  packages/compiler/src/core/cli/actions/compile/args.ts
  packages/compiler/src/core/cli/cli.ts
  packages/compiler/src/core/options.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/emitter-framework/asset-emitter.ts
  packages/compiler/src/testing/test-host.ts
  packages/compiler/templates/emitter-ts/src/emitter.ts
  packages/compiler/test/e2e/cli/scenarios/with-emitter/emitter.js
  packages/http-server-csharp/src/lib/lib.ts
  packages/http-server-csharp/src/lib/service.ts
  packages/http-server-js/src/index.ts
  packages/http-server-js/src/lib.ts
  packages/json-schema/src/json-schema-emitter.ts
  packages/openapi3/src/lib.ts
  packages/openapi3/src/openapi.ts
  packages/protobuf/src/lib.ts
  packages/protobuf/src/proto.ts
  packages/protobuf/src/transform/index.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

reset modules
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

format
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Fix package manager install on windows (#6407)
  .chronus/changes/fix-install-pm-windows-rename-2025-2-12-15-16-53.md
  packages/compiler/src/install/install.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @allenjzhang @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# This folder is not important and can be modified by anyone
.chronus/changes/

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft

######################
# Java
######################
/packages/http-client-java/                  @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @allenjzhang @witemple-msft @chrisradek @AlitzelMendez

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
