Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @iscai-msft, @tadelesh, @msyyc, @lmazuel, @joheredi, @timovv, @qiaozha, @MaryGao, @xirzec, @RodgeFu, @lirenhe

comment
  packages/http-client-java/emitter/src/options.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

exit on error
  packages/http-client-java/eng/scripts/Test-Packages.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/test_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/MANIFEST.in.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/README.md.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/setup.py.jinja2
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

exit with ExitCode
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

updated
  packages/compiler/src/server/completion.ts
Owners: @RodgeFu, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

update
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

comment
  packages/http-client-java/emitter/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/external-process.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/emitter/src/utils.ts
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

use throw
  packages/http-client-java/eng/scripts/Generate.ps1
  packages/http-client-java/eng/scripts/Test-Packages.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix commenter (#6445)
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix bad syntax
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Link multipart content-types doc to main content-types doc.
  website/src/content/docs/docs/libraries/http/multipart.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix bad syntax (#6455)
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix name
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix
  packages/compiler/src/formatter/print/printer.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

.
  .chronus/changes/fix-reserved-keyword-union-variant-2025-2-14-9-28-34.md
Owners: none

commenter worflow: fix name (#6457)
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Cleanup http library: remove apis that were meant to be internal or experimental (#6433)
  .chronus/changes/cleanup-http-2025-2-13-16-14-28.md
  .chronus/changes/cleanup-http-2025-2-13-8-55-47.md
  packages/http/README.md
  packages/http/generated-defs/TypeSpec.Http.Private.ts
  packages/http/generated-defs/TypeSpec.Http.ts
  packages/http/lib/decorators.tsp
  packages/http/lib/main.tsp
  packages/http/lib/private.decorators.tsp
  packages/http/lib/streams/main.tsp
  packages/http/package.json
  packages/http/src/decorators.ts
  packages/http/src/experimental/index.ts
  packages/http/src/index.ts
  packages/http/src/metadata.ts
  packages/http/src/private.decorators.ts
  packages/http/src/route.ts
  packages/http/src/tsp-index.ts
  packages/http/src/types.ts
  packages/http/test/http-decorators.test.ts
  packages/http/test/test-host.ts
  packages/rest/src/rest.ts
  packages/rest/test/test-host.ts
  tsconfig.ws.json
  website/src/content/docs/docs/libraries/http/reference/decorators.md
  website/src/content/docs/docs/libraries/http/reference/index.mdx
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix printing of reserved keyword in union variants (#6458)
  .chronus/changes/fix-reserved-keyword-union-variant-2025-2-14-9-28-34.md
  packages/compiler/src/formatter/print/printer.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

PR fb and move diagnostic to emitter
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

format
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Don't increment paging
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Fix comment
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Relax option path parameter check
  packages/http/src/lib.ts
  packages/http/src/parameters.ts
  packages/http/test/http-decorators.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

faq
  website/src/content/docs/docs/handbook/faq.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix void handling
  packages/http-server-js/src/scripts/scaffold/data-mocks.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Change info
  .chronus/changes/feature-js-server-stubs-2025-2-14-3-23-42.md
Owners: none

JSDoc and conditionally import NonImplementedError
  packages/http-server-js/src/scripts/scaffold/bin.mts
  packages/http-server-js/src/scripts/scaffold/data-mocks.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Generate server stubs
  packages/http-server-js/src/scripts/scaffold/bin.mts
  packages/http-server-js/src/scripts/scaffold/data-mocks.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

remove release
  website/src/content/current-sidebar.ts
  website/src/content/docs/docs/handbook/releases.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix(http-js-emitter): Handle HttpPart with a property decorated with @body (#6390)
  .chronus/changes/fix-js-emitter-multipart-2025-2-12-1-5-7.md
  packages/http-client-js/src/components/serializers.tsx
  packages/http-client-js/src/components/transforms/multipart/simple-part-transform.tsx
  packages/http-client-js/test/e2e/http/payload/multipart/main.test.ts
  packages/http-client-js/test/scenarios/multipart/file_content_type.md
  packages/http-client-js/test/scenarios/multipart/non-string-float.md
Owners: @joheredi, @timotheeguerin, @timovv, @qiaozha, @MaryGao, @xirzec, @bterlson, @markcowl, @allenjzhang, @witemple-msft, @chrisradek, @AlitzelMendez

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @allenjzhang @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# This folder is not important and can be modified by anyone
.chronus/changes/

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft

######################
# Java
######################
/packages/http-client-java/                  @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @allenjzhang @witemple-msft @chrisradek @AlitzelMendez

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
