Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @iscai-msft, @tadelesh, @msyyc, @lmazuel, @joheredi, @timovv, @qiaozha, @MaryGao, @xirzec, @RodgeFu, @lirenhe

Create follow-node-module-resolution-2025-2-12-16-34-40.md
  .chronus/changes/follow-node-module-resolution-2025-2-12-16-34-40.md
Owners: none

debug test
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/eng/pipeline/templates/ci-stages.yml
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Split different installation with tabs (#6384)
  website/astro.config.mjs
  website/src/content/docs/docs/introduction/installation.mdx
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

add implicit operator for models
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Payload/Multipart/MultipartTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/AnonymousModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/BinaryArrayPartsRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/ComplexHttpPartsModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/ComplexPartsRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/FileWithHttpPartOptionalContentTypeRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/FileWithHttpPartRequiredContentTypeRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/FileWithHttpPartSpecificContentTypeRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/FloatRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/JsonPartRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/JsonPartRequest.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/MultiBinaryPartsRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Generated/Models/MultiPartRequest.Serialization.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

mock
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Add tests
  packages/compiler/src/core/program.ts
  packages/compiler/src/server/constants.ts
  packages/compiler/test/core/emitter.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu

Follow node module resolution (#6410)
  .chronus/changes/follow-node-module-resolution-2025-2-12-16-34-40.md
  packages/compiler/src/module-resolver/module-resolver.ts
  packages/compiler/test/module-resolver/module-resolver.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix'
  packages/http/src/index.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Create no-emit-dry-run-2025-2-12-18-42-23.md
  .chronus/changes/no-emit-dry-run-2025-2-12-18-42-23.md
Owners: none

Create no-emit-dry-run-2025-2-12-18-42-24.md
  .chronus/changes/no-emit-dry-run-2025-2-12-18-42-24.md
Owners: none

dynamic import
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

reset
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix
  packages/http/src/index.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

mock after resetmodules
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Create no-emit-dry-run-2025-2-12-18-50-22.md
  .chronus/changes/no-emit-dry-run-2025-2-12-18-50-22.md
Owners: none

import type
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Fix
  packages/compiler/src/testing/test-host.ts
  packages/openapi3/test/test-host.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Default to JSON for all nullable unions, bypassing media type hint
  packages/http/src/payload.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Add more verification of bytes body working as expected
  packages/openapi3/test/return-types.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

combine emitter tests
  packages/http-client-csharp/emitter/test/Unit/dotnet-sdk-validation.test.ts
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Re-record last failing test
  packages/samples/test/output/testserver/body-string/@typespec/openapi3/openapi.yaml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Fix doc string
  packages/compiler/lib/std/decorators.tsp
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

reset
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Validate structure of media type
  packages/compiler/src/lib/decorators.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

add sync tests
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Payload/Multipart/MultipartTests.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

exclude js tests
  packages/http-client-csharp/emitter/vitest.config.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Disable firefox too unreliable right now
  packages/playground-website/e2e/playwright.config.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Rebuild website
  website/src/content/docs/docs/standard-library/built-in-decorators.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

gen-extern-signature
  packages/compiler/generated-defs/TypeSpec.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

add reset to all test files
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-final-state-via.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Move http lib to named exports (#6380)
  .chronus/changes/http-exports-named-2025-2-11-12-14-47.md
  packages/http/api-extractor.json
  packages/http/package.json
  packages/http/src/index.ts
  packages/playground-website/e2e/playwright.config.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

move mock
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

trace
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

trace
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

clean up
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

delete temp test stage
  packages/http-client-csharp/eng/pipeline/templates/ci-stages.yml
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Exclude js tests
  vitest.workspace.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Update vitest.workspace.ts
  vitest.workspace.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

revert vitest config change
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/vitest.config.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @allenjzhang @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# This folder is not important and can be modified by anyone
.chronus/changes/

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft

######################
# Java
######################
/packages/http-client-java/                  @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @allenjzhang @witemple-msft @chrisradek @AlitzelMendez

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
