Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @iscai-msft, @tadelesh, @msyyc, @lmazuel, @joheredi, @timovv, @qiaozha, @MaryGao, @xirzec, @RodgeFu, @lirenhe

Fix handling of record types
  packages/http-server-csharp/src/lib/utils.ts
  packages/http-server-csharp/test/generation.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Update changelog for fix
  .chronus/changes/fix-record-rc-2025-2-13-23-23-20.md
Owners: none

Use github action for changes comment (#6287)
  .github/workflows/commenter.yml
  .github/workflows/consistency.yml
  eng/tsp-core/pipelines/pr-tools.yml
  package.json
  pnpm-lock.yaml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix test
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

tweaks
  website/src/content/docs/docs/introduction/editor/vs.md
  website/src/content/docs/docs/introduction/editor/vscode.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Directoves: @query, @mutation and @subscription.
  packages/graphql/lib/main.tsp
  packages/graphql/lib/operation-kind.tsp
  packages/graphql/src/lib.ts
  packages/graphql/src/lib/operation-kind.ts
  packages/graphql/src/lib/schema.ts
  packages/graphql/src/lib/state-map.ts
  packages/graphql/src/tsp-index.ts
  packages/graphql/src/types.d.ts
  packages/graphql/test/operation-kind.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

update
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/emitter/src/lib.ts
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

addres comments
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Fix emitter bug and update tests
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfTAsync.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenHeaderResponseAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenHeaderResponseAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenHeaderResponseCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithContinuationTokenHeaderResponseCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Payload/Pageable/ContinuationTokenPaginationTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/tspCodeModel.json
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

emitter fix
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

revert unintended changes
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

extra whitespace
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/ContinuationTokenTests.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix format
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Decorators: @mutation, @query and @sbuscription
  packages/graphql/lib/main.tsp
  packages/graphql/lib/operation-kind.tsp
  packages/graphql/src/lib.ts
  packages/graphql/src/lib/operation-kind.ts
  packages/graphql/src/lib/schema.ts
  packages/graphql/src/lib/state-map.ts
  packages/graphql/src/tsp-index.ts
  packages/graphql/src/types.d.ts
  packages/graphql/test/operation-kind.test.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

expose InputModelType and options to set UpdateCodeModel callback (#6314)
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

Fix commenter
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

cant only be success
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

try nested
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

change the emitter invocation command to adopt the module resolution change
  packages/http-client-csharp/eng/scripts/Generation.psm1
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft

fix
  .github/workflows/commenter.yml
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Update test plan for TypeSpec extension
  packages/typespec-vscode/test/manual/create-typespec-project-test-case.md
  packages/typespec-vscode/test/manual/generate-from-typespec-test-case.md
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_CreateSucceedFolder_EmptyProject.png
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_Generate_gitignoreFile.png
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_GenericRESTAPI_SelectEmitters.png
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_InstallOrUpdateLibraries.png
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_InstallTypeSpecCompiler.png
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_OpenProject.png
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_SelectMoreTemplate.png
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_SelectTemplate.png
  packages/typespec-vscode/test/manual/images/GenerateClientCode_SelectLanguage_clientcode.png
  packages/typespec-vscode/test/manual/images/GenerateOpenAPI_SelectLanguage.png
  packages/typespec-vscode/test/manual/images/GenerateServerStub_SelectLanguage.png
  packages/typespec-vscode/test/manual/images/GeneratefromTypeSpec_yamlFileConfigurationEmitter.png
  packages/typespec-vscode/test/manual/images/GeneratefromTypeSpec_yamlFileConfigurationEmittermultiple.png
  packages/typespec-vscode/test/manual/images/ShowOpenAPI3Documentation_CompilationSuccessfully.png
  packages/typespec-vscode/test/manual/images/ShowOpenAPI3Documentation_SelectOpenAPI3File.png
  packages/typespec-vscode/test/manual/images/TriggerGeneratefromTypeSpec_ContextMenu.png
  packages/typespec-vscode/test/manual/images/TriggerImportTypeSpecfromOpenAPI3.png
  packages/typespec-vscode/test/manual/images/TriggerShowOpenapi3Documentation_Option2.png
  packages/typespec-vscode/test/manual/images/TriggerShowOpenapi3Documentation_right-click.png
  packages/typespec-vscode/test/manual/import-typespec-from-openapi3-test-case.md
  packages/typespec-vscode/test/manual/show-openapi3-documentation-test-case.md
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

[python] replace some deprecated API (#6431)
  .chronus/changes/replace-deprecated-api-2025-2-13-7-47-41.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/generator/pygen/preprocess/__init__.py
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel

http-client-java, remove deprecated usage in local tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/enum.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update summary
  packages/http-specs/spec-summary.md
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

move EmitterOptions to options.ts
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/index.ts
  packages/http-client-java/emitter/src/lib.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

make EmitterOptionsSchema the simplest version for unbranded
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/options.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.awf
  packages/compiler/src/formatter/print/printer.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

.
  .chronus/changes/fix-enum-members-also-allow-reserved-2025-2-13-21-52-47.md
Owners: none

adapt use of undocumented emitter options
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix: Missed allowing reserved keyword when printing enum members (#6451)
  .chronus/changes/fix-enum-members-also-allow-reserved-2025-2-13-21-52-47.md
  packages/compiler/src/formatter/print/printer.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

updated
  packages/compiler/src/server/server.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/types.ts
  packages/compiler/test/server/rename-files.test.ts
Owners: @RodgeFu, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez, @witemple-msft

Update test plan for TypeSpec extension
  packages/typespec-vscode/test/manual/images/CreateTypeSpecProject_GenericRESTAPI_SelectEmitters.png
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

Update test plan for TypeSpec extension
  packages/typespec-vscode/test/manual/generate-from-typespec-test-case.md
Owners: @RodgeFu, @lirenhe, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

script, exit on error
  packages/http-client-java/eng/scripts/Check-GitChanges.ps1
  packages/http-client-java/eng/scripts/Generate.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove unused code
  packages/http-client-java/emitter/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

updated
  packages/compiler/src/server/completion.ts
Owners: @RodgeFu, @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @chrisradek, @AlitzelMendez

change `nextToken` to token for continuation token test to prevent http header auto renaming
  packages/http-specs/spec-summary.md
  packages/http-specs/specs/payload/pageable/main.tsp
  packages/http-specs/specs/payload/pageable/mockapi.ts
Owners: @bterlson, @markcowl, @allenjzhang, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

changeset
  .chronus/changes/nextToken_to_token-2025-2-14-14-22-38.md
Owners: none

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @allenjzhang @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# This folder is not important and can be modified by anyone
.chronus/changes/

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft

######################
# Java
######################
/packages/http-client-java/                  @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @allenjzhang @witemple-msft @chrisradek @AlitzelMendez

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @allenjzhang @timotheeguerin @chrisradek @AlitzelMendez
