Repository microsoft/typespec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @iscai-msft, @lmazuel, @JoshLove-msft, @srnagar, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @tadelesh, @msyyc, @joheredi, @qiaozha, @MaryGao, @jorgerangel-msft, @christothes, @jsquire, @swathipil, @catalinaperalta, @mccoyp, @timovv, @xirzec, @RodgeFu, @lirenhe

.github/CODEOWNERS:

# Catch all
*                                            @bterlson @markcowl @timotheeguerin @witemple-msft @chrisradek @AlitzelMendez

# Those files/folders can be modified by anyone
.chronus/changes/
cspell.yaml

######################
# Emiter Shared
######################
/eng/emitters/                               @m-nash @iscai-msft
/docs/samples/client/                        @lmazuel @JoshLove-msft @iscai-msft @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @tadelesh @msyyc @joheredi @timotheeguerin @qiaozha @MaryGao

######################
# CSharp
######################
/packages/http-client-csharp/                @m-nash @JoshLove-msft @jorgerangel-msft @christothes @jsquire
/docs/samples/client/csharp                  @JoshLove-msft @jorgerangel-msft @christothes @jsquire
/website/src/content/docs/docs/emitters/clients/http-client-csharp/ @JoshLove-msft @jorgerangel-msft @christothes @jsquire

######################
# Java
######################
/packages/http-client-java/                  @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/website/src/content/docs/docs/emitters/clients/http-client-java/ @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/.github/prompts/http-client-java-development.md @srnagar @anuchandy @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

######################
# Python
######################
/packages/http-client-python/                                                     @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel @swathipil @catalinaperalta @mccoyp
/website/src/content/docs/docs/emitters/clients/http-client-python/               @iscai-msft @tadelesh @msyyc @timotheeguerin @lmazuel @swathipil @catalinaperalta @mccoyp  

######################
# JavaScript
######################
/packages/http-client-js/                    @joheredi @timotheeguerin @timovv @qiaozha @MaryGao @xirzec @bterlson @markcowl @witemple-msft @chrisradek @AlitzelMendez

######################
# IDE
######################
/packages/typespec-vs/                       @RodgeFu @lirenhe @bterlson @markcowl @witemple-msft @timotheeguerin @chrisradek @AlitzelMendez
/packages/typespec-vscode/                   @RodgeFu @lirenhe @bterlson @markcowl @witemple-msft @timotheeguerin @chrisradek @AlitzelMendez
/packages/compiler/src/server/               @RodgeFu @bterlson @markcowl @witemple-msft @timotheeguerin @chrisradek @AlitzelMendez

updated
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/serverlib.ts
Owners: @RodgeFu, @bterlson, @markcowl, @witemple-msft, @timotheeguerin, @chrisradek, @AlitzelMendez

feat: adds version 3.2.0 to the playground
  packages/openapi3/src/lib.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

WIP unknown value tests
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/types.ts
  packages/compiler/test/checker/functions.test.ts
  packages/compiler/test/checker/values/unknown-value.test.ts
  website/src/content/docs/docs/language-basics/functions.md
  website/src/content/docs/docs/language-basics/values.md
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix: regression explode true should be default for query parameters
  packages/openapi3/src/cli/actions/convert/utils/decorators.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

[python] Fix bad indent (#8866)
  .chronus/changes/fix-bad-indent-2025-9-30-10-59-28.md
  packages/http-client-python/generator/pygen/codegen/templates/macros.jinja2
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel, @swathipil, @catalinaperalta, @mccoyp

tests: updates test value with added description
  packages/openapi3/test/tsp-openapi3/paths.test.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fix logic for when flattening properties with a diff name than properties
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel, @swathipil, @catalinaperalta, @mccoyp

add changeset
  .chronus/changes/python-fixFlattenProperties-2025-9-30-12-5-48.md
Owners: none

fix: regression for alias imports
  packages/openapi3/src/cli/actions/convert/transforms/transform-component-schemas.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

fixed comments
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodKind.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

chore: adds missing v2 http method export
  packages/openapi3/src/index.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

[python] fix setting property on flattened property when flatten property is not called `properties` (#8867)
  .chronus/changes/python-fixFlattenProperties-2025-9-30-12-5-48.md
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel, @swathipil, @catalinaperalta, @mccoyp

minor: comment change
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodKind.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

Add decotor codefix
  packages/compiler/src/core/compiler-code-fixes/create-add-decorator/create-add-decorator.codefix.test.ts
  packages/compiler/src/core/compiler-code-fixes/create-add-decorator/create-add-decorator.codefix.ts
  packages/compiler/src/core/compiler-code-fixes/suppress.codefix.ts
  packages/compiler/src/core/compiler-code-fixes/utils.ts
  packages/compiler/src/index.ts
  vitest.config.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Changelog
  .chronus/changes/add-decorator-codefix-2025-9-30-13-26-58.md
Owners: none

chore: removes http2 methods as requested during review
  packages/openapi3/src/index.ts
  packages/openapi3/src/types.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

f
  packages/compiler/vitest.config.ts
  vitest.config.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

pr feedback
  packages/http-client-csharp/CONTRIBUTING.md
  packages/http-client-csharp/eng/scripts/RegenPreview.ps1
  packages/http-client-csharp/eng/scripts/RegenPreview.psm1
  packages/http-client-csharp/eng/scripts/docs/RegenPreview.md
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

fix doc
  packages/http-client-csharp/eng/scripts/RegenPreview.ps1
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

formatting
  packages/http-client-csharp/CONTRIBUTING.md
  packages/http-client-csharp/eng/scripts/docs/RegenPreview.md
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

spelling
  cspell.yaml
Owners: none

fix
  packages/compiler/vitest.config.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Add resource provider hook
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanChangeAccessibilityOfModelFactory/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanReplaceModelMethod/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_NewModelPropertyAdded/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_NoCurrentOverloadFound/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_OnlyParamOrderingChanged/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

fix test caching
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/MockHelpers.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

chore: linting
  packages/openapi3/src/cli/actions/convert/utils/decorators.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

more nits
  packages/http-client-csharp/CONTRIBUTING.md
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

fix static caching
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/MockHelpers.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

fix
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

docs: update contributing with validating downstream gen. (#8862)
  packages/http-client-csharp/CONTRIBUTING.md
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

[http-client-csharp] add regen preview local validation script (#8819)
  .gitignore
  cspell.yaml
  packages/http-client-csharp/CONTRIBUTING.md
  packages/http-client-csharp/eng/scripts/RegenPreview.ps1
  packages/http-client-csharp/eng/scripts/RegenPreview.psm1
  packages/http-client-csharp/eng/scripts/docs/RegenPreview.md
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

fix
  packages/compiler/src/core/compiler-code-fixes/create-add-decorator/create-add-decorator.codefix.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

bump for release
  .chronus/changes/HEAD-2025-9-29-14-54-14.md
  .chronus/changes/clear-output-dir-python-2025-9-11-13-42-52.md
  .chronus/changes/fix-bad-indent-2025-9-30-10-59-28.md
  .chronus/changes/optimize-python-emitter-2025-9-29-12-48-31.md
  .chronus/changes/python-fixFlattenProperties-2025-9-30-12-5-48.md
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package.json
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel, @swathipil, @catalinaperalta, @mccoyp

Import: Convert OpenAPI `format: unixtime` to `utcDateTime` with `@encode` decorator (#8871)
  .chronus/changes/copilot-fix-unixtime-imports-2025-9-30-18-40-32.md
  packages/openapi3/src/cli/actions/convert/generators/generate-types.ts
  packages/openapi3/src/cli/actions/convert/utils/decorators.ts
  packages/openapi3/test/tsp-openapi3/convert-openapi3-doc.test.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

Don't rely on instance check for options provider name
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

[python] bump for release (#8873)
  .chronus/changes/HEAD-2025-9-29-14-54-14.md
  .chronus/changes/clear-output-dir-python-2025-9-11-13-42-52.md
  .chronus/changes/fix-bad-indent-2025-9-30-10-59-28.md
  .chronus/changes/optimize-python-emitter-2025-9-29-12-48-31.md
  .chronus/changes/python-fixFlattenProperties-2025-9-30-12-5-48.md
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package.json
Owners: @iscai-msft, @tadelesh, @msyyc, @timotheeguerin, @lmazuel, @swathipil, @catalinaperalta, @mccoyp

Rename to ServiceName
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

Add service name hook (#8872)
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanChangeAccessibilityOfModelFactory/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanReplaceModelMethod/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_NewModelPropertyAdded/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_NoCurrentOverloadFound/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_OnlyParamOrderingChanged/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/MockHelpers.cs
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

fix emitter tests
  packages/http-client-csharp/emitter/test/Unit/client-initialization.test.ts
Owners: @m-nash, @JoshLove-msft, @jorgerangel-msft, @christothes, @jsquire

Add a add a decorator codefix helper (#8868)
  .chronus/changes/add-decorator-codefix-2025-9-30-13-26-58.md
  packages/compiler/src/core/compiler-code-fixes/create-add-decorator/create-add-decorator.codefix.test.ts
  packages/compiler/src/core/compiler-code-fixes/create-add-decorator/create-add-decorator.codefix.ts
  packages/compiler/src/core/compiler-code-fixes/suppress.codefix.ts
  packages/compiler/src/core/compiler-code-fixes/utils.ts
  packages/compiler/src/index.ts
  packages/compiler/vitest.config.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez

optimize getSignatureHelp callback in lsp (#8804)
  .chronus/changes/optimize-get-signaturehelp-2025-9-23-14-59-31.md
  .vscode/launch.json
  packages/compiler/src/server/client-config-provider.ts
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/update-manager.ts
Owners: @bterlson, @markcowl, @timotheeguerin, @witemple-msft, @chrisradek, @AlitzelMendez, @RodgeFu
