Repository microsoft/typespec, pull requests merged in 2024-11, with the labels that each got.

#4947 Use customized enum name for discriminators
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizeDiscriminatorModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizeDiscriminatorModel/DiscriminatorValue.cs
Labels: emitter:client:csharp

#4936 [http-client-csharp] fix: gen. unknown discriminator model when discriminator prop exists
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/DiscriminatorTests.cs
Labels: emitter:client:csharp

#4934 Typespec Generation for Empty Schema #4923
  .chronus/changes/fix-open-api-empty-schema-2024-10-1-6-50-22.md
  packages/openapi3/src/cli/actions/convert/generators/generate-model.ts
  packages/openapi3/test/tsp-openapi3/convert-openapi3-doc.test.ts
Labels: emitter:openapi3

#4953 [http-client-csharp] fix: use correct discriminator prop name during deserialization
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DiscriminatorTests.cs
Labels: emitter:client:csharp

#4954 Fix doc merge issue
  website/src/content/docs/docs/libraries/http/reference/data-types.md
  website/src/content/docs/docs/libraries/http/reference/linter.md
Labels: meta:website

#4941 http-client-java, upgrade tcgc to 0.47.4 and cadl-ranch to 0.39.0
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/RelativeModelInOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/clientgenerator/core/usage/implementation/ModelInOperationsImpl.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4773 fix a doc issue for `opExample`
  .chronus/changes/fix-doc-issue-2024-9-18-11-26-56.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/lib/std/decorators.tsp
  website/src/content/docs/docs/standard-library/built-in-decorators.md
Labels: compiler:core

#4806 Collect template instantiation stack
  .chronus/changes/template-instantiation-stack-2024-10-4-19-35-30.md
  .chronus/changes/template-instantiation-stack-2024-9-22-16-26-17.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/diagnostics.ts
  packages/compiler/src/core/index.ts
  packages/compiler/src/core/logger/console-sink.ts
  packages/compiler/src/core/logger/logger.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/server/diagnostics.ts
  packages/compiler/src/server/serverlib.ts
  packages/protobuf/src/transform/index.ts
  packages/protobuf/test/scenarios.test.ts
  packages/protobuf/test/scenarios/array-nested/diagnostics.txt
  packages/protobuf/test/scenarios/templates-error/diagnostics.txt
Labels: compiler:core

#4807 Diagnostic path log relative to current working dir
  .chronus/changes/diag-path-relative-2024-9-21-16-52-22.md
  .chronus/changes/diag-path-relative-2024-9-21-20-12-39.md
  packages/compiler/src/core/cli/utils.ts
  packages/compiler/src/core/diagnostics.ts
  packages/compiler/src/core/logger/console-sink.ts
  packages/compiler/src/testing/expect.ts
  packages/compiler/test/parser.test.ts
  packages/http-server-javascript/src/common/scalar.ts
  packages/protobuf/src/transform/index.ts
  packages/protobuf/test/scenarios.test.ts
Labels: compiler:core

#4963 [http-client-csharp] Remove incorrect casting for unknown discriminated subtype models
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFieldFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeFixedEnumString.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeNullableStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeUriProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeDictionaryToBinaryData.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeListOfEnumPropToListOfExtensibleEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyNameAndRedefineOriginal.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertySerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(int32).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(string).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(int32,1).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(string,foo).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizePropertyUsingField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForRenamedProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceDeserializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/ReadOnlyMemPropertyType.cs
Labels: emitter:client:csharp

#4849 Symbol refactor
  .chronus/changes/symbol-refactor-2-2024-9-29-20-20-29.md
  .chronus/changes/symbol-refactor-2-2024-9-29-20-20-30.md
  cspell.yaml
  packages/compiler/.scripts/gen-extern-signature.ts
  packages/compiler/generated-defs/TypeSpec.Prototypes.ts
  packages/compiler/generated-defs/TypeSpec.Prototypes.ts-test.ts
  packages/compiler/lib/intrinsics.tsp
  packages/compiler/lib/prototypes.tsp
  packages/compiler/package.json
  packages/compiler/src/core/binder.ts
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/diagnostics.ts
  packages/compiler/src/core/helpers/operation-utils.ts
  packages/compiler/src/core/helpers/syntax-utils.ts
  packages/compiler/src/core/inspector/node.ts
  packages/compiler/src/core/inspector/symbol.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/name-resolver.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/semantic-walker.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/index.ts
  packages/compiler/src/lib/intrinsic-decorators.ts
  packages/compiler/src/lib/intrinsic/decorators.ts
  packages/compiler/src/lib/intrinsic/tsp-index.ts
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/type-details.ts
  packages/compiler/src/server/type-signature.ts
  packages/compiler/src/testing/test-host.ts
  packages/compiler/src/testing/test-utils.ts
  packages/compiler/src/utils/misc.ts
  packages/compiler/test/binder.test.ts
  packages/compiler/test/checker/alias.test.ts
  packages/compiler/test/checker/augment-decorators.test.ts
  packages/compiler/test/checker/model.test.ts
  packages/compiler/test/checker/operations.test.ts
  packages/compiler/test/checker/references.test.ts
  packages/compiler/test/checker/resolve-type-reference.test.ts
  packages/compiler/test/checker/scalar.test.ts
  packages/compiler/test/checker/spread.test.ts
  packages/compiler/test/checker/templates.test.ts
  packages/compiler/test/checker/using.test.ts
  packages/compiler/test/name-resolver.test.ts
  packages/openapi3/test/tsp-openapi3/parameters.test.ts
  packages/tspd/src/gen-extern-signatures/gen-extern-signatures.ts
  packages/tspd/test/gen-extern-signature/decorators-signatures.test.ts
  pnpm-lock.yaml
Labels: compiler:core

#4608 lseg blog post
  website/src/content/blog/2024-04-25-introducing/blog.md
  website/src/content/blog/2024-11-04-typespec-at-lseg/blog.md
  website/src/content/blog/2024-11-04-typespec-at-lseg/tsp_lseg.png
  website/src/content/blog/2024-11-04-typespec-at-lseg/tsp_lseg_360x360.png
Labels: meta:website, meta:blog

#4295 Don't propagate client parameters to operation
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/default/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/renamed-operation/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4955 [http-client-python] upgrade to tcgc 0.47.4
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4975 remove redundant blog post titled
  website/src/content/blog/2024-11-04-typespec-at-lseg/blog.md
Labels: meta:website

#4977 Add TypeSpec 0.62 release notes
  .chronus/changes/tspd-exports-support-2024-9-11-17-14-36.md
  packages/astro-utils/src/sidebar/index.ts
  website/src/content/docs/docs/release-notes/images/tspconfig-completion.png
  website/src/content/docs/docs/release-notes/release-2024-11-05.md
Labels: meta:website

#4966 Add documentation on 'security' field in the Operation object
  website/src/content/docs/docs/getting-started/typespec-for-openapi-dev.md
Labels: meta:website

#4985 [python] Bump tsp 0.62.0
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4986 [http-client-java] mgmt lite, use BearerTokenAuthenticationPolicy in azure-core
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentManagerTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/resources/Manager_Configurable.txt
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/resources/ResourcesManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
Labels: emitter:client:java

#4988 http-client-java, upgrade to typespec compiler 0.62
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/tsp/response.tsp
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4982 [http-client-csharp] fix: generate deserialization switch for nested discriminators
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DiscriminatorTests/TestNestedDiscriminatedModelWithOwnDiscriminator.cs
Labels: emitter:client:csharp

#4965 fix incorrect config schema in Docs (`TypeSpecProjectSchema.output-dir`)
  website/src/content/docs/docs/handbook/configuration/configuration.md
Labels: meta:website

#4984 New version banner that shows up for 7 days after the release
  website/src/components/header/header.astro
  website/src/components/release-notification.astro
  website/src/content/config.ts
  website/src/content/docs/docs/release-notes/release-2024-11-05.md
Labels: meta:website

#4997 Don't include property setter for input-only model properties
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/CSModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientNameAndJsonEncodedNameModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientNameModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/LanguageClientNameModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/Models/User.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/Models/BodyParameter.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/InputRecord.cs
Labels: emitter:client:csharp

#4940 Replace AsExpression and explicit casting with extension methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/ConstructorInitializer.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ParameterProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterDeclarationTests.cs
Labels: emitter:client:csharp

#5002 Fix to property setters
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
Labels: emitter:client:csharp

#5005 [Python] Update dependencies to fix install
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4994 Add website build to CI
  .github/workflows/website-gh-pages.yml
  eng/tsp-core/pipelines/jobs/website.yml
  eng/tsp-core/pipelines/stages/ci-stages.yml
  package.json
  packages/tspd/package.json
  packages/tspd/src/ref-doc/emitters/starlight.ts
  pnpm-lock.yaml
  website/.scripts/regen-compiler-docs.ts
  website/src/content/docs/docs/standard-library/built-in-data-types.md
Labels: eng

#5015 Add EBN attribute to GetHashCode methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/src/Generated/Models/DaysOfWeekExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/DogKind.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/WidgetData0Kind.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/WidgetData1Kind.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/WidgetData2Kind.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/src/Generated/Models/FloatLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/src/Generated/Models/IntLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/src/Generated/Models/StringLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/src/Generated/Models/ExtendedEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/src/Generated/Models/FloatLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/src/Generated/Models/InnerEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/src/Generated/Models/IntLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/src/Generated/Models/StringLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponseProp3.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/StringExtensibleNamedUnion.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnumWithIntValue.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralString.cs
Labels: emitter:client:csharp

#5016 Fix resolve allowed resolved even if @path is used explicitly
  .chronus/changes/fix-path-explicit-allow-reserved-2024-10-7-20-13-23.md
  packages/http/src/http-property.ts
  packages/http/test/routes.test.ts
Labels: lib:http

#4825 [compiler] Enum-driven visibility
  .chronus/changes/witemple-msft-visibility-enum-2024-10-6-16-50-9.md
  .chronus/changes/witemple-msft-visibility-enum-2024-10-6-16-53-11.md
  packages/compiler/.scripts/gen-extern-signature.ts
  packages/compiler/generated-defs/TypeSpec.Prototypes.ts
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/lib/std/decorators.tsp
  packages/compiler/lib/std/main.tsp
  packages/compiler/lib/std/visibility.tsp
  packages/compiler/src/core/index.ts
  packages/compiler/src/core/logger/logger.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/visibility/core.ts
  packages/compiler/src/core/visibility/index.ts
  packages/compiler/src/core/visibility/lifecycle.ts
  packages/compiler/src/experimental/mutators.ts
  packages/compiler/src/experimental/typekit/define-kit.ts
  packages/compiler/src/experimental/typekit/kits/model-property.ts
  packages/compiler/src/lib/decorators.ts
  packages/compiler/src/lib/key.ts
  packages/compiler/src/lib/tsp-index.ts
  packages/compiler/src/lib/utils.ts
  packages/compiler/src/lib/visibility.ts
  packages/compiler/test/decorators/decorators.test.ts
  packages/compiler/test/decorators/visibility.test.ts
  packages/compiler/test/visibility.test.ts
  packages/http/src/metadata.ts
  packages/http/src/operations.ts
  packages/openapi/src/helpers.ts
  website/src/content/current-sidebar.ts
  website/src/content/docs/docs/language-basics/visibility.md
  website/src/content/docs/docs/standard-library/built-in-data-types.md
  website/src/content/docs/docs/standard-library/built-in-decorators.md
Labels: compiler:core

#5020 [Python] fix access
  packages/http-client-python/.vscode/launch.json
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/package.json
Labels: emitter:client:python

#4939 feat(http-client-csharp): bump to tcgc 0.47.4
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5026 http-client-java, union variant in union
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
Labels: emitter:client:java

#5036 Add CODEOWNERS for graphql
  .github/CODEOWNERS
Labels: eng

#5038 Add policy to add external reviews
  .github/policies/prs.external-reviewers.yml
Labels: eng

#5041 Add optional parameter support
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Parameters/BodyOptionality/BodyOptionalityTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/Parameters.BodyOptionality.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/src/Generated/BodyOptionalityClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/src/Generated/BodyOptionalityClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/src/Generated/Models/BodyModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/src/Generated/Models/BodyModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/src/Generated/OptionalExplicit.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/src/Generated/ParametersBodyOptionalityModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/src/Parameters.BodyOptionality.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/body-optionality/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#5056 [http-client-csharp] Add Collection Format Query Params Support
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientUriBuilderSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/TestBuildCreateRequestMethodWithQueryParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/ValidateClientWithSpecialHeaders.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Parameters/CollectionFormat/CollectionFormatParametersTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/Parameters.CollectionFormat.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/src/Generated/CollectionFormatClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/src/Generated/CollectionFormatClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/src/Generated/Header.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/src/Generated/Query.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/src/Parameters.CollectionFormat.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/collection-format/tspCodeModel.json
Labels: emitter:client:csharp

#5061 Adopt CadlRanch model-visibility spec
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Visibility/VisibilityTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/_Type.Model.Visibility.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/Generated/Models/ReadOnlyModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/Generated/Models/ReadOnlyModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/Generated/Models/VisibilityModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/Generated/Models/VisibilityModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/Generated/TypeModelVisibilityModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/Generated/VisibilityClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/Generated/VisibilityClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/src/_Type.Model.Visibility.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/visibility/tspCodeModel.json
Labels: emitter:client:csharp

#5044 Refine client pipeline abstraction
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/ClientPipelineApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/HttpMessageApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/PipelineMessageProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/HttpMessageApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Definitions/ClientPipelineExtensionsDefCustomizationTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ClientPipelineExtensions.cs
Labels: emitter:client:csharp

#5053 Fix LinkedHashMap missing usage issue
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/util/ModelTemplateHeaderHelper.java
Labels: emitter:client:java

#5030 http-client-java, TypeConditions in core namespace
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/Annotation.java
Labels: emitter:client:java

#5045 http-client-java, remove default flavor=azure
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/http-client-generator/pom.xml
Labels: emitter:client:java

#5062 Adopt nested discriminator cadl ranch spec
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/NestedDiscriminator/NestedDiscriminatorTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/_Type.Model.Inheritance.NestedDiscriminator.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Fish.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Fish.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/GoblinShark.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/GoblinShark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Salmon.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Salmon.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/SawShark.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/SawShark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Shark.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Shark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/UnknownFish.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/UnknownFish.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/UnknownShark.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/UnknownShark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/NestedDiscriminatorClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/NestedDiscriminatorClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/TypeModelInheritanceNestedDiscriminatorModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/_Type.Model.Inheritance.NestedDiscriminator.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/tspCodeModel.json
Labels: emitter:client:csharp

#5068 [http-client-csharp] Onboard http/serialization/encoded-name/json
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Serialization/EncodedName/Json/EncodedNameJsonTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/Serialization.EncodedName.Json.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/src/Generated/JsonClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/src/Generated/JsonClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/src/Generated/Models/JsonEncodedNameModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/src/Generated/Models/JsonEncodedNameModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/src/Generated/Property.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/src/Generated/SerializationEncodedNameJsonModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/src/Serialization.EncodedName.Json.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/serialization/encoded-name/json/tspCodeModel.json
Labels: emitter:client:csharp

#5069 [http-client-csharp] onboard http/type/model/inheritance/recursive
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/Recursive/RecursiveTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/_Type.Model.Inheritance.Recursive.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/Models/Element.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/Models/Element.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/Models/Extension.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/Models/Extension.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/RecursiveClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/RecursiveClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/TypeModelInheritanceRecursiveModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/_Type.Model.Inheritance.Recursive.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/tspCodeModel.json
Labels: emitter:client:csharp

#5052 Modify BinaryData serialization
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/StreamSerializationModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/ProjectTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/test-pom.xml
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/union/implementation/models/SendLongRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/union/implementation/models/SendRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/union/implementation/models/SubResult.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/union/models/Result.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDerived.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminatedDerived.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDerived.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminatedDerived.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/MultipleSpreadRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForDiscriminatedUnion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion2.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion3.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForUnion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/valuetypes/models/UnknownArrayProperty.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/valuetypes/models/UnknownDictProperty.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/valuetypes/models/UnknownIntProperty.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/valuetypes/models/UnknownStringProperty.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/union/implementation/models/SendRequest4.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/union/models/GetResponse4.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/union/models/MixedLiteralsCases.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/union/models/MixedTypesCases.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/union/models/StringAndArrayCases.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/added/models/ModelV1.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/added/models/ModelV2.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/models/ModelV2.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/renamedfrom/models/NewModel.java
Labels: emitter:client:java

#5074 Ensure RequestOptions is always last parameter
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#5078 [http-client-csharp] onboard http/server/versions/versioned
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Server/Versions/Versioned/VersionedTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/src/Generated/MultipleClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/versioned/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/versioned/Server.Versions.Versioned.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/versioned/src/Generated/VersionedClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/versioned/src/Generated/VersionedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/versioned/src/Server.Versions.Versioned.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/versioned/tspCodeModel.json
Labels: emitter:client:csharp

#5079 Use Duration.toString when generating unbranded
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
Labels: emitter:client:java

#5050 feat(http-client-csharp): bump to tsp 0.62.0
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Authentication/ApiKey/ApiKeyTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Authentication/Http/Custom/CustomTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5089 [http-client-csharp] onboard http\server\endpoint\not-defined
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Server/Endpoint/NotDefined/NotDefinedTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/endpoint/not-defined/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/endpoint/not-defined/Server.Endpoint.NotDefined.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/endpoint/not-defined/src/Generated/NotDefinedClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/endpoint/not-defined/src/Generated/NotDefinedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/endpoint/not-defined/src/Server.Endpoint.NotDefined.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/endpoint/not-defined/tspCodeModel.json
Labels: emitter:client:csharp

#5090 [http-client-csharp] onboard http\special-headers\repeatability
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/SpecialHeaders/Repeatability/RepeatabilityTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/repeatability/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/repeatability/SpecialHeaders.Repeatability.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/repeatability/src/Generated/RepeatabilityClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/repeatability/src/Generated/RepeatabilityClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/repeatability/src/SpecialHeaders.Repeatability.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/repeatability/tspCodeModel.json
Labels: emitter:client:csharp

#5082 Adopt not discriminated Cadl-Ranch spec
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForPropertyInBase.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizeDiscriminatorModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/NotDiscriminated/NotDiscriminatedTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/SingleDiscriminator/SingleDiscriminatorTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Property/AdditionalProperties/AdditionalPropertiesTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/TestProjects.CadlRanch.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/GoblinShark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Salmon.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/SawShark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/Shark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/Models/UnknownShark.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/nested-discriminator/src/Generated/TypeModelInheritanceNestedDiscriminatorModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/_Type.Model.Inheritance.NotDiscriminated.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/Models/Cat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/Models/Cat.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/Models/Pet.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/Models/Pet.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/Models/Siamese.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/Models/Siamese.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/NotDiscriminatedClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/NotDiscriminatedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/Generated/TypeModelInheritanceNotDiscriminatedModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/src/_Type.Model.Inheritance.NotDiscriminated.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/not-discriminated/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/Models/Extension.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/recursive/src/Generated/TypeModelInheritanceRecursiveModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/src/Generated/Models/Eagle.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/src/Generated/TypeModelInheritanceSingleDiscriminatorModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/DifferentSpreadFloatDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/DifferentSpreadModelArrayDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/DifferentSpreadModelDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/DifferentSpreadStringDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/ExtendsUnknownAdditionalPropertiesDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/ExtendsUnknownAdditionalPropertiesDiscriminatedDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/IsUnknownAdditionalPropertiesDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/Models/IsUnknownAdditionalPropertiesDiscriminatedDerived.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/Generated/TypePropertyAdditionalPropertiesModelFactory.cs
Labels: emitter:client:csharp

#5097 Fix datetime tests namespace so the tests are not skipped
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Encode/DateTime/DateTimeTests.cs
Labels: emitter:client:csharp

#5043 Update blog.md
  website/src/content/blog/2024-11-04-typespec-at-lseg/blog.md
Labels: meta:website

#5102 Adopt Encode numeric cadl-ranch spec
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Encode/Numeric/EncodeNumericTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/Encode.Numeric.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Encode.Numeric.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/EncodeNumericModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/Models/SafeintAsStringProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/Models/SafeintAsStringProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/Models/Uint32AsStringProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/Models/Uint32AsStringProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/Models/Uint8AsStringProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/Models/Uint8AsStringProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/NumericClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/NumericClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/src/Generated/Property.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/numeric/tspCodeModel.json
Labels: emitter:client:csharp

#5105 Rename ClientPipelineApi.PerRetryPolicy to AuthorizationPolicy
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/ClientPipelineApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
Labels: emitter:client:csharp

#5106 Add new array cadl-ranch tests
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/_Array/ArrayTests.cs
Labels: emitter:client:csharp

#5087 http-client-java, fix duplicate Error model
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/external-schemas.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtil.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/PartialUpdateAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/PartialUpdateClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/PartialUpdateClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/implementation/PartialUpdateClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/implementation/PartialUpdateOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/models/PartialUpdateModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/specialheaders/models/Error1.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-specialheaders_apiview_properties.json
Labels: emitter:client:java

#4971 update guide.md for xml model
  website/src/content/docs/docs/libraries/xml/guide.md
Labels: meta:website

#5085 Fix security issues in the dependencies
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5083 http-client-java, do not generate setter for constant property
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ModelMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ModelPropertyMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/util/ModelTemplateHeaderHelper.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/implementation/PartialUpdateOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/_specs_/azure/core/lro/standard/LroCoreTests.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5111 [Python] fix quote for string type
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/models/primitive_types.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5110 refactor(http-client-csharp): remove `filter-out-core-models` option
  packages/http-client-csharp/emitter/src/options.ts
Labels: emitter:client:csharp

#5108 Fix to model factory invoking of full constructor
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanCustomizeModelFullConstructor(False)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanCustomizeModelFullConstructor(True)/MockInputModel.cs
Labels: emitter:client:csharp

#5114 Fix enum discriminator tests
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/EnumDiscriminator/EnumDiscriminatorTest.cs
Labels: emitter:client:csharp

#5115 [http-client-csharp] test: add more additional properties cadl ranch tests
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Property/AdditionalProperties/AdditionalPropertiesTests.cs
Labels: emitter:client:csharp

#5116 Add new multipart form data tests
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Payload/Multipart/MultipartTests.cs
Labels: emitter:client:csharp

#5118 Resolve dotnet sdk version
  packages/http-client-csharp/global.json
Labels: emitter:client:csharp

#5123 http-cllient-java, add cadl-ranch to package devDep
  packages/http-client-java/README.md
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5103 [http-client-python] bump mypy version to latest
  packages/http-client-python/generator/dev_requirements.txt
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/unbranded/requirements.txt
Labels: emitter:client:python

#5121 [http-client-python] bump pyright version to latest
  packages/http-client-python/generator/dev_requirements.txt
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/unbranded/requirements.txt
Labels: emitter:client:python

#5137 [http-client-csharp] add more nullable type test scenarios
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Property/Nullable/NullableTests.cs
Labels: emitter:client:csharp

#5129 http-client-java, bug fix, unbranded does not have CoreUtils
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#5138 Adopt routes Cadl-ranch spec
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientUriBuilderDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientUriBuilderSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientUriBuilderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/TestBuildCreateRequestMethodWithQueryParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Routes/PathParameterTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Routes/QueryTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/TestProjects.CadlRanch.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/Routes.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/InInterface.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParameters.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersLabelExpansion.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersLabelExpansionExplode.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersLabelExpansionStandard.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersMatrixExpansion.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersMatrixExpansionExplode.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersMatrixExpansionStandard.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersPathExpansion.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersPathExpansionExplode.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersPathExpansionStandard.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersReservedExpansion.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersSimpleExpansion.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersSimpleExpansionExplode.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/PathParametersSimpleExpansionStandard.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/QueryParameters.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/QueryParametersQueryContinuation.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/QueryParametersQueryContinuationExplode.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/QueryParametersQueryContinuationStandard.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/QueryParametersQueryExpansion.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/QueryParametersQueryExpansionExplode.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/QueryParametersQueryExpansionStandard.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/RoutesClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Generated/RoutesClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/src/Routes.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ClientUriBuilder.cs
Labels: emitter:client:csharp

#5143 Adopt JSON merge patch cadl-ranch spec
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Payload/JsonMergePatch/JsonMergePatchTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/TestProjects.CadlRanch.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/Payload.JsonMergePatch.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Generated/JsonMergePatchClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Generated/JsonMergePatchClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Generated/Models/InnerModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Generated/Models/InnerModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Generated/Models/Resource.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Generated/Models/Resource.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Generated/PayloadJsonMergePatchModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/src/Payload.JsonMergePatch.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/json-merge-patch/tspCodeModel.json
Labels: emitter:client:csharp

#5151 bump for release
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package.json
Labels: emitter:client:python

#5152 Construct request options from cancellation token
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/RequestOptionsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateQueryParamWriterDiff(False).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateQueryParamWriterDiff(True).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.New.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#5027 http-client-java, accessor to subclient
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/common/client.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/Javagen.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/codemodel/Client.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ServiceClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientAccessorMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ServiceClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/TestContext.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidServiceClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceAsyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientBuilderTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceSyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/example/ProtocolTestWriter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/ClientInitializationAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/ClientInitializationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/ClientInitializationClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/SubAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/SubClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/implementation/ClientInitializationClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/implementation/SubClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-clientinitialization_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/tsptest-clientinitialization.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/client/structure/DefaultClientTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/clientinitialization/generated/ClientInitializationClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/versioning/renamedfrom/RenamedFromClientTests.java
  packages/http-client-java/generator/http-client-generator-test/tsp/subclient.tsp
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/mapper/TypeSpecServiceClientMapper.java
Labels: emitter:client:java

#5142 [http-client-csharp] adopt http\resiliency\srv-driven
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Generation.psm1
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Resiliency/SrvDriven/SrvDrivenTests.V1.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Resiliency/SrvDriven/SrvDrivenTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/Resiliency.ServiceDriven.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/src/Generated/ResiliencyServiceDrivenClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/src/Generated/ResiliencyServiceDrivenClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/src/Resiliency.ServiceDriven.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/Resiliency.ServiceDriven.V1.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/src/Generated/ResiliencyServiceDrivenClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/src/Generated/ResiliencyServiceDrivenClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/src/Resiliency.ServiceDriven.V1.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#5127 http-client-java, eng, fix script for release pipeline
  packages/http-client-java/eng/pipeline/publish.yml
  packages/http-client-java/eng/scripts/Test-Packages.ps1
  packages/http-client-java/generator/http-client-generator-test/package.json
Labels: emitter:client:java

#4685 Set `@typespec/compiler` as a `peerDependency` in library templates
  .chronus/changes/peer-dependencies-2024-9-10-22-53-58.md
  packages/compiler/templates/__snapshots__/emitter-ts/package.json
  packages/compiler/templates/__snapshots__/library-ts/package.json
  packages/compiler/templates/emitter-ts/package.json
  packages/compiler/templates/library-ts/package.json
Labels: compiler:core

#4837 Allow trailing delimited in most locations
  .chronus/changes/trailing-delimited-most-locations-2024-9-23-16-28-11.md
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/test/parser.test.ts
Labels: compiler:core

#5075 Fix link to decorator documentation heading
  website/src/content/docs/docs/extending-typespec/create-decorators.md
Labels: meta:website

#5136 fix typo in privacy statement link
  website/src/constants.ts
Labels: meta:website

#4884 Stale pr policy
  .github/policies/pr.stale.yml
  eng/common/config/labels.ts
Labels: eng

#5171 Add shared source files to workspace
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/RestClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/PostProcessing/SharedSourceTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/PostProcessing/TestData/SharedSourceTests/SharedSourceFilesAreReduced.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/PostProcessing/TestData/SharedSourceTests/SharedSourceFilesAreReduced/Shared/SharedSourceType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/Helpers.cs
Labels: emitter:client:csharp

#5148 Refine ClientUriBuilder
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/HttpRequestApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientUriBuilderDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/PipelineRequestProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientUriBuilderSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/IHttpRequestOptionsApiSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.New.cs
Labels: emitter:client:csharp

#5177 Normalize line endings in launchsettings file
  packages/http-client-csharp/eng/scripts/Generate.ps1
Labels: emitter:client:csharp

#5178 restore inline codeblock highlighting for light mode
  website/src/css/custom.css
Labels: meta:website

#5188 [http-server-js] Ignore unspeakable properties
  .chronus/changes/witemple-msft-hsj-ignore-unspeakable-2024-10-25-15-54-27.md
  packages/http-server-javascript/src/common/model.ts
  packages/http-server-javascript/src/http/server/index.ts
  packages/http-server-javascript/src/lib.ts
  packages/http-server-javascript/src/util/case.ts
  packages/http-server-javascript/src/util/differentiate.ts
Labels: emitter:service:js

#5192 http-java-client, temporary ignore Generate-APIView-CodeFile failure
  packages/http-client-java/eng/scripts/Build-Packages.ps1
Labels: emitter:client:java

#4632 Fix link to REST metadata emitter sample
  website/src/content/docs/docs/extending-typespec/emitter-metadata-handling.md
Labels: meta:website

#5193 Add abstraction for serialization/deserialization
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/JsonElementSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/Utf8JsonWriterSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp

#5182 http-client-java, skip ApiKeyAuth if not ApiKeyLocation.header
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/operation-utils.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PomMapper.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
Labels: emitter:client:java

#5200 [Python] Fix crash if no valid client define in typespec file
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/generator/pygen/preprocess/python_mappings.py
  packages/http-client-python/package.json
Labels: emitter:client:python

#5199 refactor(http-client-csharp): remove deprecated raw lro metadata
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
Labels: emitter:client:csharp

#5230 http-client-java, upgrade tcgc 0.48.3
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java
