Repository microsoft/typespec, pull requests merged in 2024-09, with the labels that each got.

#4279 support enum discrimintor
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/EnumDiscriminator/EnumDiscriminatorTest.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/_Type.Model.Inheritance.EnumDiscriminator.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/EnumDiscriminatorClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/EnumDiscriminatorClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Cobra.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Cobra.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Dog.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Dog.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/DogKind.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Golden.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Golden.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Snake.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/Snake.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/SnakeKind.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/UnknownDog.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/UnknownDog.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/UnknownSnake.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/Models/UnknownSnake.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/Generated/TypeModelInheritanceEnumDiscriminatorModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/_Type.Model.Inheritance.EnumDiscriminator.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/tspCodeModel.json
Labels: emitter:client:csharp

#4294 Read AllowReserved value
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4307 fix the response map issue in the emitter
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/lib/example-converter.ts
  packages/http-client-csharp/emitter/src/type/input-examples.ts
Labels: emitter:client:csharp

#4323 Java codegen - clean up build steps
  packages/http-client-java/eng/scripts/Build-Packages.ps1
  packages/http-client-java/eng/scripts/Generate.ps1
  packages/http-client-java/eng/scripts/Initialize-Repository.ps1
  packages/http-client-java/generator/http-client-generator-test/CadlRanch-Tests.ps1
Labels: emitter:client:java

#4318 Remove unused test directory
  packages/http-client-java/test/literal.tsp
  packages/http-client-java/test/tspconfig.yaml
Labels: emitter:client:java

#4333 Remove extra space to fix VS debug attachment
  packages/http-client-csharp/emitter/src/emitter.ts
Labels: emitter:client:csharp

#4285 implement the feature of changing the name of a model
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/ClientSourceInput.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/CompilationCustomCode.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/ModelTypeMapping.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/SourceInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Helpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangeModelName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#4337 Refactor: Separate type relation logic from checker.ts
  .chronus/changes/split-checker-type-relation-2024-8-4-17-54-5.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/type-relation-checker.ts
Labels: compiler:core

#4341 Use the Cat model in tests
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Union/UnionTests.cs
Labels: emitter:client:csharp

#4334 java generator, fix generator-test when running from main
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
Labels: emitter:client:java

#4325 Handle replacement properties
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/OptionalSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/AssignmentExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
Labels: emitter:client:csharp

#4319 Align the structure of model property
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/example-converter.ts
  packages/http-client-csharp/emitter/src/type/input-examples.ts
  packages/http-client-csharp/emitter/src/type/input-model-property.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelPropertyConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4355 Java codegen: disable dependency transfer logging
  packages/http-client-java/eng/scripts/Build-Packages.ps1
  packages/http-client-java/generator/http-client-generator-test/CadlRanch-Tests.ps1
  packages/http-client-java/package.json
Labels: emitter:client:java

#4345 http-client-java, sync code from autorest.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/Javagen.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidExceptionMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidMapperFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidMethodGroupMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidModelMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidPrimitiveMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidProxyParameterMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidServiceClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/package-info.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidClientException.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidClientModel.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidMethodGroupClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidProxy.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidProxyMethodParameter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidServiceClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/package-info.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidEnumTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidExceptionTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidMethodGroupTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidProxyTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidResponseTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceAsyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceClientBuilderTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceSyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidTemplateFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidWrapperClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/package-info.java
Labels: emitter:client:java

#4357 Improvements to type relation errors
  .chronus/changes/type-relation-improvements-2024-8-6-13-13-15.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/type-relation-checker.ts
  packages/compiler/src/lib/service.ts
  packages/compiler/test/checker/relation.test.ts
Labels: compiler:core

#4362 Support customizing property names
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/CodeGenAttributes.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/SourceInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangePropertyName.cs
Labels: emitter:client:csharp

#4365 Add tests for changing property type/accessibility
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangePropertyAccessibility.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangePropertyType.cs
Labels: emitter:client:csharp

#4354 Add api extractor for openapi package and fix issues
  .chronus/changes/api-extractor-openapi-2024-8-5-13-50-8.md
  packages/openapi/api-extractor.json
  packages/openapi/package.json
  packages/openapi/src/decorators.ts
  packages/openapi/src/helpers.ts
  packages/openapi/src/index.ts
  packages/openapi/src/types.ts
Labels: lib:openapi

#4324 Extract source resolution logic into its own source loader
  .chronus/changes/source-loader-2024-8-3-19-23-57.md
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/source-loader.ts
Labels: compiler:core

#4322 Fix set response doc when an envelope
  .chronus/changes/fix-response-doc-envelope-2024-8-3-18-12-4.md
  packages/http/src/responses.ts
  packages/http/test/response-descriptions.test.ts
  packages/samples/test/output/documentation/@typespec/openapi3/openapi.yaml
Labels: lib:http

#4374 Move property name set to ModelProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
Labels: emitter:client:csharp

#4371 Porting fix from autorest.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/implementation/ClientModelPropertiesManager.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/implementation/DiscriminatorEdgeCasesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithAnotherDiscriminator.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithRequiredPropertyAsDiscriminator.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithAnotherDiscriminator.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithRequiredProperty.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/models/ParentWithRequiredProperty.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/discriminatoredgecases/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/cadl-discriminatoredgecases_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/cadl-discriminatoredgecases.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/cadl/discriminatoredgecases/generated/DiscriminatorEdgeCasesClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/tsp/discriminator-edge-cases.tsp
  packages/http-client-java/generator/http-client-generator/pom.xml
Labels: emitter:client:java

#4381 [Bug] Fix semantic walker not firing exitOperation or exitModelProperty
  .chronus/changes/almend-SemanticWalkerExit-2024-8-9-17-49-42.md
  packages/compiler/src/core/semantic-walker.ts
  packages/compiler/test/semantic-walker.test.ts
Labels: bug, compiler:core

#4358 http-client-java, corner case of client without op or group
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/mapper/TypeSpecClientMapper.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/mapper/TypeSpecServiceClientMapper.java
Labels: emitter:client:java

#4368 http-client-java_add-cadl-ranch-tests
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/routes/implementation/QueryParametersQueryContinuationExplodesImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/routes/implementation/QueryParametersQueryExpansionExplodesImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/_specs_/azure/core/page/PageTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/encode/numeric/StringEncodeTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/routes/RouteTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/specialheaders/conditionalrequest/ConditionalTests.java
Labels: emitter:client:java

#4393 http-client-java, compiler 0.46
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/naming/NamingClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/naming/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/naming/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/naming/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/bodyoptionality/BodyOptionalityAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/bodyoptionality/implementation/BodyOptionalityClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/bodyoptionality/implementation/models/RequiredImplicitRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/spread/ModelAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/spread/ModelClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/spread/implementation/ModelsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/parameters/spread/implementation/models/SpreadAsRequestBodyRequest1.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/parameters-bodyoptionality_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/parameters-spread_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/cadl-naming.properties
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4385 Customization fixes
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviders/CompilationHelper.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviders/InterfaceTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviders/XmlDocsTests.cs
Labels: emitter:client:csharp

#4347 Support to change the accessibility of a model and change a model to be struct via customized code
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Customization/src/CodeGenTypeAttribute.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Helpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeAccessibility/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeModelName/CustomizedModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeModelNameAndToStructAtSameTime/CustomizedModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangePropertyAccessibility/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangePropertyName/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangePropertyType/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeToStruct/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangeModelName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangePropertyAccessibility.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ModelCustomizationTests/TestCustomization_CanChangePropertyType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestData/ConfigurationTests/DisableDocsForType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#4412 fix the keyCredential issue
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/OutputTypes/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#4415 http-client-java, support client parameter to client
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/models.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ServiceClientMapper.java
  packages/http-client-java/generator/http-client-generator-test/package.json
Labels: emitter:client:java

#4330 Support compile and watch tasks in vscode
  .chronus/changes/main-2024-8-4-15-6-54.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/extension-logger.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/utils.ts
Labels: ide

#4397 upgrade typespec to 0.60.0
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/src/Generated/FormData.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/src/Generated/FormDataHttpParts.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/src/Generated/FormDataHttpPartsContentType.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/src/Generated/FormDataHttpPartsNonString.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4417 http-client-java, access/usage on namespace
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/models.ts
  packages/http-client-java/emitter/src/type-utils.ts
Labels: emitter:client:java

#4431 java mgmt, skip validate on resource properties
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/StreamSerializationModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentModelTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentStreamStyleSerializationModelTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/SingletonTrackedResourceInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
Labels: emitter:client:java

#4441 Support customizing to enum/extensible enum
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ExtensibleEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeEnumToExtensibleEnum/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeExtensibleEnumToEnum/MockInputModel.cs
Labels: emitter:client:csharp

#4458 Force using aad auth for storage upload
  eng/tsp-core/pipelines/pr-tools.yml
  eng/tsp-core/pipelines/publish.yml
  eng/tsp-core/scripts/create-tryit-comment.ts
Labels: eng

#4423 Default values supporting scalar and object
  .chronus/changes/almend-ScalarDefaultValue-2024-8-12-15-34-32.md
  packages/openapi3/src/lib.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/src/schema-emitter.ts
  packages/openapi3/test/models.test.ts
Labels: emitter:openapi3

#4465 Use reusable state accessor for compiler decorators
  .chronus/changes/refactor-state-accessor-2024-8-17-15-11-51.md
  .chronus/changes/refactor-state-accessor-2024-8-17-21-56-42.md
  packages/compiler/package.json
  packages/compiler/src/experimental/index.ts
  packages/compiler/src/experimental/state-accessor.ts
  packages/compiler/src/lib/decorators.ts
  packages/compiler/src/lib/encoded-names.ts
  packages/compiler/src/lib/service.ts
  packages/compiler/src/lib/utils.ts
  packages/http-server-csharp/src/utils.ts
  tsconfig.ws.json
Labels: compiler:core

#4466 http-client-java, minor refactor to emitter
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/type-utils.ts
Labels: emitter:client:java

#4448 resolve anonymous model type of lro issue
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
Labels: emitter:client:csharp

#4471 Fix regressions during refactor of state accessor
  .chronus/changes/fix-invalid-or-2024-8-18-21-5-24.md
  packages/compiler/src/lib/decorators.ts
  packages/compiler/src/lib/service.ts
  packages/compiler/src/lib/utils.ts
  packages/compiler/test/decorators/decorators.test.ts
  packages/rest/src/resource.ts
  packages/rest/src/validate.ts
Labels: compiler:core

#4474 Add tests for supporting adding custom model props
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanAddProperties/MockInputModel.cs
Labels: emitter:client:csharp

#4482 Move property replacement to visitor
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/MemberRemoverVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
Labels: emitter:client:csharp

#4430 Use shell for execution of .cmd (tsp-server.cmd)
  .chronus/changes/use-shell-for-cmd-2024-8-13-11-39-59.md
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/utils.ts
Labels: ide

#4476 http-client-java, emitter, bump tcgc version to 0.46.1
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4315 Java codegen, use TCGC enum name for MPG
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ChoiceMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/MapperUtils.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/SealedChoiceMapper.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentChoiceMapper.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentMapperFactory.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentSealedChoiceMapper.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedServiceIdentityType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/resources/models/ProvisioningState.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/ActionType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/Dog.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/DogKind.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/Golden.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/ManagedServiceIdentityType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/Origin.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/ProvisioningState.java
  packages/http-client-java/generator/http-client-generator-test/tsp/arm.tsp
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/fluent/TypeSpecFluentMapperFactory.java
Labels: emitter:client:java

#4290 Add Mutator API to experimental sub export
  .chronus/changes/feature-mutators-2024-7-28-15-59-14.md
  packages/compiler/src/core/program.ts
  packages/compiler/src/experimental/index.ts
  packages/compiler/src/experimental/mutators.ts
  packages/compiler/src/experimental/realm.ts
  packages/compiler/src/experimental/typekit/define-kit.ts
  packages/compiler/src/experimental/typekit/index.ts
  packages/compiler/src/experimental/typekit/kits/index.ts
  packages/compiler/src/experimental/typekit/kits/literal.ts
  packages/compiler/src/experimental/typekit/kits/model-property.ts
  packages/compiler/src/experimental/typekit/kits/model.ts
  packages/compiler/src/experimental/typekit/kits/realm.ts
  packages/compiler/src/experimental/typekit/kits/scalar.ts
  packages/compiler/src/experimental/typekit/kits/type.ts
  packages/compiler/src/experimental/typekit/kits/union-variant.ts
  packages/compiler/src/experimental/typekit/kits/union.ts
  packages/compiler/src/experimental/typekit/utils.ts
  packages/compiler/test/experimental/mutator.test.ts
  packages/compiler/test/experimental/typekit/define-kit.test.ts
  packages/compiler/test/experimental/typekit/literal.test.ts
  packages/compiler/test/experimental/typekit/scalar.test.ts
  packages/compiler/test/experimental/typekit/type.test.ts
  packages/compiler/test/experimental/typekit/union.test.ts
  packages/compiler/test/experimental/typekit/utils.ts
Labels: compiler:core

#4487 Support replacing ctors
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/MemberRemoverVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanReplaceConstructor/MockInputModel.cs
Labels: emitter:client:csharp

#4485 Support customizing enum member name
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Helpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/ServiceClientWithSubClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/SubClientWithMultipleSubClients.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/SubClientWithSingleSubClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateQueryParamWriterDiff.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/RestClientProviderTests/ValidateClientWithSpecialHeaders.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProvider/EnumProviderSerializationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProvider/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProvider/TestData/SerializationCustomizationTests/CanChangeEnumMemberName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProvider/TestData/SerializationCustomizationTests/CanChangeEnumMemberName/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/AdditionalPropertiesTest.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/BinaryDataAdditionalProperties.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/CamelCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/KebabCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/MultipleAdditionalProperties.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/PascalCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/SnakeCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/Configuration.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/AssemblyInfo.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewDictionaryExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ConstructorProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ClientCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeEnumMemberName/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/SnippetTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/UsingScopeStatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeScopeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterDeclarationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/Helpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/Microsoft.Generator.CSharp.Tests.Common.csproj
Labels: emitter:client:csharp

#4477 [tcgc] sync with current typespec-python in main
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/eng/scripts/Test-Packages.ps1
  packages/http-client-python/eng/scripts/ci/run-tests.ts
  packages/http-client-python/generator/pygen/codegen/models/imports.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/model_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/test_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/conftest.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/operation_tools.jinja2
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_arm_models_common_types_managed_identity_async.py
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_arm_models_resource_async.py
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_client_generator_core_access_async.py
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_core_basic_async.py
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_core_lro_rpc_async.py
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_core_lro_standard_async.py
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_core_traits_async.py
  packages/http-client-python/test/azure/mock_api_tests/asynctests/test_azure_special_headers_client_request_id_async.py
  packages/http-client-python/test/azure/mock_api_tests/test_azure_arm_models_common_types_managed_identity.py
  packages/http-client-python/test/azure/mock_api_tests/test_azure_arm_models_resource.py
  packages/http-client-python/test/azure/mock_api_tests/test_azure_client_generator_core_access.py
  packages/http-client-python/test/azure/mock_api_tests/test_azure_core_basic.py
  packages/http-client-python/test/azure/mock_api_tests/test_azure_core_lro_rpc.py
  packages/http-client-python/test/azure/mock_api_tests/test_azure_core_traits.py
  packages/http-client-python/test/azure/mock_api_tests/test_azure_special_headers_client_request_id.py
  packages/http-client-python/test/azure/requirements.txt
  packages/http-client-python/test/azure/tox.ini
  packages/http-client-python/test/generic_mock_api_tests/asynctests/test_encode_numeric_async.py
  packages/http-client-python/test/generic_mock_api_tests/asynctests/test_parameters_spread_async.py
  packages/http-client-python/test/generic_mock_api_tests/asynctests/test_payload_multipart_async.py
  packages/http-client-python/test/generic_mock_api_tests/asynctests/test_payload_xml_async.py
  packages/http-client-python/test/generic_mock_api_tests/asynctests/test_routes_async.py
  packages/http-client-python/test/generic_mock_api_tests/asynctests/test_typetest_dictionary_async.py
  packages/http-client-python/test/generic_mock_api_tests/test_encode_numeric.py
  packages/http-client-python/test/generic_mock_api_tests/test_parameters_spread.py
  packages/http-client-python/test/generic_mock_api_tests/test_payload_multipart.py
  packages/http-client-python/test/generic_mock_api_tests/test_routes.py
  packages/http-client-python/test/generic_mock_api_tests/test_typetest_dictionary.py
  packages/http-client-python/test/unbranded/tox.ini
  packages/http-client-python/test/utils.test.ts
Labels: emitter:client:python

#4504 http-client-java, bump core jar, some clean up on unused file
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/Main.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/Main.java
  packages/http-client-java/generator/http-client-generator-test/CadlRanch-Tests.ps1
  packages/http-client-java/generator/http-client-generator-test/customization/pom.xml
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/client/naming/NamingTests.java
  packages/http-client-java/generator/http-client-generator/pom.xml
Labels: emitter:client:java

#4490 update version of TCGC
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/example-converter.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/service-authentication.ts
  packages/http-client-csharp/emitter/src/type/input-examples.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveTypeKind.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4503 Align the peer dependency with dependency for http-client-csharp
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4514 Fix issue with decimal numeric and leading `0.0` with mutiple digit
  .chronus/changes/fix-not-handling-numeric-leading-0-mulitple-2024-8-24-10-20-50.md
  packages/compiler/src/core/numeric.ts
  packages/compiler/test/core/numeric.test.ts
Labels: compiler:core

#4518 Filter custom members in TypeProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/MemberRemoverVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/PluginTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangePropertyNameAndRedefineOriginal/MockInputModel.cs
Labels: emitter:client:csharp

#4510 http-client-java, bump tcgc 0.46.2
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/pom.xml
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4519 fix spelling of esling -> esling
  eng/common/config/area.ts
  eng/common/scripts/utils/find-area-changed.test.ts
Labels: eng

#4522 Version bump of TCGC
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4532 Support serialization of custom property
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanChangePropertyName/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyName/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
Labels: emitter:client:csharp

#4530 No longer generate JUnit, Reactor Test, and SLF4J Simple dependencies
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PomMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentPomMapper.java
Labels: emitter:client:java

#4484 Enable Spotless in POMs generated
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/xmlmodel/XmlBlock.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/PomTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/example/ProtocolTestWriter.java
Labels: emitter:client:java

#4535 Update Eclipse langauge server version
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/ls/EclipseLanguageServerFacade.java
Labels: emitter:client:java

#4534 [python] get package ready to ship
  packages/http-client-python/eng/pipeline/publish.yml
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/eng/scripts/ci/run-ci.ts
  packages/http-client-python/eng/scripts/ci/utils.ts
  packages/http-client-python/package.json
Labels: emitter:client:python

#4526 Fix issues in `AttributeStatement`
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AttributeStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ParameterProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ProviderWithAttributesTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ProviderWithAttributesTests/ValidateAttributes.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/AttributeStatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/AttributeStatementTests/AttributeStatementWithArgumentsAndNamedArguments.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/AttributeStatementTests/AttributeStatementWithMultipleArguments.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/AttributeStatementTests/AttributeStatementWithNamedArguments.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/AttributeStatementTests/AttributeStatementWithNoArgument.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/AttributeStatementTests/AttributeStatementWithOneArgument.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/AttributeStatementTests/AttributeStatementWithOneNamedArgument.cs
Labels: emitter:client:csharp

#4529 http-client-java, emitter, deprecate description and details
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/eng/scripts/Build-Packages.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/core/page/implementation/PageClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/_specs_/azure/core/page/implementation/TwoModelsAsPageItemsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/resources/implementation/SingletonTrackedResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/resources/implementation/TopLevelTrackedResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/implementation/OperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/versioning/implementation/VersioningOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/payload/pageable/implementation/PageableClientImpl.java
Labels: emitter:client:java

#4553 http-client-java, increase spotless timeout
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/postprocessor/implementation/CodeFormatterUtil.java
Labels: emitter:client:java

#4555 [http-client-python] fix build to create package for release
  packages/http-client-python/eng/scripts/Build-Packages.ps1
Labels: emitter:client:python

#4483 Fix issue: OpenAPI 3 Emitter failed to check type of termsOfService in @info
  .chronus/changes/termsOfServiceUrlCheck-2024-8-23-12-59-15.md
  packages/openapi/src/decorators.ts
  packages/openapi/src/lib.ts
  packages/openapi/test/decorators.test.ts
Labels: lib:openapi

#4557 onboard spread
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Parameters/Spread/SpreadTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/Parameters.Spread.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/Alias.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/Model.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/Models/BodyParameter.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/Models/BodyParameter.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/ParametersSpreadModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/SpreadClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Generated/SpreadClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Parameters.Spread.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/tspCodeModel.json
Labels: emitter:client:csharp

#4554 http-client-java, deprecate TCGC type's descirption and details
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/external-schemas.ts
  packages/http-client-java/eng/scripts/Build-Packages.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/multipart/models/InheritFileData.java
Labels: emitter:client:java

#4561 http-client-java, fix bug on POM depencency parse
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PomMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentPomMapper.java
Labels: emitter:client:java

#4566 [python emitter] update tcgc and switch to use doc and summary
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4567 http-client-java, migrate unit tests from autorest.java
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/BeforeAllTestsExtension.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/JavaSettingsAccessor.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/MockUnitJavagen.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapperAccessor.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapperTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/JavagenUnitTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/PomMapperTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethodExampleTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/ProjectTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/partialupdate/util/PartialUpdateHandlerTest.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/template/TestProxyAssertsTemplateTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/ClassNameUtilTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamerTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/ModelTestCaseUtilTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtilTests.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/GeneratedModel.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/Model.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/ModelWithCodeFormatterOff.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/ModelWithStaticBlock.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/ModelWithStaticBlockGenerated.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/ModelWithoutStaticBlock.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/ModelWithoutStaticBlockGenerated.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/PagedGeneratedAsyncClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/PagedGeneratedAsyncClientWithConvenienceMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationGeneratedClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationWithAddedMemberClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationWithAddedMemberGeneratedClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationWithDuplicateMethodGeneratedClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationWithRemovedMemberClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationWithRemovedMemberGeneratedClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationWithUpdateMemberClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/partialupdate/StringOperationWithUpdateMemberGeneratedClient.java
  packages/http-client-java/generator/http-client-generator-core/src/test/resources/test-pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettingsAccessor.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/TestYamlPropertyBean.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/YamlPropertyTest.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/BeforeAllTestsExtension.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGenAccessor.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/MockJavagen.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/TestUtils.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentMapperAccessor.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentPomMapperTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/ResourceParserAccessor.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/arm/UrlPathSegmentsTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/ProxyMethodExampleTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/FluentUtilsTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/GeneratedUtilsClassWorkbenchTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/RetryOptionsTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/TypeConversionUtilsTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/resources/yaml-property.yaml
  packages/http-client-java/generator/pom.xml
Labels: emitter:client:java

#4571 [http-client-python] Fix lint issues
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/models/client.py
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/vendor.py.jinja2
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python
