Repository microsoft/typespec, pull requests merged in 2024-12, with the labels that each got.

#5232 Remove unnecessary lazy for InputLibrary
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
Labels: emitter:client:csharp

#5229 Remove self dependency and fix security issue
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5243 http-client-java, remove throw whenever possible
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/utils.ts
Labels: emitter:client:java

#5249 [python] remove useless object inheritance
  packages/http-client-python/eng/scripts/ci/pylintrc
  packages/http-client-python/generator/pygen/codegen/models/primitive_types.py
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
Labels: emitter:client:python

#5174 [http-client-csharp] Generate all req. response classifiers
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/StatusCodeClassifierApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Classifier2xxAnd4xxDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/PipelineMessageClassifierProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Definitions/Classifier2xxAnd4xxDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/ValidateAllClientResponseClassifiers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp

#5254 [http-client-csharp] Add Flatten api to MethodBodyStatement
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
Labels: emitter:client:csharp

#5267 [EngSys] Update Package Version
  packages/http-client-csharp/generator/Packages.Data.props
Labels: eng, emitter:client:csharp

#5268 [http-client-csharp] use recursion for statement flattening
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
Labels: emitter:client:csharp

#5209 http-client-java, generate error model for unbranded
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ExceptionTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ProxyTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/TypeSpecPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/util/ModelUtil.java
Labels: emitter:client:java

#5259 http-client-java, remove extra shadowing if all polymorphic models are in the same package
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/StreamSerializationModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/models/OutputOnlyModelInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/models/OutputOnlyModelProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/OutputOnlyModelImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Dog.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/DogKind.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Golden.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/OutputOnlyModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/OutputOnlyModelChild.java
  packages/http-client-java/generator/http-client-generator-test/tsp/arm-stream-style-serialization.tsp
Labels: emitter:client:java

#5281 http-client-java, add HttpLoggingPolicy to unbranded
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ServiceClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientBuilderTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/TemplateHelper.java
Labels: emitter:client:java

#5282 [http-python-client] filter out credential that python does not support for now
  packages/http-client-python/emitter/src/code-model.ts
Labels: emitter:client:python

#5270 [http-client-python] refine exception handling logic
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/codegen/models/model_type.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/models/response.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
  packages/http-client-python/package-lock.json
Labels: emitter:client:python

#5283 http-client-java, fix expandable enum `equals`
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/EnumTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/enumservice/models/PriorityModel.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/enumservice/EnumTests.java
Labels: emitter:client:java

#5277 [http-client-csharp] split srv-driven cadl ranch directory
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Generation.psm1
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Resiliency/SrvDriven/V1/SrvDrivenV1Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Resiliency/SrvDriven/V2/SrvDrivenV2Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/Resiliency.SrvDriven.V1.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/src/Generated/ResiliencyServiceDrivenClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/src/Generated/ResiliencyServiceDrivenClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v1/src/Resiliency.SrvDriven.V1.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v2/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v2/Resiliency.SrvDriven.V2.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v2/src/Generated/ResiliencyServiceDrivenClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v2/src/Generated/ResiliencyServiceDrivenClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v2/src/Resiliency.SrvDriven.V2.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/resiliency/srv-driven/v2/tspCodeModel.json
Labels: emitter:client:csharp

#5264 docs: Fix getting-started.md docs link
  website/src/content/docs/docs/getting-started/getting-started.md
Labels: meta:website

#5286 Support non-kebab-case directories for cadl-ranch scenarios
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Versioning/Removed/V1/VersioningRemovedV1Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/CadlRanchTestAttribute.cs
Labels: emitter:client:csharp

#5291 Fix to cadlranch attribute
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/CadlRanchTestAttribute.cs
Labels: emitter:client:csharp

#5292 Add 1_0_E2E label
  eng/common/config/labels.ts
Labels: eng

#5290 [python] ignore final envelope result models for DI
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5306 [http-client-python] fix vanilla legacy test
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5313 http-client-java, fix client accessor method parameter description
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceAsyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/MethodUtil.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/ClientInitializationAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/ClientInitializationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/implementation/ClientInitializationClientImpl.java
Labels: emitter:client:java

#5320 [python] add lint check for src code in CI
  packages/http-client-python/eng/scripts/Build-Packages.ps1
  packages/http-client-python/eng/scripts/ci/utils.ts
  packages/http-client-python/generator/pygen/black.py
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/codegen/models/lro_paging_operation.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_arm_resource_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_arm_resource.py
  packages/http-client-python/package.json
Labels: emitter:client:python

#5324 Delete XML cadl-ranch projects
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/Payload.Xml.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithArrayOfModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithAttributesValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithDictionaryValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithEmptyArrayValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithEncodedNamesValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithOptionalFieldValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithRenamedArraysValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithRenamedFieldsValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithSimpleArraysValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithTextValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithUnwrappedArrayValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithArrayOfModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithArrayOfModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithAttributes.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithAttributes.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithDictionary.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithDictionary.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEmptyArray.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEmptyArray.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEncodedNames.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEncodedNames.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithOptionalField.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithOptionalField.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedArrays.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedArrays.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedFields.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedFields.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithSimpleArrays.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithSimpleArrays.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithText.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithText.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithUnwrappedArray.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithUnwrappedArray.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/SimpleModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/SimpleModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/PayloadXmlModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/SimpleModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/XmlClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/XmlClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Payload.Xml.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
Labels: emitter:client:csharp

#5323 Add release notes for December 2024 release
  website/src/content/docs/docs/release-notes/release-2024-12-10.md
Labels: meta:website

#5316 Redirect compiler trace to IDE through language server
  .chronus/changes/compiler-trace-in-vscode-2024-11-10-12-32-36.md
  packages/compiler/src/core/logger/console-sink.ts
  packages/compiler/src/server/serverlib.ts
Labels: ide

#5314 Rename vscode extension typespec
  .chronus/changes/rename-vscode-extension-typespec-2024-11-10-11-11-45.md
  packages/typespec-vscode/package.json
Labels: ide

#5131 [typespec-vscode] expose linter rule documentation url in codefixes
  .chronus/changes/show-linter-rule-url-in-codefix-2024-10-21-9-17-32.md
  packages/typespec-vscode/src/code-action-provider.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/vscode-command.ts
Labels: ide

#5260 bump TCGC version to 0.48.4
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelTypeUsage.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5307 http-client-java, fix eclipse languageserver when tmp folder is corrupted
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/ls/EclipseLanguageServerFacade.java
Labels: emitter:client:java

#5317 http-client-java, bump typespec libs
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PomMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ExternalPackage.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ProxyTemplate.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/models/OperationInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/VisibilityAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/VisibilityClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/VisibilityWriteAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/VisibilityWriteClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/implementation/VisibilityClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/implementation/VisibilityWritesImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/models/ReadDog.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/visibility/models/WriteDog.java
  packages/http-client-java/generator/http-client-generator-test/tsp/error.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/naming.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/response.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/visibility.tsp
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5285 Update JS API parser to install from local feed
  eng/emitters/scripts/Generate-APIView-CodeFile.ps1
Labels: eng

#5335 [http-client-csharp] fix: enable cadl ranch coverage for srvdriven test
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Resiliency/SrvDriven/V1/SrvDrivenV1Tests.cs
Labels: emitter:client:csharp

#5333 http-client-java, doc, require JDK 17
  packages/http-client-java/README.md
  packages/http-client-java/generator/README.md
Labels: emitter:client:java

#5214 Update FormatLines in XmlDocStatement.cs to handle line breaks
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/FormattableStringExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Shared/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/FormattableStringHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Utilities/FormattableStringHelpersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Utilities/StringExtensionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/SingleLineSummaryWithLineBreaks.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Client/Structure/Default/DefaultTests.cs
Labels: emitter:client:csharp

#5338 Move setting retrieval into constructor
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
Labels: emitter:client:java

#5331 bump TCGC version to 0.48.6
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5349 http-client-java, map typespec.rest.resource model to sdk base namespace
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ExternalPackage.java
Labels: emitter:client:java

#5334 http-client-java, unify branded/unbranded ExpandableEnum
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ChoiceMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/EnumType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/EnumTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/enumservice/models/PriorityModel.java
Labels: emitter:client:java

#5351 http-client-java, remove code of convert contentType to header param
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
Labels: emitter:client:java

#5352 [python] bump tsp 0.63.0
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5318 Adopt http/special-headers/conditional-request from cadl ranch
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/SpecialHeaders/ConditionalRequests/ConditionalRequestHeaderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/conditional-request/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/conditional-request/SpecialHeaders.ConditionalRequest.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/conditional-request/src/Generated/ConditionalRequestClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/conditional-request/src/Generated/ConditionalRequestClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/conditional-request/src/SpecialHeaders.ConditionalRequest.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/conditional-request/tspCodeModel.json
Labels: emitter:client:csharp

#5231 introduce the abstraction for tokencredential type and keycredential type
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/ClientPipelineApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/IClientPipelineApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/OutputTypes/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,False,False,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,False,True,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,True,False,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,True,True,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,True,True,1).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,False,False,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,False,True,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,True,False,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,True,True,0).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,True,True,1).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#5374 http-client-java, validate JDK and Maven
  cspell.yaml
  packages/http-client-java/README.md
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/utils.ts
  packages/http-client-java/emitter/src/validate.ts
  packages/http-client-java/generator/README.md
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/PomTemplate.java
Labels: emitter:client:java

#5369 http-client-java, skip xml property of required and constant, on de-serialization
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/StreamSerializationModelTemplate.java
Labels: emitter:client:java

#5294 Support scaffolding scenario in vscode
  .chronus/changes/vscode-scaffolding-2024-11-7-12-44-28.md
  .chronus/changes/vscode-scaffolding-2024-11-7-12-46-5.md
  packages/compiler/src/core/node-host.browser.ts
  packages/compiler/src/init/core-templates.ts
  packages/compiler/src/init/init-template-validate.ts
  packages/compiler/src/init/init.ts
  packages/compiler/src/server/server.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/types.ts
  packages/compiler/test/e2e/init-templates.e2e.ts
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/code-action-provider.ts
  packages/typespec-vscode/src/const.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/path-utils.ts
  packages/typespec-vscode/src/task-provider.ts
  packages/typespec-vscode/src/tsp-executable-resolver.ts
  packages/typespec-vscode/src/tsp-language-client.ts
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  packages/typespec-vscode/src/vscode-cmd/install-tsp-compiler.ts
  packages/typespec-vscode/src/vscode-command.ts
  packages/typespec-vscode/test/unit/extension.test.ts
  pnpm-lock.yaml
Labels: ide

#5348 Fix vulnerabilities in VS extension
  .chronus/changes/vs-vulnerabilities-2024-11-12-13-19-40.md
  packages/typespec-vs/src/Microsoft.TypeSpec.VS.csproj
Labels: ide

#5384 http-client-java, default flavor=azure, if package is typespec-java
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5373 [Python] Fix incorrect code escape in M2R
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/m2r.py
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/generic_mock_api_tests/unittests/test_m2r.py
  packages/http-client-python/generator/test/unbranded/requirements.txt
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5381 [@typespec/spec-dashboard] Deploy Spec Dashboard
  eng/tsp-core/pipelines/dashboard-deploy.yml
Labels: eng

#5397 [@typespec/spec-dashboard] Release Spec Dashboard
  eng/tsp-core/pipelines/dashboard-deploy.yml
Labels: eng

#5398 [@typespec/spec-dashboard] Add Account Name to the script
  eng/tsp-core/pipelines/dashboard-deploy.yml
Labels: eng

#5206 publish vscode artifact and display in pr comment for try-it
  eng/tsp-core/pipelines/pr-tools.yml
  eng/tsp-core/scripts/create-tryit-comment.ts
Labels: ide, eng

#5357 Migrate cadl-ranch specs to http-specs and azure-http-specs
  eng/emitters/pipelines/templates/steps/test-step.yml
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/CadlRanchServer.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/TestServerBase.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/BytesProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsByteProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsModelProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/InnerModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/StringProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/versioning/removed/v1/src/Generated/RemovedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/versioning/removed/v1/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/versioning/removed/v2/src/Generated/RemovedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/versioning/removed/v2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/versioning/removed/v2Preview/src/Generated/RemovedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/versioning/removed/v2Preview/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5409 Fix tsp-spector coverage breaking change
  eng/emitters/pipelines/templates/steps/test-step.yml
Labels: eng

#5412 simplify the serialization/deserialization hook
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
Labels: emitter:client:csharp

#5218 Skip empty client generation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/RestClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace.cs
Labels: emitter:client:csharp

#5440 Skip auth parameters for sub-client
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
Labels: emitter:client:csharp

#5452 [python] Update dev_requirements.txt
  packages/http-client-python/generator/dev_requirements.txt
Labels: emitter:client:python
