Repository microsoft/typespec, pull requests merged in 2024-06, with the labels that each got.

#3501 fix the generic parameter nullable issue
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ArgumentProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/Argument.cs
Labels: bug, emitter:client:csharp

#3503 migrate changes from https://github.com/Azure/autorest.csharp/pull/4688 and https://github.com/Azure/autorest.csharp/pull/4707
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/emitter/src/type/input-intrinsic-type-kind.ts
  packages/http-client-csharp/emitter/src/type/input-model-property.ts
  packages/http-client-csharp/emitter/src/type/input-primitive-type-kind.ts
  packages/http-client-csharp/emitter/src/type/input-type-kind.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/BytesKnownEncoding.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/DateTimeKnownEncoding.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/DurationKnownEncoding.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDateTimeType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDictionaryType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDurationType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputEnumType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputGenericType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputIntrinsicType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputIntrinsicTypeKind.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputListType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputLiteralType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputParameter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveTypeKind.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/SerializationFormat.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputConstantConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDateTimeTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDictionaryTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDurationTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputListTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputLiteralTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelPropertyConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/Utf8JsonReaderExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/EnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ExtensibleEnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/FixedEnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/Types/ModelTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3489 fix(emitter): filter out api versions not specified by `api-version`
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
Labels: emitter:client:csharp

#3493 fix(website): OpenAPI home illustration
  packages/website/static/tsp-samples/openapi3/hero/main.tsp
  packages/website/static/tsp-samples/openapi3/hero/out/openapi.yaml
Labels: meta:website

#3505 Inverse order in CODEOWNERS
  .github/CODEOWNERS
Labels: eng

#3461 support Arm processor for vs extension
  .chronus/changes/vs-extension-arm-2024-4-27-15-58-16.md
  packages/typespec-vs/src/Microsoft.TypeSpec.VS.csproj
  packages/typespec-vs/src/source.extension.vsixmanifest
Labels: ide

#3230 doc: fix incorrect example of `@statusCode`
  .chronus/changes/fix-example-of-statusCode-2024-5-3-20-58-17.md
  docs/libraries/http/reference/decorators.md
  packages/http/README.md
  packages/http/generated-defs/TypeSpec.Http.ts
  packages/http/lib/http-decorators.tsp
Labels: docs, lib:http

#3342 Multipart explicit parts
  .chronus/changes/feature-multipart-v2-2024-4-14-16-27-48.md
  .chronus/changes/feature-multipart-v2-2024-4-14-22-58-52.md
  .chronus/changes/feature-multipart-v2-2024-4-14-23-5-59.md
  .vscode/settings.json
  docs/libraries/http/reference/data-types.md
  docs/libraries/http/reference/decorators.md
  docs/libraries/http/reference/index.mdx
  packages/http/README.md
  packages/http/generated-defs/TypeSpec.Http.Private.ts
  packages/http/generated-defs/TypeSpec.Http.ts
  packages/http/generated-defs/TypeSpec.Http.ts-test.ts
  packages/http/lib/decorators.tsp
  packages/http/lib/http.tsp
  packages/http/lib/private.decorators.tsp
  packages/http/src/body.ts
  packages/http/src/content-types.ts
  packages/http/src/decorators.ts
  packages/http/src/http-property.ts
  packages/http/src/index.ts
  packages/http/src/lib.ts
  packages/http/src/metadata.ts
  packages/http/src/parameters.ts
  packages/http/src/payload.ts
  packages/http/src/private.decorators.ts
  packages/http/src/responses.ts
  packages/http/src/types.ts
  packages/http/test/multipart.test.ts
  packages/http/test/responses.test.ts
  packages/http/test/test-host.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/src/schema-emitter.ts
  packages/openapi3/test/multipart.test.ts
  packages/rest/test/test-host.ts
  packages/samples/specs/multipart/main.tsp
  packages/samples/specs/rest-metadata-emitter/rest-metadata-emitter-sample.ts
  packages/samples/test/output/multipart/@typespec/openapi3/openapi.yaml
  vitest.workspace.ts
Labels: lib:http

#3414 Move serialization constructors and raw field
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Microsoft.Generator.CSharp.ClientModel.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Utilities/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.sln
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/MethodSignature.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Shared/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/Types/ModelTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ParameterProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/StringExtensionsTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithFormat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithFormat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
Labels: emitter:client:csharp

#3255 Fix versioning issue when `@added` is used implicitly and explicitly
  .chronus/changes/versioning-FixVersioningBugs-2024-4-22-20-42-27.md
  packages/versioning/src/versioning.ts
  packages/versioning/test/versioning.test.ts
Labels: lib:versioning

#3517 Fix application of `@param` on child operations
  .chronus/changes/param-override-spread-2024-5-4-20-52-44.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/checker/doc-comment.test.ts
Labels: compiler:core

#3521 Do not create all rulesets if there is no rules in linter config
  .chronus/changes/fix-no-all-no-rules-2024-5-5-16-21-56.md
  packages/compiler/src/core/linter.ts
  packages/compiler/src/core/types.ts
Labels: compiler:core

#3520 fix a typo in the licenseString
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
Labels: emitter:client:csharp

#3535 Add the Optional helper class implementation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OptionalTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/Optional.cs
Labels: emitter:client:csharp

#3526 Fix Versioning Regression
  .chronus/changes/versioning-fixBug-2024-5-5-20-59-9.md
  packages/versioning/src/versioning.ts
  packages/versioning/test/versioning.test.ts
Labels: lib:versioning

#3548 sync emitter/generator changes from https://github.com/Azure/autorest.csharp/pull/4800
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/emitter/src/type/input-type-kind.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputUnionType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputUnionTypeConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3511 include cjs files so that we can add breakpoint of vscode extension during debug
  .vscode/launch.json
Labels: ide

#3533 Enhance logging/trace for vscode extension
  .chronus/changes/more-logging-vscode-2024-5-6-16-57-48.md
  .chronus/changes/more-logging-vscode-2024-5-7-12-41-0.md
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/server/file-system-cache.ts
  packages/compiler/src/server/server.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/types.ts
  packages/compiler/src/testing/test-server-host.ts
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/typespec-log-output-channel.ts
Labels: ide

#3375 Allow symbols to be escaped in DocText
  .chronus/changes/bug-escape-characters-in-docblock-2024-4-23-16-0-21.md
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/test/parser.test.ts
Labels: compiler:core

#3502 Consume ChangeTrackingList/Dictionary in models
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
Labels: feature, emitter:client:csharp

#3557 Add oneOf to JSON Schema
  .chronus/changes/json-schema-oneof-2024-5-11-8-56-5.md
  docs/emitters/json-schema/reference/decorators.md
  docs/emitters/json-schema/reference/index.mdx
  packages/json-schema/README.md
  packages/json-schema/generated-defs/TypeSpec.JsonSchema.ts
  packages/json-schema/generated-defs/TypeSpec.JsonSchema.ts-test.ts
  packages/json-schema/lib/main.tsp
  packages/json-schema/src/index.ts
  packages/json-schema/src/json-schema-emitter.ts
  packages/json-schema/test/unions.test.ts
Labels: feature, emitter:json-schema

#3522 Fix EINVAL error when running `tsp code install`
  .chronus/changes/fix-install-shell-2024-5-5-16-51-0.md
  packages/compiler/src/core/cli/utils.ts
Labels: compiler:core

#3538 Fix handling of filename for http file
  .chronus/changes/fix-http-file-handling-2024-5-6-17-38-0.md
  packages/http/src/lib.ts
  packages/http/src/payload.ts
  packages/http/src/private.decorators.ts
  packages/http/src/types.ts
  packages/http/src/validate.ts
  packages/http/test/multipart.test.ts
Labels: lib:http

#3527 Add support for `@prop` doc comment tag to describe model properties
  .chronus/changes/feature-prop-doc-2024-5-5-21-1-58.md
  grammars/typespec.json
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/src/server/classify.ts
  packages/compiler/src/server/tmlanguage.ts
  packages/compiler/test/checker/doc-comment.test.ts
  packages/compiler/test/server/colorization.test.ts
Labels: compiler:core

#3422 Format multi line strings
  .chronus/changes/formatter-multiline-strings-2024-4-22-14-32-55.md
  docs/getting-started/typespec-for-openapi-dev.md
  docs/language-basics/type-literals.md
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/test/formatter/formatter.test.ts
  packages/samples/specs/grpc-kiosk-example/kiosk.tsp
  packages/samples/specs/grpc-kiosk-example/types.tsp
  packages/samples/specs/grpc-library-example/library.tsp
  packages/samples/specs/string-template/main.tsp
  packages/website/versioned_docs/version-latest/getting-started/typespec-for-openapi-dev.md
  packages/website/versioned_docs/version-latest/language-basics/type-literals.md
Labels: compiler:core

#3561 [protobuf] Handle cross-package references correctly in some buggy cases.
  .chronus/changes/protobuf-package-names-2024-5-11-16-35-54.md
  packages/protobuf/src/transform/index.ts
  packages/protobuf/test/scenarios/cross package references/input/main.tsp
  packages/protobuf/test/scenarios/cross package references/output/@typespec/protobuf/A.proto
  packages/protobuf/test/scenarios/cross package references/output/@typespec/protobuf/B.proto
  packages/protobuf/test/scenarios/cross package references/output/@typespec/protobuf/C.proto
Labels: emitter:protobuf

#3564 Fix using js special words as parameters names
  .chronus/changes/fix-reserver-keyword-parameters-2024-5-11-21-33-25.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/checker/operations.test.ts
Labels: compiler:core

#3566 Do not run decorators on cloned type if the original type wasn't finished
  .chronus/changes/fix-clone-type-donot-finish-unfinished-2024-5-11-21-54-41.md
  packages/compiler/src/core/checker.ts
Labels: compiler:core

#3567 fix the nullable value type
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpTypeTests.cs
Labels: emitter:client:csharp

#3573 Fix: Using a scalar constructor defined in a parent scalar doesn't reference the right scalar
  .chronus/changes/fix-scalar-constructor-clone-2024-5-12-20-39-42.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/types.ts
  packages/compiler/test/checker/values/scalar-values.test.ts
Labels: compiler:core

#3443 Add support for completion of extends and is
  .chronus/changes/ide-support-completion-for-extends-is-2024-4-24-11-15-1.md
  packages/compiler/src/core/charcode.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/test/server/completion.test.ts
  packages/compiler/test/server/misc.test.ts
Labels: ide

#3574 fix error when model property is invalid
  .chronus/changes/main-2024-5-13-14-52-31.md
  packages/openapi3/src/lib.ts
  packages/openapi3/src/schema-emitter.ts
Labels: emitter:openapi3

#3577 Fix formatting of object and array literal in decorator
  .chronus/changes/fix-formatting-object-array-literal-hug-2024-5-13-20-4-7.md
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/test/formatter/formatter.test.ts
Labels: compiler:core

#3586 Add discord link to website
  packages/website/docusaurus.config.ts
  packages/website/src/css/custom.css
  packages/website/src/pages/community.md
Labels: meta:website

#3581 Update to consolidate parameter validation logic
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.SystemModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/CodeWriterBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/MethodProviderBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/PluginInitializer.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpMethodCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpMethodKinds.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/KnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/IndexerProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/XmlDocProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.Argument.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AssignValueIfNullStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AssignValueStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AttributeStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/DeclareLocalFunctionStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/DeclareVariableStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/EmptyLineStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ForStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ForeachStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/IfElsePreprocessorStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/IfElseStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/IfStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/InvokeInstanceMethodStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/InvokeStaticMethodStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/KeywordStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/MethodBodyStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ParameterValidationStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/SingleLineCommentStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/SwitchCaseStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/SwitchStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ThrowStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/TryCatchFinallyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/UnaryOperatorStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/UsingDeclareVariableStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/UsingScopeStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocExceptionStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocParamStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocReturnsStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocSummaryStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.Documentation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.XmlDocWritingScope.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpMethodCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpMethodKindsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CodeWriterExtensionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ParameterProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/StatementTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3609 fix some issues in serialization generation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
Labels: emitter:client:csharp

#3610 Common settings
  packages/http-client-csharp/generator/Directory.Build.props
  packages/http-client-csharp/generator/Directory.Build.targets
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Microsoft.Generator.CSharp.ClientModel.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Customization/src/Microsoft.Generator.CSharp.Customization.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/perf/Microsoft.Generator.CSharp.Input.Tests.Perf.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/Microsoft.Generator.CSharp.Input.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/test/Microsoft.Generator.CSharp.Input.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.sln
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/Microsoft.Generator.CSharp.Tests.Perf.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Microsoft.Generator.CSharp.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/Packages.Data.props
  packages/http-client-csharp/generator/TestProjects/Local/TestProjects.Local.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/ProjFiles/TestProjects.Local.Tests.csproj
Labels: emitter:client:csharp

#3616 Clear output path by default
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
Labels: emitter:client:csharp

#3611 update to cache method providers
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOperationKinds.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationKinds.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/test/OperationKindsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpMethodCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
Labels: emitter:client:csharp

#3617 Remove groupedBy from InputParameter
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputParameter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputParameterConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpMethodCollectionTests.cs
Labels: emitter:client:csharp

#3620 Support void type body
  packages/http-client-csharp/emitter/src/lib/operation.ts
Labels: emitter:client:csharp

#3622 Fix Indentation in several statements
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/IfElsePreprocessorStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/SwitchCaseStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/UsingScopeStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTest.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestData/Expressions/InvokeInstanceMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestData/Expressions/NewInstanceExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestData/Statements/IfElsePreprocessorStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestData/Statements/SwitchCaseStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestData/Statements/SwitchCaseStatementWithUsing.cs
Labels: emitter:client:csharp

#3623 Handle errors in tracing for environments that don't support Error.captureStackTrace (i.e. firefox)
  .chronus/changes/avoid-break-from-stacktrace-2024-5-20-11-21-0.md
  packages/compiler/src/server/file-system-cache.ts
Labels: ide, compiler:core

#3604 Remove unused macos reference
  eng/common/pipelines/templates/variables/image.yml
Labels: eng

#3654 upgrade TypeSpec to 0.57.0 and support Nullable feature
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDateTimeType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDictionaryType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDurationType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputEnumType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputListType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputLiteralType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputNullableType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputUnionType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDateTimeTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDictionaryTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDurationTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputListTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputLiteralTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputNullableTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputUnionTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/CodeWriterBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#3655 Remove redundant summary from method signature
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.SystemModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOperation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputOperationConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/MethodProviderBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ConstructorSignature.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/MethodSignature.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/MethodSignatureBase.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTest.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/MethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
Labels: emitter:client:csharp

#3657 Make FileName property abstract
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeProvider.cs
Labels: emitter:client:csharp

#3641 Consolidate parameter and variable reference
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.SystemRestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/DeclarationExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/VariableExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.RestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ForeachStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/UsingScopeStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/JsonElementSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ParameterReferenceSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/VariableReferenceSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.CodeScope.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriterScopeDeclarations.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTest.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/UsingScopeStatementTests/SiblingScopeLinesUseSameName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/UsingScopeStatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeScopeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeScopeTests/GeneratesNewNamesInChildScope.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeScopeTests/SiblingScopeLinesUseSameName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeScopeTests/VariableNameNotReusedWhenUsedInChildScope.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/GeneratesNewNamesInChildScope.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/ScopeLineIsInsideScope.cs
Labels: emitter:client:csharp

#3642 Remove singleton pattern from providers
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/ModelReaderWriterOptionsSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/ModelSerializationExtensionsSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/TypeFormattersSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Utilities/Utf8JsonWriterSnippetExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/MethodProviderBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.Argument.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ArgumentSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypedSnippets/TypedSnippetsTests.cs
Labels: emitter:client:csharp

#3621 Unravel cyclical dependency between OutputLibrary and TypeFactory
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/OutputLibraryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumTypeProviderTests.cs
Labels: emitter:client:csharp

#3652 remove new dictionaryexpression and keep as snippet only
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/DictionaryInitializerExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/NewDictionaryExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/NewInstanceExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ObjectInitializerExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.New.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewDictionaryExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewInstanceExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/TestData/ExpressionsTests/TestInvokeInstanceMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/TestData/ExpressionsTests/TestNewInstanceExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/TestData/NewDictionaryExpressionTests/UseNewInstanceExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/SnippetTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateAnonymousMultipleProperties.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateAnonymousSingleProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateDictionaryWithValues.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateFrameworkInstance.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateInstance.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateInstanceCtor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateInstanceCtorWithArguments.cs
Labels: emitter:client:csharp

#3634 Add snippets for SCM model serialization
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/SystemOptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.SystemModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.SystemRestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemSnippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemSnippets.Serializations.JsonFormat.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/BinaryContentSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/JsonDocumentSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/JsonElementSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/JsonPropertySnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/JsonSerializerSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/ModelReaderWriterOptionsSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/OptionalSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/Utf8JsonWriterSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Utilities/Utf8JsonWriterSnippetExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TypedSnippets/TypedSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.JsonElementSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.RestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.JsonSerializer.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ConvertSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypedSnippets/TypedSnippetsTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/Optional.cs
Labels: emitter:client:csharp

#3658 sync changes of consolidating TCGC's Array and Dictionary type
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/emitter/src/type/input-type-kind.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputArrayType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputArrayTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDictionaryTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputListTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3547 Reorganize the structure of `TypeFactory` and `OutputLibrary`
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/OutputLibraryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/MethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
Labels: emitter:client:csharp

#3667 Support Generating Json Model Serialization Write Method
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/Utf8JsonWriterSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/SerializationFormatExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/PropertyWireInformation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3668 Expression statement conversion
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemSnippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/JsonElementSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/ModelSerializationExtensionsSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/PipelineRequestSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/Utf8JsonWriterSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/AssignmentExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/DeclarationExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/InvokeInstanceMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/InvokeStaticMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/KeywordExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/UnaryOperatorExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AssignValueIfNullStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AssignValueStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/DeclareVariableStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ExpressionStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/InvokeInstanceMethodStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/InvokeStaticMethodStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/KeywordStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/UnaryOperatorStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/UsingDeclareVariableStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ArgumentSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/DictionarySnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ListSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/StreamSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/StringBuilderSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/TypedSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/AssignmentExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/KnownValueExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/UnaryOperationExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ModelSerializationExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3671 Remove extensible snippets property and make OutputLibrary property virtual
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.SystemModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.SystemRestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/SystemExtensibleSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.ModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.RestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypedSnippets/TypedSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterExtensionTests.cs
Labels: emitter:client:csharp

#3670 add debugger display to expression / statement / typedsnippet
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/TypedSnippet.cs
Labels: emitter:client:csharp

#3673 Throw for method bodies in order to demonstrate tracing in future PR
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProviderCollection.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3666 Sync changes of the consolidation of model type from TCGC
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/type/input-type-kind.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputNamespaceConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/CodeWriterBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3675 sync autorest.sharp pr 4814: set no-route warning
  packages/http-client-csharp/emitter/src/lib/lib.ts
Labels: emitter:client:csharp

#3682 add indexability in expressions
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ArrayElementExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/IndexableExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.New.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/DictionarySnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ListSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ObjectSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/StringSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
Labels: emitter:client:csharp

#3686 wip to refactor methodprovidercollection
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/InvokeStaticPropertyExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/TypeFactoryTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3691 Finish protocol method bodies
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ErrorResultProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/ClientPipelineSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/ErrorResultSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/PipelineMessageSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/PipelineResponseSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockClientTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/OutputTypes/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/MethodProviderBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/BinaryOperatorExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ExpressionPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocExceptionStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/ArgumentSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypedSnippets/TypedSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/KnownValueExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ClientPipelineExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ErrorResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3700 Add convenience methods to clients
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3704 Add ClientUriBuilder helper class implementation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/OutputTypes/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientUriBuilderProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientUriBuilderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ClientUriBuilder.cs
Labels: emitter:client:csharp
