Repository microsoft/typespec, pull requests merged in 2024-05, with the labels that each got.

#3325 feat(http-client-csharp): bump tcgc to 0.41.5
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: Client Emitter Migration, emitter:client:csharp

#3326 feat(http-client-csharp): adopt tcgc getAllModels()
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/src/type/converter.ts
  packages/http-client-csharp/emitter/src/type/input-primitive-type-kind.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecReferenceHandler.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: Client Emitter Migration, emitter:client:csharp

#3334 Rename the `GetExpressionTypeProviderWriter` to simple `GetWriter`
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/ExpressionTypeProviderWriterTests.cs
Labels: emitter:client:csharp

#3332 Generate constructors for Model types
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Models/Types/CSharpMethodKinds.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Models/Types/ModelTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriterExtensionMethods.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/Types/ModelTypeProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithFormat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3371 Numeric not handling trailing zeros
  .chronus/changes/fix-numeric-not-handling-trailing-zeros-2024-4-16-2-43-25.md
  packages/compiler/src/core/numeric.ts
  packages/compiler/test/core/numeric.test.ts
Labels: compiler:core

#3382 make the input library to lazy loaded and no longer swallow the exception
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/PluginHandler.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/Program.cs
Labels: emitter:client:csharp

#3280 improve completion and onhover in VSCode for decorator and extended model
  .chronus/changes/add-completion-for-decorator-model-arg-2024-4-17-11-50-34.md
  .chronus/changes/add-completion-for-decorator-model-arg-2024-4-6-16-27-17.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/type-details.ts
  packages/compiler/test/server/completion.test.ts
  packages/compiler/test/server/get-hover.test.ts
  packages/compiler/test/server/misc.test.ts
Labels: ide

#3385 Add 'show output channel' command in vscode extension
  .chronus/changes/vscode-output-cmd-2024-4-17-16-6-25.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/extension.ts
Labels: ide

#3398 Fix handling decorators for union variants in JSONSchema emitter
  .chronus/changes/feat-fix-union-variant-decorators-2024-4-20-14-27-15.md
  .chronus/changes/feat-fix-union-variant-decorators-2024-4-20-14-48-3.md
  packages/compiler/src/emitter-framework/type-emitter.ts
  packages/json-schema/src/json-schema-emitter.ts
  packages/json-schema/test/unions.test.ts
Labels: emitter:json-schema

#3399 Preserve leading whitespace in fenced blocks in doc comments
  .chronus/changes/feat-fix-indentation-in-doc-comments-2024-4-20-14-31-22.md
  .chronus/changes/feat-fix-indentation-in-doc-comments-2024-4-20-14-54-41.md
  docs/libraries/http/reference/decorators.md
  docs/libraries/xml/reference/decorators.md
  docs/standard-library/built-in-decorators.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/test/parser.test.ts
  packages/http/README.md
  packages/http/generated-defs/TypeSpec.Http.ts
  packages/http/lib/auth.tsp
  packages/http/src/types.ts
  packages/json-schema/test/doc.test.ts
  packages/protobuf/generated-defs/TypeSpec.Protobuf.ts
  packages/rest/generated-defs/TypeSpec.Rest.ts
  packages/versioning/generated-defs/TypeSpec.Versioning.ts
  packages/versioning/lib/decorators.tsp
  packages/xml/README.md
  packages/xml/generated-defs/TypeSpec.Xml.ts
Labels: compiler:core

#3407 Fix csharp emitter tests
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#3238 add internal setters to input types
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputApiKeyAuth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputAuth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputClientExample.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputConstant.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDictionary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputEnumType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputEnumTypeValue.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputExampleListValue.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputExampleObjectValue.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputExampleRawValue.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputExampleStreamValue.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputExampleValue.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputGenericType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputIntrinsicType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputList.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputLiteralType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOAuth2Auth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOperation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOperationExample.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputParameter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputParameterExample.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveTypeKind.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputUnionType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationLongRunning.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationPaging.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationResponse.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationResponseHeader.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputClientConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputConstantConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputLiteralTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputNamespaceConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputOperationConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecReferenceHandler.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/Utf8JsonReaderExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpMethodCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/Types/ModelTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: feature, emitter:client:csharp

#3411 Run all if vitest.config.ts change
  cspell.yaml
  eng/common/scripts/Analyze-Changes.ps1
Labels: eng

#3409 Fix issue with `@removed` decorator if model was not added from beginning
  .chronus/changes/versioning-FixVersionBug1-2024-4-21-16-34-18.md
  packages/versioning/src/validate.ts
  packages/versioning/src/versioning.ts
  packages/versioning/test/versioning.test.ts
Labels: lib:versioning

#3402 migrate expressions & statements from autorest
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/ClientResultExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/MessagePipelineExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/PipelineMessageExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/PipelineRequestExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/RequestBodyExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/RequestOptionsExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/ResultExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/SystemExtensibleSnippets.SystemJsonElementSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/SystemExtensibleSnippets.SystemModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/SystemExtensibleSnippets.SystemRestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/SystemExtensibleSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/Utf8JsonRequestBodyExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/SystemApiTypes.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/IntExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/JsonDocumentExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/JsonElementExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/JsonPropertyExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/StreamExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/StringBuilderExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/StringExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/Utf8JsonWriterExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ApiTypes.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/KnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.ModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.RestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ApiTypesTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Packages.Data.props
Labels: emitter:client:csharp

#3405 build(http-client-csharp): bump tcgc 0.42.3
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#3418 change the array to `IReadOnlyList` since it is a public API
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ModelTypeProvider.cs
Labels: emitter:client:csharp

#3428 pull in documentation and organize
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.Documentation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
Labels: emitter:client:csharp

#3429 Fix emitter to throw when dotnet generator doesn't succeed
  packages/http-client-csharp/emitter/src/emitter.ts
Labels: emitter:client:csharp

#3425 Make the sync label logic reusable for typespec-azure repo
  .github/policies/issues.needs-info.yml
  .prettierignore
  CONTRIBUTING.md
  eng/common/config/areas.ts
  eng/common/config/labels.ts
  eng/common/scripts/labels/automation.ts
  eng/common/scripts/labels/config.ts
  eng/common/scripts/labels/definitions.ts
  eng/common/scripts/labels/sync-labels.ts
  eng/common/scripts/labels/types.ts
  eng/tsconfig.json
  package.json
Labels: eng

#3309 Organize versioning library
  .chronus/changes/versioning-library-cleanup-2024-4-9-22-35-15.md
  packages/versioning/lib/decorators.tsp
  packages/versioning/lib/main.tsp
  packages/versioning/lib/projection.tsp
  packages/versioning/package.json
  packages/versioning/src/decorators.ts
  packages/versioning/src/index.ts
  packages/versioning/src/internal-projection-functions.ts
  packages/versioning/src/lib.ts
  packages/versioning/src/projection.ts
  packages/versioning/src/testing/index.ts
  packages/versioning/src/types.ts
  packages/versioning/src/validate.ts
  packages/versioning/src/versioning-timeline.ts
  packages/versioning/src/versioning.ts
  packages/versioning/test/incompatible-versioning.test.ts
  packages/versioning/test/library-loading.test.ts
  packages/versioning/test/test-host.ts
  packages/versioning/test/utils.ts
  packages/versioning/test/versioned-dependencies.test.ts
  packages/versioning/test/versioning-timeline.test.ts
  packages/versioning/test/versioning.test.ts
  packages/versioning/tsconfig.json
Labels: lib:versioning

#3430 Fix bundling and inlining of referenced schemas
  .chronus/changes/json-schema-reftype-fix-2024-4-23-16-41-33.md
  cspell.yaml
  docs/emitters/json-schema/guide.md
  packages/json-schema/src/json-schema-emitter.ts
  packages/json-schema/test/bundling.test.ts
  packages/json-schema/test/ids.test.ts
  packages/json-schema/test/references.test.ts
  packages/json-schema/test/utils.ts
Labels: bug, emitter:json-schema

#3431 Some various refactor needed in the enum implementation PR
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/SystemExtensibleSnippets.SystemRestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/EnumExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/EnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ModelTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeSignatureModifiers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ExtensibleSnippets.RestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippets.New.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithFormat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithFormat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3456 fix the float based enums issue in emitter
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3451 Circular reference fixes
  .chronus/changes/json-schema-fixes-2024-4-25-0-58-10.md
  .chronus/changes/json-schema-fixes-2024-4-25-0-58-28.md
  packages/compiler/src/emitter-framework/asset-emitter.ts
  packages/compiler/test/emitter-framework/context.test.ts
  packages/json-schema/src/json-schema-emitter.ts
  packages/json-schema/test/references.test.ts
Labels: bug, emitter:json-schema

#3464 Update folder casing
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/Configuration.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpMethodCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CodeWriterExtensionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/Configuration.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/Expressions/MockExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/Writers/CustomCodeWriterExtensionMethods.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/Types/ModelTypeProviderTests.cs
Labels: emitter:client:csharp

#3463 Bump SCM beta 4
  packages/http-client-csharp/generator/Packages.Data.props
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#3459 Sync client hierarchy changes from autorest.csharp
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3460 Hide deprecated items from completion list
  .chronus/changes/highlight-suppress-2024-4-28-16-43-58.md
  packages/compiler/src/server/completion.ts
  packages/compiler/test/server/completion.test.ts
Labels: ide

#3466 sync emitter change in Azure/autorest.csharp#4689
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3378 Refactor ChangeTrackingTypes into TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/FieldDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippets.Where.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriterDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ChangeTrackingDictionaryTest.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ChangeTrackingListTest.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ChangeTrackingDictionary.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ChangeTrackingList.cs
Labels: emitter:client:csharp

#3458 calculate multipart usage
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/type/usage.ts
Labels: emitter:client:csharp

#3313 Implement enum
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/SystemExtensibleSnippets.SystemRestOperationsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/EnumExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/InvokeInstanceMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/TypedValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpMethodKinds.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/EnumTypeMember.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/EnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ExtensibleEnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/FixedEnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/MethodSignatureModifiers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/TypeSignatureModifiers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ParameterValidationBlock.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Models/Types/EnumTypeProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnumWithIntValue.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnumExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnumWithIntValue.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnumWithIntValueExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntFixedEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntFixedEnumExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringFixedEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringFixedEnumExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: feature, emitter:client:csharp

#3479 sync the emitter part of disable-xml-docs
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/src/type/configuration.ts
Labels: emitter:client:csharp

#3450 Make Parameter & PropertyDeclaration Classes Instead of Records
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Expressions/SystemExtensibleSnippets.SystemModelSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/ClientPipelineExtensionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Models/Types/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/AutoPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ChangeTrackingDictionaryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ChangeTrackingListProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ExpressionPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ExtensibleEnumTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/IndexerDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/KnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/MethodPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/MethodSignature.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/ModelTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/Parameter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/PropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/PropertyDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputTypes/PropertyDescriptionBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpMethodCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CodeWriterExtensionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CodeWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ChangeTrackingDictionary.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ChangeTrackingList.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnumWithIntValue.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnumExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnumWithIntValueExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntFixedEnumExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithFormat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringFixedEnumExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralString.cs
Labels: emitter:client:csharp

#3480 refactor(csharpt): remove `InputNamespace.Description`
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/type/code-model.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputNamespaceConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp
