Repository microsoft/typespec, pull requests merged in 2024-10, with the labels that each got.

#4578 Add tests for adding custom client method
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanAddMethod/CanAddMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanAddMethodSameName/CanAddMethodSameName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanAddMultipleMethods/CanAddMultipleMethods.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
Labels: emitter:client:csharp

#4598 Serialize customized properties that use the same name as the spec property
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangePropertyAccessibility/MockInputModel.cs
Labels: emitter:client:csharp

#4600 Fix method/constructor parameter name matching
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanReplaceConstructor/MockInputModel.cs
Labels: emitter:client:csharp

#4596 Fix: Models with nested Discriminators
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/DiscriminatorTests.cs
Labels: emitter:client:csharp

#4591 Support customizing prop wire name
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertySerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertySerializedName/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Customization/src/CodeGenSerializationAttribute.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/WireInformation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/CodeGenAttributes.cs
Labels: emitter:client:csharp

#4539 Add support for nested emitter options
  .chronus/changes/config-invalid-name-2024-8-25-19-8-41.md
  .chronus/changes/support-variable-base-nested-config-2024-8-25-19-8-41.md
  docs/extending-typespec/emitters-basics.md
  docs/handbook/configuration/configuration.md
  packages/compiler/src/config/config-interpolation.ts
  packages/compiler/src/config/config-to-options.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/test/config/config-interpolation.test.ts
  packages/compiler/test/config/config-to-options.test.ts
  packages/compiler/test/config/resolve-compiler-option.test.ts
  packages/compiler/test/config/scenarios/custom/myConfigNested.yaml
  packages/compiler/test/e2e/cli/cli.e2e.ts
  packages/compiler/test/e2e/cli/scenarios/with-option/emitter.js
  packages/compiler/test/e2e/cli/scenarios/with-option/main.tsp
  packages/compiler/test/e2e/cli/scenarios/with-option/tspconfig.yaml
Labels: breaking-change, compiler:core

#4605 Support customizing client accessibility
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanAddMethod/CanAddMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanAddMethodSameName/CanAddMethodSameName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanAddMultipleMethods/CanAddMultipleMethods.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanChangeClientAccessibility/CanChangeClientAccessibility.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanChangeClientOptionsAccessibility/CanChangeClientOptionsAccessibility.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanReplaceOpMethod/CanReplaceOpMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanReplaceStructMethod/CanReplaceStructMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyName/Model.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethod/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForRenamedProperty/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/ReadOnlyMemPropertyType/ReadOnlyMemPropertyType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
Labels: emitter:client:csharp

#4563 `tsp compile --watch` watch config file
  .chronus/changes/fix-watch-config-2024-8-27-22-7-45.md
  packages/compiler/src/core/cli/actions/compile/args.ts
  packages/compiler/src/core/cli/actions/compile/compile.ts
Labels: compiler:core

#4574 Fix: Passing `const` of model type to `@example`
  .chronus/changes/fix-examples-const-2024-8-30-17-28-17.md
  docs/standard-library/examples.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/decorators/examples.test.ts
Labels: compiler:core

#4606 Add support for named exports
  .chronus/changes/resolve-module-exports-2024-9-4-18-32-9.md
  .chronus/changes/resolve-module-exports-2024-9-4-22-21-14.md
  docs/extending-typespec/basics.md
  docs/language-basics/imports.md
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/source-loader.ts
  packages/compiler/src/module-resolver/esm/resolve-package-exports.ts
  packages/compiler/src/module-resolver/esm/resolve-package-imports-exports.ts
  packages/compiler/src/module-resolver/esm/resolve-package-target.ts
  packages/compiler/src/module-resolver/esm/utils.ts
  packages/compiler/src/module-resolver/module-resolver.ts
  packages/compiler/src/module-resolver/utils.ts
  packages/compiler/src/testing/test-host.ts
  packages/compiler/src/types/package-json.ts
  packages/compiler/test/checker/imports.test.ts
  packages/compiler/test/e2e/scenarios/scenarios.e2e.ts
  packages/compiler/test/module-resolver/esm/resolve-package-exports.test.ts
  packages/compiler/test/module-resolver/esm/resolve-package-target.test.ts
  packages/compiler/test/module-resolver/module-resolver.test.ts
  packages/compiler/test/module-resolver/utils.test.ts
  packages/playground/src/react/playground.tsx
Labels: compiler:core

#4500 Update decorator arg marshalling to new default
  .chronus/changes/decorator-arg-marshalling-new-default-2024-8-23-14-22-52.md
  .chronus/changes/decorator-arg-marshalling-new-default-2024-8-23-21-44-3.md
  docs/extending-typespec/basics.md
  packages/compiler/src/core/binder.ts
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/js-marshaller.ts
  packages/compiler/src/core/types.ts
  packages/compiler/test/checker/decorators.test.ts
  packages/compiler/test/checker/relation.test.ts
  packages/compiler/test/checker/values/utils.ts
  packages/json-schema/src/lib.ts
  packages/json-schema/test/extension.test.ts
  packages/samples/package.json
  packages/tspd/test/gen-extern-signature/decorators-signatures.test.ts
  pnpm-lock.yaml
Labels: compiler:core

#4617 Add missing setter to PropertySerializationName property
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Customization/src/CodeGenSerializationAttribute.cs
Labels: emitter:client:csharp

#4445 Project source models
  .chronus/changes/fix-project-source-models-2024-8-13-15-15-44.md
  packages/compiler/src/core/projector.ts
  packages/compiler/test/projection/projector-identity.test.ts
Labels: compiler:core

#4618 Add tests for replacing serialization methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceDeserializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceDeserializationMethod/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceSerializationMethod/MockInputModel.cs
Labels: emitter:client:csharp

#4625 Construct correct Namespace for Classifier2xxAnd4xxDefinition
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Classifier2xxAnd4xxDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Definitions/Classifier2xxAnd4xxDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Definitions/TestData/Classifier2xxAnd4xxDefinitionTests/TestGetTypeCustomNamespace/TestGetTypeCustomNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#4564 onboard Sever/Path/Single
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Server/Path/Single/SingleTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/Server.Path.Single.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/src/Generated/SingleClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/src/Generated/SingleClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/src/Server.Path.Single.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/tspCodeModel.json
Labels: emitter:client:csharp

#4630 Remove virtual keyword from struct serial methods & Return Default For Null Elements
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DeserializationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DeserializationTests/DeserializeStruct.cs
Labels: emitter:client:csharp

#4449 refactor(http-client-csharp): do not flatten property in emitter
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelPropertyConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4653 Update STJ version
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/NewProjectScaffolding.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/src/Authentication.ApiKey.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/src/Authentication.Http.Custom.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/src/Authentication.OAuth2.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/src/Authentication.Union.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Client.Naming.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Client.Structure.Service.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Encode.Bytes.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Encode.Datetime.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Encode.Duration.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Parameters.Basic.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/src/Parameters.Spread.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/src/Payload.MediaType.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/src/Payload.MultiPart.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Payload.Xml.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/single/src/Server.Path.Single.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/src/Server.Versions.NotVersioned.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/_Type._Array.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/_Type.Dictionary.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/src/_Type._Enum.Extensible.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/src/_Type._Enum.Fixed.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/_Type.Model.Empty.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/src/_Type.Model.Inheritance.EnumDiscriminator.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/src/_Type.Model.Inheritance.SingleDiscriminator.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/_Type.Model.Usage.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/src/_Type.Property.AdditionalProperties.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/_Type.Property.Nullable.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/src/_Type.Property.Optional.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/src/_Type.Property.ValueTypes.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/_Type.Scalar.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/_Type.Union.csproj
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/UnbrandedTypeSpec.csproj
Labels: emitter:client:csharp

#4642 Handle nullable parameter types for method suppression
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/NamedTypeSymbolExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/TypeSymbolExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ClientCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ClientCustomizationTests/CanRemoveMethods/MockInputClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ClientCustomizationTests/DoesNotRemoveMethodsThatDoNotMatch/MockInputClient.cs
Labels: emitter:client:csharp

#4643 Support customizing model factory accessibility
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/PostProcessing/PostProcessor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanChangeAccessibilityOfModelFactory/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ClientCustomizationTests.cs
Labels: emitter:client:csharp

#4656 Fix virtual path playground
  .chronus/changes/fix-virtual-path-playground-2024-9-9-10-21-58.md
  .chronus/changes/fix-virtual-path-playground-2024-9-9-10-47-42.md
  packages/playground/src/react/playground.tsx
Labels: ui:playground

#4646 Make metadatareferences additive
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubLibraryPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
Labels: emitter:client:csharp

#4659 Fix parameter matching for reference types where the CSharpType is nullable
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ClientCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ClientCustomizationTests/CanRemoveMethods/MockInputClient.cs
Labels: emitter:client:csharp

#4527 implement apiversion parameter
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4652 pin ts-apigen version to 1.0.7
  eng/emitters/scripts/Generate-APIView-CodeFile.ps1
Labels: eng

#4572 http-client-java, new data boundary client to resources lib
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/examplemodel/FluentClientMethodExample.java
Labels: emitter:client:java

#4648 [http-client-python] Fix ci to make sure generated SDK code pass lint check
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/eng/scripts/ci/run_pyright.py
  packages/http-client-python/eng/scripts/ci/util.py
  packages/http-client-python/generator/pygen/codegen/templates/keywords.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
  packages/http-client-python/package.json
Labels: emitter:client:python

#4671 http-client-java, upgrade to typespec compiler 0.61
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedServiceIdentityType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/cadl/armresourceprovider/models/ManagedServiceIdentityType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/DifferentSpreadFloatRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/DifferentSpreadModelArrayRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/DifferentSpreadModelRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/DifferentSpreadStringRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsFloatAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsModelAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsModelArrayAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsStringAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsFloatAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsModelAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsModelArrayAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsStringAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/MultipleSpreadRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadFloatRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadModelRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForDiscriminatedUnion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion2.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion3.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForUnion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/property/additionalproperties/models/SpreadStringRecord.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4678 fix upload bundler packages script
  eng/tsp-core/scripts/upload-bundler-packages.js
Labels: eng

#4681 add missing packages to upload-bundler
  eng/tsp-core/scripts/upload-bundler-packages.js
  packages/playground-website/package.json
  packages/playground-website/src/config.ts
  pnpm-lock.yaml
Labels: eng

#4688 http-client-java, upgrade tcgc to 0.47.1
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4382 http-client-java, report TCGC diagnostics
  packages/http-client-java/emitter/src/code-model-builder.ts
Labels: emitter:client:java

#4697 Fix: Resolving self module keeps looking up
  .chronus/changes/fix-resolve-self-recursive-2024-9-11-9-8-33.md
  packages/compiler/src/module-resolver/module-resolver.ts
  packages/compiler/test/module-resolver/module-resolver.test.ts
Labels: compiler:core

#4682 Don't generate prop if custom prop exists in base
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanSerializeCustomPropertyFromBase/BaseModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForPropertyInBase.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForPropertyInBase/BaseModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/DoesNotGenerateCustomPropertyFromBase/BaseModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/DoesNotGenerateExistingProperty/MockInputModel.cs
Labels: emitter:client:csharp

#4701 Fix playground bundle package list in release branch
  eng/tsp-core/scripts/upload-bundler-packages.js
Labels: eng

#4696 Suppress algolia key warning
  eng/common/CredScanSuppression.json
Labels: eng

#4692 [python] bump dependencies and version
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_server_versions_not_versioned_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_server_versions_not_versioned.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4709 http-client-java, eng, update jar and cadl-ranch
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/TemplatedAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/TemplatedClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/TemplatedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/implementation/TemplatedClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/models/Float32Type.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/models/Float32ValuesType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/models/Int32Type.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/models/Int32ValuesType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/templated/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/RemovedAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/RemovedClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/RemovedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/RemovedServiceVersion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/implementation/RemovedClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/models/EnumV3.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/versioning/removed/models/ModelV3.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/type-model-templated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/versioning-removed_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/type-model-templated.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/routes/RouteTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/type/model/templated/TemplatedTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/type/model/templated/generated/TemplatedClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/versioning/removed/RemovedClientTests.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4719 Fix editor dark theme
  .chronus/changes/fix-editor-dark-theme-2024-9-14-8-3-1.md
  packages/playground/src/react/editor.tsx
  packages/playground/src/react/playground.tsx
  packages/playground/src/services.ts
Labels: ui:playground

#4712 Add canonical view and fix customized struct serialization
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanReplaceStructMethod(False)/CanReplaceStructMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanReplaceStructMethod(True)/CanReplaceStructMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(int32).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(int32)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(string).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(string)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/MemberExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/TypeSymbolExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/CanonicalTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestNamedSymbol.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestPropertyType.cs
Labels: emitter:client:csharp

#4722 Additional fixes for custom nullable types
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/TypeSymbolExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangePropertyTypeToEnum/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
Labels: emitter:client:csharp

#4734 Ensure customized properties are included in full constructor
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
Labels: emitter:client:csharp

#4716 [http-client-python] Fix deserialization subtype
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4718 remove postprocess script
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/templates/init.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/keywords.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_init.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/operations_folder_init.py.jinja2
  packages/http-client-python/generator/pygen/postprocess/__init__.py
  packages/http-client-python/generator/pygen/postprocess/get_all.py
  packages/http-client-python/generator/pygen/postprocess/venvtools.py
Labels: emitter:client:python

#4732 Configure api extractor for json schema and add docs and refactor
  .chronus/changes/json-schema-api-extractor-2024-9-14-22-42-24.md
  packages/json-schema/api-extractor.json
  packages/json-schema/package.json
  packages/json-schema/src/decorators.ts
  packages/json-schema/src/index.ts
  packages/json-schema/src/json-schema-emitter.ts
  packages/json-schema/src/lib.ts
  packages/json-schema/src/on-emit.ts
  packages/json-schema/src/testing/index.ts
  packages/json-schema/src/tsp-index.ts
  packages/json-schema/src/utils.ts
  packages/json-schema/test/extension.test.ts
  packages/json-schema/test/utils.ts
  packages/json-schema/tsconfig.json
Labels: emitter:json-schema

#4745 Improve diagnostics when fails to load js
  .chronus/changes/improve-js-load-error-2024-9-15-18-0-27.md
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/source-loader.ts
  packages/compiler/src/core/types.ts
  packages/compiler/test/core/linter.test.ts
  packages/compiler/test/e2e/scenarios/import-library-js-error/.gitignore
  packages/compiler/test/e2e/scenarios/import-library-js-error/main.tsp
  packages/compiler/test/e2e/scenarios/import-library-js-error/node_modules/my-lib/index.js
  packages/compiler/test/e2e/scenarios/import-library-js-error/node_modules/my-lib/package.json
  packages/compiler/test/e2e/scenarios/scenarios.e2e.ts
Labels: compiler:core

#4754 [http-client-python] release for 0.3.2
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4755 update ownership for IDE related code
  .github/CODEOWNERS
Labels: eng

#4746 Support serializing fields
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyUsingField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyUsingField/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(int32,1).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(int32,1)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(string,foo).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(string,foo)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizePropertyUsingField(False)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizePropertyUsingField(True)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizePropertyUsingField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
Labels: emitter:client:csharp

#4631 Python/fix pylint
  packages/http-client-python/.vscode/launch.json
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/eng/scripts/ci/pylintrc
  packages/http-client-python/eng/scripts/ci/run_pylint.py
  packages/http-client-python/generator/pygen/black.py
  packages/http-client-python/generator/pygen/codegen/models/client.py
  packages/http-client-python/generator/pygen/codegen/models/model_type.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/model_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/keywords.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_container.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4687 Set publish to internal for non-main branch trigger
  packages/http-client-csharp/eng/pipeline/publish.yml
Labels: emitter:client:csharp

#4691 support apiVersion as path parameter
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Server/Path/Multiple/MultipleTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/Server.Path.Multiple.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/src/Generated/MultipleClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/src/Generated/MultipleClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/src/Server.Path.Multiple.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/path/multiple/tspCodeModel.json
Labels: emitter:client:csharp

#4693 build(deps): bump tsp 0.61.2
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Generated/Models/ClientType.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/enum-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/additional-properties/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4770 http-client-java, update test to fill exact param
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/_specs_/azure/clientgenerator/core/access/AccessTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/authentication/apikey/ApiKeyTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/routes/RouteTests.java
Labels: emitter:client:java

#4741 http-client-java, remove logics that uses raw_lro_meta_data
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/operation-utils.ts
  packages/http-client-java/emitter/src/type-utils.ts
Labels: emitter:client:java

#4760 [http-client-python] use wire name for paging item name and next link name when dpg model
  packages/http-client-python/emitter/src/http.ts
Labels: emitter:client:python

#4766 Support Customizing Discriminator Types as Fixed Enums
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/DiscriminatorTests/CanCustomizeDiscriminator/Pet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/DiscriminatorTests/ModelWithCustomExtensibleEnumDiscriminator/Pet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/DiscriminatorTests/ModelWithCustomFixedEnumDiscriminator/Pet.cs
Labels: emitter:client:csharp

#4750 Update JS API parser version
  eng/emitters/scripts/Generate-APIView-CodeFile.ps1
Labels: eng

#4731 Add support for Record<T> in tspd
  packages/tspd/src/gen-extern-signatures/decorators-signatures.ts
  packages/tspd/test/gen-extern-signature/decorators-signatures.test.ts
Labels: tspd

#4781 Respect usage for properties
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithAttributes.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEncodedNames.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithOptionalField.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedFields.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithText.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/SimpleModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/inheritance/single-discriminator/src/Generated/Models/Dinosaur.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/OutputRecord.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/BytesProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsByteProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsModelProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/InnerModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/StringProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse1.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse2.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse3.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse4.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse5.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse6.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse7.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse8.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/src/Generated/Models/GetResponse9.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.cs
Labels: emitter:client:csharp

#4788 http-client-java, eng, bump npm packages
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/azure/resourcemanager/commonproperties/ManagedIdentityManagerTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/azure/resourcemanager/resources/ArmResourceTest.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/com/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/tsp/nested-enum-discriminator.tsp
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#4791 [http-client-csharp] Fix: remove duplicate 'Client' suffix in subclients
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanRenameSubClient/CanRenameSubClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/SubClientWithMultipleSubClients.cs
Labels: emitter:client:csharp

#4787 Use IEnumerable for list parameters in client methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ParameterProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Header.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Query.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Header.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Query.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Header.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Query.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/BooleanValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/DatetimeValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/DurationValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Float32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Int32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Int64Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/ModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableBooleanValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableFloatValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableInt32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableStringValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/StringValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/UnknownValue.cs
Labels: emitter:client:csharp

#4789 [http-client-python] fix for mypy
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/serializers/operations_init_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/init.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_init.py.jinja2
  packages/http-client-python/package.json
Labels: emitter:client:python

#4808 Generate raw data field as readonly
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyUsingField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModelAsStruct.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
Labels: emitter:client:csharp

#4795 [http-client-csharp] Fix: allow suppressing & replacing fields
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanRemoveCachingField/CanRemoveCachingField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanRemoveField/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanReplaceField/MockInputModel.cs
Labels: emitter:client:csharp

#4809 [http-client-csharp] Fix: remove setters for props in readonly structs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModelAsStruct.cs
Labels: emitter:client:csharp

#4812 Fix serialization of properties customized to be framework types
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFieldFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFieldFrameworkType/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFrameworkType/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
Labels: emitter:client:csharp

#4823 [http-client-csharp] fix: use inputmodel name as default name in serialization provider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeModelName/CustomModel.cs
Labels: emitter:client:csharp

#4828 Fix bug in customizing URI property
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeUriProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeUriProperty/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/TypeSymbolExtensions.cs
Labels: emitter:client:csharp

#4814 onboard client-operation-group
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Client/Structure/ClientOperationGroup/ClientOperationGroupTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/Client.Structure.Service.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Client.Structure.Service.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/FirstClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/FirstClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/Group3.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/Group4.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/Group5.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/Models/ClientType.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/SubNamespaceSecondClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/src/Generated/SubNamespaceSecondClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/client-operation-group/tspCodeModel.json
Labels: emitter:client:csharp

#4737 [vs-code-extension] add basic snippets for typespec
  .chronus/changes/vs-code-extension-typespec-snippets-2024-9-15-11-2-20.md
  packages/typespec-vscode/.vscodeignore
  packages/typespec-vscode/package.json
  packages/typespec-vscode/snippets.json
Labels: ide

#4839 Make AsParameter property not cache Type
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/FieldProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
Labels: emitter:client:csharp

#4848 Support customizing to abstract
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeModelToAbstract/MockInputModel.cs
Labels: emitter:client:csharp

#4829 Update assignment of Json ReadOnlyMemory Property
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/ReadOnlyMemPropertyType.cs
Labels: emitter:client:csharp

#4850 [http-client-csharp] Fix: Properly handle property wire nullability during deserialization
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DeserializationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DeserializationTests/DeserializeStruct.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFieldFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeFixedEnumString.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeNullableStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeUriProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeDictionaryToBinaryData.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertySerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeToNonNullableProp/Model.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(int32).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(string).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(int32,1).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(string,foo).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizePropertyUsingField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForRenamedProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceSerializationMethod.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#4853 Remove obsolete method description in MRW provider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
Labels: emitter:client:csharp

#4866 [http-client-csharp] Fix: add support for 201 classifier
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp

#4870 [http-client-csharp] fix: handle collections of custom extensible enums
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeListOfEnumPropToListOfExtensibleEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeListOfEnumPropToListOfExtensibleEnum/Model.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeArrayOfEnumPropToArrayOfExtensibleEnum/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeDictOfEnumPropToDictOfExtensibleEnum/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeListOfEnumPropToListOfExtensibleEnum/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeListOfEnumPropToListOfExtensibleEnumField/MockInputModel.cs
Labels: emitter:client:csharp

#4876 Changes to support modifying methods via plugin
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ExpressionStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/ForeachStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/IfStatement.cs
Labels: emitter:client:csharp

#4874 Update JS API parser version to 2.0.3
  eng/emitters/scripts/Generate-APIView-CodeFile.ps1
Labels: eng

#4871 Allow mutating namespaces
  .chronus/changes/feature-mutate-namespaces-2024-9-25-18-56-31.md
  packages/compiler/src/experimental/mutators.ts
  packages/compiler/src/experimental/typekit/kits/type.ts
  packages/compiler/test/experimental/mutator.test.ts
Labels: compiler:core

#4899 [python] Update cadl ranch
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_arm_commonproperties_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_arm_resource_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_client_generator_core_access_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_arm_commonproperties.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_arm_resource.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_client_generator_core_access.py
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_authentication_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_authentication.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#4888 [http-client-csharp] fix: incorrect discriminator value in modelfactory
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/DiscriminatorTests.cs
Labels: emitter:client:csharp

#4900 Do not initialize ReadOnlyMemory in model factory methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
Labels: emitter:client:csharp

#4880 onboard two-operation-group
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Client/Structure/TwoOperationGroup/TwoOperationGroupTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/Client.Structure.Service.TwoOperationGroup.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/src/Client.Structure.Service.TwoOperationGroup.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/src/Generated/Group1.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/src/Generated/Group2.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/src/Generated/Models/ClientType.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/src/Generated/TwoOperationGroupClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/src/Generated/TwoOperationGroupClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/two-operation-group/tspconfig.yaml
Labels: emitter:client:csharp

#4790 Support completion for tspconfig.yaml file in vscode
  .chronus/changes/tspconfig-auto-complete-2024-9-18-13-48-34.md
  packages/compiler/src/config/config-schema.ts
  packages/compiler/src/server/emitter-provider.ts
  packages/compiler/src/server/npm-package-provider.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/tspconfig/completion.ts
  packages/compiler/src/server/yaml-resolver.ts
  packages/compiler/src/testing/test-host.ts
  packages/compiler/src/testing/types.ts
  packages/compiler/src/utils/misc.ts
  packages/compiler/test/server/completion.tspconfig.test.ts
  packages/compiler/test/server/workspace/.gitignore
  packages/compiler/test/server/workspace/node_modules/fake-emitter-no-schema/lib/index.js
  packages/compiler/test/server/workspace/node_modules/fake-emitter-no-schema/package.json
  packages/compiler/test/server/workspace/node_modules/fake-emitter/lib/index.js
  packages/compiler/test/server/workspace/node_modules/fake-emitter/package.json
  packages/compiler/test/server/workspace/node_modules/fake-yaml/lib/index.js
  packages/compiler/test/server/workspace/node_modules/fake-yaml/package.json
  packages/compiler/test/server/workspace/package.json
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/utils.ts
  pnpm-lock.yaml
Labels: ide

#4919 Fix binary content implicit cast
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFieldFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeFixedEnumString.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeNullableStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeUriProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeDictionaryToBinaryData.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeListOfEnumPropToListOfExtensibleEnum.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyNameAndRedefineOriginal.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertySerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(int32).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(string).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(int32,1).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(string,foo).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizePropertyUsingField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForPropertyInBase.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForRenamedProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceDeserializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/ReadOnlyMemPropertyType.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#4922 Don't check for null for structs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/MrwSerializationTypeDefinitionTests/TestBuildImplicitToBinaryContent(False).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/MrwSerializationTypeDefinitionTests/TestBuildImplicitToBinaryContent(True).cs
Labels: emitter:client:csharp

#4921 [http-client-csharp] fix: use correct custom ctor in model factory
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactories/TestData/ModelFactoriesCustomizationTests/CanCustomizeModelFullConstructor/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#4816 Update ClientPipelineApi, HttpMessageApi abstraction
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/ClientPipelineApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/HttpMessageApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/HttpRequestApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Abstractions/ValueExpressionExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/PipelineMessageProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/PipelineRequestProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/HttpMessageApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/TestData/ClientPipelineApiTests/ValidateBodyOfRestClientOperationIsOverridden.cs
Labels: emitter:client:csharp

#4912 Restart Typespec Language Server when it's not started before or settings changed
  .chronus/changes/vscode-restart-lsp-2024-9-30-20-29-32.md
  .chronus/changes/vscode-restart-lsp-2024-9-31-11-4-2.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/rollup.config.ts
  packages/typespec-vscode/src/const.ts
  packages/typespec-vscode/src/extension-logger.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/log/console-log-listener.ts
  packages/typespec-vscode/src/log/extension-log-listener.ts
  packages/typespec-vscode/src/log/logger.ts
  packages/typespec-vscode/src/log/typespec-log-output-channel.ts
  packages/typespec-vscode/src/task-provider.ts
  packages/typespec-vscode/src/tsp-executable-resolver.ts
  packages/typespec-vscode/src/tsp-language-client.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-variable-resolver.ts
  packages/typespec-vscode/src/web/extension.ts
  packages/typespec-vscode/test/unit/extension.test.ts
  packages/typespec-vscode/test/web/data/basic.tsp
  packages/typespec-vscode/test/web/suite.ts
  packages/typespec-vscode/test/web/web.test.ts
  packages/typespec-vscode/vitest.config.ts
Labels: ide

#4930 Fix check for determining if abstract serialization method is needed
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
Labels: emitter:client:csharp

#4932 generated uri template include explode * for query params
  .chronus/changes/fix-uri-template-query-2024-9-31-11-37-3.md
  packages/http/src/route.ts
  packages/http/test/routes.test.ts
Labels: lib:http

#4727 Use allof when building nullable enum
  .chronus/changes/fix-openapi3-nullable-enum-allof-2024-9-14-20-57-59.md
  packages/openapi3/src/schema-emitter.ts
  packages/openapi3/test/nullable-properties.test.ts
  packages/openapi3/test/union-schema.test.ts
Labels: emitter:openapi3
