Repository microsoft/typespec, pull requests merged in 2024-08, with the labels that each got.

#4068 Add new project scaffolding
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/NewProjectScaffolding.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/CommandLineOptions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/PluginHandler.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CSProjWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/StartUp/PluginHandlerTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/Directory.Build.props
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/Authentication.ApiKey.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/src/Authentication.ApiKey.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/Authentication.Http.Custom.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/src/Authentication.Http.Custom.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/Authentication.OAuth2.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/src/Authentication.OAuth2.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/Authentication.Union.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/src/Authentication.Union.csproj
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/UnbrandedTypeSpec.sln
Labels: emitter:client:csharp

#3922 bump TCGC version to 0.44.3
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProviderSerializationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDateTimeType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDurationType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputPrimitiveTypeKind.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputConstantConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDateTimeTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDurationTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputPrimitiveTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/CodeWriterBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewInstanceExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4069 Properly Generate Variables of Reference Types
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/VariableExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CodeWriterDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/VariableExpressionTests.cs
Labels: emitter:client:csharp

#4072 Update cadl ranch name to differ from language short name
  eng/emitters/pipelines/templates/jobs/test-job.yml
  eng/emitters/pipelines/templates/stages/emitter-stages.yml
  eng/emitters/pipelines/templates/steps/test-step.yml
  packages/http-client-csharp/eng/pipeline/publish.yml
Labels: eng

#4075 Float for preview of next two releases for peer dependencies
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4076 Fix playground in the website in pr try it links
  eng/tsp-core/pipelines/pr-tools.yml
Labels: eng, meta:website

#4078 Add ability to turn of xml docs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Tests/TestData/ConfigurationTests/DisableDocsForType.cs
Labels: emitter:client:csharp

#4067 Add pre-visit APIs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubLibraryPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ExtensibleEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/RoundTripStrategy.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProviderSerializationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationConstructorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/PersistableModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/Configuration.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/TestClientTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/TestPipelineResponse.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/TestResponseHeaders.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewInstanceExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/PluginTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/SamplePlugin/src/OutputTypes/SamplePluginLibraryVisitor.cs
  packages/http-client-csharp/generator/SamplePlugin/src/SampleCodeModelPlugin.cs
  packages/http-client-csharp/generator/SamplePlugin/src/SamplePluginTypeFactory.cs
Labels: emitter:client:csharp

#4056 Test case for setInfo() function for setting info object directly
  packages/openapi/test/decorators.test.ts
Labels: lib:openapi

#4023 Warn when using windows style path separator
  .chronus/changes/path-unix-style-2024-6-25-15-13-16.md
  packages/compiler/src/config/config-loader.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/schema-validator.ts
  packages/compiler/test/core/emitter-options.test.ts
Labels: compiler:core

#4050 Fix namespace in blockless namespace with same name
  .chronus/changes/fix-namespace-in-blockless-2024-6-30-10-29-59.md
  .chronus/changes/fix-namespace-in-blockless-2024-6-30-10-31-17.md
  packages/compiler/src/core/binder.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/test/binder.test.ts
Labels: breaking-change, triaged:core, compiler:core

#3558 Updates extension decorator to support value kinds and adds setExtension API to json-schema emitter
  .chronus/changes/json-schema-extension-values-2024-6-16-9-43-39.md
  docs/emitters/json-schema/reference/decorators.md
  packages/json-schema/README.md
  packages/json-schema/generated-defs/TypeSpec.JsonSchema.ts
  packages/json-schema/lib/main.tsp
  packages/json-schema/src/index.ts
  packages/json-schema/src/json-schema-emitter.ts
  packages/json-schema/test/extension.test.ts
  packages/json-schema/test/models.test.ts
  packages/json-schema/test/utils.ts
Labels: breaking-change, emitter:json-schema

#4094 Add catch snippet
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/SamplePlugin/src/Providers/SamplePluginMethodProviderCollection.cs
Labels: emitter:client:csharp

#4046 Fix response examples with union not showing up correctly
  .chronus/changes/fix-response-examples-2024-6-29-22-38-45.md
  .chronus/changes/fix-response-examples-2024-6-30-15-26-28.md
  .chronus/changes/fix-response-examples-2024-6-30-15-59-29.md
  .chronus/changes/fix-response-examples-2024-6-30-22-22-9.md
  packages/compiler/src/core/checker.ts
  packages/http/src/http-property.ts
  packages/http/src/index.ts
  packages/http/src/parameters.ts
  packages/http/src/responses.ts
  packages/http/src/types.ts
  packages/http/test/parameters.test.ts
  packages/openapi3/src/examples.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/src/status-codes.ts
  packages/openapi3/src/util.ts
  packages/openapi3/test/examples.test.ts
  packages/openapi3/test/metadata.test.ts
Labels: compiler:core

#4071 Add cross language definition for InputOperation
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/input-operation.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOperation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputOperationConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4099 Add emitter option
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/options.ts
Labels: emitter:client:csharp

#4085 Use collection expression instead of ToArray
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
Labels: emitter:client:csharp

#4101 [http-server-javascript] Some fixes for the petstore example
  .chronus/changes/witemple-msft-hsj-petstore-fixes-2024-7-6-16-28-8.md
  packages/http-server-javascript/src/common/enum.ts
  packages/http-server-javascript/src/http/server/index.ts
Labels: emitter:service:js

#4106 Uri template: Encode reserved chars
  .chronus/changes/fix-uri-template-encode-reserved-char-2024-7-6-18-53-32.md
  packages/http/src/route.ts
  packages/http/test/routes.test.ts
Labels: lib:http

#4070 refactor(http-client-csharp): not use `DefaultValue` to pass literal value of constant parameters
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputParameterConverter.cs
Labels: emitter:client:csharp

#4105 Move CreateMethods to SCM
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/DefaultScmVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
Labels: emitter:client:csharp

#4118 Only default to csv or multi if the type was array
  .chronus/changes/fix-tsp-default-csv1-2024-7-7-14-31-14.md
  packages/http/src/decorators.ts
Labels: lib:http

#4057 Add decorators to InputModelType
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/sdk-context-options.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputDecoratorInfo.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDecoratorInfoConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/Utf8JsonReaderExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/Microsoft.Generator.CSharp.Input.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#3886 update MGC generate script to set tspConfig
  packages/http-client-csharp/eng/scripts/Generation.psm1
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspconfig.yaml
Labels: emitter:client:csharp

#4112 Update emitter docs to include configuration examples
  docs/emitters/json-schema/reference/emitter.md
  docs/emitters/openapi3/reference/emitter.md
  docs/emitters/protobuf/reference/emitter.md
  packages/json-schema/README.md
  packages/openapi3/README.md
  packages/protobuf/README.md
  packages/tspd/src/ref-doc/emitters/markdown.ts
Labels: tspd

#4079 Completes Fixed testcases for EnumProviderSerializationTests
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProviderSerializationTests.cs
Labels: emitter:client:csharp

#4116 Add child client factory methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/ServiceClientWithSubClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/SubClientWithMultipleSubClients.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/SubClientWithSingleSubClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#4125 Fix sample build and rename ScmVisitor to ScmLibraryVisitor
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubLibraryPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/DefaultScmLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/SamplePlugin/src/OutputTypes/SamplePluginLibraryLibraryVisitor.cs
  packages/http-client-csharp/generator/SamplePlugin/src/SampleCodeModelPlugin.cs
  packages/http-client-csharp/generator/SamplePlugin/src/SamplePluginTypeFactory.cs
Labels: emitter:client:csharp

#4092 Add model factory
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/src/Generated/AuthenticationApiKeyModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/src/Generated/AuthenticationHttpCustomModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/src/Generated/AuthenticationOAuth2ModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#4131 Make CodeWriterDeclaration multi scope aware
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CodeWriterDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ArgumentSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/XmlDocParamStatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/XmlDocStatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestCodeWriterDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterDeclarationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/AlreadyDeclaredVariableIsRenamedInScopeWithConflictingName(first).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/AlreadyDeclaredVariableIsRenamedInScopeWithConflictingName(second).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/ScopeDeclaredTwiceForMethodSignatureParam.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/ScopeStoredOnceInSameBlock.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/ScopeStoredTwiceInMultipleBlock.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/ScopeStoredTwiceInNestedBlock.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/ScopeStoredTwiceInSkippedNestedBlock.cs
Labels: emitter:client:csharp

#4136 Fix namespace with the same name conflicting in the tree navigation
  .chronus/changes/fix-playground-namespace-same-name-2024-7-9-16-22-29.md
  packages/html-program-viewer/src/react/use-tree-navigation.tsx
Labels: ui:type-graph-viewer

#4137 Add ctor support in named type symbols provider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviderTests.cs
Labels: emitter:client:csharp

#4121 Test cases for OpentAPI 3
  packages/openapi3/test/parameters.test.ts
  packages/openapi3/test/security.test.ts
  packages/openapi3/test/servers.test.ts
Labels: emitter:openapi3

#4135 Fix numeric 0 stringify producing 0.0
  .chronus/changes/fix-numeric-print-2024-7-9-16-3-25.md
  packages/compiler/src/core/numeric.ts
  packages/compiler/test/core/numeric.test.ts
Labels: compiler:core

#4111 adopt apiVersionEnum which will filter out unnessary apiversions
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/sdk-context-options.ts
Labels: emitter:client:csharp

#4141 Make diagnostic code link to linter rule doc in IDE
  .chronus/changes/lsp-diag-url-2024-7-12-14-53-19.md
  packages/compiler/src/core/linter.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/server/serverlib.ts
Labels: compiler:core

#4143 Move model serialization ctor to model provider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationConstructorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/PersistableModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModelAsStruct.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
Labels: emitter:client:csharp

#4146 Fix expression defined in alias doesn't have namespace assigned
  .chronus/changes/fix-alias-expr-2024-7-12-19-19-19.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/checker/alias.test.ts
Labels: compiler:core

#4147 Fix examples of model with extends
  .chronus/changes/fix-examples-extends-2024-7-12-19-51-31.md
  packages/compiler/src/lib/examples.ts
  packages/compiler/test/decorators/examples.test.ts
Labels: compiler:core

#4145 Fix reference other sub-namespace
  .chronus/changes/fix-reference-sub-namespace-2024-7-12-17-42-19.md
  packages/versioning/src/validate.ts
  packages/versioning/test/versioned-dependencies.test.ts
Labels: lib:versioning

#4064 Update resolution of options for formatting command in extension
  .chronus/changes/fix-stop-respecting-vscode-space-config-2024-6-31-22-23-57.md
  docs/handbook/formatter.md
  packages/compiler/src/server/serverlib.ts
Labels: compiler:core

#4148 Add hyperlinks to diagnostic documentation url
  .chronus/changes/feature-cli-hyperlinks-2024-7-12-20-48-20.md
  packages/compiler/src/core/diagnostics.ts
  packages/compiler/src/core/linter.ts
  packages/compiler/src/core/logger/console-sink.ts
  packages/compiler/src/core/logger/support-hyperlinks.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/server/serverlib.ts
Labels: compiler:core

#4149 tsp-openapi3 improve conversion of OpenAPI3 component schemas into TypeSpec data types
  .chronus/changes/tsp-openapi3-improve-schemas-conversion-2024-7-12-12-55-34.md
  packages/openapi3/src/cli/actions/convert/generators/generate-main.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-model.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-namespace.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-types.ts
  packages/openapi3/src/cli/actions/convert/interfaces.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-component-parameters.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-component-schemas.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-namespaces.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-operation-responses.ts
  packages/openapi3/src/cli/actions/convert/utils/decorators.ts
  packages/openapi3/test/tsp-openapi3/data-types.test.ts
  packages/openapi3/test/tsp-openapi3/utils/tsp-for-openapi3.ts
Labels: openapi3:converter

#4081 Do not register typespec lsp in playground
  .chronus/changes/fix-playground-reregistering-lsp-2024-7-2-15-43-22.md
  packages/playground/src/services.ts
Labels: ui:playground

#4154 Add capability to use different types for enums on protocol vs convenience
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/CSharpTypeSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateQueryParamWriterDiff.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ParameterProviderTests.cs
Labels: emitter:client:csharp

#4156 Fix assert validation logic for intput parameters
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ParameterProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#4160 Set content if there is one
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/PipelineRequestSnippets.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp

#4162 Add converage for http/client/naming
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputClientConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Client/Naming/NamingTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/Client.Naming.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Client.Naming.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/ClientModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/ClientNamingModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/CSModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/CSModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientNameAndJsonEncodedNameModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientNameAndJsonEncodedNameModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientNameModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ClientNameModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/ExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/LanguageClientNameModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/Models/LanguageClientNameModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/NamingClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/NamingClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/src/Generated/UnionEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
Labels: emitter:client:csharp

#4140 Add BuildFields to NamedTypeSymbolProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviderTests.cs
Labels: emitter:client:csharp

#4134 Bump version for TSP and TCGC
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/Payload.Xml.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithArrayOfModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithAttributesValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithDictionaryValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithEmptyArrayValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithEncodedNamesValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithOptionalFieldValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithRenamedArraysValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithRenamedFieldsValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithSimpleArraysValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithTextValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/ModelWithUnwrappedArrayValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithArrayOfModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithArrayOfModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithAttributes.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithAttributes.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithDictionary.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithDictionary.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEmptyArray.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEmptyArray.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEncodedNames.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithEncodedNames.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithOptionalField.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithOptionalField.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedArrays.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedArrays.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedFields.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithRenamedFields.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithSimpleArrays.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithSimpleArrays.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithText.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithText.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithUnwrappedArray.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/ModelWithUnwrappedArray.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/SimpleModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/Models/SimpleModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/PayloadXmlModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/SimpleModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/XmlClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Generated/XmlClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/src/Payload.Xml.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4164 Fix endpoint handling
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
Labels: emitter:client:csharp

#4157 Fix regression using dep
  .chronus/changes/fix-regression-using-dep-2024-7-13-2-12-20.md
  packages/versioning/src/validate.ts
  packages/versioning/test/versioned-dependencies.test.ts
Labels: lib:versioning

#4168 Fix: OpenAPI3 params are explode: true by default
  .chronus/changes/fix-openapi-explode-query-false-2024-7-13-16-6-10.md
  .github/workflows/consistency.yml
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/metadata.test.ts
  packages/openapi3/test/parameters.test.ts
  packages/openapi3/test/shared-routes.test.ts
Labels: emitter:openapi3

#4173 Fix: Revert unix style warning
  .chronus/changes/fix-revert-unix-path-warning-2024-7-13-17-50-15.md
  packages/compiler/src/config/config-loader.ts
  packages/compiler/src/core/schema-validator.ts
  packages/compiler/test/core/emitter-options.test.ts
Labels: compiler:core

#4176 Merge compiler 0.59.1 hotfix back into main
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/compiler/src/config/config-loader.ts
  packages/compiler/src/core/schema-validator.ts
  packages/compiler/templates/scaffolding.json
  packages/compiler/test/core/emitter-options.test.ts
Labels: compiler:core

#4177 Update NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviderTests.cs
Labels: emitter:client:csharp

#4172 add label for python emitter
  .github/policies/issues.triage.generated.yml
  .github/policies/prs.triage.generated.yml
  eng/common/config/area.ts
  eng/common/config/labels.ts
Labels: eng

#4181 Http client structure multi client
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/CSharpTypeSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/ConstructorInitializer.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/ParameterLocation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Shared/Conversions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ConstructorProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/TestData/ConstructorProviderTests/ValidateScope.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Client/Structure/MultiClient/MultiClientTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/Client.Structure.Service.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Client.Structure.Service.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Generated/ClientAClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Generated/ClientAClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Generated/ClientBClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Generated/ClientBClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/src/Generated/Models/ClientType.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/tspCodeModel.json
Labels: emitter:client:csharp

#4174 Add encode bytes coverage
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientUriBuilderSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/PipelineRequestSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Encode/Bytes/EncodeBytesTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/BinaryDataAssert.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/Encode.Bytes.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Encode.Bytes.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/BytesClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/BytesClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/EncodeBytesModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Header.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/Base64BytesProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/Base64BytesProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/Base64urlArrayBytesProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/Base64urlArrayBytesProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/Base64urlBytesProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/Base64urlBytesProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/DefaultBytesProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Models/DefaultBytesProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Property.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/Query.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/RequestBody.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/src/Generated/ResponseBody.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4184 Bump version for TCGC
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#3905 Emit decorator list
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/input-client.ts
  packages/http-client-csharp/emitter/src/type/input-enum-type-value.ts
  packages/http-client-csharp/emitter/src/type/input-model-property.ts
  packages/http-client-csharp/emitter/src/type/input-operation.ts
  packages/http-client-csharp/emitter/src/type/input-parameter.ts
  packages/http-client-csharp/emitter/test/Unit/emit-decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputEnumTypeValue.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputNullableType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOperation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputParameter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputArrayTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputClientConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDateTimeTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDecoratorInfoConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDictionaryTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputDurationTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeValueConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputLiteralTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelPropertyConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputNullableTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputOperationConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputParameterConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputPrimitiveTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputUnionTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/naming/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/client/structure/multi-client/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/bytes/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/xml/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4188 Update ModelFactory List/Dictionary Instantiation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#4194 bump tcgc version to `0.45.3`
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#4200 onboard non-versioned cadl-ranch test project
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Server/Versions/NotVersioned/NotVersionedTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/Server.Versions.NotVersioned.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/src/Generated/NotVersionedClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/src/Generated/NotVersionedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/src/Server.Versions.NotVersioned.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/server/versions/not-versioned/tspCodeModel.json
Labels: emitter:client:csharp

#4191 Input type factory
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientOptionsProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProviderSerializationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/PersistableModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/TestClientTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.sln
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewInstanceExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ParameterProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModelAsStruct.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/Microsoft.Generator.CSharp.Tests.Common.csproj
Labels: emitter:client:csharp

#4203 Handle repeatability header params in client
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/RestClientProviderTests/ValidateClientWithSpecialHeaders.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#4209 Http payload media type
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Payload/MediaType/MediaTypeTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/Payload.MediaType.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/src/Generated/MediaTypeClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/src/Generated/MediaTypeClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/src/Generated/StringBody.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/src/Payload.MediaType.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/media-type/tspCodeModel.json
Labels: emitter:client:csharp

#4211 Content helper
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/BinaryContentHelperDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Utf8JsonBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/Utf8JsonBinaryContentSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/Utf8JsonWriterSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/LongSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/BinaryContentHelper.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/Utf8JsonBinaryContent.cs
Labels: emitter:client:csharp

#4212 Http type array
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/BinaryContentHelperDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/BinaryContentHelperSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/JsonSerializerOptionsSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/BinaryDataSnippets.cs
  packages/http-client-csharp/generator/Packages.Data.props
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/_Array/ArrayTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/CadlRanchTestAttribute.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/_Type._Array.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/ArrayClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/ArrayClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/BooleanValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/DatetimeValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/DurationValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Float32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Int32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Int64Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/ModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Models/InnerModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/Models/InnerModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableBooleanValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableFloatValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableInt32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/NullableStringValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/StringValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/TypeArrayModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/Generated/UnknownValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/src/_Type._Array.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/array/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/BinaryContentHelper.cs
Labels: emitter:client:csharp

#4217 Visitor fixes
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
Labels: emitter:client:csharp

#4221 Add enclosingType to InputModelProperty
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelProperty.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/test/InputModelTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/test/Microsoft.Generator.CSharp.Input.Tests.csproj
Labels: emitter:client:csharp

#4223 Add http/type/scalar
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/BinaryContentHelperSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Payload/MediaType/MediaTypeTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Scalar/ScalarTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/_Type.Scalar.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/Boolean.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/Decimal128Type.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/Decimal128Verify.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/DecimalType.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/DecimalVerify.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/ScalarClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/ScalarClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/String.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/Generated/Unknown.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/src/_Type.Scalar.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/scalar/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#4204 refinement to the type cache in dotnet emitter
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/type/sdk-type-map.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
Labels: emitter:client:csharp

#4199 Add support for spread of aliases & models
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/ParameterLocation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Shared/Conversions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#4234 Add support for http/type/enum/extensible
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/_Enum/Extensible/ExtensibleTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/_Type._Enum.Extensible.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/src/Generated/ExtensibleClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/src/Generated/ExtensibleClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/src/Generated/Models/DaysOfWeekExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/src/Generated/String.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/src/_Type._Enum.Extensible.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/extensible/tspCodeModel.json
Labels: emitter:client:csharp

#4231 Add EnclosingType property to output types
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientUriBuilderDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ErrorResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ExtensibleEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Utf8JsonBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ConstructorProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/IndexPropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
Labels: emitter:client:csharp

#4235 Adopt http/type/enum/fixed
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/_Enum/Fixed/FixedTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/_Type._Enum.Fixed.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/src/Generated/FixedClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/src/Generated/FixedClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/src/Generated/Models/DaysOfWeekEnum.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/src/Generated/String.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/src/_Type._Enum.Fixed.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/enum/fixed/tspCodeModel.json
Labels: emitter:client:csharp

#4236 Adopt http/type/model/empty
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Empty/EmptyTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/_Type.Model.Empty.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/EmptyClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/EmptyClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/Models/EmptyInput.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/Models/EmptyInput.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/Models/EmptyInputOutput.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/Models/EmptyInputOutput.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/Models/EmptyOutput.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/Models/EmptyOutput.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/Generated/TypeModelEmptyModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/src/_Type.Model.Empty.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/empty/tspCodeModel.json
Labels: emitter:client:csharp

#4237 Adopt http/type/model/usage
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Usage/UsageTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/_Type.Model.Usage.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/InputOutputRecord.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/InputOutputRecord.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/InputRecord.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/InputRecord.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/OutputRecord.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/Models/OutputRecord.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/TypeModelUsageModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/UsageClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/Generated/UsageClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/src/_Type.Model.Usage.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/model/usage/tspCodeModel.json
Labels: emitter:client:csharp

#4086 Read examples from TCGC in the emitter
  packages/http-client-csharp/emitter/src/lib/example-converter.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/type/input-examples.ts
  packages/http-client-csharp/emitter/src/type/input-operation.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Labels: emitter:client:csharp

#4241 Adopt http\parameters\basic from cadl ranch
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Parameters/Basic/BasicParametersTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/Parameters.Basic.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/BasicClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/BasicClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/ExplicitBody.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/ImplicitBody.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/Models/SimpleRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/Models/SimpleRequest.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/Models/User.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/Models/User.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Generated/ParametersBasicModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/src/Parameters.Basic.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/tspCodeModel.json
Labels: emitter:client:csharp

#4246 Adopt http\type\dictionary from cadl ranch
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/BinaryContentHelperDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/BinaryContentHelperSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/DictionarySnippets.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Dictionary/DictionaryTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/_Type.Dictionary.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/BooleanValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/DatetimeValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/DictionaryClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/DictionaryClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/DurationValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/Float32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/Int32Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/Int64Value.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/ModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/Models/InnerModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/Models/InnerModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/NullableFloatValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/RecursiveModelValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/StringValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/TypeDictionaryModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/Generated/UnknownValue.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/src/_Type.Dictionary.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/dictionary/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/BinaryContentHelper.cs
Labels: emitter:client:csharp

#4249 Adopt http\type\property\nullable from cadl ranch
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Property/Nullable/NullableTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/_Type.Property.Nullable.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Bytes.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/CollectionsByte.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/CollectionsModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/CollectionsString.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Datetime.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Duration.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/BytesProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/BytesProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsByteProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsByteProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsModelProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsModelProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsStringProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/CollectionsStringProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DatetimeProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DurationProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/DurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/InnerModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/InnerModel.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/StringProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/Models/StringProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/NullableClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/NullableClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/String.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/Generated/TypePropertyNullableModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/src/_Type.Property.Nullable.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/nullable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#4213 implement array as header and query, and format different type to string
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/PipelineRequestHeadersExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/PipelineRequestSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/RestClientProviderTests/ValidateClientWithSpecialHeaders.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Encode/Duration/EncodeDurationTest.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/Encode.Duration.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Encode.Duration.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/DurationClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/DurationClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/EncodeDurationModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Header.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/DefaultDurationProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/DefaultDurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/Float64SecondsDurationProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/Float64SecondsDurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/FloatSecondsDurationArrayProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/FloatSecondsDurationArrayProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/FloatSecondsDurationProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/FloatSecondsDurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/ISO8601DurationProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/ISO8601DurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/Int32SecondsDurationProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Models/Int32SecondsDurationProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Property.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/src/Generated/Query.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/duration/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/PipelineRequestHeadersExtensions.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp

#4252 Adopt http\encode\datetime from cadl ranch
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Encode/DateTime/DateTimeTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/Configuration.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/Encode.Datetime.sln
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Encode.Datetime.csproj
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/DatetimeClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/DatetimeClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/EncodeDatetimeModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Header.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/DefaultDatetimeProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/DefaultDatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/Rfc3339DatetimeProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/Rfc3339DatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/Rfc7231DatetimeProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/Rfc7231DatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/UnixTimestampArrayDatetimeProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/UnixTimestampArrayDatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/UnixTimestampDatetimeProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Models/UnixTimestampDatetimeProperty.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Property.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/Query.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/src/Generated/ResponseHeader.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/encode/datetime/tspCodeModel.json
Labels: emitter:client:csharp

#4186 feat(http-client-csharp): `@encode(string)` support for int types
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/RoundTripModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/TestData/RoundTripModel/RoundTripModel.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/TestData/RoundTripModel/RoundTripModelWireFormat.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/SerializationFormat.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4277 Add support for additional props model property in models
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#4133 Fix Bug for OpenAPI 3 Emitter crash on @useAuth({})
  .chronus/changes/CrashOnunsupported-auth-2024-7-13-17-3-33.md
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/security.test.ts
Labels: emitter:openapi3

#4150 Stop json schema from crashing on unknown scalar
  .chronus/changes/fix-json-schema-crash-unknown-scalar-2024-7-12-22-23-57.md
  packages/json-schema/src/json-schema-emitter.ts
  packages/json-schema/test/built-ins.test.ts
Labels: emitter:json-schema

#4195 new test cases for openAPI 3.0
  packages/openapi3/test/models.test.ts
  packages/openapi3/test/union-schema.test.ts
Labels: emitter:openapi3

#4179 Add validation to make sure operation params reference models available in the current version
  .chronus/changes/fix-validate-op-params-2024-7-13-19-39-34.md
  .chronus/changes/fix-validate-op-params-2024-7-13-19-39-35.md
  packages/versioning/src/validate.ts
  packages/versioning/test/incompatible-versioning.test.ts
Labels: lib:versioning

#4297 Fix regression in validation of operation params versioning not taking operation availability into account
  .chronus/changes/fix-validate-versioning-op-params-take-op-2024-7-29-11-56-35.md
  packages/versioning/src/validate.ts
  packages/versioning/test/incompatible-versioning.test.ts
Labels: lib:versioning

#4299 Do not mutate type stack
  .chronus/changes/fix-type-stack-mutate-2024-7-29-13-18-20.md
  packages/versioning/src/validate.ts
Labels: lib:versioning

#4216 tsp-openapi3 - scope top-level parameters to Parameters namespace
  .chronus/changes/tsp-openapi3-add-context-2024-7-20-9-44-3.md
  packages/openapi3/src/cli/actions/convert/convert-file.ts
  packages/openapi3/src/cli/actions/convert/convert.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-main.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-model.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-namespace.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-operation.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-service-info.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-types.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-component-parameters.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-component-schemas.ts
  packages/openapi3/src/cli/actions/convert/transforms/transforms.ts
  packages/openapi3/src/cli/actions/convert/utils/context.ts
  packages/openapi3/src/cli/actions/convert/utils/generate-namespace-name.ts
  packages/openapi3/test/tsp-openapi3/generate-type.test.ts
  packages/openapi3/test/tsp-openapi3/output/escaped-identifiers/main.tsp
  packages/openapi3/test/tsp-openapi3/output/param-decorators/main.tsp
  packages/openapi3/test/tsp-openapi3/output/playground-http-service/main.tsp
  packages/openapi3/test/tsp-openapi3/parameters.test.ts
  packages/openapi3/test/tsp-openapi3/utils/tsp-for-openapi3.ts
Labels: openapi3:converter

#4304 Fix: Validating cross namespace
  .chronus/changes/fix-versioning-cross-ns-ref-2024-7-29-18-19-44.md
  packages/versioning/src/validate.ts
  packages/versioning/test/versioned-dependencies.test.ts
Labels: lib:versioning
