Repository microsoft/typespec, pull requests merged in 2024-07, with the labels that each got.

#3708 Fix the ordering of `CrossLanguageDefinitionId` in `tspCodeModel.json`
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3711 Add PersistableModel serialization method
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3712 remove singleton
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsProvider.cs
Labels: emitter:client:csharp

#3706 Fix indentation in TryCatchFinallyStatement
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/CatchExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/TryCatchFinallyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/TestData/StatementTests/TryCatchFinallyStatementWithMultipleCatches.cs
Labels: emitter:client:csharp

#3612 fix: typo in the type documentation
  docs/extending-typespec/create-decorators.md
  packages/website/versioned_docs/version-latest/extending-typespec/create-decorators.md
Labels: meta:website

#3715 Revert 1ds to v3
  packages/website/static/1ds-init.js
Labels: meta:website

#3717 Allow overriding base operation verb
  .chronus/changes/allow-override-verb-2024-6-1-19-54-42.md
  packages/http/src/decorators.ts
  packages/http/src/lib.ts
  packages/http/test/verbs.test.ts
Labels: lib:http

#3721 Make the plugin not be an EXE
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Microsoft.Generator.CSharp.ClientModel.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Program.cs
Labels: emitter:client:csharp

#3683 Generate deserialize model method
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/TypedSnippets/OptionalSnippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3725 Add PluginName option
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/CodeWriterBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/PluginInitializer.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/CommandLineOptions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/GeneratorRunner.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/PluginHandler.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/StartUp/CommandLineOptionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterExtensionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
Labels: emitter:client:csharp

#3722 Generate PersistableModel create method
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3663 Add support for converting OpenAPI3 specs to TypeSpec
  .chronus/changes/oa3-to-ts-2024-5-26-13-27-36.md
  docs/emitters/openapi3/cli.md
  docs/emitters/openapi3/reference/index.mdx
  packages/openapi3/README.md
  packages/openapi3/cmd/tsp-openapi3.js
  packages/openapi3/package.json
  packages/openapi3/scripts/generate-version.js
  packages/openapi3/src/cli/actions/convert/args.ts
  packages/openapi3/src/cli/actions/convert/convert.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-decorators.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-main.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-model.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-operation.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-service-info.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-types.ts
  packages/openapi3/src/cli/actions/convert/interfaces.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-component-parameters.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-component-schemas.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-operation-responses.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-paths.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-service-info.ts
  packages/openapi3/src/cli/actions/convert/transforms/transforms.ts
  packages/openapi3/src/cli/actions/convert/utils/convert-header-name.ts
  packages/openapi3/src/cli/actions/convert/utils/decorators.ts
  packages/openapi3/src/cli/actions/convert/utils/docs.ts
  packages/openapi3/src/cli/actions/convert/utils/supported-http-methods.ts
  packages/openapi3/src/cli/cli.ts
  packages/openapi3/src/cli/types.ts
  packages/openapi3/src/cli/utils.ts
  packages/openapi3/src/types.ts
  packages/openapi3/src/version.ts
  packages/openapi3/test/tsp-openapi3/generate-type.test.ts
  packages/openapi3/test/tsp-openapi3/output/one-any-all/main.tsp
  packages/openapi3/test/tsp-openapi3/output/openapi-extensions/main.tsp
  packages/openapi3/test/tsp-openapi3/output/param-decorators/main.tsp
  packages/openapi3/test/tsp-openapi3/output/petstore-sample/main.tsp
  packages/openapi3/test/tsp-openapi3/output/petstore-swagger/main.tsp
  packages/openapi3/test/tsp-openapi3/output/playground-http-service/main.tsp
  packages/openapi3/test/tsp-openapi3/output/polymorphism/main.tsp
  packages/openapi3/test/tsp-openapi3/output/status-code-changes/main.tsp
  packages/openapi3/test/tsp-openapi3/specs.test.ts
  packages/openapi3/test/tsp-openapi3/specs/one-any-all/service.yml
  packages/openapi3/test/tsp-openapi3/specs/openapi-extensions/service.yml
  packages/openapi3/test/tsp-openapi3/specs/param-decorators/service.yml
  packages/openapi3/test/tsp-openapi3/specs/petstore-sample/service.json
  packages/openapi3/test/tsp-openapi3/specs/petstore-swagger/service.yml
  packages/openapi3/test/tsp-openapi3/specs/playground-http-service/service.yml
  packages/openapi3/test/tsp-openapi3/specs/polymorphism/service.yml
  packages/openapi3/test/tsp-openapi3/specs/status-code-changes/service.yml
  packages/openapi3/test/tsp-openapi3/utils/generate-typespec.ts
  packages/openapi3/test/tsp-openapi3/utils/spec-snapshot-testing.ts
  packages/website/sidebars.ts
  pnpm-lock.yaml
Labels: emitter:openapi3

#3742 sync up 4879 from autorest.csharp
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputArrayType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputArrayTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3728 Fix the protocol method link to make the test project build properly
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocStatement.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3734 Add JsonModel Create method implementation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CodeWriterDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3710 refactor(http-client-csharp): remove unused `Creatable` property
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/type/input-client.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockClientTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputClientConverter.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3627 make the `GetHashCode` of string extensible enums case insensitive
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/ProjFiles/ExtensibleEnumTests.cs
Labels: emitter:client:csharp

#3758 remove unused isNullable
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#3743 Fix "tsp vs install" command
  .chronus/changes/fix-install-vs-extension-2024-6-3-17-17-1.md
  packages/compiler/src/core/cli/utils.ts
Labels: ide

#3751 Updates tsp init to generate .gitignore file
  .chronus/changes/init-git-ignore-2024-6-3-16-23-13.md
  packages/compiler/src/init/init.ts
  packages/compiler/src/init/scaffold.ts
  packages/compiler/test/init/init-template.test.ts
Labels: compiler:core

#3767 Classify single using
  .chronus/changes/fix-classify-single-using-2024-6-8-9-56-27.md
  grammars/typespec.json
  packages/compiler/src/server/classify.ts
  packages/compiler/src/server/tmlanguage.ts
  packages/compiler/test/server/colorization.test.ts
Labels: compiler:core

#3676 [Http] expose necessary api for multipart
  .chronus/changes/expose-necessary-api-for-httppart-2024-5-27-18-23-11.md
  packages/http/src/index.ts
Labels: lib:http

#3770 Disable 1ES codeql due to unreliability
  eng/common/pipelines/templates/1es-redirect.yml
Labels: eng

#3749 Add serialization functional tests
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/ModelJsonTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/ModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/RoundTripStrategy.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestData.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/FriendTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ModelWithRequiredNullablePropertiesTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ProjectedModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ReturnsAnonymousModelResponseTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/RoundTripModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/Friend/Friend.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/Friend/FriendWireFormat.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/ModelWithRequiredNullable/Model.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/ModelWithRequiredNullable/ModelWireFormat.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/ProjectedModel/ProjectedModel.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/ProjectedModel/ProjectedModelWireFormat.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/ReturnsAnonymousModelResp/Model.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/RoundTripModel/RoundTripModel.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/RoundTripModel/RoundTripModelWireFormat.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/Thing/Thing.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/Thing/ThingWireFormat.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ThingTests.cs
Labels: emitter:client:csharp

#3626 Adds public function for setting info object directly
  .chronus/changes/set-info-object-2024-6-3-0-48-13.md
  packages/openapi/src/decorators.ts
Labels: lib:openapi

#3776 Remove circular dependency between csharptype and typeprovider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ErrorResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/OutputTypes/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Snippets/TypedSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/TypeReferenceExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/SourceInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputTypes/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Primitives/KnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/ArgumentSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/ConvertSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
Labels: emitter:client:csharp

#3757 Generate optional value type as nullable
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/RoundTripModel/RoundTripModel.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/TestData/RoundTripModel/RoundTripModelWireFormat.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/PropertyWireInformation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
Labels: emitter:client:csharp

#3754 Conversions between parameters, properties and fields
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/PropertyWireInformation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3685 Properly generate readonly prop declarations
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.cs
Labels: emitter:client:csharp

#3794 Updates tsp-openapi3 to emit main.tsp even when formatter fails
  .chronus/changes/tsp-openapi3-emit-on-bad-format-2024-6-9-16-12-22.md
  packages/openapi3/src/cli/actions/convert/convert-file.ts
  packages/openapi3/src/cli/actions/convert/convert.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-main.ts
  packages/openapi3/test/tsp-openapi3/convert-openapi3-doc.test.ts
Labels: emitter:openapi3

#3755 Fix the issue in writing serialized name and generating property names
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Helpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/CamelCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/KebabCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/PascalCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/JsonModelCoreTests/SnakeCaseSerializedName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/PropertyWireInformation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
Labels: emitter:client:csharp

#3723 export more api
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/options.ts
Labels: emitter:client:csharp

#3799 use typeprovider csharptype creation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
Labels: emitter:client:csharp

#3792 Organize and add test and documentation for printIdentifier helper
  .chronus/changes/print-id-helper-2024-6-9-15-50-59.md
  packages/compiler/src/core/formatter.ts
  packages/compiler/src/core/helpers/index.ts
  packages/compiler/src/core/helpers/syntax-utils.ts
  packages/compiler/src/core/helpers/type-name-utils.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/type-signature.ts
  packages/compiler/test/core/helpers/syntax-utils.test.ts
  tsconfig.ws.json
Labels: compiler:core

#3802 Bump System.Text.Json to v8.0.4
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/UnbrandedTypeSpec.csproj
Labels: emitter:client:csharp

#3659 [core] Disallow overriding a required property with an optional property
  .chronus/changes/witemple-no-override-required-as-optional-2024-5-25-14-39-2.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/test/checker/model.test.ts
Labels: compiler:core

#3771 Populate MRW cast methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockPipelineResponse.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockResponseHeaders.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/ModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/RoundTripStrategy.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/FriendTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ModelWithRequiredNullablePropertiesTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ProjectedModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ReturnsAnonymousModelResponseTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/RoundTripModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded-TypeSpec/ThingTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3746 Add NamedSymbolTypeProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/Configuration.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/ArgumentSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModelAsStruct.cs
Labels: emitter:client:csharp

#3807 Normalize mocking in mgc.tests
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Primitives/KnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/ArgumentSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/ConvertSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterExtensionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/MultiLineSummary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModelAsStruct.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
Labels: emitter:client:csharp

#3809 Fix breaking change with `formatIdentifier` renamed to `printIdentifier`
  .chronus/changes/fix-breaking-change-2024-6-10-19-47-36.md
  packages/compiler/src/core/helpers/index.ts
Labels: compiler:core

#3812 Mocking client model
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockClientTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/OutputTypes/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Snippets/TypedSnippetsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteField.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_AutoBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_AutoBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_ExpressionBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_ExpressionBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_AutoBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_AutoBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_ExpressionBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_ExpressionBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_MethodPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_MethodPropertyBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_MethodPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_MethodPropertyBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/SeeCRefType(Int32, False).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/SeeCRefType(Int32, True).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/SeeCRefType(KeyValuePair`2, False).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/SeeCRefType(KeyValuePair`2, True).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/SeeCRefType(List`1, False).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/SeeCRefType(String, False).cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/TypeProviderWriterTests/TypeProviderWriter_WriteModelAsStruct.cs
Labels: emitter:client:csharp

#3231 [http-server-javascript] Merge JavaScript Server Generator to Main
  .chronus/changes/http-server-javascript-2024-6-5-12-35-40.md
  cspell.yaml
  docs/libraries/http-server-javascript/reference/emitter.md
  docs/libraries/http-server-javascript/reference/index.mdx
  packages/http-server-javascript/LICENSE
  packages/http-server-javascript/README.md
  packages/http-server-javascript/build-helpers.ts
  packages/http-server-javascript/generated-defs/helpers/index.ts
  packages/http-server-javascript/generated-defs/helpers/router.ts
  packages/http-server-javascript/package.json
  packages/http-server-javascript/src/common/declaration.ts
  packages/http-server-javascript/src/common/documentation.ts
  packages/http-server-javascript/src/common/enum.ts
  packages/http-server-javascript/src/common/interface.ts
  packages/http-server-javascript/src/common/model.ts
  packages/http-server-javascript/src/common/namespace.ts
  packages/http-server-javascript/src/common/reference.ts
  packages/http-server-javascript/src/common/scalar.ts
  packages/http-server-javascript/src/common/serialization/index.ts
  packages/http-server-javascript/src/common/serialization/json.ts
  packages/http-server-javascript/src/common/union.ts
  packages/http-server-javascript/src/ctx.ts
  packages/http-server-javascript/src/helpers/router.ts
  packages/http-server-javascript/src/http/index.ts
  packages/http-server-javascript/src/http/server/index.ts
  packages/http-server-javascript/src/http/server/router.ts
  packages/http-server-javascript/src/index.ts
  packages/http-server-javascript/src/lib.ts
  packages/http-server-javascript/src/testing/index.ts
  packages/http-server-javascript/src/util/case.ts
  packages/http-server-javascript/src/util/differentiate.ts
  packages/http-server-javascript/src/util/error.ts
  packages/http-server-javascript/src/util/extends.ts
  packages/http-server-javascript/src/util/iter.ts
  packages/http-server-javascript/src/util/keywords.ts
  packages/http-server-javascript/src/util/name.ts
  packages/http-server-javascript/src/util/once-queue.ts
  packages/http-server-javascript/src/util/pluralism.ts
  packages/http-server-javascript/src/util/scope.ts
  packages/http-server-javascript/src/write.ts
  packages/http-server-javascript/tsconfig.json
  packages/samples/package.json
  pnpm-lock.yaml
  tsconfig.ws.json
Labels: emitter:service:js

#3816 a few refinement to the existing snippets
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientUriBuilderDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientPipelineSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/BinaryDataSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/BoolSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/CancellationTokenSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/IntSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ScopedApi.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ScopedApiOfT.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/StreamSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/StringBuilderSnippets.cs
Labels: emitter:client:csharp

#3824 Do not cast model expression to object value if the constraint is allowing the type
  .chronus/changes/fix-expression-cast-to-object-2024-6-11-19-32-52.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/checker/values/array-values.test.ts
  packages/compiler/test/checker/values/object-values.test.ts
  packages/compiler/test/checker/values/utils.ts
Labels: compiler:core

#3823 Fix formatting of scalar constructor with no args
  .chronus/changes/fix-formatting-scalar-constr-call-2024-6-11-19-13-55.md
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/test/formatter/formatter.test.ts
Labels: compiler:core

#3760 Fix http authentication docs example
  docs/libraries/http/authentication.md
Labels: lib:http

#3817 fix serialized name issue in deserialization
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
Labels: emitter:client:csharp

#3832 sync 4893 from autorest.csharp
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#3699 Move @typespec/compiler from dependencies to peerDependencies
  .chronus/changes/Issue3632-2024-6-12-17-16-46.md
  packages/compiler/src/init/scaffold.ts
  packages/compiler/test/init/init-template.test.ts
Labels: compiler:core

#3833 Improve tryit comment
  eng/tsp-core/pipelines/pr-tools.yml
  eng/tsp-core/scripts/create-tryit-comment.js
  eng/tsp-core/scripts/create-tryit-comment.ts
Labels: eng

#3830 Refine `GetSerializationProviders`
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Mocks/MockHelpers.cs
Labels: emitter:client:csharp

#3737 Keep trailing slash when building http routes
  .chronus/changes/http-trailing-slash-2024-6-2-23-8-57.md
  packages/http/src/route.ts
  packages/http/test/routes.test.ts
Labels: breaking-change, lib:http

#3763 Add validator to prevent discriminator and encodedname used together
  .chronus/changes/discriminator-encodedname-2024-6-8-16-24-7.md
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/validators/encoded-name-discriminator.ts
  packages/compiler/src/lib/encoded-names.ts
  packages/compiler/test/decorators/decorators.test.ts
Labels: compiler:core

#3793 Do not carry over friendly name with `model is` or `op is`
  .chronus/changes/friendly-name-no-carry-over-2024-6-9-23-6-32.md
  packages/compiler/src/lib/decorators.ts
  packages/compiler/test/decorators/decorators.test.ts
Labels: breaking-change, compiler:core

#3854 Allow same CodeWriterDeclaration to be written twice
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterDeclarationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/AlreadyDeclaredVariableIsRenamedInScopeWithConflictingName.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/DeclarationCanBeUsedTwice.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterDeclarationTests/DeclarationTest.cs
Labels: emitter:client:csharp

#3857 Sample plugin cleanup
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibrary.cs
  packages/http-client-csharp/generator/SamplePlugin/src/OutputTypes/SamplePluginOutputLibrary.cs
  packages/http-client-csharp/generator/SamplePlugin/src/SampleCodeModelPlugin.cs
Labels: emitter:client:csharp

#3846 reenable the property initialization type tests
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Primitives/CSharpTypeTests.cs
Labels: emitter:client:csharp

#3859 Clean up try/catch/finally API
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/CatchExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/CatchStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/FinallyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/TryCatchFinallyStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/TryStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/SamplePlugin/src/Providers/SamplePluginMethodProviderCollection.cs
Labels: emitter:client:csharp

#3860 Remove GetTypeProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/CSharpTypeSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/TypeProviderSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/NewInstanceExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.NewInstanceScope.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewInstanceExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TypeFactoryTests.cs
Labels: emitter:client:csharp

#3843 switch to release MGC in public feed
  packages/http-client-csharp/eng/pipeline/publish.yml
  packages/http-client-csharp/readme.md
Labels: eng, emitter:client:csharp

#3875 Fix issues with examples
  .chronus/changes/fix-examples-issues-2024-6-17-15-39-58.md
  packages/compiler/src/lib/examples.ts
  packages/compiler/test/decorators/examples.test.ts
Labels: compiler:core

#3730 Fix the base type issue of models
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationConstructorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/PersistableModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ErrorResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#3800 Add fluent style to NullConditionalExpression
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/VariableExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/ScopedApiOfT.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/KnownValueExpressionsTests.cs
Labels: emitter:client:csharp

#3890 Attach namespace extensions to the root of the doc
  .chronus/changes/mk-set-root-extensions-2024-6-18-19-20-36.md
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/openapi-output.test.ts
Labels: emitter:openapi3

#3894 [@typespec/openapi3] Add $ref to Response Object
  .chronus/changes/Issue3601-2024-6-18-17-42-35.md
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/openapi-output.test.ts
Labels: emitter:openapi3

#3898 Fix decimal numeric with leading zeros
  .chronus/changes/fix-numeric-leading-zeros-2024-6-18-19-57-12.md
  packages/compiler/src/core/numeric.ts
  packages/compiler/test/core/numeric.test.ts
Labels: compiler:core

#3896 Add method parsing for INamedTypeSymbol
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/NamedTypeSymbolProviderTests.cs
Labels: emitter:client:csharp

#3902 Tspd generate interface for valueof models used in decorators
  .chronus/changes/tspd-generate-interface-sigs-2024-6-19-15-34-36.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/src/lib/decorators.ts
  packages/http/generated-defs/TypeSpec.Http.Private.ts
  packages/http/src/index.ts
  packages/http/src/private.decorators.ts
  packages/tspd/src/gen-extern-signatures/decorators-signatures.ts
  packages/tspd/test/gen-extern-signature/decorators-signatures.test.ts
Labels: tspd

#3897 Add AddVisitor method and Configure hook
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/StartUp/PluginHandler.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/StartUp/PluginHandlerTests.cs
  packages/http-client-csharp/generator/SamplePlugin/src/OutputTypes/SamplePluginOutputLibrary.cs
  packages/http-client-csharp/generator/SamplePlugin/src/SampleCodeModelPlugin.cs
Labels: emitter:client:csharp

#3910 Implement Client Properties Generation Support
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/AutoPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3929 Fix valueof reflection types
  packages/tspd/src/gen-extern-signatures/decorators-signatures.ts
Labels: tspd

#3906 Support completion for template parameter extending model or object value
  .chronus/changes/complete-template-parameter-ref-2024-6-19-15-17-25.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/server/completion.test.ts
Labels: ide

#3937 Add CreateRequest methods
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Classifier2xxAnd4xxDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientPipelineSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientUriBuilderSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/PipelineMessageSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/PipelineRequestSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/ArrayInitializerExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/NewArrayExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Expressions/TypeReferenceExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/PropertyWireInformation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/WireInformation.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.New.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/SnippetTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateFrameworkInstance.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateInstance.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateInstanceCtor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Snippets/TestData/SnippetTests/ValidateInstanceCtorWithArguments.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#3849 Add client ctor generation support
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Snippets/ClientPipelineSnippets.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Mocks/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/KnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Shared/ConstructorProviderHelper.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/MethodProviderHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/ExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/TestData/ExpressionsTests/TestArrayInitializerExpression.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientOptions.cs
Labels: emitter:client:csharp

#3911 Allow spreading a model that has props added in previous version
  .chronus/changes/allow-spreading-model-previous-version-2024-6-19-18-50-40.md
  packages/versioning/src/validate.ts
  packages/versioning/test/incompatible-versioning.test.ts
Labels: lib:versioning

#3952 Website scripts do not load when loading a deep page
  packages/website/docusaurus.config.ts
Labels: meta:website

#3956 Store what would have been cookies in memory instead so the field is still sent
  packages/website/static/1ds-init.js
Labels: meta:website

#3957 Update storage blob with content length bug fix
  packages/bundle-uploader/package.json
  pnpm-lock.yaml
Labels: ide, eng, emitter:protobuf, emitter:json-schema, emitter:client:csharp, meta:website, meta:blog, tspd, compiler:core, lib:versioning, lib:http, lib:openapi, lib:rest, emitter:openapi3, openapi3:converter, ui:playground, ui:type-graph-viewer

#3961 Add visitor tests
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ConstructorProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/ConfigurationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Microsoft.Generator.CSharp.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/Configuration.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestCodeWriterDeclaration.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestExpression.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestOutputLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterExtensionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
Labels: emitter:client:csharp

#3842 Use the `UsageFlags` from TCGC directly in our emitter
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
  packages/http-client-csharp/emitter/src/type/literal-type-context.ts
  packages/http-client-csharp/emitter/src/type/usage.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/JsonModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/PersistableModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputModelTypeUsage.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/perf/CodeWriterBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Expressions/NewInstanceExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TypeProviderWriterTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FriendlyModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4011 fix the input type deserialization issue
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputNamespaceConverter.cs
Labels: emitter:client:csharp

#4021 exclude when cspell.yaml changed
  eng/tsp-core/pipelines/pr-tools.yml
Labels: eng

#4026 Add PostVisit method
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel.StubLibrary/src/StubVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibraryVisitor.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/src/Generated/ApiKeyClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/src/Generated/CustomClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/src/Generated/OAuth2Client.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/src/Generated/UnionClient.RestClient.cs
Labels: emitter:client:csharp

#4029 fix the response does not deserialize issue
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputApiKeyAuth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputAuth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOAuth2Auth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationLongRunning.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationPaging.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationResponse.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationResponseHeader.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputAuthConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#4025 Add deprecation notice in ref docs
  docs/standard-library/built-in-data-types.md
  docs/standard-library/built-in-decorators.md
  packages/tspd/src/ref-doc/emitters/docusaurus.ts
  packages/tspd/src/ref-doc/emitters/markdown.ts
  packages/tspd/src/ref-doc/extractor.ts
  packages/tspd/src/ref-doc/types.ts
  packages/tspd/test/ref-doc/emitters/markdown/model.test.ts
Labels: tspd

#4035 ignore eng emitters for pr tools pipeline
  eng/tsp-core/pipelines/pr-tools.yml
Labels: eng

#4044 Refactor openapi3 shared route to reuse logic better
  .chronus/changes/refactor-shared-routes-2024-6-29-19-52-22.md
  packages/openapi3/src/cli/actions/convert/transforms/transform-operation-responses.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/src/types.ts
  packages/openapi3/test/examples.test.ts
  packages/openapi3/test/overloads.test.ts
  packages/openapi3/test/shared-routes.test.ts
  packages/samples/test/output/grpc-kiosk-example/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/grpc-library-example/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/tags/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/testserver/body-string/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/testserver/media-types/@typespec/openapi3/openapi.yaml
Labels: emitter:openapi3

#4040 remove autorest namespaces and use custom json converter to replace the `JsonConstructor` attributes
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/ExampleMockValueBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputAuth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputOAuth2Auth.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationLongRunning.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationPaging.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationResponse.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/OperationResponseHeader.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputNullableTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecOperationLongRunningConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecOperationResponseConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecOperationResponseHeaderConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/Utf8JsonReaderExtensions.cs
Labels: emitter:client:csharp

#3909 Fix HttpPart not respecting part name
  .chronus/changes/fix-multipart-name-2024-6-19-17-57-10.md
  packages/http/src/payload.ts
  packages/http/test/multipart.test.ts
Labels: lib:http

#4022 Keep watch going when crash happens
  .chronus/changes/keep-watch-internal-compiler-error-2024-6-25-21-39-16.md
  packages/compiler/src/core/cli/actions/compile/compile.ts
  packages/compiler/src/core/cli/utils.ts
Labels: compiler:core

#3795 Move ToSerial and ToEnum to SerializationProviders
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ExtensibleEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Microsoft.Generator.CSharp.ClientModel.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/EnumProviderSerializationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.New.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnum.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnumWithIntValue.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnumWithIntValue.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnum.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatFixedEnumWithIntValue.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntExtensibleEnum.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntFixedEnum.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringFixedEnum.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.cs
Labels: emitter:client:csharp

#3867 feat(http-client-csharp): adopt TCGC getAllOperations
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/converter.ts
  packages/http-client-csharp/emitter/src/lib/operation.ts
  packages/http-client-csharp/emitter/src/lib/service-authentication.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/InputLiteralType.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputParameterConverter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Input/src/InputTypes/Serialization/TypeSpecInputTypeConverter.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/oauth2/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#4059 Dynamially detect stubbed libraries to ignore tests
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
  packages/http-client-csharp/eng/test-configurations/cadlranch.runsettings
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/CadlRanchTestAttribute.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/TestProjects.CadlRanch.Tests.csproj
  packages/http-client-csharp/generator/docs/cadl-ranch.md
  packages/http-client-csharp/generator/docs/runsettings.png
Labels: emitter:client:csharp

#4060 Ignore restclient.cs files when detecting stubs
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Infrastructure/CadlRanchTestAttribute.cs
Labels: emitter:client:csharp

#2904 CSharp Service Emitter
  .chronus/changes/service-csharp-2024-1-12-3-50-33.md
  packages/http-server-csharp/CHANGELOG.md
  packages/http-server-csharp/LICENSE
  packages/http-server-csharp/README.md
  packages/http-server-csharp/package.json
  packages/http-server-csharp/src/attributes.ts
  packages/http-server-csharp/src/boilerplate.ts
  packages/http-server-csharp/src/index.ts
  packages/http-server-csharp/src/interfaces.ts
  packages/http-server-csharp/src/lib.ts
  packages/http-server-csharp/src/service.ts
  packages/http-server-csharp/src/testing/index.ts
  packages/http-server-csharp/src/type-helpers.ts
  packages/http-server-csharp/src/utils.ts
  packages/http-server-csharp/test/diagnostic.test.ts
  packages/http-server-csharp/test/generation.test.ts
  packages/http-server-csharp/test/test-host.ts
  packages/http-server-csharp/tsconfig.config.json
  packages/http-server-csharp/tsconfig.json
  packages/http-server-csharp/vitest.config.ts
  pnpm-lock.yaml
Labels: emitter:service:csharp

#4063 Remove FirstCharToUpper to remove some confusion on string helpers
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/PropertyDescriptionBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Shared/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/CodeWriterTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_AutoBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_AutoBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_ExpressionBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_ExpressionBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_AutoBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_AutoBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_ExpressionBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_ExpressionBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_MethodPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_IndexerProperty_MethodPropertyBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_MethodPropertyBody.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Writers/TestData/CodeWriterTests/CodeWriter_WriteProperty_MethodPropertyBody_WithExplicitInterface.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ChangeTrackingDictionary.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ChangeTrackingList.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ClientUriBuilder.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Internal/ErrorResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/FloatExtensibleEnumWithIntValue.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/IntExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/StringExtensibleEnum.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp
