Repository microsoft/typespec, pull requests merged in 2025-02, with the labels that each got.

#5840 Fix sample command of changing output-dir
  website/src/content/docs/docs/handbook/configuration/configuration.mdx
Labels: meta:website

#5846 Fix api-extractor warnings
  packages/http-client-csharp/emitter/src/constants.ts
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/log-level.ts
  packages/http-client-csharp/emitter/src/lib/logger.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/src/sdk-context-options.ts
  packages/http-client-csharp/emitter/test/Unit/dotnet-sdk-validation.test.ts
Labels: emitter:client:csharp

#5853 [python] catch `ModuleNotFoundError`
  .chronus/changes/python-pyodideLogging-2025-1-4-14-27-40.md
  packages/http-client-python/eng/scripts/setup/build_pygen_wheel.py
  packages/http-client-python/eng/scripts/setup/install.py
  packages/http-client-python/eng/scripts/setup/run_tsp.py
  packages/http-client-python/package.json
Labels: emitter:client:python

#5752 disable colored text
  .chronus/changes/Fix5751-2025-0-26-10-20-52.md
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#5860 http-client-java, upgrade tcgc 0.50.3
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/type-utils.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5862 [python] Fix crash when value of `--package-pprint-name` contains space
  .chronus/changes/fix-python-crash-2025-1-5-13-33-40.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/eng/scripts/ci/regenerate.ts
Labels: emitter:client:python

#5864 Add extension methods of FieldProvider to avoid explicit casting
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
Labels: emitter:client:csharp

#5881 fix website deploy
  .github/workflows/website-gh-pages.yml
Labels: eng

#5885 http-client-java, remove getVisibility, which was deprecated
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/operation-utils.ts
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5911 http-client-java, remove impression pixel
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ReadmeTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/TemplateUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/Readme_protocol.txt
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentLiveTestsTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentMethodMockTestTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/ReadmeTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/resources/Readme.txt
  packages/http-client-java/generator/http-client-generator-test/pom.xml
Labels: emitter:client:java

#5912 http-client-java, fix wrong package
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
Labels: emitter:client:java

#5886 refine pickup description and the log text
  .chronus/changes/refineDoc-2025-1-6-14-6-26.md
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#5888 Expose RestClient from ClientProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
Labels: emitter:client:csharp

#5914 java mgmt, add properties file
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGen.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentManagerTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/resources/Manager_Configurable.txt
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/OperationTemplatesManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/ResourcesManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-resourcemanager-armresourceprovider-generated.properties
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-resourcemanager-armstreamstyleserialization-generated.properties
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-resourcemanager-commonproperties-generated.properties
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-resourcemanager-operationtemplates-generated.properties
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-resourcemanager-resources-generated.properties
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
Labels: emitter:client:java

#5854 Use reportDiagnostics rather than throwing for known errors
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/logger.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/type-converter.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/test/Unit/dotnet-sdk-validation.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5935 Fix tabs color
  website/src/components/editor-tabs.astro
Labels: meta:website

#5940 Fix: Infinite loop in language server due to not caching indeterminate entities
  .chronus/changes/fix-infinite-loop-diagnostic-2025-1-10-23-29-7.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/checker/templates.test.ts
Labels: compiler:core

#5919 Add Test case for CheckNameAvailability and ListAvailableOperations
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
Labels: emitter:client:java

#5926 Add test case for LocationResources
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Labels: emitter:client:java

#5959 Update areas with single codeowners
  .github/CODEOWNERS
Labels: eng

#5898 http-client-java, support simple override feature
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/type-utils.ts
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/MethodOverrideAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/MethodOverrideClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/MethodOverrideClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/MethodOverrideServiceVersion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/MethodOverrideClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/models/GroupAllRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/models/GroupNoneRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/models/GroupPartRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/models/GroupAllOptions.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/models/GroupExcludeBodyModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/models/GroupPartOptions.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/models/GroupQueryOptions.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/methodoverride/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/methodoverride_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/methodoverride.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/methodoverride/generated/MethodOverrideClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/tsp/method-override.tsp
Labels: emitter:client:java

#5928 Expose public setter of namespace
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ExtensibleEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Configuration.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/CanonicalTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
Labels: emitter:client:csharp

#5960 move referencing model properties to alias
  website/src/content/docs/docs/language-basics/alias.md
  website/src/content/docs/docs/language-basics/operations.md
Labels: meta:website

#5663 Add the introduction of emitters for sdk clients.
  website/src/content/current-sidebar.ts
  website/src/content/docs/docs/emitters/clients/introduction.mdx
Labels: meta:website

#5458 [typespec-vscode] Add codefix for triple quate indent
  .chronus/changes/add-codefix-for-triple-quate-indent-2025-1-6-8-10-18.md
  packages/compiler/src/core/compiler-code-fixes/triple-quote-indent.codefix.ts
  packages/compiler/src/core/helpers/syntax-utils.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/test/core/compiler-code-fixes/triple-quote-indent.codefix.test.ts
Labels: ide, compiler:core

#5969 [http-client-csharp] bump typespec to 0.65.0
  .chronus/changes/update-typespec-to-65-2025-1-13-11-7-23.md
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/Configuration.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/Response.StatusCodeRange.sln
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Internal/CodeGenMemberAttribute.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Internal/CodeGenSerializationAttribute.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Internal/CodeGenSuppressAttribute.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Internal/CodeGenTypeAttribute.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/StatusCodeRangeClient.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/StatusCodeRangeClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Response.StatusCodeRange.csproj
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5953 Some refactors around the CSharpEmitterContext and Logger
  .chronus/changes/clean-up-and-refactor-2025-1-13-19-14-29.md
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/example-converter.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/logger-level.ts
  packages/http-client-csharp/emitter/src/lib/logger.ts
  packages/http-client-csharp/emitter/src/lib/model.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/service-authentication.ts
  packages/http-client-csharp/emitter/src/lib/type-converter.ts
  packages/http-client-csharp/emitter/src/lib/typespec-server.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/src/sdk-context.ts
  packages/http-client-csharp/emitter/src/type/sdk-type-map.ts
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/dotnet-sdk-validation.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Labels: emitter:client:csharp

#5974 http-client-java, update clientcore to beta.3
  .chronus/changes/http-client-java_update-clientcore-2025-1-13-13-43-59.md
  packages/http-client-java/CONTRIBUTING.md
  packages/http-client-java/generator/http-client-generator-clientcore-test/pom.xml
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/apikey/ApiKeyClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/http/custom/CustomClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/OAuth2ClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/union/UnionClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/DurationClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/numeric/NumericClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/basic/BasicClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/bodyoptionality/BodyOptionalityClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/collectionformat/CollectionFormatClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/spread/SpreadClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/contentnegotiation/ContentNegotiationClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/jsonmergepatch/JsonMergePatchClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/mediatype/MediaTypeClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/MultiPartClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/PageableClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/response/statuscoderange/StatusCodeRangeClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/routes/RoutesClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/serialization/encodedname/json/JsonClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/endpoint/notdefined/NotDefinedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/path/multiple/MultipleClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/path/single/SingleClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/versions/notversioned/NotVersionedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/versions/versioned/VersionedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/specialwords/SpecialWordsClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/array/ArrayClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/dictionary/DictionaryClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enums/extensible/ExtensibleClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enums/fixed/FixedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/empty/EmptyClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/enumdiscriminator/EnumDiscriminatorClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/nesteddiscriminator/NestedDiscriminatorClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/notdiscriminated/NotDiscriminatedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/recursive/RecursiveClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/singlediscriminator/SingleDiscriminatorClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/usage/UsageClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/visibility/VisibilityClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/additionalproperties/AdditionalPropertiesClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/nullable/NullableClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/optional/OptionalClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/valuetypes/ValueTypesClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/scalar/ScalarClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/union/UnionClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/added/AddedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/madeoptional/MadeOptionalClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/removed/RemovedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/renamedfrom/RenamedFromClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/returntypechangedfrom/ReturnTypeChangedFromClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/typechangedfrom/TypeChangedFromClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/parameters/bodyoptionality/BodyTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/payload/contentnegotiation/SharedRouteTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/routes/RouteTests.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientBuilderTrait.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientBuilderTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/TemplateHelper.java
Labels: emitter:client:java

#6019 Back merge 0.65.2 compiler hotfix
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/compiler/src/lib/decorators.ts
  packages/compiler/templates/scaffolding.json
Labels: compiler:core

#5986 Tsp init template with both config and emitters merge in tspconfig.yaml
  .chronus/changes/merge-config-emitters-2025-1-12-20-42-39.md
  packages/compiler/src/init/scaffold.ts
  packages/compiler/test/init/init-template.test.ts
Labels: compiler:core

#5904 [http-client-csharp] handle unsupported auth
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/service-authentication.ts
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/MultipartFormDataTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateConstructorsWhenUnsupportedAuth.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/MultipartFormDataTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputNamespace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputNamespaceConverter.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/oauth2/src/Generated/OAuth2Client.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/oauth2/src/Generated/OAuth2ClientOptions.cs
Labels: emitter:client:csharp

#6026 expandableenum, add back equals override
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enums/extensible/DaysOfWeekExtensibleEnum.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/enumdiscriminator/DogKind.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/valuetypes/ExtendedEnum.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/valuetypes/InnerEnum.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/union/GetResponseProp3.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/union/StringExtensibleNamedUnion.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/EnumTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/enumservice/models/PriorityModel.java
Labels: emitter:client:java

#5968 [typespec-vs]Support intellisense for tsconfig in visual studio
  .chronus/changes/support-complete-for-tsconfig-in-vs-2025-1-12-3-47-27.md
  packages/typespec-vs/src/VSExtension.cs
Labels: ide

#6041 Fix/skip val op example too
  .chronus/changes/fix-skip-val-op-example-too-2025-1-18-17-48-42.md
  packages/compiler/src/lib/decorators.ts
Labels: compiler:core

#6046 Merge compiler 0.65.3 hotfix back into main
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/compiler/src/lib/decorators.ts
  packages/compiler/templates/scaffolding.json
Labels: compiler:core

#5453 Report diagnostics for unused "using" so that they will be shown properly in ide
  .chronus/changes/unused-using-2024-11-26-19-12-40.md
  packages/compiler/src/core/compiler-code-fixes/remove-unused-code.codefix.ts
  packages/compiler/src/core/linter.ts
  packages/compiler/src/core/name-resolver.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/types.ts
  packages/compiler/test/checker/unused-using.test.ts
  packages/compiler/test/server/unused-using.test.ts
Labels: ide

#6036 echo tcgc diagnostics
  packages/http-client-csharp/emitter/src/emitter.ts
Labels: emitter:client:csharp

#6037 Fix clientcore, add tests on encode/bytes, encode/datetime, special-headers
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/encode/bytes/EncodeBytesTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/encode/datetime/EncodeDateTimeTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/specialheaders/conditionalrequest/ConditionalTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/specialheaders/repeatability/RepeatabilityTests.java
Labels: emitter:client:java

#6054 http-client-java, when codegen error, trace the stderr too
  packages/http-client-java/emitter/src/emitter.ts
Labels: emitter:client:java

#6052 Add details for C# emitter
  website/src/content/docs/docs/emitters/clients/introduction.mdx
Labels: meta:website

#6013 [@typespec/http-specs] Fixed paths in specs/routes
  .chronus/changes/Issue5430-fix-2025-2-14-11-14-11.md
  packages/http-specs/specs/routes/main.tsp
  packages/http-specs/specs/routes/mockapi.ts
Labels: lib:http-specs

#6051 Respect fully qualified namespace when matching
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/TypeSymbolExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ClientCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ClientCustomizationTests/CanRemoveConstructors/MockInputClient.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ClientCustomizationTests/CanRemoveMethods/MockInputClient.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ClientCustomizationTests/DoesNotRemoveConstructorsThatDoNotMatch/MockInputClient.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ClientCustomizationTests/DoesNotRemoveMethodsThatDoNotMatch/MockInputClient.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
Labels: emitter:client:csharp

#6055 refactor: rename ClientModelPlugin to ScmCodeModelPlugin
  packages/http-client-csharp/emitter/src/constants.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel.StubLibrary/src/StubLibraryPlugin.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/ValueExpressionExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientPipelineExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientPipelineProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ErrorResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Utf8JsonBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmCodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/IHttpRequestOptionsApiSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/OptionalSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/RequestContentApiSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/OutputTypes/ScmKnownParametersTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientResponseApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/HttpMessageApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/MultipartFormDataTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/EnumProvider/EnumProviderSerializationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/AdditionalPropertiesTest.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DiscriminatorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/MultipartFormDataTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/SamplePlugin/src/SampleCodeModelPlugin.cs
  packages/http-client-csharp/generator/docs/spector.md
  packages/http-client-csharp/readme.md
Labels: emitter:client:csharp

#6057 Add additional options to readme
  packages/http-client-csharp/readme.md
Labels: emitter:client:csharp

#5937 Fix: StringTemplate type not supported in typespecValueToJson
  .chronus/changes/fix-handle-typeof-string-template-json-2025-1-10-23-8-49.md
  packages/compiler/src/core/decorator-utils.ts
Labels: compiler:core

#5894 Add tests for includeTemplateDeclaration
  packages/compiler/test/semantic-walker.test.ts
Labels: compiler:core

#6061 Add fully qualified names support for AddTypesToKeep
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/PostProcessor.cs
Labels: emitter:client:csharp

#6063 Delete out-dated doc
  packages/http-client-csharp/generator/docs/generate/options.md
Labels: emitter:client:csharp

#5900 remove typespec extension out of preview model
  .chronus/changes/removePreview-2025-1-7-14-53-0.md
  packages/typespec-vscode/package.json
Labels: ide

#6070 [python] remove confusing words from docstring of models
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
Labels: emitter:client:python

#6089 Build emitter tests
  packages/http-client-csharp/api-extractor.json
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/emitter/tsconfig.build.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#6038 [http-specs] new test case for continuationtoken paging
  .chronus/changes/http-specs-continucationtoken-2025-1-18-13-22-18.md
  packages/http-specs/package.json
  packages/http-specs/spec-summary.md
  packages/http-specs/specs/payload/pageable/main.tsp
  packages/http-specs/specs/payload/pageable/mockapi.ts
Labels: lib:http-specs

#6109 Visitor API updates
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel.StubLibrary/src/StubLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#6035 Add update method instead of setters for CSharpType
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ClientCustomizationTests.cs
Labels: emitter:client:csharp

#6121 [python] fix for watch mode
  packages/http-client-python/emitter/src/emitter.ts
Labels: emitter:client:python

#6118 Fix dead link in docs
  website/src/content/docs/docs/emitters/protobuf/guide.md
  website/src/content/docs/docs/getting-started/getting-started-rest/01-setup-basic-syntax.mdx
  website/src/content/docs/docs/getting-started/getting-started-rest/04-common-parameters.md
  website/src/content/docs/docs/getting-started/getting-started-rest/05-authentication.md
  website/src/content/docs/docs/getting-started/getting-started-rest/06-versioning.mdx
  website/src/content/docs/docs/getting-started/getting-started-rest/07-custom-response-models.md
  website/src/content/docs/docs/getting-started/typespec-for-openapi-dev.md
  website/src/content/docs/docs/handbook/releases.md
  website/src/content/docs/docs/language-basics/alias.md
  website/src/content/docs/docs/language-basics/decorators.md
  website/src/content/docs/docs/standard-library/discriminated-types.md
Labels: meta:website

#6117 Populate client description
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/ServiceClientWithSubClient.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/SubClientWithMultipleSubClients.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderSubClientTests/SubClientWithSingleSubClient.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateConstructorsWhenUnsupportedAuth.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateQueryParamWriterDiff(False).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/ValidateQueryParamWriterDiff(True).cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
Labels: emitter:client:csharp

#6129 Include subtypes in base model docs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/DiscriminatorTests.cs
Labels: emitter:client:csharp

#6132 Remove next link from try it comment
  eng/tsp-core/scripts/create-tryit-comment.ts
Labels: eng

#6128 Add clarification on additional parameters handling for paging
  website/src/content/docs/docs/standard-library/pagination.md
Labels: meta:website

#6102 http-client-java, bump tcgc 0.51.3
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/naming/models/RunObject.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/naming/models/RunObjectLastError1.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-naming_apiview_properties.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6105 http-client-java, support returnValueWireType in clientcore
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/bytes/implementation/ResponseBodiesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/array/implementation/DatetimeValuesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/dictionary/implementation/DatetimeValuesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/dictionary/implementation/NullableFloatValuesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/encode/bytes/EncodeBytesTests.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ProxyTemplate.java
Labels: emitter:client:java

#5483 [typespec-vscode] Add autocomplete of model properties for union type
  .chronus/changes/add-autocomplete-of-model-properties-for-union-type-2025-1-24-7-8-39.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/test/server/completion.test.ts
Labels: ide, compiler:core

#6139 http-client-java, pass oauth2 flows to code-model
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/codemodel/OAuth2Flow.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/codemodel/Scheme.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ServiceClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/SecurityInfo.java
Labels: emitter:client:java

#6141 Write comment statement
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/perf/MethodProviderBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/SingleLineCommentStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/TestData/StatementTests/TestSwitchStatementWithUsingStatementWrite.cs
Labels: emitter:client:csharp

#6145 Exclude tsp.exe from binskim
  eng/common/pipelines/ci.yml
  eng/tsp-core/pipelines/publish.yml
Labels: eng

#6148 Exclude binskim take2
  eng/common/pipelines/ci.yml
  eng/tsp-core/pipelines/publish.yml
Labels: eng

#5901 Fix: @typespec/openapi3/invalid-component-fixed-field-key show on incorrect target
  .chronus/changes/wanl-fix-diag-1-2025-1-7-19-3-44.md
  packages/openapi3/src/lib.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/src/schema-emitter.ts
  packages/openapi3/src/util.ts
  packages/openapi3/test/component.test.ts
  packages/openapi3/test/models.test.ts
Labels: emitter:openapi3

#6131 Update http-specs guidance for release
  packages/http-specs/README.md
Labels: lib:http-specs

#6172 Fix method matching for explicit interface implementations
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/SerializationCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceWriteMethod/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/MethodSignature.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/CanonicalTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ClientCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ClientCustomizationTests/CanRemoveMethods/MockInputClient.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/InterfaceTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNamedSymbol.cs
Labels: emitter:client:csharp

#6162 http-client-java, bug fix, parameter name mismatch in op and in convenienceApi
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/lib.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/PomTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ModelExampleUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/samples/java/tsptest/flatten/generated/FlattenOpSend.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/flatten/FlattenTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/flatten/generated/FlattenOpSendTests.java
  packages/http-client-java/generator/http-client-generator-test/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  packages/http-client-java/generator/http-client-generator-test/tsp/flatten.tsp
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6176 [python] update regenerate to speed CI
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/eng/scripts/ci/run_apiview.py
Labels: emitter:client:python

#6138 [python] remove useless docstring for models
  .chronus/changes/python-models-docstring-2025-1-25-2-51-40.md
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
Labels: emitter:client:python

#5907 Add docs for installating standalone version
  website/.scripts/build.ts
  website/public/.gitignore
  website/public/.keep
  website/src/content/docs/docs/introduction/installation.mdx
Labels: meta:website

#6078 updates openapi `@extension` to support value types, and removes starts with `x-` extension name constraint
  .chronus/changes/align-openapi-jsonschema-extensions-2025-1-19-23-20-52.md
  packages/openapi/README.md
  packages/openapi/generated-defs/TypeSpec.OpenAPI.ts
  packages/openapi/lib/decorators.tsp
  packages/openapi/src/decorators.ts
  packages/openapi/test/decorators.test.ts
  packages/samples/specs/openapi-extensions/openapi-extensions.tsp
  packages/samples/test/output/openapi-extensions/@typespec/openapi3/openapi.yaml
  website/src/content/docs/docs/libraries/openapi/reference/decorators.md
Labels: 1_0_E2E

#4926 Error on augment expr
  .chronus/changes/error-on-augment-expr-2025-0-21-20-44-55.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/test/checker/augment-decorators.test.ts
Labels: breaking-change, triaged:core, compiler:core, 1_0_E2E

#5494 issue diagnostic for a templated model with a template parameter that is not used.
  .chronus/changes/fix181-2025-0-6-16-32-31.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/compiler-code-fixes/remove-unused-template-parameter.codefix.ts
  packages/compiler/src/core/linter-rules/unused-template-parameter.rule.ts
  packages/compiler/src/core/linter-rules/unused-using.rule.ts
  packages/compiler/src/core/linter.ts
  packages/compiler/src/core/name-resolver.ts
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/test/checker/unused-template-parameter.test.ts
  packages/compiler/test/server/unused-template-parameter.test.ts
Labels: ide

#6188 Fix issue where serialized name is not correctly set for custom properties
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputModelProperty.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/InputModelTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/PropertyWireInformation.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/CanonicalTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNamedSymbol.cs
Labels: emitter:client:csharp

#6194 remove unused template parameter track in name-resolver
  .chronus/changes/removeTemplateParameter-2025-1-28-9-47-6.md
  packages/compiler/src/core/name-resolver.ts
Labels: compiler:core

#6104 [python] Don't throw error directly when emitter crash
  .chronus/changes/trace-optimize-2025-1-24-9-32-20.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/lib.ts
Labels: emitter:client:python

#6185 http-client-java, bug fix, model extends Error
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtil.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/ErrorModelAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/ErrorModelClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/implementation/ErrorOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/Diagnostic.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/InnerError.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/SubError.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-errormodel_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/tsp/error.tsp
Labels: emitter:client:java

#6088 [core] Empty parameter visibility and visibility string deprecation
  .chronus/changes/witemple-msft-visibility-1_0-2025-1-20-17-25-43.md
  .chronus/changes/witemple-msft-visibility-1_0-2025-1-20-17-26-17.md
  .chronus/changes/witemple-msft-visibility-1_0-2025-1-20-17-59-31.md
  packages/compiler/lib/std/types.tsp
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/visibility/core.ts
  packages/compiler/src/lib/visibility.ts
  packages/compiler/test/decorators/visibility.test.ts
  packages/compiler/test/visibility.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Plugin/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-server-csharp/test/generation.test.ts
  packages/http-specs/specs/special-headers/repeatability/main.tsp
  packages/http-specs/specs/type/model/visibility/main.tsp
  packages/http/README.md
  packages/http/generated-defs/TypeSpec.Http.ts
  packages/http/lib/decorators.tsp
  packages/http/src/decorators.ts
  packages/http/src/lib.ts
  packages/http/src/metadata.ts
  packages/http/src/operations.ts
  packages/http/test/experimental/typekit/http-operation.test.ts
  packages/http/test/http-decorators.test.ts
  packages/http/test/typekit/http-opperation.test.ts
  packages/openapi/src/helpers.ts
  packages/openapi3/test/metadata.test.ts
  packages/openapi3/test/parameters.test.ts
  packages/openapi3/test/return-types.test.ts
  packages/openapi3/test/shared-routes.test.ts
  packages/openapi3/test/union-schema.test.ts
  packages/playground-website/samples/http.tsp
  packages/rest/lib/resource.tsp
  packages/rest/src/resource.ts
  packages/samples/specs/init/main.tsp
  packages/samples/specs/rest-metadata-emitter/main.tsp
  packages/samples/specs/testserver/body-complex/body-complex.tsp
  packages/samples/specs/visibility/visibility.tsp
  website/src/content/docs/docs/extending-typespec/emitter-metadata-handling.md
  website/src/content/docs/docs/language-basics/decorators.md
  website/src/content/docs/docs/libraries/http/operations.md
  website/src/content/docs/docs/libraries/http/reference/data-types.md
  website/src/content/docs/docs/libraries/http/reference/decorators.md
  website/src/content/docs/docs/libraries/http/reference/index.mdx
Labels: compiler:core

#6196 Fix binskim
  eng/tsp-core/pipelines/publish.yml
Labels: eng

#6203 Fix mutator sourceModel(s)
  .chronus/changes/mutator-sourceproperty-2025-1-28-17-25-29.md
  packages/compiler/src/experimental/mutators.ts
  packages/compiler/src/experimental/typekit/kits/type.ts
  packages/compiler/test/experimental/mutator.test.ts
Labels: compiler:core
