Repository microsoft/typespec, pull requests merged in 2025-04, with the labels that each got.

#6737 [Java] Consolidates all operation parameters transformation and inspection
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ParametersTransformationProcessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodParameterProcessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodTransformationDetail.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ParameterMapping.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ParameterTransformation.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ParameterTransformations.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ConvenienceMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/example/ClientMethodExampleWriter.java
Labels: emitter:client:java

#6800 Tsconfig base apply to all CIs
  eng/common/config/area.ts
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: eng

#6804 http-client-java, eng, run spotless check before build
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/eng/scripts/Build-Packages.ps1
Labels: emitter:client:java

#6781 [http-client-python] upgrade to latest dev version to prepare typespec ga
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_headasboolean_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_typetest_model_visibility_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_headasboolean.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_typetest_model_visibility.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#6807 Fix hint warnings
  website/package.json
  website/src/components/Video.astro
  website/src/components/starlight-overrides/Header.astro
  website/src/components/starlight-overrides/PageFrame.astro
Labels: meta:website

#6049 Add breaking change policy to website
  website/src/content/current-sidebar.ts
  website/src/content/docs/docs/handbook/breaking-change-policy.mdx
Labels: meta:website

#6812 Update CODEOWNERS
  .github/CODEOWNERS
Labels: eng

#6758 Add ef2 docs
  website/src/content/docs/docs/extending-typespec/emitter-framework.md
  website/src/content/docs/docs/extending-typespec/emitters-basics.md
Labels: meta:website

#6814 Fix issue with test in ide
  .chronus/changes/fix-vitest-ide-2025-3-1-20-55-55.md
  package.json
  packages/html-program-viewer/test/global.setup.ts
  packages/html-program-viewer/vitest.config.ts
  pnpm-lock.yaml
Labels: ui:type-graph-viewer

#6817 Update CODEOWNERS
  .github/CODEOWNERS
Labels: eng

#6826 Fix allow new reserved keyword in augment decorator
  .chronus/changes/fix-augment-dec-reserved-keywords-2025-3-2-7-23-59.md
  packages/compiler/src/core/parser.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/test/parser.test.ts
Labels: compiler:core

#6837 Fix website not resolving prerelease version correctly for playground
  website/src/pages/playground.astro
Labels: meta:website

#6714 code generation guide
  website/src/content/docs/docs/getting-started/code-generation-csharp.md
  website/src/content/docs/docs/getting-started/code-generation-javascript.md
  website/src/content/docs/docs/images/swaggerui-screenshot.png
Labels: meta:website

#6842 Bump Spector version
  .chronus/changes/timotheeguerin-patch-1-2025-3-3-0-8-40.md
  packages/spector/package.json
Labels: spector

#6846 [python] fix license for legacy SDK
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/package.json
Labels: emitter:client:python

#6827 Add 1.0.0-rc.0 release notes
  website/src/content/docs/docs/release-notes/release-2025-04-02.md
Labels: meta:website

#6685 1.0-RC blog post
  website/src/content/blog/2025-03-31-typespec-1-0-release/TypeSpec_1_0_RC.png
  website/src/content/blog/2025-03-31-typespec-1-0-release/typespec_1_0_release.md
  website/src/content/blog/2025-03-31-typespec-1-0-release/workflow-diagram-full.png
Labels: meta:website

#6854 Fix collection name conflict
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/ContinuationTokenTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/ListPageableTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/NextLinkTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationToken.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfTAsync.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenHeaderResponseAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenHeaderResponseAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenHeaderResponseCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithContinuationTokenHeaderResponseCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithNextLinkAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithNextLinkAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithNextLinkCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithNextLinkCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithPagingAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithPagingAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithPagingCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClientListWithPagingCollectionResultOfT.cs
Labels: emitter:client:csharp

#6855 Revert bad title change
  website/src/content/docs/docs/introduction/editor/vscode.md
Labels: meta:website

#6857 Downgrade danger in release notes
  website/src/content/docs/docs/release-notes/release-2022-12-07.md
  website/src/content/docs/docs/release-notes/release-2023-01-12.md
  website/src/content/docs/docs/release-notes/release-2023-02-07.md
  website/src/content/docs/docs/release-notes/release-2023-03-13.md
  website/src/content/docs/docs/release-notes/release-2023-04-11.md
  website/src/content/docs/docs/release-notes/release-2023-05-10.md
  website/src/content/docs/docs/release-notes/release-2023-06-06.md
  website/src/content/docs/docs/release-notes/release-2023-07-11.md
  website/src/content/docs/docs/release-notes/release-2023-08-08.md
  website/src/content/docs/docs/release-notes/release-2023-09-12.md
  website/src/content/docs/docs/release-notes/release-2023-10-11.md
  website/src/content/docs/docs/release-notes/release-2023-11-07.md
  website/src/content/docs/docs/release-notes/release-2023-12-06.md
  website/src/content/docs/docs/release-notes/release-2024-01-23.md
  website/src/content/docs/docs/release-notes/release-2025-03-18.md
  website/src/content/docs/docs/release-notes/release-2025-04-02.md
Labels: meta:website

#6864 [Java] Fixes regression in method parameter transformation
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ParametersTransformationProcessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ParameterTransformations.java
Labels: emitter:client:java

#6851 http-client-java, patch 0.3.1, fix java version check
  packages/http-client-java/emitter/src/validate.ts
  packages/http-client-java/emitter/test/validate.test.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6881 Use vscode stable for web tests
  .chronus/changes/fix-vscode-web-test-stable-2025-3-7-9-16-10.md
  packages/typespec-vscode/package.json
Labels: ide

#6765 Give write access to Client team for client samples
  .github/CODEOWNERS
Labels: eng

#6886 Move catchall to the top
  .github/CODEOWNERS
Labels: eng

#6892 Use emitter for logs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/StartUp/GeneratorHandler.cs
Labels: emitter:client:csharp

#6821 [python] drop python 3.8
  eng/emitters/pipelines/templates/jobs/build-job.yml
  eng/emitters/pipelines/templates/jobs/test-job.yml
  eng/emitters/pipelines/templates/stages/emitter-stages.yml
  eng/emitters/pipelines/templates/steps/build-step.yml
  eng/emitters/pipelines/templates/steps/test-step.yml
  packages/http-client-python/emitter/src/run-python3.ts
  packages/http-client-python/eng/pipeline/publish.yml
  packages/http-client-python/eng/pipeline/templates/ci-stages.yml
  packages/http-client-python/eng/scripts/Build-Packages.ps1
  packages/http-client-python/eng/scripts/ci/format.ts
  packages/http-client-python/eng/scripts/ci/mypy.ini
  packages/http-client-python/eng/scripts/ci/pylintrc
  packages/http-client-python/eng/scripts/ci/pyrightconfig.json
  packages/http-client-python/eng/scripts/ci/run_pylint.py
  packages/http-client-python/eng/scripts/ci/utils.ts
  packages/http-client-python/eng/scripts/setup/build_pygen_wheel.py
  packages/http-client-python/eng/scripts/setup/install.py
  packages/http-client-python/eng/scripts/setup/prepare.py
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/codegen/_utils.py
  packages/http-client-python/generator/pygen/codegen/models/imports.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/README.md.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/setup.py.jinja2
  packages/http-client-python/generator/setup.py
Labels: emitter:client:python

#6899 Fix issues with File Handling and enable building e2e tests
  .chronus/changes/fix-test-build-2025-3-8-17-32-45.md
  packages/http-client-js/.testignore
  packages/http-client-js/package.json
  packages/http-client-js/src/components/serializers.tsx
  packages/http-client-js/test/e2e/http/parameters/collection-format/main.test.ts
  packages/http-client-js/test/e2e/http/payload/multipart/main.test.ts
  packages/http-client-js/test/scenarios/multipart/file_content_type.md
  packages/http-client-js/test/scenarios/serializers/file.md
  packages/http-client-js/tsconfig.test.json
Labels: emitter:client:js

#6909 [python] move unittests to this repo, add separate section for them
  packages/http-client-python/eng/scripts/ci/run-ci.ts
  packages/http-client-python/generator/test/data/image.jpg
  packages/http-client-python/generator/test/data/image.png
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_encode_bytes_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/conftest.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_encode_bytes.py
  packages/http-client-python/generator/test/unittests/conftest.py
  packages/http-client-python/generator/test/unittests/requirements.txt
  packages/http-client-python/generator/test/unittests/test_enums.py
  packages/http-client-python/generator/test/unittests/test_model_base_serialization.py
  packages/http-client-python/generator/test/unittests/test_model_base_xml_serialization.py
  packages/http-client-python/generator/test/unittests/test_name_converter.py
  packages/http-client-python/generator/test/unittests/test_optional_return_type.py
  packages/http-client-python/generator/test/unittests/test_parameter_ordering.py
  packages/http-client-python/generator/test/unittests/tox.ini
Labels: emitter:client:python

#6913 [python] update check for azure generation
  packages/http-client-python/emitter/src/emitter.ts
Labels: emitter:client:python

#6897 Improve errors when loading invalid libraries
  .chronus/changes/invalid-library-error-improvments-2025-3-8-16-8-16.md
  packages/compiler/src/core/source-loader.ts
  packages/compiler/src/module-resolver/module-resolver.ts
  packages/compiler/test/module-resolver/module-resolver.test.ts
Labels: compiler:core

#6929 [python] add sort schema test
  packages/http-client-python/generator/test/unittests/test_sort_schema.py
Labels: emitter:client:python

#6825 mgmt, replace fluxbb with binarydata, and StreamResponse with Response<BinaryData>
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/BinaryMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ResponseTypeFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtil.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/util/FluentUtils.java
Labels: emitter:client:java

#6918 http-client-java, fix model in different package
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespaceclient/NamespaceAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespaceclient/NamespaceClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespaceclient/NamespaceClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespaceclient/implementation/NamespaceClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespaceclient/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespaceclient/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespacemodel/models/Model.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/namespacemodel/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-namespaceclient_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/tsptest-namespaceclient.properties
  packages/http-client-java/generator/http-client-generator-test/tsp/namespace.tsp
Labels: emitter:client:java

#6279 Fix bug:Loss array.items.type when with xml
  .chronus/changes/XMLDupScalar-2025-2-5-18-6-12.md
  packages/openapi3/src/xml-module.ts
  packages/openapi3/test/xml-models.test.ts
Labels: emitter:openapi3

#6956 sync-stack, fix premium example
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/ExampleParser.java
Labels: emitter:client:java

#6862 Expose trace engine everywhere
  .chronus/changes/trace-everywhere-2025-3-3-19-48-59.md
  packages/compiler/src/core/cli/cli.ts
  packages/compiler/src/core/cli/types.ts
  packages/compiler/src/core/cli/utils.ts
  packages/compiler/src/install/install.ts
Labels: compiler:core

#6980 remove unused setSDKContextOptions
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/sdk-context-options.ts
Labels: emitter:client:csharp

#6950 [Java] Improves the client method return computation and lookup
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/codemodel/Operation.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/codemodel/Schema.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/codemodel/Value.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/extensionmodel/XmsPageable.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodsReturnDescription.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/MapperUtils.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ResponseTypeFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethodType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodParameter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ReturnTypeJavaDocAssembler.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapperAccessor.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapperTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentClientMethodMapper.java
Labels: emitter:client:java

#6969 [http-client-java]mgmt mock test, fix HEAD operation tests
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/example/ModelExampleWriter.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentMethodMockTestTemplate.java
Labels: emitter:client:java

#6894 send emitter version in telemetry
  .chronus/changes/emitterVersion-2025-3-8-10-36-39.md
  packages/typespec-vscode/src/npm-utils.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#7013 [http-client-csharp] refactor: Keep paging,lro metadata in service methods
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/input-operation.ts
  packages/http-client-csharp/emitter/src/type/input-service-method.ts
  packages/http-client-csharp/emitter/src/type/operation-long-running.ts
  packages/http-client-csharp/emitter/src/type/operation-paging.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/ClientResponseApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/IClientResponseApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientResultProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientResponseApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/ContinuationTokenTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/ListPageableTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/NextLinkTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputLongRunningPagingServiceMethod.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputLongRunningServiceMetadata.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputLongRunningServiceMethod.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperation.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperationKinds.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputPagingServiceMetadata.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputPagingServiceMethod.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputBasicServiceMethodConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputLongRunningPagingServiceMethodConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputLongRunningServiceMetadataConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputLongRunningServiceMethodConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputOperationConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputPagingServiceMetadataConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputPagingServiceMethodConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputServiceMethodConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/OperationKindsTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TestData/TypeSpecInputConverterTests/LoadsTypeSpecPagingInput/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TypeSpecInputConverterTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/tspCodeModel.json
Labels: emitter:client:csharp

#6995 [http-client-java] mgmt mock test, fix additional properties
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ModelTestCaseUtil.java
Labels: emitter:client:java

#5925 [python] support Multi clouds for ARM SDK
  .chronus/changes/multi-clouds-2025-1-10-14-54-3.md
  packages/http-client-python/generator/pygen/codegen/models/client.py
  packages/http-client-python/generator/pygen/codegen/serializers/client_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/sample_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/client.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/config.py.jinja2
  packages/http-client-python/generator/test/azure/requirements.txt
Labels: emitter:client:python

#7011 http-client-java, support initializationBy for child client
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/common/client.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceAsyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/ClientInitializationAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/ClientInitializationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/clientinitialization/implementation/ClientInitializationClientImpl.java
Labels: emitter:client:java

#6979 [python] Perf improvements
  .chronus/changes/perf-improvements-2025-3-14-23-45-9.md
  cspell.yaml
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/eng/scripts/setup/install.py
  packages/http-client-python/eng/scripts/setup/run_tsp.py
Labels: emitter:client:python

#7010 Add update method for InputParaemter
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputParameter.cs
Labels: emitter:client:csharp

#7021 Fix telemetryClient initialization crash issue
  .chronus/changes/fix7020-2025-3-17-9-35-27.md
  packages/typespec-vscode/src/telemetry/telemetry-client.ts
Labels: ide

#6955 [http-client-python] python support optional path parameter
  .chronus/changes/python-optional_path-2025-3-18-10-47-35.md
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/generator/pygen/codegen/models/parameter.py
  packages/http-client-python/generator/pygen/codegen/serializers/parameter_serializer.py
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_parameters_path_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_payload_json_merge_patch_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_parameters_path.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_payload_json_merge_patch.py
  packages/http-client-python/generator/test/unbranded/requirements.txt
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#7040 http-client-java, bump tcgc
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/path/PathClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/path/PathClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/path/implementation/PathClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/path/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/path/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/parameters-path_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/parameters/path/PathTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/payload/jsonmergepatch/JsonMergePatchClientTest.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/HeaderParamAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/HeaderParamClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/HeaderParamClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/MixedParamsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/MixedParamsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/MixedParamsClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/MultipleParamsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/MultipleParamsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/MultipleParamsClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/ParamAliasAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/ParamAliasClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/ParamAliasClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/PathParamAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/PathParamClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/PathParamClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/HeaderParamClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/MixedParamsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/MultipleParamsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ParamAliasClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/PathParamClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/models/BlobProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/models/Input.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/models/WithBodyRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/page/PageAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/page/PageClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/page/implementation/PageClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/parameters/path/PathAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/parameters/path/PathClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/parameters/path/PathClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/parameters/path/implementation/PathClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/parameters/path/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/parameters/path/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-clientgenerator-core-clientinitialization_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-core-page_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/parameters-path_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-clientgenerator-core-clientinitialization.properties
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/parameters-path.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientinitialization/generated/HeaderParamClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/parameters/path/PathTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/parameters/path/generated/PathClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/payload/jsonmergepatch/JsonMergePatchClientTest.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/namespaceclient/generated/NamespaceClientTestBase.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6968 [http-client-python] add client initialization tests
  .chronus/changes/python-client_initialization-2025-3-18-10-53-18.md
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_client_generator_core_client_initialization_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_client_generator_core_client_initialization.py
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#7041 Skip emitter-extension-path for configuration
  packages/http-client-csharp/emitter/src/emitter.ts
Labels: emitter:client:csharp

#7045 Fail CI on build warnings
  packages/http-client-csharp/api-extractor.json
  packages/http-client-csharp/emitter/src/code-model-writer.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/sdk-context.ts
  packages/http-client-csharp/emitter/src/type/code-model.ts
  packages/http-client-csharp/emitter/src/type/input-type.ts
Labels: emitter:client:csharp

#7048 [python] align key in apiview mapping with apiview structure
  .chronus/changes/python-updateApiviewMapping-2025-3-18-15-6-52.md
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
Labels: emitter:client:python

#6895 http-client-java, update Java namespace/package logic, to use info from TCGC
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
Labels: emitter:client:java

#7044 http-client-java, bug fix, spread of optional body
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethodParameter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethodParameter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ConvenienceMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/models/SendOptionalBodyRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-flatten_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/flatten/FlattenTests.java
  packages/http-client-java/generator/http-client-generator-test/tsp/flatten.tsp
Labels: emitter:client:java

#7060 http-client-java, bug fix on param alias, update TCGC 0.54.2
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/ParamAliasClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ParamAliasClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientinitialization/generated/HeaderParamClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/flatten/FlattenTests.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6646 [python] move to vendor folder
  .chronus/changes/python-moveToVendorFolder-2025-3-17-13-43-15.md
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/generator/pygen/codegen/models/imports.py
  packages/http-client-python/generator/pygen/codegen/models/lro_operation.py
  packages/http-client-python/generator/pygen/codegen/models/model_type.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/models/operation_group.py
  packages/http-client-python/generator/pygen/codegen/models/paging_operation.py
  packages/http-client-python/generator/pygen/codegen/models/parameter.py
  packages/http-client-python/generator/pygen/codegen/models/primitive_types.py
  packages/http-client-python/generator/pygen/codegen/models/property.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/model_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/operation_group.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/utils.py.jinja2
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_encode_bytes_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_typetest_property_nullable_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_encode_bytes.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_typetest_property_nullable.py
  packages/http-client-python/generator/test/unittests/conftest.py
  packages/http-client-python/generator/test/unittests/test_model_base_serialization.py
  packages/http-client-python/generator/test/unittests/test_model_base_xml_serialization.py
Labels: emitter:client:python

#7063 [compiler] $.type.isError returns true for error models
  .chronus/changes/typekit-fixes-2025-3-21-16-18-50.md
  packages/compiler/src/experimental/typekit/kits/type.ts
  packages/compiler/test/experimental/typekit/type.test.ts
Labels: compiler:core

#7073 http-client-java, doc on api-version for TypeSpec source
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGen.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/FluentProject.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGenAccessor.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/fluent/TypeSpecFluentPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#7080 [python] add doc for package structure
  website/src/content/docs/docs/emitters/clients/http-client-python/reference/package-structure.mdx
Labels: meta:website

#7081 Add release notes 1.0.0-rc.1
  website/src/content/docs/docs/release-notes/release-2025-04-22.md
Labels: meta:website

#7042 send compile start time and end time telemetry data
  .chronus/changes/CompileTelem-2025-3-18-13-41-39.md
  packages/typespec-vscode/src/telemetry/telemetry-event.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
  website/src/content/docs/docs/introduction/editor/vscode.md
Labels: ide

#7061 Fix BuildProperties for multiple inherit hierarchy
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
Labels: emitter:client:csharp

#7093 [python] add exclude dirs for black to avoid crash
  packages/http-client-python/emitter/src/emitter.ts
Labels: emitter:client:python

#7088 Update CSharpType.Equals to consider DeclaringType
  docs/samples/client/csharp/SampleService/package.json
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#7091 http-client-java, update for compiler rc.1
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/ClassNameUtilTests.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/implementation/DeserializeEmptyStringAsNullClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/models/ResponseModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ChildClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ParentClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/InnerError.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/_specs_-azure-clientgenerator-core-deserializeemptystringasnull_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-clientgenerator-core-clientinitialization_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/_specs_-azure-clientgenerator-core-deserializeemptystringasnull.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/generated/DeserializeEmptyStringAsNullClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientinitialization/generated/HeaderParamClientTestBase.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7092 bump http-client-python to 0.11.2
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/eng/scripts/ci/mypy.ini
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#7097 Fix playground index
  eng/tsp-core/scripts/upload-bundler-packages.js
Labels: eng

#7100 Fix type name matching for codeGenSuppression
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ClientCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ClientCustomizationTests/CanRemoveConstructorContainingGeneratedType/MockInputClient.cs
Labels: emitter:client:csharp

#7104 Respect accessibility from tspCodeModel
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
Labels: emitter:client:csharp

#7107 Update BinaryContentHelperDefinition to use RequestContentApi
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/BinaryContentHelperDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientResponseApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/HttpMessageApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/RequestContentApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#7105 [compiler] Add typekit support for creating a union from an array of children
  .chronus/changes/union-from-children-2025-3-23-20-26-20.md
  packages/compiler/src/experimental/typekit/kits/union.ts
  packages/compiler/test/experimental/typekit/union.test.ts
Labels: compiler:core

#7090 [compiler] Add typekit support to check if a type is in a namespace
  .chronus/changes/type-in-namespace-2025-3-23-17-11-6.md
  packages/compiler/src/experimental/typekit/kits/type.ts
  packages/compiler/test/experimental/typekit/type.test.ts
Labels: compiler:core

#6927 Add docs for `@bodyRoot` vs `@body`
  website/src/content/docs/docs/libraries/http/operations.md
Labels: meta:website

#6883 Realm handle multiple instances
  .chronus/changes/realm-handle-multiple-instances-2025-3-7-16-44-1.md
  packages/compiler/src/experimental/realm.ts
Labels: compiler:core

#7128 Use RequestContentApi when constructing request content
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/BinaryContentHelperSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/RequestContentApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/TestRequestContentApi.cs
Labels: emitter:client:csharp

#7136 Fix bug in operator writing
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DiscriminatorTests/TestNestedDiscriminatedModelWithOwnDiscriminator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFieldFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeEnumToFrameworkType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeFixedEnumString.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeNullableStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeStringToFixedEnum.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeUriProperty.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeDictionaryToBinaryData.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangeListOfEnumPropToListOfExtensibleEnum.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyName.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertyNameAndRedefineOriginal.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertySerializedName.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(int32).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeExtensibleEnum(string).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(int32,1).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeLiteralExtensibleEnum(string,foo).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizePropertyUsingField.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForPropertyInBase.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanCustomizeSerializationMethodForRenamedProperty.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceDeserializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanReplaceSerializationMethod.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/ReadOnlyMemPropertyType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/MethodSignatureBase.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/MethodProviderTests.cs
Labels: emitter:client:csharp

#7150 Bump deps to rc1
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Payload/JsonMergePatch/JsonMergePatchTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/path/Configuration.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/path/Parameters.Path.sln
  packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/path/src/Generated/PathClient.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/path/src/Generated/PathClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/path/src/Parameters.Path.csproj
  packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/path/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#7139 http-client-java, bug fix, use final in immutable Headers class
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/util/ModelTemplateHeaderHelper.java
Labels: emitter:client:java

#7159 http-client-java, bump dependencies (tcgc)
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7163 Fix the .tsp for the Spector test to specify base64url encoding
  .chronus/changes/fix-spector-encode-base64url-2025-3-29-14-28-9.md
  packages/http-specs/specs/encode/bytes/main.tsp
Labels: lib:http-specs

#7168 Make path expansion validation more flexible
  .chronus/changes/path-expansion-optional-more-flexible-2025-3-29-12-57-22.md
  .chronus/changes/path-expansion-optional-more-flexible-2025-3-29-14-7-21.md
  packages/http/src/lib.ts
  packages/http/src/route.ts
  packages/http/test/http-decorators.test.ts
  packages/http/test/routes.test.ts
  packages/rest/src/rest.ts
  packages/rest/test/routes.test.ts
Labels: lib:http

#7158 http-client-java, copilot-instruction for "Update package for latest compiler"
  packages/http-client-java/.github/copilot-instructions.md
Labels: emitter:client:java

#7160 fix the empty client issue
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
Labels: emitter:client:csharp

#7166 API additions in support of tracing
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmLibraryVisitor.cs
Labels: emitter:client:csharp

#7180 Format tspconfig.yaml, skip files with known formatting, show a summary at the end
  .chronus/changes/formatter-improvements-2025-3-30-15-31-26.md
  .chronus/changes/formatter-improvements-2025-3-30-15-31-27.md
  packages/compiler/src/core/cli/actions/format.ts
  packages/compiler/src/core/formatter-fs.ts
  packages/compiler/src/core/formatter.ts
Labels: compiler:core

#5674 [typespec-vscode] Rename file should rename import
  .chronus/changes/rename-file-should-rename-import-2025-2-25-16-22-53.md
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/server/rename-file.ts
  packages/compiler/src/server/server.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/types.ts
  packages/compiler/src/testing/test-server-host.ts
  packages/compiler/src/utils/fs-utils.ts
  packages/compiler/test/server/rename-files.test.ts
Labels: ide, compiler:core

#7189 Make all client MethodProviders be ScmMethodProviders
  docs/samples/client/csharp/nuget.config
  docs/samples/client/csharp/plugins/logging/Logging.Plugin/src/Logging.Plugin.csproj
  docs/samples/client/csharp/plugins/logging/Logging.Plugin/src/LoggingVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProviderCollection.cs
Labels: emitter:client:csharp
