Repository microsoft/typespec, pull requests merged in 2025-08, with the labels that each got.

#7899 Spread circular ref
  .chronus/changes/spread-circular-ref-2025-6-15-4-12-13.md
  .chronus/changes/spread-circular-ref-2025-6-15-4-12-14.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/types.ts
  packages/compiler/test/checker/intersections.test.ts
  packages/compiler/test/checker/model.test.ts
  packages/compiler/test/checker/operations.test.ts
  packages/compiler/test/checker/spread.test.ts
  packages/compiler/test/checker/templates.test.ts
  packages/compiler/test/checker/unused-using.test.ts
  packages/html-program-viewer/src/react/type-config.ts
Labels: compiler:core

#8076 Some minor refactor on format parser
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/StringExtensions.cs
Labels: emitter:client:csharp

#7829 [http-client-python] add pyproject toml
  .chronus/changes/http-client-python-add-pyproject-toml-2025-6-16-18-9-43.md
  cspell.yaml
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/pygen/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/pyproject.toml.jinja2
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/azure/tox.ini
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_authentication_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_authentication.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_unbranded.py
  packages/http-client-python/generator/test/unbranded/requirements.txt
  packages/http-client-python/generator/test/unbranded/tox.ini
Labels: emitter:client:python

#8099 Temporarily allow dev azure-core version
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#8111 Enable codeql
  eng/emitters/pipelines/templates/jobs/build-job.yml
Labels: eng

#8110 Add suppression for attributes referencing experimental models
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelReaderWriterContextDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/ModelReaderWriterContextDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/CustomizedExperimentalModelsHaveAttributeSuppressions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/CustomizedExperimentalModelsHaveAttributeSuppressions/CustomizedExperimentalModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/ExperimentalDependencyModelHaveAttributeSuppressions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/ExperimentalModelsHaveAttributeSuppression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/SuppressionStatement.cs
Labels: emitter:client:csharp

#8069 http-client-java, update tcgc 0.58.2
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/external-schemas.ts
  packages/http-client-java/emitter/src/operation-utils.ts
  packages/http-client-java/emitter/src/type-utils.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/apikey/implementation/ApiKeyClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/http/custom/implementation/CustomClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/implementation/OAuth2ClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/response/statuscoderange/implementation/StatusCodeRangeClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/authentication/apikey/implementation/ApiKeyClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/authentication/http/custom/implementation/CustomClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/authentication/oauth2/implementation/OAuth2ClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/basic/implementation/BasicClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/response/statuscoderange/implementation/StatusCodeRangeClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/methodoverride/implementation/MethodOverrideClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/specialheaders/implementation/SkipSpecialHeadersImpl.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#8118 build: update pr creation script to cont. on install failures
  packages/http-client-csharp/eng/scripts/Submit-AzureSdkForNetPr.ps1
Labels: emitter:client:csharp

#8116 Fix to property sorting for models
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/SerializationCustomizationTests/CanChangePropertySerializedName.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/TypeSymbolExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/CanonicalTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/Thing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#8120 build: more pr creation script updates
  packages/http-client-csharp/eng/scripts/Submit-AzureSdkForNetPr.ps1
Labels: emitter:client:csharp

#8134 fix: do not cache attributes
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
Labels: emitter:client:csharp

#8142 http-client-java, compiler 1.3
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/HierarchyBuildingAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/HierarchyBuildingClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/HierarchyBuildingClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/implementation/HierarchyBuildingClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/models/Animal.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/models/Dog.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/models/Pet.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/hierarchybuilding/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/EnumConflictClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/FirstOperationsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/FirstOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/SecondOperationsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/SecondOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/firstnamespace/models/FirstModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/firstnamespace/models/Status.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/firstnamespace/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/implementation/EnumConflictClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/implementation/FirstOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/implementation/SecondOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/secondnamespace/models/SecondModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/secondnamespace/models/SecondStatus.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/naming/enumconflict/secondnamespace/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/OverloadAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/OverloadClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/OverloadClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/implementation/OverloadClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/models/Resource.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/client/overload/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-clientgenerator-core-hierarchybuilding_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-clientgenerator-core-hierarchybuilding_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/client-naming-enumconflict_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/client-naming-enumconflict_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/client-overload_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/client-overload_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-clientgenerator-core-hierarchybuilding.properties
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/client-naming-enumconflict.properties
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/client-overload.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/hierarchybuilding/HierarchyBuildingTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/hierarchybuilding/generated/HierarchyBuildingClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/client/naming/enumconflict/EnumConflictTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/client/naming/enumconflict/generated/EnumConflictClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/client/overload/MethodOverloadTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/client/overload/generated/OverloadClientTestBase.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#8115 Change the steps in VSCode e2e test to solve CI failing issues
  .chronus/changes/fix-vscode-e2e-test-fail-2025-8-5-13-18-41.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/test/extension/common/common-steps.ts
  packages/typespec-vscode/test/extension/create-typespec.test.ts
Labels: ide

#8146 Revert change to call serialization hooks for non framework types
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmTypeFactory.cs
Labels: emitter:client:csharp

#8154 Add non-root overload taking typeprovider
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CodeModelGenerator.cs
Labels: emitter:client:csharp

#8153 fix: do not throw for unhandled serialization
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Utilities/DiagnosticCodes.cs
Labels: emitter:client:csharp

#8159 Fix list renaming
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
Labels: emitter:client:csharp

#8160 Add IPAddress to framework type loading
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TypeFactoryTests.cs
Labels: emitter:client:csharp

#8117 [python] keep declaration of pyproject.toml same with existing setup.py of ARM SDK
  .chronus/changes/update-pyproject-2025-7-6-17-10-42.md
  packages/http-client-python/generator/pygen/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/CHANGELOG.md.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/pyproject.toml.jinja2
Labels: emitter:client:python

#8174 Refactor to avoid double cast in single expression
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
Labels: emitter:client:csharp

#8182 Refactor assign next link
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
Labels: emitter:client:csharp

#8098 http-client-java, json merge patch, bug, client calls non-existent `JsonMergePatchHelper` accessor method
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ConvenienceMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/patch/PatchAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/patch/PatchClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/patch/implementation/PatchesImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-patch_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-patch_metadata.json
  packages/http-client-java/generator/http-client-generator-test/tsp/patch.tsp
Labels: emitter:client:java

#8195 Use canonical view for spread model ctors
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/TestData/ScmMethodProviderCollectionTests/SpreadModelCanonicalViewIsUsedToFindConstructor/SpreadModel.cs
Labels: emitter:client:csharp

#8201 feat: adds support for importing servers
  .chronus/changes/feat-servers-import-2025-7-14-19-51-14.md
  packages/openapi3/src/cli/actions/convert/generators/generate-main.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-servers.ts
  packages/openapi3/src/cli/actions/convert/generators/generate-service-info.ts
  packages/openapi3/src/cli/actions/convert/interfaces.ts
  packages/openapi3/src/cli/actions/convert/transforms/transform-servers.ts
  packages/openapi3/src/cli/actions/convert/transforms/transforms.ts
  packages/openapi3/test/tsp-openapi3/output/petstore-sample/main.tsp
  packages/openapi3/test/tsp-openapi3/output/petstore-swagger/main.tsp
  packages/openapi3/test/tsp-openapi3/output/servers-variables/main.tsp
  packages/openapi3/test/tsp-openapi3/specs/servers-variables/service.yml
Labels: emitter:openapi3

#8188 http-client-java, unit test on json merge patch for hierarchical child model bug fix
  packages/http-client-java/generator/http-client-generator-test/src/test/java/tsptest/patch/PatchClientTest.java
Labels: emitter:client:java

#8189 [python] fix to keep some existing parts of pyproject.toml
  .chronus/changes/publish-python-2025-08-14-2025-7-14-12-42-53.md
  packages/http-client-python/generator/pygen/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/pyproject.toml.jinja2
Labels: emitter:client:python

#8210 Add testcases
  .chronus/changes/add-testcases-2025-7-15-14-31-51.md
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_arm_operationtemplates_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_arm_operationtemplates.py
Labels: emitter:client:python

#8206 Fix to model factory discriminator handling
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
Labels: emitter:client:csharp

#8219 Fix MRW attribute for nullable value type
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelReaderWriterContextDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/ModelReaderWriterContextDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/NullableValueTypesAreHandledCorrectly.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/NullableValueTypesAreHandledCorrectly/CustomizedModel.cs
Labels: emitter:client:csharp

#8218 fix: include all types that implement mrw for mrw buildable attributes
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelReaderWriterContextDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/ModelReaderWriterContextDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#8237 Make ModelReaderWriterContextDefinition public
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelReaderWriterContextDefinition.cs
Labels: emitter:client:csharp

#8258 Add suppression for obsolete mrw buildable types
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelReaderWriterContextDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/ModelReaderWriterContextDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/ValidateCustomObsoleteTypeHasAttributeSuppression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/ValidateCustomObsoleteTypeHasAttributeSuppression/CustomizedObsoleteModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/ValidateObsoleteFrameworkTypeHasAttributeSuppression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelReaderWriterContextDefinitionTests/ValidateObsoleteGeneratedTypeHasAttributeSuppression.cs
Labels: emitter:client:csharp

#8241 Sort specs
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Get-Spector-Coverage.ps1
  packages/http-client-csharp/eng/scripts/Spector-Helper.psm1
  packages/http-client-csharp/eng/scripts/Test-Spector.ps1
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/tspCodeModel.json
Labels: emitter:client:csharp

#8250 [python] don't send content-type when no request body
  .chronus/changes/python-fix-optional-body-2025-7-20-13-12-10.md
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/parameter_serializer.py
Labels: emitter:client:python

#8248 [Python] fix ungenerated model which is referred by operation
  .chronus/changes/python-fix-model-2025-7-21-8-1-10.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/http.ts
Labels: emitter:client:python

#7824 [python] upgrade typing with new 3.9 min version
  .chronus/changes/python-upgradeTyping-2025-6-3-15-47-16.md
  packages/http-client-python/generator/pygen/__init__.py
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/codegen/models/__init__.py
  packages/http-client-python/generator/pygen/codegen/models/base.py
  packages/http-client-python/generator/pygen/codegen/models/base_builder.py
  packages/http-client-python/generator/pygen/codegen/models/client.py
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/generator/pygen/codegen/models/combined_type.py
  packages/http-client-python/generator/pygen/codegen/models/constant_type.py
  packages/http-client-python/generator/pygen/codegen/models/credential_types.py
  packages/http-client-python/generator/pygen/codegen/models/dictionary_type.py
  packages/http-client-python/generator/pygen/codegen/models/enum_type.py
  packages/http-client-python/generator/pygen/codegen/models/imports.py
  packages/http-client-python/generator/pygen/codegen/models/list_type.py
  packages/http-client-python/generator/pygen/codegen/models/lro_operation.py
  packages/http-client-python/generator/pygen/codegen/models/lro_paging_operation.py
  packages/http-client-python/generator/pygen/codegen/models/model_type.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/models/operation_group.py
  packages/http-client-python/generator/pygen/codegen/models/paging_operation.py
  packages/http-client-python/generator/pygen/codegen/models/parameter.py
  packages/http-client-python/generator/pygen/codegen/models/parameter_list.py
  packages/http-client-python/generator/pygen/codegen/models/primitive_types.py
  packages/http-client-python/generator/pygen/codegen/models/property.py
  packages/http-client-python/generator/pygen/codegen/models/request_builder.py
  packages/http-client-python/generator/pygen/codegen/models/request_builder_parameter.py
  packages/http-client-python/generator/pygen/codegen/models/response.py
  packages/http-client-python/generator/pygen/codegen/models/utils.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/client_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/enum_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/import_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/metadata_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/model_init_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/model_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/operation_groups_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/operations_init_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/parameter_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/patch_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/request_builders_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/sample_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/test_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/patch.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/utils.py.jinja2
  packages/http-client-python/generator/pygen/preprocess/__init__.py
  packages/http-client-python/generator/pygen/preprocess/helpers.py
  packages/http-client-python/generator/pygen/utils.py
  packages/http-client-python/generator/test/azure/mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unittests/test_model_base_serialization.py
  packages/http-client-python/generator/test/unittests/test_model_base_xml_serialization.py
Labels: emitter:client:python

#8290 Fix unreferenced models
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
Labels: emitter:client:csharp

#8257 add missing argument.
  website/src/content/docs/docs/extending-typespec/emitter-framework.md
Labels: meta:website

#8315 fix: include generated-defs in published emitter pkg
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#8316 Use azure identity auth for vs marketplace publishing
  cspell.yaml
  eng/tsp-core/pipelines/jobs/publish-vs.yml
  eng/tsp-core/pipelines/jobs/publish-vscode.yml
Labels: eng

#8321 [python] publish new version
  .chronus/changes/add-testcases-2025-7-15-14-31-51.md
  .chronus/changes/add-testcases-2025-7-18-15-18-26.md
  .chronus/changes/add-testcases-2025-7-20-16-28-37.md
  .chronus/changes/cloud-setting-python-2025-7-15-14-15-42.md
  .chronus/changes/copilot-fix-8310-2025-7-28-13-51-12.md
  .chronus/changes/http-client-python-move-azure-sdk-tools-dev-reqs-2025-7-25-13-25-11.md
  .chronus/changes/main-2025-7-19-11-54-0.md
  .chronus/changes/publish-python-2025-08-14-2025-7-14-12-42-53.md
  .chronus/changes/python-fix-model-2025-7-21-8-1-10.md
  .chronus/changes/python-fix-optional-body-2025-7-20-13-12-10.md
  .chronus/changes/python-upgradeTyping-2025-6-3-15-47-16.md
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#8301 http-client-java, clean generated java files in emitter
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/partialupdate/implementation/PartialUpdateOpsImpl.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/TypeSpecPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/fluent/TypeSpecFluentPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/util/FileUtil.java
  packages/http-client-java/generator/http-client-generator/src/test/java/com/microsoft/typespec/http/client/generator/util/FileUtilTests.java
Labels: emitter:client:java

#8335 Allow create message API to return statements
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/ClientPipelineApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/HttpRequestApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientPipelineProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/PipelineRequestProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
Labels: emitter:client:csharp

#8330 feat: support deserializing dynamic model decorator
  packages/http-client-csharp/emitter/src/lib/decorators.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/InputDecoratorInfoConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/InputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TestData/TypeSpecInputConverterTests/LoadsDynamicModel/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TypeSpecInputConverterTests.cs
Labels: emitter:client:csharp
