Repository microsoft/typespec, pull requests merged in 2025-03, with the labels that each got.

#6205 speed up binskim
  eng/tsp-core/pipelines/publish.yml
Labels: eng

#6137 [typespec-vscode] Fix code snippet for union in typespec-vscode
  .chronus/changes/fix-code-snippet-for-union-in-typespec-vscode-2025-1-25-3-25-22.md
  packages/typespec-vscode/snippets.json
Labels: ide

#6204 Http filtering create in a realm
  .chronus/changes/fix-http-filtering-realm-2025-1-28-17-54-4.md
  packages/compiler/src/core/checker.ts
Labels: compiler:core

#6208 Use PME for esrp signing
  eng/tsp-core/pipelines/templates/signing/sign.yml
Labels: eng

#6222 [python] add tim and laurent to codeowners for python
  .github/CODEOWNERS
Labels: eng

#6190 [python] add bump for dev version for http-client-python
  .chronus/changes/python-addDevRelease-2025-1-27-22-33-22.md
  packages/http-client-python/eng/pipeline/publish.yml
Labels: emitter:client:python

#6233 Fix memory leak with realms
  .chronus/changes/fix-realm-memory-leak-2025-2-3-17-52-22.md
  packages/compiler/src/experimental/realm.ts
  packages/compiler/src/experimental/typekit/kits/model.ts
Labels: compiler:core

#6227 Emitter updates to return paging information
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/operation-paging.ts
  packages/http-client-csharp/emitter/src/type/response-location.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ListWithContinuationTokenResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ListWithContinuationTokenResponse.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ListWithNextLinkResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ListWithNextLinkResponse.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#6218 http-client-java, fix corner case that reserved keyword renamed differently
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/models/SendLongRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/models/SendLongOptions.java
  packages/http-client-java/generator/http-client-generator-test/tsp/flatten.tsp
Labels: emitter:client:java

#6210 support using standalone tsp to start LSP server
  .chronus/changes/vscode-standalone-cli-2025-2-3-9-39-31.md
  packages/typespec-vscode/ThirdPartyNotices.txt
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/tsp-executable-resolver.ts
  packages/typespec-vscode/src/utils.ts
  pnpm-lock.yaml
Labels: ide

#6214 [python] add task pool for regeneration
  .chronus/changes/python-regenerate-optimize-2025-2-3-9-23-57.md
  packages/http-client-python/eng/scripts/ci/regenerate.ts
Labels: emitter:client:python

#6244 http-client-java, use wire type for unknown encode
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/lib.ts
  packages/http-client-java/emitter/src/type-utils.ts
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/builtin/BuiltinAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/builtin/BuiltinClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/builtin/implementation/BuiltinOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/builtin/models/Encoded.java
  packages/http-client-java/generator/http-client-generator-test/tsp/builtin.tsp
Labels: emitter:client:java

#6257 Fix publish standalone
  eng/tsp-core/pipelines/jobs/cli/publish-artifacts.yml
Labels: eng

#6256 Decouple package name and primary namespace
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/SourceInput/SourceInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/ConfigurationTests.cs
Labels: emitter:client:csharp

#6260 Fix wire format check logic
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
Labels: emitter:client:csharp

#6143 http-client-java, support (non-nested) continuationToken for unbranded
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/common/client.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/PageableClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/ServerDrivenPaginationClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/PageableClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/RequestHeaderResponseHeaderResponse.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/RequestQueryResponseHeaderResponse.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationsImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/serverdrivenpagination/continuationtoken/implementation/RequestHeaderResponseBodyResponse.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/serverdrivenpagination/continuationtoken/implementation/RequestQueryResponseBodyResponse.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/serverdrivenpagination/continuationtoken/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/payload-pageable_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/payload/pageable/PageableTests.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/extensionmodel/PageableContinuationToken.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/extensionmodel/XmsPageable.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodPageDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ModelPropertySegment.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/MethodUtil.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/PageableClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/implementation/PageableClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/payload-pageable_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/test/java/payload/pageable/PageableTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/payload/pageable/generated/PageableClientTestBase.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6083 Add Renhe as the code owner for typespec/vs & vscode
  .github/CODEOWNERS
Labels: eng

#5972 [VSCode] Multiple generation
  .chronus/changes/multipleGeneration-2025-1-12-15-32-3.md
  packages/typespec-vscode/src/npm-utils.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#6275 http-client-java, update compiler 0.66
  packages/http-client-java/emitter/src/type-utils.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/payload/pageable/PageableTests.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/type/property/valuetypes/CollectionsStringClientTest.java
  packages/http-client-java/generator/http-client-generator-test/tsp/arm-stream-style-serialization.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/arm.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/builtin.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/discriminator-edge-cases.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/enum.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/error.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/flatten.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/internal.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/literal.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/lro.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/method-override.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/model.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/multipart.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/multiple-apiversion.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/multiple-content-types.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/naming.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/nested-enum-discriminator.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/optional.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/partialupdate.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/patch.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/protocol-api-convenient-api.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/response.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/server.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/special-chars.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/special-headers.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/union.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/versioning.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/visibility.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/wire-type.tsp
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6272 Fix method name
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
Labels: emitter:client:csharp

#6273 Remove outdated namespace example
  packages/http-client-csharp/readme.md
Labels: emitter:client:csharp

#6271 Potential fix for `StripGuards`
  .chronus/changes/tentative-strip-guard-fix-2025-2-5-1-39-13.md
  packages/compiler/src/experimental/typekit/define-kit.ts
Labels: compiler:core

#6282 Paging input types
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputContinuationToken.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputNextLink.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperation.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperationLongRunning.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperationPaging.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperationResponse.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperationResponseHeader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputParameter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputRequestLocation.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputResponseLocation.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/OperationPaging.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecContinuationTokenConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputArrayTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputAuthConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputClientConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputConstantConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputDateTimeTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputDictionaryTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputDurationTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeValueConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputLiteralTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputModelPropertyConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputNamespaceConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputNullableTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputOperationConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputParameterConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputPrimitiveTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputSerializationOptionsConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputUnionTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputXmlSerializationOptionsConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecNextLinkConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecOperationLongRunningConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecOperationResponseConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecOperationResponseHeaderConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/Utf8JsonReaderExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/Microsoft.TypeSpec.Generator.Input.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TestData/TypeSpecInputConverterTests/LoadsTypeSpecPagingInput/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TypeSpecInputConverterTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Shared/Conversions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
Labels: emitter:client:csharp

#6296 Revert "[python] add bump for dev version for http-client-python"
  packages/http-client-python/eng/pipeline/publish.yml
Labels: emitter:client:python

#6289 [OpenApi3] Fix default date time encoding
  .chronus/changes/fix-default-date-time-encoding-2025-2-5-15-4-51.md
  packages/openapi3/src/encoding.ts
  packages/openapi3/test/primitive-types.test.ts
  packages/samples/test/output/encoding/@typespec/openapi3/openapi.yaml
Labels: 1_0_E2E

#6292 Fix tsp init not respecting default selected emitters
  .chronus/changes/fix-tsp-init-selected-emitter-2025-2-6-0-55-9.md
  packages/compiler/src/init/init.ts
Labels: compiler:core, 1_0_E2E

#6267 [http-server-csharp] Fix generation of multiline and long comments
  .chronus/changes/fix-multiline-comments-2025-2-4-15-44-28.md
  packages/http-server-csharp/src/lib/utils.ts
  packages/http-server-csharp/test/generation.test.ts
Labels: 1_0_E2E

#6303 update workspace version range
  .chronus/changes/change-workspace-ranges-2025-2-6-10-3-45.md
  packages/astro-utils/package.json
  packages/best-practices/package.json
  packages/bundle-uploader/package.json
  packages/bundler/package.json
  packages/compiler/package.json
  packages/emitter-framework/package.json
  packages/events/package.json
  packages/html-program-viewer/package.json
  packages/http-client-js/package.json
  packages/http-client/package.json
  packages/http-server-csharp/package.json
  packages/http-server-js/package.json
  packages/http-specs/package.json
  packages/http/package.json
  packages/internal-build-utils/src/prerelease.ts
  packages/internal-build-utils/test/prerelease.test.ts
  packages/json-schema/package.json
  packages/library-linter/package.json
  packages/openapi/package.json
  packages/openapi3/package.json
  packages/playground-website/package.json
  packages/playground/package.json
  packages/prettier-plugin-typespec/package.json
  packages/protobuf/package.json
  packages/rest/package.json
  packages/samples/package.json
  packages/spec-dashboard/package.json
  packages/spec/package.json
  packages/spector/package.json
  packages/sse/package.json
  packages/streams/package.json
  packages/tspd/package.json
  packages/typespec-vs/package.json
  packages/typespec-vscode/package.json
  packages/versioning/package.json
  packages/xml/package.json
  pnpm-lock.yaml
  website/package.json
Labels: 1_0_E2E

#6309 Fix path for emitted files
  .chronus/changes/fix-path-emitted-files-2025-2-6-13-20-48.md
  packages/compiler/src/core/emitter-utils.ts
  packages/compiler/src/core/program.ts
Labels: 1_0_E2E

#6311 Removes deprecated isContentTypeHeader usage from openapi3
  .chronus/changes/oa3-rm-is-content-type-2025-2-6-14-36-21.md
  packages/openapi3/src/openapi.ts
Labels: 1_0_E2E

#6298 http-client-java, fix duplicate mock test
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/javamodel/FluentJavaPackage.java
Labels: emitter:client:java

#6278 bump typespec version to 0.66.0
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/RenamedModelTests.cs
  packages/http-client-csharp/generator/TestProjects/Local.Tests/CustomizationTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Custom/RenamedModelCustom.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RenamedModelCustom.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/RenamedModelCustom.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#6300 http-client-java, improve error diagnostics for spotless failure
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/lib.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/postprocessor/Postprocessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/postprocessor/implementation/CodeFormatterUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/simplelogger.properties
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/SampleTemplate.java
  packages/http-client-java/generator/http-client-generator-test/tsp/response.tsp
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
  packages/http-client-java/generator/http-client-generator/src/main/resources/simplelogger.properties
Labels: emitter:client:java

#6335 Tweaks cli output
  .chronus/changes/cli-output-tweaks-2025-2-8-22-29-7.md
  packages/compiler/src/core/cli/utils.ts
  packages/compiler/src/core/logger/console-sink.browser.ts
  packages/compiler/src/core/logger/console-sink.ts
  packages/compiler/src/core/logger/dynamic-task.ts
  packages/compiler/src/core/logger/logger.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/init/init.ts
  packages/compiler/test/logger/tracer.test.ts
Labels: compiler:core

#6201 add spector test for jsonl
  .chronus/changes/spector-jsonl-2025-2-3-11-41-47.md
  .chronus/changes/spector-jsonl-2025-2-3-22-44-4.md
  packages/http-specs/spec-summary.md
  packages/http-specs/specs/streaming/jsonl/main.tsp
  packages/http-specs/specs/streaming/jsonl/mockapi.ts
  packages/spector/src/server/server.ts
Labels: lib:http-specs

#6015 VSCode extension: add openapi3 preview
  .chronus/changes/vscode-openapi-preview-2025-1-14-15-22-4.md
  .prettierignore
  eslint.config.js
  packages/typespec-vscode/.vscodeignore
  packages/typespec-vscode/package.json
  packages/typespec-vscode/rollup.config.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/tsp-language-client.ts
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
  packages/typespec-vscode/swagger-ui/swagger-initializer.js
  pnpm-lock.yaml
Labels: ide, 1_0_E2E

#6334 Upgrade codeql action
  .github/workflows/codeql.yml
Labels: eng

#6091 Replace m2r with new typescript-based method
  .chronus/changes/feature-md2rst-2025-1-21-1-49-22.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/emitter/test/utils.test.ts
  packages/http-client-python/eng/scripts/setup/run_tsp.py
  packages/http-client-python/generator/pygen/m2r.py
  packages/http-client-python/generator/setup.py
  packages/http-client-python/generator/test/generic_mock_api_tests/unittests/test_m2r.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#6333 Expose initScaffolding via an internals export
  .chronus/changes/expose-init-internals-2025-2-8-13-21-58.md
  .chronus/changes/expose-init-internals-2025-2-8-20-55-39.md
  packages/bundler/src/bundler.ts
  packages/compiler/package.json
  packages/compiler/src/config/config-loader.ts
  packages/compiler/src/config/config-to-options.ts
  packages/compiler/src/core/cli/actions/compile/compile.ts
  packages/compiler/src/core/cli/cli.ts
  packages/compiler/src/core/entrypoint-resolution.ts
  packages/compiler/src/core/node-host.ts
  packages/compiler/src/core/node-system-host.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/source-loader.ts
  packages/compiler/src/core/types.ts
  packages/compiler/src/init/core-templates.ts
  packages/compiler/src/init/scaffold.ts
  packages/compiler/src/internals/index.ts
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/server.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/testing/test-utils.ts
  packages/compiler/src/utils/io.ts
  packages/compiler/src/utils/misc.ts
  packages/compiler/test/core/node-host/node-host.test.ts
  packages/compiler/test/internals.test.ts
Labels: compiler:core

#6347 Report install failures in init script
  .chronus/changes/fix-report-install-failures-2025-2-10-20-52-57.md
  packages/compiler/src/init/init.ts
Labels: compiler:core

#6286 Remove deprecated discriminator union
  .chronus/changes/remove-discriminator-union-2025-2-8-16-55-52.md
  .chronus/changes/remove-discriminator-union-2025-2-8-5-37-21.md
  .chronus/changes/remove-discriminator-union-2025-2-8-5-40-15.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/lib/std/decorators.tsp
  packages/compiler/src/core/helpers/discriminator-utils.ts
  packages/compiler/src/core/helpers/index.ts
  packages/compiler/src/index.ts
  packages/compiler/src/lib/decorators.ts
  packages/compiler/test/decorators/decorators.test.ts
  packages/compiler/test/helpers/discriminator-utils.test.ts
  packages/http-client-js/eng/scripts/emit-e2e.js
  packages/http-client-js/package.json
  packages/http-specs/specs/type/property/additional-properties/main.tsp
  packages/openapi3/src/schema-emitter-3-0.ts
  packages/openapi3/src/schema-emitter-3-1.ts
  packages/openapi3/src/schema-emitter.ts
  packages/openapi3/test/union-schema.test.ts
  pnpm-lock.yaml
  website/src/content/docs/docs/standard-library/built-in-decorators.md
Labels: 1_0_E2E

#6344 Update multipart docs to show `HttpPart` syntax
  website/src/content/docs/docs/libraries/http/multipart.md
Labels: meta:website

#6349 [python] pass combined types to python generator
  .chronus/changes/python-fixCombinedAcceptType-2025-2-11-3-19-48.md
  packages/http-client-python/.vscode/launch.json
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/package.json
Labels: emitter:client:python

#6358 http-client-java, bump http-specs
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/serialization/encodedname/json/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/serialization/encodedname/json/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/serialization/encodedname/json/property/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/additionalproperties/WidgetData0.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/additionalproperties/WidgetData1.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/parameters/collectionformat/CollectionFormatClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/additionalproperties/SpreadTests.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/serialization/encodedname/json/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/serialization/encodedname/json/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/serialization/encodedname/json/property/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/type/property/additionalproperties/models/WidgetData0.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/type/property/additionalproperties/models/WidgetData1.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/parameters/collectionformat/CollectionFormatClientTest.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/type/property/additionalproperties/SpreadTests.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6353 Implement nextLink paging
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ClientModelExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/ClientResponseApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/HttpResponseApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/IClientResponseApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientResultProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/PipelineResponseProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/ClientResponseApiSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/HttpResponseApiSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientResponseApiTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/NextLinkTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputNextLink.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputPrimitiveType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TypeSpecInputConverterTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/BinaryDataSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/DoWhileStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/WhileStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/YieldBreakStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/YieldReturnStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/TestData/StatementTests/TestDoWhileStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/TestData/StatementTests/TestWhileStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
  packages/http-client-csharp/generator/Packages.Data.props
  packages/http-client-csharp/generator/SamplePlugin/src/OutputTypes/SamplePluginLibraryVisitor.cs
  packages/http-client-csharp/generator/SamplePlugin/src/Providers/SamplePluginMethodProviderCollection.cs
  packages/http-client-csharp/generator/SamplePlugin/src/SampleCodeModelPlugin.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ListWithNextLinkResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ListWithNextLinkResponse.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#6318 [VSCode]update Text and resolve process bar does not appear issue
  .chronus/changes/TextRefine-2025-2-7-15-11-45.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emitter.ts
Labels: ide, 1_0_E2E

#6393 Add E2E tests job to build stage in Publish pipeline
  eng/tsp-core/pipelines/publish.yml
Labels: eng

#6388 Remove object to value conversion
  .chronus/changes/remove-type-value-conversion-2025-2-11-23-11-59.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/type-relation-checker.ts
  packages/compiler/test/checker/decorators.test.ts
  packages/compiler/test/checker/relation.test.ts
  packages/compiler/test/checker/values/array-values.test.ts
  packages/compiler/test/checker/values/object-values.test.ts
  packages/openapi/test/decorators.test.ts
  packages/openapi3/test/array.test.ts
Labels: compiler:core

#6295 Update "Create TypeSpec Project" flow according to 'tsp init' and bundle with compiler logic directly
  .chronus/changes/vscode-bundle-init-2025-2-11-18-46-5.md
  .chronus/changes/vscode-bundle-init-2025-2-6-14-38-22.md
  .chronus/changes/vscode-bundle-init-2025-2-6-14-39-23.md
  packages/compiler/.scripts/build-init-templates.ts
  packages/compiler/src/internals/index.ts
  packages/compiler/templates/scaffolding.json
  packages/internal-build-utils/src/generate-third-party-notice.ts
  packages/typespec-vscode/.gitignore
  packages/typespec-vscode/.vscodeignore
  packages/typespec-vscode/ThirdPartyNotices.txt
  packages/typespec-vscode/package.json
  packages/typespec-vscode/rollup.config.ts
  packages/typespec-vscode/scripts/copy-templates.js
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/log/extension-log-listener.ts
  packages/typespec-vscode/src/pre-extension-activate.ts
  packages/typespec-vscode/src/ui-utils.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  pnpm-lock.yaml
Labels: ide, 1_0_E2E

#6402 replace "cadl" with "tsp"
  .chronus/changes/clear-cadl-python-2025-2-12-6-49-45.md
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/external-process.ts
  packages/http-client-python/eng/scripts/setup/run_tsp.py
  packages/http-client-python/generator/pygen/__init__.py
  packages/http-client-python/generator/pygen/black.py
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/preprocess/__init__.py
  packages/http-client-python/generator/pygen/preprocess/python_mappings.py
  packages/http-client-python/generator/pygen/utils.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/cadl-ranch-config.yaml
Labels: emitter:client:python

#6407 Fix package manager install on windows
  .chronus/changes/fix-install-pm-windows-rename-2025-2-12-15-16-53.md
  packages/compiler/src/install/install.ts
Labels: compiler:core

#6384 Split different installation with tabs
  website/astro.config.mjs
  website/src/content/docs/docs/introduction/installation.mdx
Labels: meta:website

#6410 Follow node module resolution
  .chronus/changes/follow-node-module-resolution-2025-2-12-16-34-40.md
  packages/compiler/src/module-resolver/module-resolver.ts
  packages/compiler/test/module-resolver/module-resolver.test.ts
Labels: compiler:core

#6380 Move http lib to named exports
  .chronus/changes/http-exports-named-2025-2-11-12-14-47.md
  packages/http/api-extractor.json
  packages/http/package.json
  packages/http/src/index.ts
  packages/playground-website/e2e/playwright.config.ts
Labels: lib:http

#6409 Fix new-project bug
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/emitter/test/Unit/decorator-list.test.ts
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/test/Unit/encode.test.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/emitter/test/Unit/model-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-final-state-via.test.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/emitter/test/Unit/property-type.test.ts
  packages/http-client-csharp/emitter/test/Unit/scalar.test.ts
  packages/http-client-csharp/emitter/test/Unit/string-format.test.ts
  packages/http-client-csharp/emitter/test/Unit/usage.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Labels: emitter:client:csharp

#6424 Fix publishing
  eng/common/pipelines/templates/variables/image.yml
  eng/tsp-core/pipelines/jobs/cli/build-tsp-cli.yml
  eng/tsp-core/pipelines/jobs/cli/verify-tsp-cli.yml
  eng/tsp-core/pipelines/jobs/e2e.yml
  eng/tsp-core/pipelines/publish.yml
Labels: eng

#6403 fix error when previewing openapi3.1
  .chronus/changes/vscode-openapi3.1-preview-2025-2-12-16-7-6.md
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
  packages/typespec-vscode/swagger-ui/swagger-initializer.js
Labels: ide, 1_0_E2E

#6421 Adopt nextlink spector scenario
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Properties/launchSettings.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithNextLinkCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Payload/Pageable/NextLinkPaginationTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/_Type/Property/AdditionalProperties/AdditionalPropertiesTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/Configuration.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/Payload.Pageable.sln
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/Pet.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/Pet.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestHeaderResponseBodyResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestHeaderResponseBodyResponse.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestHeaderResponseHeaderResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestHeaderResponseHeaderResponse.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestQueryResponseBodyResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestQueryResponseBodyResponse.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestQueryResponseHeaderResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/RequestQueryResponseHeaderResponse.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/PageableClient.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/PageableClientOptions.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/PayloadPageableModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/ServerDrivenPagination.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/ServerDrivenPaginationContinuationToken.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Payload.Pageable.csproj
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/serialization/encoded-name/json/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData0.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData0Kind.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData1.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData1Kind.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/TypePropertyAdditionalPropertiesModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#6438 Tweak discriminated docs
  website/src/content/docs/docs/standard-library/discriminated-types.md
Labels: meta:website

#6416 Reserve keywords
  .chronus/changes/reserve-keywords-2025-2-12-22-22-24.md
  .chronus/changes/reserve-keywords-2025-2-13-1-29-22.md
  packages/compiler/src/core/helpers/syntax-utils.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/src/server/type-signature.ts
  packages/compiler/test/parser.test.ts
  packages/compiler/test/scanner.test.ts
  packages/http-specs/specs/routes/main.tsp
  packages/http-specs/specs/special-words/main.tsp
  packages/openapi3/src/cli/actions/convert/utils/get-scope-and-name.ts
  packages/protobuf/lib/proto.tsp
Labels: compiler:core

#6314 expose InputModelType and options to set UpdateCodeModel callback
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
Labels: emitter:client:csharp

#6431 [python] replace some deprecated API
  .chronus/changes/replace-deprecated-api-2025-2-13-7-47-41.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/generator/pygen/preprocess/__init__.py
Labels: emitter:client:python

#6451 Fix: Missed allowing reserved keyword when printing enum members
  .chronus/changes/fix-enum-members-also-allow-reserved-2025-2-13-21-52-47.md
  packages/compiler/src/formatter/print/printer.ts
Labels: compiler:core

#6445 Fix commenter
  .github/workflows/commenter.yml
Labels: eng

#6455 Fix bad syntax
  .github/workflows/commenter.yml
Labels: eng

#6457 commenter worflow: fix name
  .github/workflows/commenter.yml
Labels: eng

#6357 [core/http] Media type hinting and default content type changes for scalars.
  .chronus/changes/witemple-msft-media-type-hint-2025-2-10-23-39-34.md
  .chronus/changes/witemple-msft-media-type-hint-2025-2-10-23-40-24.md
  .chronus/changes/witemple-msft-media-type-hint-2025-2-10-23-41-11.md
  .chronus/changes/witemple-msft-media-type-hint-2025-2-10-23-52-21.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/lib/std/decorators.tsp
  packages/compiler/src/core/diagnostics.ts
  packages/compiler/src/index.ts
  packages/compiler/src/lib/decorators.ts
  packages/compiler/src/lib/tsp-index.ts
  packages/compiler/test/decorators/decorators.test.ts
  packages/http/src/payload.ts
  packages/openapi3/test/metadata.test.ts
  packages/openapi3/test/openapi-output.test.ts
  packages/openapi3/test/parameters.test.ts
  packages/openapi3/test/return-types.test.ts
  packages/openapi3/test/shared-routes.test.ts
  packages/openapi3/test/test-host.ts
  packages/samples/test/output/authentication/@typespec/openapi3/openapi.TypeSpec.ServiceAuth.yaml
  packages/samples/test/output/grpc-library-example/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/init/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/multipart/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/nested/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/optional/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/simple/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/testserver/body-boolean/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/testserver/body-string/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/testserver/body-time/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/testserver/media-types/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/testserver/multiple-inheritance/@typespec/openapi3/openapi.yaml
  website/src/content/docs/docs/emitters/openapi3/openapi.md
  website/src/content/docs/docs/libraries/http/content-types.md
  website/src/content/docs/docs/libraries/http/encoding.md
  website/src/content/docs/docs/libraries/http/multipart.md
  website/src/content/docs/docs/libraries/http/operations.md
  website/src/content/docs/docs/standard-library/built-in-decorators.md
Labels: breaking-change, 1_0_E2E

#6462 Add extensibility hooks for collection definition
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/ClientResponseApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/IClientResponseApi.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientResultProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/ClientResponseApiTests.cs
Labels: emitter:client:csharp

#6391 [http-client-js] Add copilot instructions
  .chronus/changes/copilot-http-client-js-2025-2-12-1-4-22.md
  packages/http-client-js/.github/copilot-instructions.md
Labels: emitter:client:js

#6470 Update http-client-csharp emitter version to 1.0.0
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#6123 Initial check-in for supporting telemetry in vscode
  .chronus/changes/vscode-telemetry-2025-1-24-22-51-43.md
  .vscode/launch.json
  eng/tsp-core/pipelines/jobs/build-for-publish.yml
  packages/typespec-vscode/package.json
  packages/typespec-vscode/scripts/update-telemetry-key.js
  packages/typespec-vscode/src/const.ts
  packages/typespec-vscode/src/extension-state-manager.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/telemetry/telemetry-client.ts
  packages/typespec-vscode/src/telemetry/telemetry-event.ts
  packages/typespec-vscode/src/tsp-executable-resolver.ts
  packages/typespec-vscode/src/tsp-language-client.ts
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
  packages/typespec-vscode/src/vscode-cmd/import-from-openapi3.ts
  packages/typespec-vscode/src/vscode-cmd/install-tsp-compiler.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
  pnpm-lock.yaml
Labels: ide, 1_0_E2E

#6439 Removing android codegen and minor clean up
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/Javagen.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ExceptionMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/MethodGroupMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ModelMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyParameterMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ServiceClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidExceptionMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidMapperFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidMethodGroupMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidModelMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidPrimitiveMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidProxyParameterMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/AndroidServiceClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/android/package-info.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientModel.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/GenericType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodGroupClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ServiceClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidClientException.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidClientModel.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidMethodGroupClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidProxy.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidProxyMethodParameter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/AndroidServiceClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/android/package-info.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/EnumTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ExceptionTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/MethodGroupTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ProxyTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ResponseTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceAsyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientBuilderTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceSyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/TemplateHelper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/WrapperClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidEnumTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidExceptionTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidMethodGroupTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidProxyTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidResponseTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceAsyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceClientBuilderTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidServiceSyncClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidTemplateFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/AndroidWrapperClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/android/package-info.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentExceptionMapper.java
Labels: emitter:client:java

#6449 http-client-java, remove deprecated syntax in local tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/enum.tsp
Labels: emitter:client:java

#6429 http-client-java, add streaming libs
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6452 http-client-java, eng script, exit on error
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/eng/scripts/Check-GitChanges.ps1
  packages/http-client-java/eng/scripts/Generate.ps1
  packages/http-client-java/eng/scripts/Test-Packages.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
Labels: emitter:client:java

#6441 Update installation steps per feedback
  website/src/content/current-sidebar.ts
  website/src/content/docs/docs/handbook/package-manager.md
  website/src/content/docs/docs/introduction/editor/vs.md
  website/src/content/docs/docs/introduction/editor/vscode.md
  website/src/content/docs/docs/introduction/installation.mdx
Labels: meta:website

#6493 mini website refresh
  website/src/components/Video.astro
  website/src/components/footer/footer.astro
  website/src/components/header/header.astro
  website/src/components/homepage/hero-illustration.astro
  website/src/components/homepage/hero.astro
  website/src/components/release-notification.astro
  website/src/components/video-data.ts
  website/src/pages/blog/index.astro
  website/src/pages/community.astro
  website/src/pages/community.md
  website/src/pages/index.astro
  website/src/pages/videos.astro
Labels: meta:website

#6396 eng, emitter pipeline, use node 20/22
  eng/emitters/pipelines/templates/stages/emitter-stages.yml
Labels: eng

#6450 http-client-java, clean up EmitterOptionsSchema for unbranded lib
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/index.ts
  packages/http-client-java/emitter/src/lib.ts
  packages/http-client-java/emitter/src/options.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/array/UnknownValueClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/array/implementation/UnknownValuesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/dictionary/UnknownValueClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/dictionary/implementation/UnknownValuesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/authentication/oauth2/OAuth2Tests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/UnknownValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/UnknownValueClientTest.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6144 Add missing node to list of suggestion when tsp server cannot start
  .chronus/changes/optimize-err-msg-in-typsespc-extension-2025-2-5-5-42-52.md
  packages/typespec-vs/src/Exceptions.cs
  packages/typespec-vscode/src/tsp-language-client.ts
Labels: ide

#6245 http-client-java, test for ARM Error
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/UsageAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/UsageClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/implementation/ModelInOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/models/OrphanModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/TraitsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/TraitsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/TraitsClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/TraitsServiceVersion.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/implementation/TraitsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/models/User.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/models/UserActionParam.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/models/UserActionResponse.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/traits/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/fluent/CommonPropertiesClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/fluent/ErrorsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/fluent/models/ConfidentialResourceInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/CommonPropertiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/ConfidentialResourceImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/ErrorsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/ErrorsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/ApiError.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/ApiErrorException.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/ConfidentialResource.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/ConfidentialResourceProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/Errors.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/InnerError.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-core-trait_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-core-traits_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-commonproperties-generated/proxy-config.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-commonproperties-generated/reflect-config.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-core-traits.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/core/traits/TraitsTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/core/traits/generated/TraitsClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/commonproperties/CommonPropertiesTests.java
Labels: emitter:client:java

#6512 fix videos layout on small screens
  website/src/pages/videos.astro
Labels: meta:website

#6519 Remove unnecessary empty string check
  packages/http-client-csharp/emitter/src/lib/model.ts
Labels: emitter:client:csharp

#6527 Don't throw on error responses in e2e tests
  .chronus/changes/axios-fix-2025-2-18-20-10-32.md
  packages/spector/src/actions/helper.ts
Labels: spector

#6534 Fix ci
  packages/http-specs/specs/payload/body-root/mockapi.ts
Labels: lib:http-specs

#6510 Update README.md for data privacy statement for adding telemetry
  packages/typespec-vscode/README.md
Labels: ide

#6517 Fix overwrite instead of override in blob upload cli
  eng/tsp-core/pipelines/jobs/cli/publish-artifacts.yml
  eng/tsp-core/pipelines/stages/ci-stages.yml
Labels: eng

#6520 Adopt response status spector scenarios
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Response/StatusCodeRange/StatusCodeRangeTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/Configuration.json
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/DefaultError.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/DefaultError.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/ErrorInRange.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/ErrorInRange.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/NotFoundError.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/NotFoundError.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/Standard4XXError.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/Models/Standard4XXError.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/src/Generated/ResponseStatusCodeRangeModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/response/status-code-range/tspconfig.yaml
Labels: emitter:client:csharp

#6540 Fix crash when customizing property of spread model
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/RoundTripModelTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/ThingTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/ThingWithNullsTests.cs
  packages/http-client-csharp/generator/TestProjects/Local.Tests/CustomizationTests.cs
  packages/http-client-csharp/generator/TestProjects/Local.Tests/ExtensibleEnumTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Custom/Thing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Thing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#6459 Doc bug bash
  website/src/content/current-sidebar.ts
  website/src/content/docs/docs/emitters/clients/introduction.mdx
  website/src/content/docs/docs/emitters/json-schema/guide.md
  website/src/content/docs/docs/emitters/openapi3/cli.md
  website/src/content/docs/docs/emitters/openapi3/diagnostics.md
  website/src/content/docs/docs/getting-started/getting-started-rest/01-setup-basic-syntax.mdx
  website/src/content/docs/docs/getting-started/getting-started-rest/02-operations-responses.md
  website/src/content/docs/docs/getting-started/getting-started-rest/05-authentication.md
  website/src/content/docs/docs/getting-started/getting-started-rest/06-versioning.mdx
  website/src/content/docs/docs/getting-started/typespec-for-openapi-dev.md
  website/src/content/docs/docs/handbook/configuration/configuration.mdx
  website/src/content/docs/docs/handbook/configuration/tracing.mdx
  website/src/content/docs/docs/handbook/faq.md
  website/src/content/docs/docs/handbook/releases.md
  website/src/content/docs/docs/language-basics/directives.md
  website/src/content/docs/docs/language-basics/documentation.md
  website/src/content/docs/docs/language-basics/models.md
  website/src/content/docs/docs/language-basics/scalars.md
  website/src/content/docs/docs/language-basics/templates.md
  website/src/content/docs/docs/language-basics/type-literals.md
  website/src/content/docs/docs/language-basics/values.md
  website/src/content/docs/docs/libraries/http/authentication.md
  website/src/content/docs/docs/libraries/http/cheat-sheet.md
  website/src/content/docs/docs/libraries/http/examples.md
Labels: meta:website

#6542 Encode dash in uri template
  .chronus/changes/fix-encode-dash-uri-template-2025-2-19-20-23-34.md
  packages/http/src/route.ts
  packages/http/test/routes.test.ts
Labels: lib:http

#6399 Remove operation groups from codemodel root
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/Preprocessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/ArmResourceProviderClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/ManagedMaintenanceWindowStatusOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/ModelInterfaceSameNamesClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/models/ManagedMaintenanceWindowStatusContentProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/models/ManagedMaintenanceWindowStatusInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/models/ModelInterfaceDifferentNameProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/models/ModelInterfaceSameNameInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNameImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ManagedMaintenanceWindowStatus.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ManagedMaintenanceWindowStatusOperations.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ModelInterfaceSameName.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ModelInterfaceSameNames.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  packages/http-client-java/generator/http-client-generator-test/tsp/arm.tsp
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/fluent/TypeSpecFluentNamer.java
Labels: emitter:client:java

#6531 consistent word case
  .chronus/changes/wording-2025-2-19-16-21-54.md
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#6528 [http-specs] fix tests impacted from infer logic change of http content type
  .chronus/changes/fix_spector_content_type-2025-2-19-11-35-6.md
  packages/http-client-js/test/e2e/http/encode/bytes/main.test.ts
  packages/http-specs/specs/encode/bytes/main.tsp
  packages/http-specs/specs/encode/bytes/mockapi.ts
  packages/http-specs/specs/response/status-code-range/main.tsp
  packages/http-specs/specs/type/enum/extensible/main.tsp
  packages/http-specs/specs/type/enum/fixed/main.tsp
  packages/http-specs/specs/type/scalar/main.tsp
  packages/http-specs/specs/versioning/returnTypeChangedFrom/main.tsp
Labels: lib:http-specs

#6501 http-client-java, update nodejs engines to >=20
  eng/emitters/pipelines/templates/jobs/test-job.yml
  eng/emitters/pipelines/templates/steps/test-step.yml
  packages/http-client-java/.npmrc
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6525 [python] bump tsp 0.67
  .chronus/changes/pylintbump-2025-1-19-18-20-53.md
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_arm_operationtemplates_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_arm_operationtemplates.py
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_encode_bytes_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_parameters_collection_format_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_typetest_property_additionalproperties_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_encode_bytes.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_parameters_collection_format.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_typetest_property_additionalproperties.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#6544 Remove emitter framework
  .chronus/changes/remove-emitter-framework-2025-2-19-22-24-13.md
  packages/compiler/package.json
  packages/compiler/src/emitter-framework/asset-emitter.ts
  packages/compiler/src/emitter-framework/builders/array-builder.ts
  packages/compiler/src/emitter-framework/builders/object-builder.ts
  packages/compiler/src/emitter-framework/builders/string-builder.ts
  packages/compiler/src/emitter-framework/index.ts
  packages/compiler/src/emitter-framework/placeholder.ts
  packages/compiler/src/emitter-framework/ref-scope.ts
  packages/compiler/src/emitter-framework/reference-cycle.ts
  packages/compiler/src/emitter-framework/type-emitter.ts
  packages/compiler/src/emitter-framework/types.ts
Labels: compiler:core

#6558 Add diff for emitters -> options+emit migration in release notes
  website/src/content/docs/docs/release-notes/release-2025-03-18.md
Labels: meta:website

#6401 upgrade node for python
  .chronus/changes/upgrade-node-python-2025-2-12-6-35-54.md
  packages/http-client-python/.npmrc
  packages/http-client-python/package.json
Labels: emitter:client:python

#6546 [http-client-java] remove namespace from unbranded EmitterOptions and add warning for invalid namespace.
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/lib.ts
  packages/http-client-java/emitter/src/options.ts
  packages/http-client-java/emitter/src/utils.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/extensible/DaysOfWeekExtensibleEnum.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/extensible/ExtensibleClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/extensible/ExtensibleClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/extensible/implementation/ExtensibleClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/extensible/implementation/StringOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/extensible/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/extensible/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/fixed/DaysOfWeekEnum.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/fixed/FixedClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/fixed/FixedClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/fixed/implementation/FixedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/fixed/implementation/StringOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/fixed/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enumnamespace/fixed/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/type-enumnamespace-extensible_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/type-enumnamespace-fixed_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/type-enums-extensible_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/type-enums-fixed_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/enumnamespace/extensible/ExtensibleClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/enumnamespace/fixed/FixedClientTest.java
Labels: emitter:client:java

#6497 [Java] improve readability of ProxyMethodMapper type
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/CollectionUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ExceptionSettingUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/MapperUtils.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodParameterProcessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ResponseTypeFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/UniqueProxyMethodNameGenerator.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethodParameter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtil.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentProxyMethodMapper.java
Labels: emitter:client:java

#6569 Fix handling of newProject option
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/emitter/test/Unit/emitter.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
Labels: emitter:client:csharp

#6590 Re-enable spector scenarios
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/_Type/Property/AdditionalProperties/AdditionalPropertiesTests.cs
Labels: emitter:client:csharp

#6596 Update dependencies for Python client emitter
  packages/http-client-python/generator/setup.py
  packages/http-client-python/package-lock.json
Labels: emitter:client:python

#6601 Update setuptools for Python client emitter
  packages/http-client-python/generator/setup.py
Labels: emitter:client:python

#6603 Fix issue where rootnamespace is no longer populated by TCGC
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/emitter/src/options.ts
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#6482 eng, codeowner, add Anu to to http-client-java
  .github/CODEOWNERS
Labels: eng

#5649 [python] always respect namespace from TCGC
  .chronus/changes/update-root-namespace-2025-2-12-6-11-5.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/emitter/src/utils.ts
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/pygen/codegen/serializers/test_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/MANIFEST.in.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/README.md.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/dev_requirements.txt.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/setup.py.jinja2
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#6606 Fix typo in GitHub link on community page
  website/src/pages/community.astro
Labels: meta:website

#6644 Add plugin abstraction
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel.StubLibrary/src/StubLibraryGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmCodeModelGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CodeModelGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/GeneratorPlugin.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/StartUp/GeneratorHandler.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/GeneratorPluginTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/StartUp/GeneratorHandlerTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestGeneratorPlugin.cs
Labels: emitter:client:csharp

#6620 Update wording from "Show OpenAPI3 Documentation" to "Preview API Documentation"
  .chronus/changes/update-preview-wording-2025-2-24-13-49-15.md
  packages/typespec-vscode/package.json
Labels: ide

#6624 [Python] Add test cases for SSE
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_streaming_jsonl_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_streaming_jsonl.py
  packages/http-client-python/generator/test/unbranded/requirements.txt
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#6671 Update CODEOWNERS for python
  .github/CODEOWNERS
Labels: eng

#6677 Fixing Github to GitHub in blog.md
  website/src/content/blog/2024-04-25-introducing/blog.md
Labels: meta:website

#6658 Fix typos in `values.md`
  website/src/content/docs/docs/language-basics/values.md
Labels: meta:website

#6516 Fix commenter don't comment or complain on publish pr
  .github/workflows/consistency.yml
Labels: eng

#6688 Pin spector versions for test packages
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
Labels: emitter:client:java

#6668 Fix vscode telemetry
  .chronus/changes/fix-vscode-telemetry-2025-2-25-13-33-41.md
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/telemetry/telemetry-client.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
Labels: ide, 1_0_E2E

#6679 Renaming ProxyMethodMapper::createCustomHeaderMethod to createNoCustomHeaderMethod, improve readability and add doc
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodMapper.java
Labels: emitter:client:java

#6669 http-client-java, update http-specs and azure-http-specs
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/FormDataClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/formdata/AnonymousModelRequest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/formdata/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/implementation/FormDatasImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/visibility/VisibilityClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/visibility/VisibilityModel.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/visibility/implementation/VisibilityClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/payload-multipart_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/payload/multipart/MultipartTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/model/visibility/AutomaticClientTest.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/page/implementation/PageClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/NonResourceManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/fluent/NonResourceClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/fluent/NonResourceOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/fluent/models/NonResourceInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/fluent/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/fluent/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/ResourceManagerUtils.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/models/NonResource.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/models/NonResourceOperations.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/formdata/models/AnonymousModelRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/formdata/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/implementation/FormDatasImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/type/model/visibility/VisibilityAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/type/model/visibility/VisibilityClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/type/model/visibility/implementation/VisibilityClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/type/model/visibility/models/VisibilityModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-nonresource-generated/proxy-config.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-nonresource-generated/reflect-config.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/payload-multipart_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-resourcemanager-nonresource-generated.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/nonresource/NonResourceTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/payload/multipart/MultipartTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/type/model/visibility/AutomaticClientTest.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#6697 Fix mutate `null` in decorator arguments crash
  .chronus/changes/fix-mutate-null-2025-2-26-16-1-25.md
  packages/compiler/src/experimental/mutators.ts
  packages/compiler/test/experimental/mutator.test.ts
Labels: compiler:core

#6708 Remove duplicate Client Java section
  website/src/content/current-sidebar.ts
Labels: meta:website

#6643 blog formatting
  website/src/assets/img/authors/default.png
  website/src/assets/img/authors/mario_guerra.png
  website/src/components/BlogAuthor.astro
  website/src/content.config.ts
  website/src/content/blog/2024-04-25-introducing/blog.md
  website/src/content/blog/2024-11-04-typespec-at-lseg/blog.md
  website/src/layouts/blog-post.astro
  website/src/pages/blog/_BlogPostPreview.astro
  website/src/pages/blog/resolve-image.ts
  website/src/utils/resolve-author-avatar.ts
Labels: meta:website

#6472 Relax path-parameter-optional condition as now can be optional under certain conditions
  .chronus/changes/path-relax-optional-path-param-check-2025-2-14-13-48-51.md
  .chronus/changes/path-relax-optional-path-param-check-2025-2-19-14-16-32.md
  packages/http/src/lib.ts
  packages/http/src/parameters.ts
  packages/http/src/route.ts
  packages/http/test/http-decorators.test.ts
  packages/openapi3/src/lib.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/parameters.test.ts
  packages/rest/test/routes.test.ts
Labels: 1_0_E2E

#6667 [http-client-python] add license support
  packages/http-client-python/README.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/emitter/src/lib.ts
  packages/http-client-python/eng/scripts/ci/pylintrc
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/generator/pygen/codegen/_utils.py
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/templates/client_container.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/config_container.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/conftest.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/enum_container.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/init.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_container.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_init.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/operation_groups_container.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/operations_folder_init.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/LICENSE.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/setup.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/patch.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/request_builders.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/rest_init.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/sample.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/test.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/testpreparer.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/types.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/validation.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/vendor.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/version.py.jinja2
  website/src/content/docs/docs/emitters/clients/http-client-python/reference/emitter.md
Labels: emitter:client:python

#6694 Resolve tsp server properly when it's in sub folder or non-first workspace
  .chronus/changes/resolve-tsp-server-from-workspaces-2025-2-26-18-53-54.md
  packages/typespec-vscode/src/tsp-executable-resolver.ts
Labels: ide

#6716 Handle paging operations that don't use nextlink or continuation token
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/PageThing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/PageThing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#6721 http-client-java, remove use of clientaccessor
  packages/http-client-java/emitter/src/code-model-builder.ts
Labels: emitter:client:java

#6690 log logs from stderr as normal one for compile
  .chronus/changes/logEnhance-2025-2-26-10-22-33.md
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emitter.ts
Labels: ide

#6729 Fix dup issue when using union in multipart HttpPart
  .chronus/changes/fix-union-in-multipart-part-2025-2-27-8-55-3.md
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/multipart.test.ts
Labels: emitter:openapi3

#6703 [python] fix calls to exec
  packages/http-client-python/eng/scripts/ci/lint.ts
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/eng/scripts/ci/utils.ts
Labels: emitter:client:python

#6738 fix: always generate pageable api for list operations
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/ListPageableTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationToken.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/Unbranded-TypeSpec.tsp
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithPagingAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithPagingAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithPagingCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/ListWithPagingCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/PageThing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/PageThing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.RestClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#6741 Update singular that should be plural (Developer -> Developers)
  website/src/content/docs/docs/getting-started/typespec-for-openapi-dev.md
Labels: meta:website

#6726 http-client-java fix async methods in sync-stack
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/CommonPropertiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/ErrorsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/ManagedIdentitiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/CheckNameAvailabilitiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationTemplatesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/ResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/SingletonsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/OperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/FishesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/TopLevelArmResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#6746 http-client-java, remove implicit multipart
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/MultipartFormDataHelper.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/models/UploadFileRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/implementation/models/UploadTodoRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/models/FileDataFileDetails.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/models/UploadTodoOptions.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-flatten_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/tsp/flatten.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/multipart.tsp
Labels: emitter:client:java

#6753 Fix playground crash on no target
  .chronus/changes/fix-playground-crash-no-target-2025-2-28-17-18-31.md
  packages/playground/src/react/diagnostic-list/diagnostic-list.tsx
Labels: ui:playground

#6711 Fix nested options
  .chronus/changes/fix-nested-options-2025-2-26-17-11-41.md
  .chronus/changes/fix-nested-options-2025-2-26-22-18-28.md
  .chronus/changes/fix-nested-options-2025-2-28-17-33-1.md
  packages/compiler/src/config/config-schema.ts
  packages/compiler/src/config/config-to-options.ts
  packages/compiler/src/config/types.ts
  packages/compiler/src/core/cli/actions/compile/args.ts
  packages/compiler/src/core/cli/utils.ts
  packages/compiler/src/core/messages.ts
  packages/compiler/test/cli.test.ts
  packages/compiler/test/config/config.test.ts
  packages/compiler/test/config/resolve-compiler-option.test.ts
  packages/compiler/test/config/scenarios/custom/myConfigNested.yaml
  packages/compiler/test/e2e/cli/cli.e2e.ts
  packages/compiler/test/e2e/cli/scenarios/with-option/tspconfig.yaml
  packages/http-client-js/eng/scripts/tspconfig.yaml
  packages/http-server-csharp/eng/scripts/tspconfig.yaml
  packages/http-server-js/eng/scripts/tspconfig.yaml
  packages/http-specs/tspconfig.yaml
Labels: compiler:core

#6759 Fix multipart doc with $ref
  .chronus/changes/fix-multipart-doc-$ref-2025-2-28-13-52-2.md
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/multipart.test.ts
Labels: emitter:openapi3

#6736 Add test for RequestOptions optionality
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
Labels: emitter:client:csharp

#6754 Reserve sym and context keyword
  .chronus/changes/reserve-sym-2025-2-28-17-54-51.md
  packages/compiler/src/core/parser.ts
  packages/compiler/src/core/scanner.ts
  packages/compiler/src/formatter/print/printer.ts
  packages/compiler/src/server/type-signature.ts
  packages/compiler/test/server/completion.test.ts
Labels: compiler:core

#6764 Correct example in hscs doc
  website/src/content/docs/docs/emitters/servers/http-server-csharp/project.md
Labels: meta:website

#6727 Expose InputClient
  packages/http-client-csharp/emitter/src/index.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
Labels: emitter:client:csharp

#6197 [typespec-vscode] Show emitter internal msg in tspconfig
  .chronus/changes/Show-emitter-internal-msg-in-tspconfig-2025-2-18-6-12-13.md
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/yaml/diagnostics.ts
Labels: ide, compiler:core

#6549 [Python] pass auth flows into credential policy
  packages/http-client-python/emitter/src/types.ts
  packages/http-client-python/generator/pygen/codegen/models/credential_types.py
  packages/http-client-python/generator/test/generic_mock_api_tests/asynctests/test_authentication_async.py
  packages/http-client-python/generator/test/generic_mock_api_tests/test_authentication.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_auth_flow_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_auth_flow.py
Labels: emitter:client:python

#6791 updates to openapi dev guide to match current state
  website/src/content/docs/docs/getting-started/typespec-for-openapi-dev.md
Labels: meta:website

#6798 Fix loading of playground older versions
  website/src/components/playground-component/import-map.ts
  website/src/components/playground-component/playground.tsx
Labels: meta:website

#6793 Fix parameter sort for required value-type headers
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/versioning/typeChangedFrom/v1/src/Generated/TypeChangedFromClient.cs
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp
