Repository microsoft/typespec, pull requests merged in 2025-01, with the labels that each got.

#5389 [python] migrate cadl-ranch to spector
  packages/http-client-python/eng/scripts/Test-Packages.ps1
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_client_generator_core_flatten_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_payload_pageable_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/conftest.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_client_generator_core_flatten.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_payload_pageable.py
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/generic_mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_unbranded.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5445 [python] remove useless file
  packages/http-client-python/emitter/src/emitter.ts
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/eng/scripts/setup/install.py
  packages/http-client-python/eng/scripts/setup/install.ts
  packages/http-client-python/generator/requirements.txt
Labels: emitter:client:python

#5475 refactor(http-client-csharp): improve error message of no root client
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
Labels: emitter:client:csharp

#5469 unify the usage of lazy in `ClientProvider`
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
Labels: emitter:client:csharp

#5472 http-client-java, fix child model with parent flattened properties
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmStreamStyleSerializationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/FunctionsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionConfiguration.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/AggregateFunctionProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Function.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/FunctionProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Functions.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/proxy-config.json
  packages/http-client-java/generator/http-client-generator-test/src/test/java/payload/pageable/generated/PageableClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/tsp/arm-stream-style-serialization.tsp
Labels: emitter:client:java

#5478 [python] update test for spector
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_client_naming_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_client_structure_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_client_naming.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_client_structure.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_resiliency_srv_driven.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_resiliency_srv_driven_async.py
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/generic_mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unbranded/requirements.txt
Labels: emitter:client:python

#5433 http-client-java, generate mock Long number for BigDecimal
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTestTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ConstantStringTooLongException.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ModelTestCaseUtil.java
Labels: emitter:client:java

#5474 Fix example of json-chema README.md
  .chronus/changes/fix-json-example-2025-0-2-14-56-22.md
  packages/json-schema/.tspd/docs/usage.md
  packages/json-schema/README.md
Labels: emitter:json-schema

#5499 [python] add contributing file
  packages/http-client-python/CONTRIBUTING.md
  packages/http-client-python/image.png
Labels: emitter:client:python

#5482 use inspect instead of json.stringify when logging object
  .chronus/changes/use-inspect-in-server-log-2025-0-3-15-44-52.md
  packages/compiler/src/server/server.ts
Labels: ide, compiler:core

#5432 Update TypeProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
Labels: emitter:client:csharp

#5506 [http-client-python] do not do exception sort if there is no operation groups
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/generator/pygen/codegen/__init__.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5510 http-client-java, mgmt, use `byte[0]` for empty byte arrays in client implementations
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
Labels: emitter:client:java

#5498 [http-client-python] Update mypy and pyright
  packages/http-client-python/generator/dev_requirements.txt
  packages/http-client-python/generator/pygen/codegen/models/base_builder.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/models/request_builder.py
  packages/http-client-python/generator/test/azure/requirements.txt
  packages/http-client-python/generator/test/unbranded/requirements.txt
Labels: emitter:client:python

#5515 [python] specify autorest.python verification PR should be draft
  packages/http-client-python/CONTRIBUTING.md
Labels: emitter:client:python

#5520 Documentation fixes
  website/src/content/docs/docs/extending-typespec/create-decorators.md
Labels: meta:website

#5435 update the try-it comment when it exists
  eng/tsp-core/scripts/create-tryit-comment.ts
Labels: ide, eng

#5522 http-client-java, add lro test case for azure-http-specs
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
Labels: emitter:client:java

#5500 [http-client-python] update pylint checker
  packages/http-client-python/generator/test/azure/tox.ini
  packages/http-client-python/generator/test/unbranded/tox.ini
Labels: emitter:client:python

#5540 [python] update contributing
  packages/http-client-python/CONTRIBUTING.md
Labels: emitter:client:python

#5542 Update ConditionalRequestHeaderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/SpecialHeaders/ConditionalRequests/ConditionalRequestHeaderTests.cs
Labels: emitter:client:csharp

#5495 update TCGC version to 0.49.1
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/basic/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/parameters/spread/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/special-headers/repeatability/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/optionality/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/property/value-types/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/type/union/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5524 http-client-java, improve logging
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/utils.ts
  packages/http-client-java/emitter/src/validate.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClientModelUtil.java
Labels: emitter:client:java

#5536 Update CODEOWNERS
  .github/CODEOWNERS
Labels: eng

#5519 Add missing multi-protocol file
  website/src/pages/multi-protocol.md
Labels: meta:website

#5548 Fix the Test-CadlRanch script issue
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
Labels: emitter:client:csharp

#5550 fix(http-client-csharp): wrong `text/plain` result conversion determination logic
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Payload/MediaType/MediaTypeTests.cs
Labels: emitter:client:csharp

#5556 [python] use generic type of 'token credential' in docstring
  packages/http-client-python/generator/pygen/codegen/models/credential_types.py
Labels: emitter:client:python

#5549 add support for binary types in open api 3.1
  packages/openapi3/src/encoding.ts
  packages/openapi3/src/openapi-helpers-3-0.ts
  packages/openapi3/src/openapi-helpers-3-1.ts
  packages/openapi3/src/openapi-spec-mappings.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/src/schema-emitter-3-0.ts
  packages/openapi3/src/schema-emitter-3-1.ts
  packages/openapi3/src/schema-emitter.ts
  packages/openapi3/src/util.ts
  packages/openapi3/test/metadata.test.ts
  packages/openapi3/test/multipart.test.ts
  packages/openapi3/test/openapi-output.test.ts
  packages/openapi3/test/primitive-types.test.ts
  packages/openapi3/test/return-types.test.ts
Labels: emitter:openapi3

#5517 [python] always generate models with base init
  .gitignore
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/serializers/model_serializer.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_client_generator_core_access_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_client_generator_core_access.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5539 [python] don't add too-many-lines disable if already exists
  .gitignore
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/black.py
Labels: emitter:client:python

#5428 fix(vscode-extension): improve console output when tsp-server not found
  .chronus/changes/typespec-vscode-fix-tsp-server-resolution-error-2024-11-23-14-5-54.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/tsp-executable-resolver.ts
Labels: ide

#5353 [typespec-vscode] Meta property autocomplete
  .chronus/changes/meta-property-autocomplete-2024-11-19-3-21-6.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/server/completion.test.ts
Labels: ide, compiler:core

#5559 [python] don't overwrite version.py file if existing version is higher
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5514 [http-server-javascript] Support new-style multipart requests (and some other things)
  .chronus/changes/witemple-msft-hsj-visibility-2025-0-7-11-43-52.md
  packages/http-server-javascript/generated-defs/helpers/header.ts
  packages/http-server-javascript/generated-defs/helpers/index.ts
  packages/http-server-javascript/generated-defs/helpers/multipart.ts
  packages/http-server-javascript/generated-defs/helpers/router.ts
  packages/http-server-javascript/package.json
  packages/http-server-javascript/src/common/model.ts
  packages/http-server-javascript/src/common/scalar.ts
  packages/http-server-javascript/src/common/serialization/json.ts
  packages/http-server-javascript/src/ctx.ts
  packages/http-server-javascript/src/helpers/header.ts
  packages/http-server-javascript/src/helpers/multipart.ts
  packages/http-server-javascript/src/helpers/router.ts
  packages/http-server-javascript/src/http/server/index.ts
  packages/http-server-javascript/src/http/server/multipart.ts
  packages/http-server-javascript/src/http/server/router.ts
  packages/http-server-javascript/src/index.ts
  packages/http-server-javascript/src/lib.ts
  packages/http-server-javascript/src/util/name.ts
  packages/http-server-javascript/test/header.test.ts
  packages/http-server-javascript/test/multipart.test.ts
  packages/http-server-javascript/vitest.config.ts
  pnpm-lock.yaml
Labels: emitter:service:js

#5553 Some small adjustment in the vscode UX when creating TypeSpec project
  .chronus/changes/scaffolding-wording-2025-0-9-19-12-18.md
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  packages/typespec-vscode/src/vscode-cmd/install-tsp-compiler.ts
Labels: ide

#5481 [http-client-csharp] the post processor should always keep customized code as root documents
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CodeModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/common/Helpers.cs
Labels: emitter:client:csharp

#5496 report diagnostics on unsupported auth
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/service-authentication.ts
  packages/http-client-csharp/emitter/src/type/input-api-key-auth.ts
  packages/http-client-csharp/emitter/test/Unit/auth.test.ts
  packages/http-client-csharp/emitter/test/Unit/utils/test-util.ts
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/api-key/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/http/custom/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/authentication/union/tspCodeModel.json
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/tspCodeModel.json
Labels: emitter:client:csharp

#5592 http-client-java, prepare release 0.1.6
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/utils.ts
  packages/http-client-java/emitter/src/validate.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5456 Fix OpenAPI YAML converts strings to boolean
  .chronus/changes/wanl-fix-noway-yaml-2024-11-27-14-31-43.md
  packages/openapi3/src/openapi.ts
  packages/openapi3/test/emit-openapi.test.ts
  packages/openapi3/test/test-host.ts
Labels: emitter:openapi3

#5599 [python] remove python2 code for datetime from serialization.py
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
  packages/http-client-python/package.json
Labels: emitter:client:python

#5312 Generate Code from TypeSpec in VSCode
  .chronus/changes/generateSDK-2024-11-10-10-45-35.md
  .chronus/changes/generateSDK-2025-0-10-0-6-24.md
  packages/internal-build-utils/src/generate-third-party-notice.ts
  packages/typespec-vscode/ThirdPartyNotices.txt
  packages/typespec-vscode/icons/client.dark.svg
  packages/typespec-vscode/icons/client.light.svg
  packages/typespec-vscode/icons/dotnet.dark.svg
  packages/typespec-vscode/icons/dotnet.light.svg
  packages/typespec-vscode/icons/java.dark.svg
  packages/typespec-vscode/icons/java.light.svg
  packages/typespec-vscode/icons/javascript.dark.svg
  packages/typespec-vscode/icons/javascript.light.svg
  packages/typespec-vscode/icons/openapi.dark.svg
  packages/typespec-vscode/icons/openapi.light.svg
  packages/typespec-vscode/icons/openapi3.dark.svg
  packages/typespec-vscode/icons/openapi3.light.svg
  packages/typespec-vscode/icons/python.dark.svg
  packages/typespec-vscode/icons/python.light.svg
  packages/typespec-vscode/icons/server.dark.svg
  packages/typespec-vscode/icons/server.light.svg
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/const.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/npm-utils.ts
  packages/typespec-vscode/src/task-provider.ts
  packages/typespec-vscode/src/tsp-language-client.ts
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/typespec-utils.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-quick-pick-item.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emitter.ts
  pnpm-lock.yaml
Labels: ide

#5600 [python] unify credential type description
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/models/combined_type.py
  packages/http-client-python/generator/pygen/codegen/models/credential_types.py
Labels: emitter:client:python

#5604 [python] add mypy typing to operation group init
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/models/operation_group.py
  packages/http-client-python/generator/pygen/codegen/templates/operation_group.py.jinja2
Labels: emitter:client:python

#5586 Update ConditionalRequestHeaderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/SpecialHeaders/ConditionalRequest/ConditionalRequestHeaderTests.cs
Labels: emitter:client:csharp

#5607 [python] import json encoder only when needed
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/models/operation.py
Labels: emitter:client:python

#5594 Support Emitter section in init-template when creating TypeSpec project in vscode
  .chronus/changes/scaffolding-emitter-2025-0-14-11-30-33.md
  packages/compiler/src/server/types.ts
  packages/typespec-vscode/src/extension-state-manager.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/log/extension-log-listener.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
Labels: ide

#5612 Remove the vscode settings for CodeGeneration
  .chronus/changes/hide-codegen-config-2025-0-15-9-4-57.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emitter.ts
Labels: ide

#5544 Expose public APIs for Azure plugin to generate ResourceData
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
Labels: emitter:client:csharp

#5616 http-client-java, fix bug on service version in client constructor
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/apikey/implementation/ApiKeyClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/http/custom/implementation/CustomClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/numeric/implementation/NumericClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/basic/implementation/BasicClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/bodyoptionality/implementation/BodyOptionalityClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/collectionformat/implementation/CollectionFormatClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/parameters/spread/implementation/SpreadClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/contentnegotiation/implementation/ContentNegotiationClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/jsonmergepatch/implementation/JsonMergePatchClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/mediatype/implementation/MediaTypeClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/implementation/MultiPartClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/PageableClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/routes/implementation/RoutesClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/serialization/encodedname/json/implementation/JsonClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/endpoint/notdefined/implementation/NotDefinedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/path/multiple/implementation/MultipleClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/path/single/implementation/SingleClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/versions/notversioned/implementation/NotVersionedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/server/versions/versioned/implementation/VersionedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/specialwords/implementation/SpecialWordsClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/array/implementation/ArrayClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/dictionary/implementation/DictionaryClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enums/extensible/implementation/ExtensibleClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/enums/fixed/implementation/FixedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/empty/implementation/EmptyClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/enumdiscriminator/implementation/EnumDiscriminatorClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/nesteddiscriminator/implementation/NestedDiscriminatorClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/notdiscriminated/implementation/NotDiscriminatedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/recursive/implementation/RecursiveClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/inheritance/singlediscriminator/implementation/SingleDiscriminatorClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/usage/implementation/UsageClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/model/visibility/implementation/VisibilityClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/additionalproperties/implementation/AdditionalPropertiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/nullable/implementation/NullableClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/optional/implementation/OptionalClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/scalar/implementation/ScalarClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/type/union/implementation/UnionClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/added/implementation/AddedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/madeoptional/implementation/MadeOptionalClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/removed/implementation/RemovedClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/renamedfrom/implementation/RenamedFromClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/returntypechangedfrom/implementation/ReturnTypeChangedFromClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/versioning/typechangedfrom/implementation/TypeChangedFromClientImpl.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
Labels: emitter:client:java

#5617 http-client-java, unbranded, use bearer for oauth2
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/eng/scripts/Build-Packages.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/InvalidAuth.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/OAuth2Client.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/OAuth2ClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/implementation/OAuth2ClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/oauth2/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/union/UnionClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/union/UnionClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/union/implementation/UnionClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/union/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/authentication/union/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/authentication-oauth2_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/authentication-union_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/authentication/oauth2/OAuth2Tests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/authentication/union/UnionClientTest.java
Labels: emitter:client:java

#5574 [python] Add test for typespec namespace
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/generator/pygen/codegen/models/operation.py
  packages/http-client-python/generator/pygen/codegen/models/operation_group.py
  packages/http-client-python/generator/pygen/codegen/models/paging_operation.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
  packages/http-client-python/generator/pygen/codegen/serializers/operation_groups_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/operation_groups_container.py.jinja2
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_encode_duration_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_encode_numeric_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_parameters_basic_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_parameters_spread_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_payload_content_negotiation_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_payload_multipart_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_serialization_encoded_name_json_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_special_words_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/conftest.py
  packages/http-client-python/generator/test/azure/mock_api_tests/data/image.jpg
  packages/http-client-python/generator/test/azure/mock_api_tests/data/image.png
  packages/http-client-python/generator/test/azure/mock_api_tests/test_encode_duration.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_encode_numeric.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_parameters_basic.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_parameters_spread.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_payload_content_negotiation.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_payload_multipart.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_serialization_encoded_name_json.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_special_words.py
  packages/http-client-python/generator/test/generic_mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_encode_duration_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_encode_numeric_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_parameters_basic_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_parameters_spread_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_payload_content_negotiation_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_payload_multipart_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_serialization_encoded_name_json_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/asynctests/test_special_words_async.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/conftest.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/data/image.jpg
  packages/http-client-python/generator/test/unbranded/mock_api_tests/data/image.png
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_encode_duration.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_encode_numeric.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_parameters_basic.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_parameters_spread.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_payload_content_negotiation.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_payload_multipart.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_serialization_encoded_name_json.py
  packages/http-client-python/generator/test/unbranded/mock_api_tests/test_special_words.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5396 [http-client-csharp]: Fix explode not being properly set for operation params
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/test/Unit/input-parameter.test.ts
  packages/http-client-csharp/generator/TestProjects/CadlRanch/http/routes/tspCodeModel.json
Labels: emitter:client:csharp

#5625 Release notes for January 2025 release
  website/src/content/docs/docs/release-notes/release-2025-01-15.md
Labels: meta:website

#5622 [python] only add type annotation during initialization for readonly
  packages/http-client-python/generator/pygen/codegen/serializers/model_serializer.py
Labels: emitter:client:python

#5615 Fix the xml doc issue when the parameter's actual name is not the same as their variable name
  packages/http-client-csharp/eng/scripts/Get-CadlRanch-Coverage.ps1
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ClientModelPlugin.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Primitives/ScmKnownParameters.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/PropertyDescriptionBuilder.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/TypeProviderWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Shared/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocExceptionStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocParamStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocReturnsStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/XmlDocSummaryStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Utilities/MethodProviderHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/XmlDocParamStatementTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Statements/XmlDocStatementTests.cs
Labels: emitter:client:csharp

#5596 http-client-java, fix property reference in LRO and pageable
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/response/models/OperationDetails2.java
  packages/http-client-java/generator/http-client-generator-test/tsp/lro.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/response.tsp
Labels: emitter:client:java

#5632 Revert "Skip empty client generation (#5218)"
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/RestClientProviderCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace.cs
Labels: emitter:client:csharp

#5630 [python] bump tsp 0.64.0
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5638 Add client provider visitor support and fix issue where model visitors would be skipped if CreateModelCore was overridden
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/ClientPipelineApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/ClientResponseApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/Abstractions/HttpMessageApiTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/MultipartFormDataTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/MultipartFormDataTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/MockHelpers.cs
Labels: emitter:client:csharp

#5636 [python] add flattened params to overloads first
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/preprocess/__init__.py
  packages/http-client-python/package.json
Labels: emitter:client:python

#5610 Update "Get" methods to be named "Build"
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ExtensibleEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/PostProcessing/SharedSourceTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/CanonicalTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestNamedSymbol.cs
Labels: emitter:client:csharp

#5644 Update method names from "Get" to "Build" in TypeProvider
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/BinaryContentHelperDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientPipelineExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ClientUriBuilderDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ErrorResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ExtensibleEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/FixedEnumSerializationProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/ModelSerializationExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MultiPartFormDataBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/PipelineRequestHeadersExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/TypeFormattersDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/Utf8JsonBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ArgumentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ChangeTrackingListDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/OptionalDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/PostProcessing/SharedSourceTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/CanonicalTypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/TestHelpers/TestTypeProvider.cs
Labels: emitter:client:csharp

#5570 change the test project to reference cadl ranch source code projects instead of including their source code
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Client/Structure/ClientOperationGroup/ClientOperationGroupTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Client/Structure/Default/DefaultTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Payload/Multipart/MultipartTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Versioning/Added/V1/VersioningAddedV1Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Versioning/Added/V2/VersioningAddedV2Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Versioning/Removed/V1/VersioningRemovedV1Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Versioning/RenamedFrom/V1/VersioningRenamedFromV1Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Versioning/RenamedFrom/V2/VersioningRenamedFromV2Tests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/EnumDiscriminator/EnumDiscriminatorTest.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/NestedDiscriminator/NestedDiscriminatorTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Model/Inheritance/SingleDiscriminator/SingleDiscriminatorTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/_Type/Property/AdditionalProperties/AdditionalPropertiesTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/TestProjects.CadlRanch.Tests.csproj
Labels: emitter:client:csharp

#5634 Bump version for TypeSpec and TCGC
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#5595 Add test cases for server and versioning
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/parameters/collectionformat/CollectionFormatClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/server/path/multiple/MultipleClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/server/path/single/SingleClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/server/versions/NotVersionedTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/server/versions/VersionedTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/BooleanValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/DatetimeValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/DurationValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/Float32ValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/Int64ValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/ModelValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/NullableFloatValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/array/StringValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/DatetimeValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/DurationValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/Float32ValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/Int32ValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/Int64ValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/ModelValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/RecursiveModelValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/dictionary/StringValueClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/enums/extensible/ExtensibleClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/enums/fixed/FixedClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/model/inheritance/InheritanceTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/model/inheritance/NestedDiscriminatorTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/model/usage/ModelsUsageClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/model/usage/UsageClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/nullable/BytesClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/nullable/CollectionsByteClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/nullable/CollectionsModelClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/nullable/DatetimeOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/nullable/DurationOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/optional/BytesClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/optional/CollectionsByteClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/optional/CollectionsModelClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/optional/DatetimeOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/optional/DurationOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/optional/RequiredAndOptionalClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/optional/StringOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/BooleanOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/BytesClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/CollectionsIntClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/CollectionsModelClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/CollectionsStringClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/DatetimeOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/DictionaryStringClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/DurationOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/EnumClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/ExtensibleEnumClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/FloatOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/IntClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/ModelClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/NeverClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/type/property/valuetypes/StringOperationClientTest.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/versioning/added/AddedClientTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/versioning/madeoptional/MadeOptionalClienTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/versioning/removed/RemovedClientTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/versioning/renamedfrom/RenamedFromClientTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/versioning/returntypechangedfrom/ReturnTypeChangedFromClientTests.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/versioning/typechangedfrom/TypeChangedFromClientTests.java
Labels: emitter:client:java

#5640 [python] fix sphinx documentation for errors thrown from methods
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
Labels: emitter:client:python

#5650 http-client-java, add contributing.md
  packages/http-client-java/CONTRIBUTING.md
  packages/http-client-java/Setup.ps1
  packages/http-client-java/package.json
Labels: emitter:client:java

#5665 http-client-java, fix unbranded pageable overload
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/PageableClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/payload-pageable_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/payload/pageable/PageableTests.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ConvenienceSyncMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/TypeSpecPlugin.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5677 [python] fix snake case naming for `$xxx`
  packages/http-client-python/emitter/src/utils.ts
Labels: emitter:client:python

#5170 perf: Slightly optimise object interner for larger codebase
  .chronus/changes/perf-optimise-interner-2025-0-10-10-55-50.md
  packages/compiler/src/emitter-framework/asset-emitter.ts
Labels: compiler:core, stale

#5202 docs: interface statement can have decorators
  packages/spec/src/spec.emu.html
  website/src/content/docs/docs/language-basics/decorators.md
Labels: stale

#5680 Fix Test-CadlRanch and enable explode tests
  packages/http-client-csharp/eng/scripts/Test-CadlRanch.ps1
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/Routes/QueryTests.cs
Labels: emitter:client:csharp

#5682 Fix stale pr closing
  .github/policies/pr.stale.yml
Labels: eng

#5641 [python] fix typing for class methods in serialization.py
  packages/http-client-python/generator/pygen/codegen/templates/serialization.py.jinja2
Labels: emitter:client:python

#5684 Update doc to link to encoding
  website/src/content/docs/docs/language-basics/built-in-types.md
Labels: meta:website

#5416 [http/openapi] Use enum-driven visibility analysis APIs
  .chronus/changes/witemple-msft-http-visibility-enum-2024-11-19-13-8-4.md
  .chronus/changes/witemple-msft-http-visibility-enum-2024-11-19-13-8-52.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/lib/std/visibility.tsp
  packages/compiler/src/core/visibility/core.ts
  packages/compiler/src/core/visibility/index.ts
  packages/compiler/src/core/visibility/lifecycle.ts
  packages/compiler/src/lib/visibility.ts
  packages/compiler/test/decorators/visibility.test.ts
  packages/compiler/test/visibility.test.ts
  packages/http/src/http-property.ts
  packages/http/src/metadata.ts
  packages/http/src/parameters.ts
  packages/http/src/payload.ts
  packages/http/src/responses.ts
  packages/http/test/http-decorators.test.ts
  packages/openapi/src/helpers.ts
  packages/samples/specs/rest-metadata-emitter/rest-metadata-emitter-sample.ts
  website/src/content/docs/docs/language-basics/visibility.md
  website/src/content/docs/docs/standard-library/built-in-data-types.md
  website/src/content/docs/docs/standard-library/built-in-decorators.md
Labels: deprecation, lib:http

#5688 Fix random crash with collection load order
  website/src/components/release-notification.astro
Labels: meta:website

#5342 [typespec-vscode] Make 'convert to object value' code fix recursive
  .chronus/changes/make-convert-to-objval-codefix-recursive-2024-11-18-5-24-11.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/compiler-code-fixes/convert-to-value.codefix.ts
  packages/compiler/src/core/compiler-code-fixes/model-to-object-literal.codefix.ts
  packages/compiler/src/core/compiler-code-fixes/tuple-to-array-value.codefix.ts
  packages/compiler/test/core/compiler-code-fixes/conert-to-value.codefix.test.ts
  packages/compiler/test/core/compiler-code-fixes/model-to-literal.codefix.test.ts
  packages/compiler/test/core/compiler-code-fixes/tuple-to-literal.codefix.test.ts
Labels: ide, compiler:core

#5654 http-client-java, remove use of JacksonAdapter in unbranded
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/DurationClientBuilder.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/HeaderClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/PropertyClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/QueryClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/implementation/DurationClientImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/implementation/HeadersImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/implementation/PropertiesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/implementation/QueriesImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/property/DefaultDurationProperty.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/property/Float64SecondsDurationProperty.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/property/FloatSecondsDurationArrayProperty.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/property/FloatSecondsDurationProperty.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/property/ISO8601DurationProperty.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/property/Int32SecondsDurationProperty.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/encode/duration/property/package-info.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/resources/META-INF/encode-duration_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/encode/duration/EncodeDurationTests.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/ClientMethodSerializeItemValue.java
Labels: emitter:client:java

#5639 [python] rename `apiview_mapping_python.json` -> `apiview-properties.json`
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
Labels: emitter:client:python

#5691 Missing spector label
  eng/common/config/area.ts
  eng/common/config/labels.ts
Labels: eng

#5700 Add extension method for FieldProvider Property invoke to avoid explicit cast
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Snippets/Snippet.cs
Labels: emitter:client:csharp

#5451 support importing from openapi in vscode
  .chronus/changes/tsp-openapi3-2024-11-26-14-25-57.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/ui-utils.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/import-from-openapi3.ts
Labels: ide

#5620 Some improvements for the CodeGeneration in VSCode extension
  .chronus/changes/VSCodeExtension-2025-0-15-16-56-20.md
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#5707 [python] add docstrings to MutableMapping to override single quotes in parent
  packages/http-client-python/generator/pygen/codegen/templates/model_base.py.jinja2
Labels: emitter:client:python

#5711 [python] Fix for scenario that output folder is different with namespace
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
Labels: emitter:client:python

#4676 [python] add chronus version managing
  .chronus/changes/python-addChronus-2024-9-17-15-51-48.md
  .chronus/config.yaml
  eng/tsp-core/pipelines/publish.yml
  package.json
Labels: emitter:client:python, stale

#5723 Scaffolding extension
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Primitives/NewProjectScaffolding.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CSharpProjectWriter.cs
Labels: emitter:client:csharp

#5722 Update ConditionalRequestHeaderTests.cs
  packages/http-client-csharp/generator/TestProjects/CadlRanch.Tests/Http/SpecialHeaders/ConditionalRequest/ConditionalRequestHeaderTests.cs
Labels: emitter:client:csharp

#5730 refine log
  .chronus/changes/refineLog-2025-0-24-9-48-43.md
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#5186 [typespec-vscode] Improvements for the intellisense of tspconfig.yaml
  .chronus/changes/improvements-for-the-intellisense-of-tspconfig.yaml-2024-11-19-2-35-1.md
  .chronus/changes/improvements-for-the-intellisense-of-tspconfig.yaml-2024-11-19-2-35-2.md
  .chronus/changes/improvements-for-the-intellisense-of-tspconfig.yaml-2024-11-19-2-35-3.md
  packages/compiler/src/server/lib-provider.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/tspconfig/completion.ts
  packages/compiler/src/server/yaml-resolver.ts
  packages/compiler/test/server/completion.tspconfig.test.ts
  packages/compiler/test/server/workspace/.gitignore
  packages/compiler/test/server/workspace/demo_tsp/test1.tsp
  packages/compiler/test/server/workspace/demo_tsp/test3.tsp
  packages/compiler/test/server/workspace/demo_tsp/tspconfigtest1.yaml
  packages/compiler/test/server/workspace/demo_yaml/test2.tsp
  packages/compiler/test/server/workspace/demo_yaml/tspconfigtest2.yaml
  packages/compiler/test/server/workspace/node_modules/fake-emitter/lib/index.js
  packages/compiler/test/server/workspace/node_modules/fake-linter-no-schema/lib/index.js
  packages/compiler/test/server/workspace/node_modules/fake-linter-no-schema/package.json
  packages/compiler/test/server/workspace/node_modules/fake-linter/lib/index.js
  packages/compiler/test/server/workspace/node_modules/fake-linter/package.json
  packages/compiler/test/server/workspace/package.json
  packages/compiler/test/server/workspace/tspconfigtest0.yaml
Labels: ide, compiler:core

#5718 [python] bump changelog and package.json
  .chronus/changes/python-prepareRelease-2025-0-24-11-0-41.md
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#5736 http-client-java, do not generate overload, when sync-method=none
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
Labels: emitter:client:java

#5702 http-client-java, improve diagnostic
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/index.ts
  packages/http-client-java/emitter/src/lib.ts
  packages/http-client-java/emitter/src/utils.ts
  packages/http-client-java/emitter/src/validate.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/FormDataClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/FormDataHttpPartsClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/FormDataHttpPartsContentTypeClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/multipart/FormDataHttpPartsNonStringClient.java
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodSerializeItemValueCodeTests.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataHttpPartsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataHttpPartsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataHttpPartsContentTypeAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataHttpPartsContentTypeClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataHttpPartsNonStringAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/multipart/FormDataHttpPartsNonStringClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/flatten/FlattenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/multicontenttypes/MultiContentTypesAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/multicontenttypes/MultiContentTypesClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/multicontenttypes/MultipleContentTypesOnRequestAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/multicontenttypes/MultipleContentTypesOnRequestClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/multipart/MultipartAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/multipart/MultipartClient.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#5728 Remove duplicative attribute members
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/CodeGenAttributes.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/SourceInputModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AttributeStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ClientCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/TestData/ClientCustomizationTests/CustomCodeAttributesAreLoadedIntoAttributeStatements/MockInputClient.cs
Labels: emitter:client:csharp

#5745 Lazily convert attribute data into statement properties
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Statements/AttributeStatement.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/test/Providers/ModelProviders/ClientCustomizationTests.cs
Labels: emitter:client:csharp

#5747 Expose output dir
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Configuration.cs
Labels: emitter:client:csharp

#5750 Make `createStateSymbol` a common utility function for `@typespec/compiler`
  .chronus/changes/steverice-createStateSymbol-util-2025-0-25-10-46-13.md
  packages/compiler/src/core/deprecation.ts
  packages/compiler/src/core/intrinsic-type-state.ts
  packages/compiler/src/core/visibility/core.ts
  packages/compiler/src/lib/decorators.ts
  packages/compiler/src/lib/encoded-names.ts
  packages/compiler/src/lib/key.ts
  packages/compiler/src/lib/paging.ts
  packages/compiler/src/lib/utils.ts
  packages/compiler/src/lib/visibility.ts
Labels: compiler:core

#5720 [http-client-python] pylint patch bump
  packages/http-client-python/generator/test/azure/tox.ini
  packages/http-client-python/generator/test/unbranded/tox.ini
Labels: emitter:client:python

#5768 Normalize newline in xml writer for csproj generation
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Writers/CSharpProjectWriter.cs
Labels: emitter:client:csharp

#5742 http-client-java, add unit test to emitter
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/type-utils.ts
  packages/http-client-java/emitter/src/utils.ts
  packages/http-client-java/emitter/test/utils.test.ts
  packages/http-client-java/emitter/vitest.config.ts
  packages/http-client-java/eng/scripts/Test-Packages.ps1
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodSerializeItemValueCodeTests.java
  packages/http-client-java/package.json
Labels: emitter:client:java

#5754 Add example to the vscode setting "initTemplatesUrls"
  .chronus/changes/refine-config-description-2025-0-26-14-13-27.md
  packages/typespec-vscode/package.json
Labels: ide

#5764 Python/indentation error long docs
  .chronus/changes/python-indentationErrorLongDocs-2025-0-27-13-1-49.md
  packages/http-client-python/generator/pygen/codegen/templates/macros.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_dpg.py.jinja2
  packages/http-client-python/generator/pygen/codegen/templates/model_msrest.py.jinja2
Labels: emitter:client:python

#5797 Set NoNewLine in launchsettings generation
  packages/http-client-csharp/eng/scripts/Generate.ps1
Labels: emitter:client:csharp

#5804 Remove unsupported attributes
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderCustomizationTests/CanRenameSubClient/CanRenameSubClient.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/CanCustomizeModelName/CustomModel.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderCustomizationTests/CanChangeClientNamespace/CanChangeClientNamespace.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Customization/src/CodeGenClientAttribute.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.Customization/src/CodeGenModelAttribute.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/SourceInput/CodeGenAttributes.cs
Labels: emitter:client:csharp

#5812 Fix JS doc not generated since typedoc 0.27.0 upgrade
  packages/tspd/src/ref-doc/api-docs.ts
Labels: tspd

#5822 Add generated attributes into Roslyn workspace
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/FriendTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp.ClientModel/test/ModelReaderWriterValidation/TestProjects/Unbranded_TypeSpec/ProjectedModelTests.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CodeGenMemberAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CodeGenSerializationAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CodeGenSuppressAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.Generator.CSharp/src/Providers/CodeGenTypeAttributeDefinition.cs
  packages/http-client-csharp/generator/TestProjects/Local.Tests/CustomizationTests.cs
  packages/http-client-csharp/generator/TestProjects/Local.Tests/TestProjects.Local.Tests.csproj
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Custom/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Custom/ProjectedModelCustom.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/Friend.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModelCustom.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/Models/ProjectedModelCustom.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Unbranded-TypeSpec/src/Generated/UnbrandedTypeSpecModelFactory.cs
Labels: emitter:client:csharp
