Repository microsoft/typespec, pull requests merged in 2025-07, with the labels that each got.

#7147 Add readme for unbranded SDK
  .chronus/changes/add-readme-for-unbranded-2025-5-30-2-43-2.md
  packages/http-client-python/generator/pygen/codegen/templates/packaging_templates/README.md.jinja2
Labels: emitter:client:python

#7773 expose sdkContext to avoid duplicated creation
  packages/http-client-csharp/emitter/src/emitter.ts
  packages/http-client-csharp/emitter/src/options.ts
Labels: emitter:client:csharp

#7786 mgmt, fix sample ordering in sample.md
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/SampleTemplate.java
Labels: emitter:client:java

#7809 Bump SCM
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Abstractions/ValueExpressionExtensions.cs
  packages/http-client-csharp/generator/Packages.Data.props
Labels: emitter:client:csharp

#7812 Sign packages
  packages/http-client-csharp/eng/MTG.snk
  packages/http-client-csharp/generator/Directory.Build.props
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Properties/AssemblyInfo.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/Properties/AssemblyInfo.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Properties/AssemblyInfo.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Properties/AssemblyInfo.cs
Labels: emitter:client:csharp

#7805 [http-client-java], add optional path test
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
Labels: emitter:client:java

#7822 [python] only remove if regeneration unsuccessful
  .chronus/changes/python-onlyDeleteFailed-2025-6-3-13-41-38.md
  packages/http-client-python/eng/scripts/ci/regenerate.ts
Labels: emitter:client:python

#7825 Respect JSON serialization hook in FromObject method
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/BinaryContentHelperDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/BinaryContentHelperDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/BinaryContentHelperDefinitionTests/FromObjectBinaryDataMethodIsCorrectlyDefined.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/BinaryContentHelperDefinitionTests/FromObjectMethodIsCorrectlyDefined.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/TypeReferenceExpression.cs
Labels: emitter:client:csharp

#7847 Expose WriteObjectValue snippet
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/Utf8JsonWriterSnippets.cs
Labels: emitter:client:csharp

#7849 Fix renamed optional path param always marked as style: path
  .chronus/changes/fix-optional-path-param-2025-6-8-8-54-7.md
  packages/http/src/parameters.ts
  packages/http/test/routes.test.ts
Labels: lib:http

#7850 [http-client-csharp] emit tsp-client artifacts directly into cloned repo
  packages/http-client-csharp/eng/pipeline/publish.yml
  packages/http-client-csharp/eng/scripts/Submit-AzureSdkForNetPr.ps1
  packages/http-client-csharp/eng/scripts/Update-PackageJson.ps1
Labels: emitter:client:csharp

#7860 Move dependency mismatch check to gh actions
  .github/workflows/consistency.yml
  eng/tsp-core/pipelines/jobs/build-and-test.yml
Labels: eng

#7862 Try pin older node 24
  eng/tsp-core/pipelines/stages/ci-stages.yml
Labels: eng

#7874 http-client-java, bug fix on incorrect duplicate check
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
Labels: emitter:client:java

#7875 http-client-java, bug fix, avoid generate duplicate file
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
Labels: emitter:client:java

#7870 Ensure service version enum uses same ns as options
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientOptionsProviderTests.cs
Labels: emitter:client:csharp

#7878 http-client-java, fix mock test class name
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTestTemplate.java
Labels: emitter:client:java

#7887 Add duration-constant encoding support
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/Extensions/DurationKnownEncodingExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/InputDurationTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/DurationKnownEncodingTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TestData/TypeSpecInputConverterTests/LoadsInputDurationType/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TypeSpecInputConverterTests.cs
Labels: emitter:client:csharp

#6477 [spector] nested paging
  .chronus/changes/nested-paging-2025-3-25-3-10-15.md
  .chronus/changes/nested-paging-2025-6-1-17-26-34.md
  packages/http-client-js/src/components/operation-handlers/paging/page-response.tsx
  packages/http-client-js/src/components/operation-handlers/paging/paginated-operation-handler.tsx
  packages/http-client-js/test/scenarios/http-operations/paging.md
  packages/http-specs/spec-summary.md
  packages/http-specs/specs/payload/pageable/main.tsp
  packages/http-specs/specs/payload/pageable/mockapi.ts
Labels: lib:http-specs

#7888 http-client-java, bug fix, param in protocol method
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
Labels: emitter:client:java

#7896 Fix customization of properties that have generated type
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeDictionaryOfModelToReadOnlyDictionaryOfModel/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeListOfEnumToReadOnlyListOfEnum/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeListOfModelToReadOnlyListOfModel/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeModelProperty/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeModelPropertyWhenModelIsCustomized/MockInputModel.cs
Labels: emitter:client:csharp

#7901 mgmt, generate properties file also for premium
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGen.java
Labels: emitter:client:java

#7934 Exclude implementation packages from module info
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMapper.java
Labels: emitter:client:java

#7943 [python] add test case for `@override`
  .chronus/changes/python-test-2025-6-17-5-19-30.md
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_client_generator_core_override_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_client_generator_core_override.py
Labels: emitter:client:python

#7897 Exclude `docs/` changes from triggering typespec-azure integration check
  .github/workflows/external-integration.yml
Labels: eng

#7945 Fix integration check
  .github/workflows/external-integration.yml
Labels: eng

#7947 Ignore test files in legacy library definition
  .chronus/changes/ignore-test-files-2025-6-17-20-27-25.md
  packages/compiler/src/testing/test-host.ts
Labels: compiler:core

#7949 Clean up BaseType/DeclaringType API
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MultiPartFormDataBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Utf8JsonBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
Labels: emitter:client:csharp

#6802 Add test case for TypeSpec Extension
  .chronus/changes/test-pipeline-2025-6-3-13-30-58.md
  eng/tsp-core/pipelines/jobs/e2e.yml
  eng/tsp-core/pipelines/templates/setup-linux-ui.yml
  packages/typespec-vscode/.gitignore
  packages/typespec-vscode/package.json
  packages/typespec-vscode/test/extension/common/common-steps.ts
  packages/typespec-vscode/test/extension/common/create-steps.ts
  packages/typespec-vscode/test/extension/common/download-setup.ts
  packages/typespec-vscode/test/extension/common/mock-dialogs.ts
  packages/typespec-vscode/test/extension/common/utils.ts
  packages/typespec-vscode/test/extension/create-typespec.test.ts
  packages/typespec-vscode/test/extension/tsconfig.json
  packages/typespec-vscode/test/extension/vitest.config.ts
  pnpm-lock.yaml
Labels: ide

#7970 Add basic http-client-csharp Copilot instructions
  .github/copilot-instructions.md
  .github/prompts/http-client-csharp-development.md
Labels: eng

#7955 [http-client-java] support mgmt premium
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/fluent/TypeSpecFluentPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#7721 [typespec-vscode] console.log get logged in lsp
  .chronus/changes/console-log-get-logged-in-lsp-2025-6-14-2-46-55.md
  packages/compiler/src/server/server.ts
Labels: ide, compiler:core

#7960 Remove warning when LSP cannot find compiler root
  .chronus/changes/remove-dead-code-2025-6-18-19-49-50.md
  packages/compiler/src/server/serverlib.ts
Labels: compiler:core

#7804 Fix the type cache for models and enums to be the tcgc instances
  packages/http-client-csharp/emitter/src/lib/client-model-builder.ts
  packages/http-client-csharp/emitter/src/lib/type-converter.ts
  packages/http-client-csharp/emitter/src/sdk-context.ts
Labels: emitter:client:csharp

#7928 instruction, add link to task for http-client-java
  .github/CODEOWNERS
  .github/copilot-instructions.md
  .github/prompts/http-client-java-development.md
  packages/http-client-java/.github/copilot-instructions.md
Labels: eng

#8012 Fix `tsp format --check` incorrectly validating needs format
  .chronus/changes/fix-formatter-check-format-2025-6-25-15-11-21.md
  .prettierignore
  packages/compiler/src/core/formatter-fs.ts
  packages/compiler/test/e2e/cli/cli.e2e.ts
  packages/compiler/test/e2e/cli/scenarios/unformatted/main.tsp
  packages/compiler/vitest.config.e2e.ts
  vitest.config.ts
Labels: compiler:core

#8015 Remove unnecessary null conditional in model factory methods
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoriesCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#7852 Cleanup duplicate typekit tests
  .chronus/changes/cleanup-dup-tests-2025-6-8-19-43-58.md
  packages/http/package.json
  packages/http/test/experimental/typekit/http-operation.test.ts
  packages/http/test/experimental/typekit/http-request.test.ts
  packages/http/test/typekit/http-operation.test.ts
  packages/http/test/typekit/http-request.test.ts
  packages/http/test/typekit/http-response.test.ts
Labels: lib:http

#8027 http-client-java, remove pagedResult
  packages/http-client-java/generator/http-client-generator-test/tsp/arm-stream-style-serialization.tsp
  packages/http-client-java/generator/http-client-generator-test/tsp/response.tsp
Labels: emitter:client:java

#8018 Fix configure call
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelReaderWriterContextDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmCodeModelGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmOutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CodeModelGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/StartUp/GeneratorHandler.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/StartUp/GeneratorHandlerTests.cs
Labels: emitter:client:csharp

#8039 don't hardcode to first client in samples
  .chronus/changes/python-multiClientSampleFix-2025-6-28-14-39-15.md
  packages/http-client-python/generator/pygen/codegen/serializers/sample_serializer.py
  packages/http-client-python/generator/pygen/codegen/templates/sample.py.jinja2
Labels: emitter:client:python

#8032 [python] Support python 3.13
  .chronus/changes/support-python-3-13-2025-7-28-4-6-48.md
  packages/http-client-python/generator/pygen/codegen/serializers/general_serializer.py
  packages/http-client-python/generator/test/azure/requirements.txt
Labels: emitter:client:python

#8048 Fix summary docs indentation when attribute is removed
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/PostProcessor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/PostProcessorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/DoesNotRemoveValidAttributes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributes/Model.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributes/RemovesInvalidAttributesAndKeepsValidAttributes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributes/RootClass.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributesNoDocs.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributesNoDocs/Model.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributesNoDocs/RemovesInvalidAttributesAndKeepsValidAttributesNoDocs.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidAttributesAndKeepsValidAttributesNoDocs/RootClass.cs
Labels: emitter:client:csharp

#8038 Fix circular reference in http
  .chronus/changes/fix-http-circular-refs-2025-6-28-15-51-45.md
  packages/http/src/decorators.ts
  packages/http/src/decorators/route.ts
  packages/http/src/decorators/shared-route.ts
  packages/http/src/index.ts
  packages/http/src/metadata.ts
  packages/http/src/operations.ts
  packages/http/src/route.ts
  packages/http/src/status-codes.ts
  packages/http/src/tsp-index.ts
  packages/http/src/validate.ts
Labels: lib:http

#8063 Apply type renaming fix for LastContractView
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenMemberAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenSerializationAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenSuppressAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenTypeAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TestData/TypeProviderTests/LastContractViewLoadedForRenamedType/LastContractViewLoadedForRenamedType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
Labels: emitter:client:csharp

#8002 set namespace on union expressions
  .chronus/changes/union-expression-namespace-2025-6-24-20-49-52.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/helpers/type-name-utils.ts
  packages/compiler/test/checker/union.test.ts
Labels: compiler:core

#8057 http-client-java, fix readonly on flatten property
  packages/http-client-java/generator/http-client-generator-clientcore-test/pom.xml
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/models/ResultData.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Result.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/tsp/arm-stream-style-serialization.tsp
  packages/http-client-java/generator/http-client-generator/pom.xml
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#8066 Always use unix line endings when writing launchsettings
  packages/http-client-csharp/eng/scripts/Add-Debug-Profile.ps1
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/eng/scripts/Generation.psm1
Labels: emitter:client:csharp

#8073 Fix Api Version sorting when there are backcompat members
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ApiVersionEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/EnumProviders/ApiVersionEnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/EnumProviders/TestData/ApiVersionEnumProviderTests/BackCompat_PrereleaseAndGAApiVersionsAdded/SampleNamespaceClientOptions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/EnumProviders/TestData/ApiVersionEnumProviderTests/BackCompat_PreviewAndGAApiVersionsAdded/SampleNamespaceClientOptions.cs
Labels: emitter:client:csharp
