Repository microsoft/typespec, pull requests merged in 2025-05, with the labels that each got.

#7197 Update packages arg value to reflect updated library names
  packages/http-client-csharp/eng/pipeline/publish.yml
  packages/http-client-csharp/eng/pipeline/templates/ci-stages.yml
Labels: emitter:client:csharp

#7176 http-client-java, update copilot instruction, update script
  packages/http-client-java/.github/copilot-instructions.md
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/src/test/java/client/clientnamespace/generated/ClientNamespaceSecondClientTestBase.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
Labels: emitter:client:java

#7153 [compiler] Add nesting and scalar handling for getPlausibleName
  .chronus/changes/get-plausible-name-fixes-2025-3-28-17-12-25.md
  packages/compiler/src/typekit/utils/get-plausible-name.ts
  packages/compiler/test/typekit/type.test.ts
Labels: compiler:core

#7214 Depdendabot only do alloy
  .github/dependabot.yml
Labels: eng

#7206 Remove dates from blog posts and URL slugs
  website/src/content.config.ts
  website/src/content/blog/2024-04-25-introducing/blog.md
  website/src/content/blog/2024-11-04-typespec-at-lseg/blog.md
  website/src/content/blog/2025-03-31-typespec-1-0-release/typespec_1_0_release.md
  website/src/layouts/blog-post.astro
  website/src/pages/blog/[...slug].astro
  website/src/pages/blog/_BlogPostPreview.astro
  website/src/pages/blog/resolve-image.ts
Labels: meta:website

#7215 update typekits docs
  website/src/content/docs/docs/extending-typespec/emitter-framework.md
Labels: meta:website

#7222 Remove version property from service option model that was deprecated and removed in 1.0-rc.0
  .chronus/changes/remove-service-from-type-2025-4-4-20-20-4.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/lib/std/decorators.tsp
  packages/openapi/test/decorators.test.ts
  website/src/content/docs/docs/standard-library/built-in-data-types.md
Labels: compiler:core

#7192 Fix perf regression client e2e
  .chronus/changes/fix-perf-regression-client-js-e2e-2025-3-30-20-31-39.md
  packages/http-client-js/eng/scripts/emit-e2e.js
Labels: emitter:client:js

#7200 [core] Support renaming and caching in visibility transforms.
  .chronus/changes/witemple-msft-visibility-cache-renaming-2025-4-1-14-43-21.md
  .chronus/changes/witemple-msft-visibility-cache-renaming-2025-4-1-14-47-1.md
  packages/compiler/generated-defs/TypeSpec.ts
  packages/compiler/lib/std/visibility.tsp
  packages/compiler/src/core/visibility/core.ts
  packages/compiler/src/experimental/mutators.ts
  packages/compiler/src/lib/decorators.ts
  packages/compiler/src/lib/utils.ts
  packages/compiler/src/lib/visibility.ts
  packages/compiler/test/visibility.test.ts
  website/src/content/docs/docs/standard-library/built-in-decorators.md
Labels: compiler:core, 1_0_E2E

#7231 update footer
  website/src/components/footer/footer.astro
Labels: meta:website

#7232 add copilot instructions to typespec repo
  .github/copilot-instructions.md
Labels: eng

#7230 Make patch not apply optionality transform by default
  .chronus/changes/patch-implicit-optionality-false-2025-4-5-21-50-59.md
  .chronus/changes/patch-implicit-optionality-false-2025-4-5-22-29-52.md
  packages/http-server-csharp/test/generation.test.ts
  packages/http-specs/specs/type/model/visibility/main.tsp
  packages/http/src/lib.ts
  packages/http/src/metadata.ts
  packages/http/src/parameters.ts
  packages/http/test/merge-patch.test.ts
  packages/openapi3/test/metadata.test.ts
  packages/playground-website/samples/http.tsp
  packages/rest/lib/resource.tsp
  packages/samples/specs/init/main.tsp
  packages/samples/specs/todoApp/main.tsp
  packages/samples/specs/visibility/visibility.tsp
  packages/samples/test/output/init/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/todoApp/@typespec/openapi3/openapi.yaml
  packages/samples/test/output/visibility/@typespec/openapi3/openapi.yaml
  vitest.workspace.ts
Labels: lib:http

#7152 [python] add support for parameterized next link
  .chronus/changes/python-parameterizedNextLink-2025-3-28-12-34-24.md
  cspell.yaml
  packages/http-client-python/.vscode/launch.json
  packages/http-client-python/emitter/src/http.ts
  packages/http-client-python/eng/scripts/ci/mypy.ini
  packages/http-client-python/eng/scripts/ci/regenerate.ts
  packages/http-client-python/generator/pygen/codegen/models/paging_operation.py
  packages/http-client-python/generator/pygen/codegen/serializers/builder_serializer.py
  packages/http-client-python/generator/test/azure/mock_api_tests/asynctests/test_azure_core_page_async.py
  packages/http-client-python/generator/test/azure/mock_api_tests/test_azure_core_page.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#7240 Recompute the XmlDocs when method signature is updated
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ConstructorProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/MethodProviderHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/MethodProviderTests.cs
Labels: emitter:client:csharp

#7229 Allow mutation of InvokeMethodExpression and TryCatchFinallyStatement
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/InvokeMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/TryCatchFinallyStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Expressions/ExpressionsTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Expressions/TestData/ExpressionsTests/TestUpdateInvokeInstanceMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/StatementTests.cs
Labels: emitter:client:csharp

#7243 Add 1.0 release notes
  website/src/content/docs/docs/release-notes/release-2025-05-06.md
Labels: meta:website

#7237 Adopt spector/parameters/path
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Parameters/Path/PathTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
Labels: emitter:client:csharp

#7254 Update vscode and vs extension to 1.0
  packages/typespec-vs/CHANGELOG.md
  packages/typespec-vs/package.json
  packages/typespec-vscode/CHANGELOG.md
  packages/typespec-vscode/package.json
Labels: ide

#7258 http-client-java, update compiler 1.0.0
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/DeserializeEmptyStringAsNullAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/DeserializeEmptyStringAsNullClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/DeserializeEmptyStringAsNullClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/implementation/DeserializeEmptyStringAsNullClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/models/ResponseModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/deserialize/emptystringnull/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/UserAssignedIdentity.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/fluent/models/OperationInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/models/OperationInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/UserAssignedIdentity.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/_specs_-azure-clientgenerator-core-deserializeemptystringasnull_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-clientgenerator-core-deserialize-emptystringnull_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-clientgenerator-core-deserialize-emptystringnull.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/deserialize/emptystringnull/generated/DeserializeEmptyStringAsNullClientTestBase.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7259 [http] Fix diagnostic for PatchOptions.implicitOptionality referring a non-existing property
  .chronus/changes/fix-implicit-optionality-diagnostic-2025-4-7-3-41-57.md
  packages/http/src/lib.ts
Labels: lib:http

#7247 Use JsonSerializer for Auth-Flow deserialization and add Generated import for XmlWrapper models.
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/TemplateHelper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/XmlSequenceWrapperTemplate.java
Labels: emitter:client:java

#7269 [http-client-java] mgmt, remove `@Generated` annotation in enums
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/implementation/PolymorphicDiscriminatorHandler.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/azurevnext/AzureVNextMapperFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/azurevnext/AzureVNextPomMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreClientParameterMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreMapperFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCorePomMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreProxyParameterMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/azurevnext/AzureVNextClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/azurevnext/AzureVNextPomTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/azurevnext/AzureVNextTemplateFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreConvenienceSyncMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreEnumTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreExceptionTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreMethodGroupTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCorePomTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreServiceClientTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreTemplateFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreWrapperClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentEnumTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentTemplateFactory.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/models/ManagedServiceIdentityType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/models/ActionType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/models/CheckNameAvailabilityReason.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/models/Origin.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/models/ProvisioningState.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ActionType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/DogKind.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ManagedServiceIdentityType.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/Origin.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ProvisioningState.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/DogKind.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
Labels: emitter:client:java

#7253 Enable e2e tests of init templates
  packages/compiler/test/e2e/init-templates.e2e.ts
Labels: compiler:core

#7217 1.0 GA release blog post
  website/src/content/blog/2025-05-02-typespec-1-0-GA/TypeSpec_1_0_GA.png
  website/src/content/blog/2025-05-02-typespec-1-0-GA/typespec_1_0_GA.md
Labels: meta:website

#7255 Bump to 1.0.0 deps
  packages/http-client-csharp/eng/scripts/Generate.ps1
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Infrastructure/TestServerBase.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/tspCodeModel.json
  packages/http-client-csharp/package-lock.json
  packages/http-client-csharp/package.json
Labels: emitter:client:csharp

#7137 Allow passing values parameters
  .chronus/changes/tenative-fix-template-values-2025-3-28-19-41-46.md
  .chronus/changes/tenative-fix-template-values-2025-3-28-19-41-47.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/types.ts
  packages/compiler/test/checker/model.test.ts
  packages/compiler/test/checker/templates.test.ts
Labels: compiler:core

#7266 [http-client-java] serialization, do not write null for optional properties
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/StreamSerializationModelTemplate.java
Labels: emitter:client:java

#7285 Add additional parameters to PropertyProvider.Update
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/PropertyDescriptionBuilder.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/PropertyDescriptionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/PropertyProviderTests.cs
Labels: emitter:client:csharp

#7293 Retain the custom description
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/PropertyProviderTests.cs
Labels: emitter:client:csharp

#7295 [core] Even more aggressively deduplicate the results of visibility transforms.
  .chronus/changes/witemple-msft-visibility-mutator-replace-2025-4-8-15-28-29.md
  packages/compiler/src/lib/visibility.ts
  packages/compiler/test/visibility.test.ts
Labels: compiler:core

#7282 [http-client-java] mgmt, fix model test duplication, enable sync-stack by default
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/CommonPropertiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/ErrorsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/commonproperties/implementation/ManagedIdentitiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/CheckNameAvailabilitiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationTemplatesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/ResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/SingletonsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/FishesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/TopLevelArmResourcesClientImpl.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#7299 Null conditional fix
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/CSharpTypeSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelProviderTests.cs
Labels: emitter:client:csharp

#7015 Refactor ClientMethod to Support Immutable Builders and Enhance Polling & Paging Metadata
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/PollingSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodParameterProcessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodsReturnDescription.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/CollectionUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/CustomClientParameterMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PagingMetadata.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PollingMetadata.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ResponseTypeFactory.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethodType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ImplementationDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodPageDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodPollingDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/azurevnext/AzureVNextClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/TemplateUtil.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/lro/rpc/implementation/RpcClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/lro/standard/implementation/StandardClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/longrunning/implementation/LongRunningClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/specialheaders/implementation/RepeatabilityHeadersImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/union/implementation/UnionFlattenOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/versioning/implementation/VersioningOpsImpl.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#7177 http-client-java, generate readme.md for unbranded, prepare patch release
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/Javagen.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ReadmeTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/Readme_unbranded.txt
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/TypeSpecPlugin.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7304 Update clientcore pageable APIs and enable tests
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenClient.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationsImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/test/java/payload/pageable/PageableTests.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCorePomTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreWrapperClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/MethodUtil.java
Labels: emitter:client:java

#7319 Target node id for diagnostic in playground
  .chronus/changes/playground-target-id-2025-4-12-15-22-16.md
  packages/playground/src/services.ts
Labels: ui:playground

#7317 enable emitting code from tspconfig.yaml
  .chronus/changes/emitFromConfigFile-2025-4-12-11-47-13.md
  packages/typespec-vscode/package.json
Labels: ide

#7145 http-client-java, generate and compile smoke test, fix POM, prepare patch 0.4.2
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCorePomTemplate.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7332 Add ServiceMethod property to ScmMethodProvider and remove MethodProviderCollection
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProviderCollection.cs
Labels: emitter:client:csharp

#7322 improving paging samples and doc
  website/src/content/docs/docs/standard-library/pagination.md
Labels: meta:website

#7333 Fix vscode web tests
  .chronus/changes/fix-vscode-web-tests-2025-4-13-15-33-33.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/tsconfig.json
Labels: ide

#7338 Add rewriter support
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CodeModelGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/LibraryRewriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Writers/RewriterTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Writers/TestData/RewriterTests/RewriterIsInvoked.cs
Labels: emitter:client:csharp

#7330 http-client-java, fix type error in "use-iterable" mode
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodsReturnDescription.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyParameterMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethodParameter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ConvenienceMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ModelTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/example/ClientMethodExampleWriter.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ModelExampleUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ModelTestCaseUtil.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7343 Format if any rewriters are applied
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Writers/RewriterTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Writers/TestData/RewriterTests/RewriterIsInvoked.cs
Labels: emitter:client:csharp

#7320 Add node 24 to CI
  eng/tsp-core/pipelines/stages/ci-stages.yml
Labels: eng

#7349 Handle null values for collections in samples
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ModelExampleUtil.java
Labels: emitter:client:java

#7331 [vscode] Prompt user to install compiler proactively if we find there is no compiler installed to start LSP
  .chronus/changes/no-compiler-handling-2025-4-13-10-28-26.md
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/telemetry/telemetry-event.ts
  packages/typespec-vscode/src/tsp-executable-resolver.ts
  packages/typespec-vscode/src/tsp-language-client.ts
  packages/typespec-vscode/src/typespec-utils.ts
  packages/typespec-vscode/src/ui-utils.ts
  packages/typespec-vscode/src/vscode-cmd/install-tsp-compiler.ts
Labels: ide

#7352 update the emit-code command name in the doc
  packages/typespec-vscode/README.md
Labels: ide

#7239 Leverage LSP to do compile instead of CLI
  .chronus/changes/lsp-2025-4-9-9-38-32.md
  .chronus/changes/lsp-2025-4-9-9-38-5.md
  packages/compiler/src/internals/index.ts
  packages/compiler/src/server/compile-service.ts
  packages/compiler/src/server/index.ts
  packages/compiler/src/server/server-track-action-task.ts
  packages/compiler/src/server/server.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/types.ts
  packages/typespec-vscode/src/extension-context.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/tsp-language-client.ts
  packages/typespec-vscode/src/typespec-utils.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#7325 [python] switch response type to ItemPaged
  .chronus/changes/python-itemPagedTyping-2025-4-12-16-1-0.md
  packages/http-client-python/generator/pygen/codegen/models/paging_operation.py
  packages/http-client-python/generator/pygen/codegen/models/response.py
Labels: emitter:client:python

#7300 [typespec-vscode] Unified openapi3 writing format
  .chronus/changes/Unified-openapi3-writing-format-2025-4-9-3-1-51.md
  packages/typespec-vscode/src/vscode-cmd/import-from-openapi3.ts
Labels: ide

#7362 Fix dependabot alloy group
  .github/dependabot.yml
Labels: eng

#7313 Visit expressions/statements
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/BinaryContentHelperDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelSerializationExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/AssignmentExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/CatchExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/DeclarationExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/FinallyExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/InvokeMethodExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/KeywordExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/MemberExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/TryExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/VariableExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ChangeTrackingDictionaryDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ConstructorProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/CatchStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/DoWhileStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/ExpressionStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/FinallyStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/ForEachStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/ForStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/IfElseStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/IfStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/MethodBodyStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/MethodBodyStatements.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/SwitchCaseStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/SwitchStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/TryCatchFinallyStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/TryStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/UsingScopeStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/WhileStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/XmlDocInheritStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Expressions/ExpressionVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/StatementTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Statements/StatementVisitorTests.cs
Labels: emitter:client:csharp

#7368 Visit ScopedApi
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/ScopedApi.cs
Labels: emitter:client:csharp

#7370 Add LRO usage flags
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputModelTypeUsage.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputModelTypeConverter.cs
Labels: emitter:client:csharp

#7302 [typespec-vscode] Tel result cancelled when the select file step of preview api documentation is cancelled
  .chronus/changes/tel-result-cancelled-when-pre-api-doc-is-cancelled-2025-4-9-7-21-10.md
  packages/typespec-vscode/src/vscode-cmd/openapi3-preview.ts
Labels: ide

#7373 http-client-java, fix regression, emitter option include-api-view-properties
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-commonproperties-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-commonproperties-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-nonresource-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-nonresource-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-operationtemplates-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-operationtemplates-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-resources-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-resources-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-clientinitialization_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-clientinitialization_metadata.json
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/TypeSpecPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/fluent/TypeSpecFluentPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#7377 Compiler statistics
  .chronus/changes/compiler-statistics-2025-4-16-17-5-19.md
  packages/compiler/src/core/checker.ts
  packages/compiler/src/core/cli/actions/compile/args.ts
  packages/compiler/src/core/cli/actions/compile/compile.ts
  packages/compiler/src/core/cli/cli.ts
  packages/compiler/src/core/linter.ts
  packages/compiler/src/core/program.ts
  packages/compiler/src/core/stats.ts
  packages/compiler/test/core/linter.test.ts
Labels: compiler:core

#7379 Add missing lro usage
  docs/samples/client/csharp/nuget.config
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputModelTypeUsage.cs
Labels: emitter:client:csharp

#7345 feat: add support for last contract view
  docs/samples/client/csharp/nuget.config
  docs/samples/client/csharp/plugins/logging/Logging.Plugin/src/global.json
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Utilities/DiagnosticCodes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Microsoft.TypeSpec.Generator.csproj
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/SourceInput/SourceInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/DiagnosticCodes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/NugetPackageDownloader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/GeneratedCodeWorkspaceTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Microsoft.TypeSpec.Generator.Tests.csproj
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TestData/TypeProviderTests/TestLoadLastContractView/TestLoadLastContractView.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestData/GeneratedCodeWorkspaceTests/CreateTestAssemblyAndProjectFile/TestNamespace.csproj
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNugetPackageDownloader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNugetSettingSection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNugetSettings.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Utilities/NugetPackageDownloaderTests.cs
  packages/http-client-csharp/generator/Packages.Data.props
Labels: emitter:client:csharp

#7359 [Python] generate metadata files
  .chronus/changes/python-metadata-2025-4-15-18-12-43.md
  packages/http-client-python/emitter/src/code-model.ts
  packages/http-client-python/generator/pygen/codegen/models/code_model.py
  packages/http-client-python/generator/pygen/codegen/serializers/__init__.py
Labels: emitter:client:python

#7385 http-client-java, mgmt, handle filename too long
  packages/http-client-java/generator/http-client-generator-clientcore-test/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaPackage.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ClassNameUtil.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/ClassNameUtilTests.java
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/FluentExample.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/javamodel/FluentJavaPackage.java
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/proxy-config.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/reflect-config.json
Labels: emitter:client:java

#7381 Fix reference typo in docs/language-basics/models.md
  website/src/content/docs/docs/language-basics/models.md
Labels: meta:website

#7390 Expose VisitLibrary and remove unused Visit overloads
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/CSharpGenTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/InputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/OutputLibraryVisitorTests.cs
Labels: emitter:client:csharp

#7392 Add basic setup copilot instructions
  .github/copilot-instructions.md
Labels: eng

#7394 Allow for construction of an enumTypeValue without its parent being constructed yet
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputEnumType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputEnumTypeFloatValue.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputEnumTypeIntegerValue.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputEnumTypeStringValue.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputEnumTypeValue.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecInputEnumTypeValueConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
Labels: emitter:client:csharp

#7395 Remove the empty namespace nodes so that the using fix is applied
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/PostProcessor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/PostProcessorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/DoesNotRemoveValidUsings/DoesNotRemoveValidUsings.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/DoesNotRemoveValidUsings/Model.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidUsings/Model.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/RemovesInvalidUsings/RemovesInvalidUsings.cs
Labels: emitter:client:csharp

#7358 Expose GetCreateRequestMethod and GetMethodCollectionByOperation
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
Labels: emitter:client:csharp

#7337 Using the ClientMethodMapper extension points and hardening the paging parameter should-hide-check
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodParameterProcessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodParametersDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PagingMetadata.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ParametersTransformationProcessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ParametersTuple.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/clientcore/ClientCoreClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClientMethod.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodPageDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ConvenienceMethodTemplateBase.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/WrapperClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreWrapperClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/MethodUtil.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentClientMethodMapper.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/fluentmodel/method/FluentActionMethod.java
Labels: emitter:client:java

#7399 [EngSys] Update pipelines to use ubuntu-24 and azsdk-pool
  eng/common/pipelines/templates/1es-redirect.yml
  eng/common/pipelines/templates/variables/image.yml
  eng/emitters/pipelines/templates/stages/emitter-stages.yml
  eng/tsp-core/pipelines/jobs/cli/publish-artifacts.yml
  packages/http-client-csharp/eng/pipeline/publish.yml
  packages/http-client-csharp/eng/pipeline/templates/ci-stages.yml
  packages/http-client-csharp/eng/scripts/Initialize-Repository.ps1
Labels: eng

#7374 check whether compiler lsp support compile project
  .chronus/changes/lspSupportCheck-2025-4-16-6-55-13.md
  packages/typespec-vscode/src/vscode-cmd/emit-code/emit-code.ts
Labels: ide

#7408 Don't create enums from literal constants
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/ModelReaderWriterValidation/TestProjects/Sample_TypeSpec/ThingTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/ModelReaderWriterValidation/TestProjects/Sample_TypeSpec/ThingWithNullsTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/OutputLibrary.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/TypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/OutputLibraryTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/GetUnknownValueResponse6.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/Thing.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingOptionalLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ThingRequiredLiteralString.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/_Type/Property/Optionality/OptionalityTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/_Type/Property/ValueTypes/ValueTypesTests.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/content-negotiation/src/Generated/Models/PngImageAsJson.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/content-negotiation/src/Generated/Models/PngImageAsJsonContentType.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/payload/content-negotiation/src/Generated/PayloadContentNegotiationModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData0.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData0Kind.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData1.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData1Kind.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData2.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/WidgetData2Kind.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/TypePropertyAdditionalPropertiesModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/FloatLiteralProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/FloatLiteralPropertyProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/FloatLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/IntLiteralProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/IntLiteralPropertyProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/IntLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/StringLiteralProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/StringLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/TypePropertyOptionalModelFactory.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/FloatLiteralProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/FloatLiteralPropertyProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/FloatLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/IntLiteralProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/IntLiteralPropertyProperty.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/IntLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/StringLiteralProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/StringLiteralPropertyProperty.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/TypePropertyValueTypesModelFactory.cs
Labels: emitter:client:csharp

#7424 Unwrap enum value
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeFrameworkTypeToCustomEnum/MockInputModel.cs
Labels: emitter:client:csharp

#7404 [http-client-csharp] Add Support For Generating Last Contract Model Factory Methods
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/MethodSignature.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenMemberAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenSerializationAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenSuppressAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenTypeAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_NewModelPropertyAdded/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_NoCurrentOverloadFound/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNamedSymbol.cs
Labels: emitter:client:csharp

#7429 Use the NameInRequest in param map
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/TestBuildCreateRequestMethodWithPathParameters.cs
Labels: emitter:client:csharp

#7414 Expose StringExtensions as public
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelReaderWriterContextDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderSubClientTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/AdditionalPropertiesTest.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/Extensions/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/TypeSpecSerialization.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/Microsoft.TypeSpec.Generator.Input.csproj
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/FormattableStringExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ExtensibleEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/FixedEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/FormattableStringHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/EnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Utilities/StringExtensionsTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
Labels: emitter:client:csharp

#7432 http-client-java, update resource-manager lib
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7430 Remove blank line from model factory methods with no collection initializers
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizePropertyIntoReadOnlyMemory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecModelFactory.cs
Labels: emitter:client:csharp

#7428 Exclude copilot from labels
  .github/policies/prs.triage.generated.yml
  eng/common/scripts/labels/automation.ts
  eng/common/scripts/labels/policy.ts
Labels: eng

#7441 Fix IPC diagnostics
  packages/http-client-csharp/emitter/src/lib/lib.ts
  packages/http-client-csharp/emitter/src/lib/utils.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/CollectionResultDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/EmitterRpc/Emitter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/EmitterRpc/EmitterDiagnosticSeverity.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/EmitterRpc/EmitterTests.cs
Labels: emitter:client:csharp

#7039 [http-client-js] export components
  .chronus/changes/export_components-2025-4-8-15-33-45.md
  packages/http-client-js/package.json
  packages/http-client-js/src/components/external-packages/ts-http-runtime.ts
  packages/http-client-js/src/components/index.ts
Labels: emitter:client:js

#7452 Expose ModelReaderWriterContextSnippets
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/ModelReaderWriterContextSnippets.cs
Labels: emitter:client:csharp

#7449 Fix call to ROM helper method
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/BinaryContentHelperSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ScmMethodProviderCollectionTests.cs
Labels: emitter:client:csharp

#7461 Remove templateArguments property
  .chronus/changes/fix-remove-template-args-2025-4-23-15-39-59.md
  packages/compiler/src/core/checker.ts
Labels: compiler:core

#7462 [http-client-csharp]: Generate model factory method from LastContractView if the only thing that changed was the parameter ordering
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/TestData/ModelFactoryProviderTests/BackCompatibility_OnlyParamOrderingChanged/SampleNamespaceModelFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
Labels: emitter:client:csharp

#7465 Use service interface name for client impl
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreMethodGroupTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreServiceClientTemplate.java
Labels: emitter:client:java

#7475 Don't delete generated test folder as these are not yet generated in MTG
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CSharpGen.cs
Labels: emitter:client:csharp

#7476 Make RelativeFilePath property public
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
Labels: emitter:client:csharp

#7486 http-client-java, update npm dependencies
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7497 Don't set query + headers on next link requests
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/MultipartFormDataTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp

#6783 [Typespec-vscode] Install packages for unrecognized import
  .chronus/changes/install-packages-for-unrecognized-import-2025-4-8-7-32-21.md
  packages/compiler/src/server/serverlib.ts
  packages/typespec-vscode/src/code-action-provider.ts
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/types.ts
Labels: ide

#7353 [typespec-vscode] Fix openapi3 preview error when path contain space
  .chronus/changes/fix-openapi3-preview-error-when-path-contain-space-2025-4-15-8-38-52.md
  .chronus/changes/fix-openapi3-preview-error-when-path-contain-space-2025-4-21-16-57-43.md
  packages/internal-build-utils/src/generate-third-party-notice.ts
  packages/typespec-vscode/ThirdPartyNotices.txt
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/utils.ts
  pnpm-lock.yaml
Labels: ide

#7483 ClientMethodTemplate: Remove method parameters that can be obtained from other parameters and Improve ClientType to WireType function
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodPageDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentClientMethodTemplate.java
Labels: emitter:client:java

#7506 Add type-arg overloads for Invoke
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Expressions/ValueExpressionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ParameterProviderTests.cs
Labels: emitter:client:csharp

#7507 Fix empty string emitting error when used in string interpolation in a template
  .chronus/changes/fix-empty-string-template-2025-4-29-22-20-26.md
  packages/compiler/src/core/checker.ts
  packages/compiler/test/checker/string-template.test.ts
Labels: compiler:core

#7511 Use absolute url for customization guide link
  packages/http-client-csharp/.tspd/docs/usage.md
  packages/http-client-csharp/readme.md
Labels: emitter:client:csharp

#7513 Expose client options parameter
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
Labels: emitter:client:csharp

#7512 [http-client-csharp] chore: cleanup doc regeneration
  packages/http-client-csharp/eng/scripts/Generation.psm1
  packages/http-client-csharp/eng/scripts/Test-Packages.ps1
Labels: emitter:client:csharp
