Repository microsoft/typespec, pull requests merged in 2025-10, with the labels that each got.

#8639 Simplify TypeToKeep APIs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmCodeModelGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CodeModelGenerator.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/PostProcessor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/PostProcessorTests.cs
Labels: emitter:client:csharp

#8643 Keep models marked as public
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelProviderTests.cs
Labels: emitter:client:csharp

#8648 fix: do not write null for optional nullable props in dynamic models
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteArrayProperties.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteNestedArrayDictionaryProperties.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteNestedArrayDynamicModelProperties.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteNestedArrayPrimitiveProperties.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteReadOnlySpanProperty.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/DynamicModel.Serialization.cs
Labels: emitter:client:csharp

#8632 Provide an operation id resolver
  .chronus/changes/operation-id-strategy-2025-9-1-16-38-40.md
  .chronus/changes/operation-id-strategy-2025-9-1-16-38-41.md
  .chronus/changes/operation-id-strategy-2025-9-1-18-43-58.md
  packages/compiler/src/core/schema-validator.ts
  packages/openapi3/README.md
  packages/openapi3/package.json
  packages/openapi3/src/lib.ts
  packages/openapi3/src/openapi.ts
  packages/openapi3/src/operation-id-resolver/operation-id-resolver.test.ts
  packages/openapi3/src/operation-id-resolver/operation-id-resolver.ts
  website/src/content/docs/docs/emitters/openapi3/reference/emitter.md
Labels: emitter:openapi3

#8657 fix: do not call Patch.WriteTo for base discriminated model types
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteDiscriminatedDerivedModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/SuppressionStatement.cs
Labels: emitter:client:csharp

#8658 Keep public enums
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/EnumProviders/EnumProviderTests.cs
Labels: emitter:client:csharp

#8652 Export `getNodeForTarget` in `ast` exports
  .chronus/changes/expose-get-node-for-target-2025-9-2-20-36-17.md
  packages/compiler/src/ast/index.ts
  packages/compiler/src/core/diagnostics.ts
Labels: compiler:core

#8674 Avoid ambiguous backcompat methods
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelFactoryProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelFactories/ModelFactoryProviderTests.cs
Labels: emitter:client:csharp

#8611 Clarify identifiers extends docs
  website/src/content/docs/docs/language-basics/identifiers.md
Labels: meta:website

#8685 Fix enum value property customization
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/CSharpTypeExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizeLiteralEnumProperty/MockInputModel.cs
Labels: emitter:client:csharp

#8689 build: validate if injected dep. version exists
  packages/http-client-csharp/eng/scripts/Update-PackageJson.ps1
Labels: emitter:client:csharp
