Repository microsoft/typespec, pull requests merged in 2025-09, with the labels that each got.

#8323 http-client-java, use current sdk version
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/FluentProject.java
Labels: emitter:client:java

#8341 http-client-java, ignore x-ms- header
  packages/http-client-java/emitter/src/operation-utils.ts
  packages/http-client-java/generator/http-client-generator-test/tsp/arm-stream-style-serialization.tsp
Labels: emitter:client:java

#8348 Remove duplicate attribute property
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ConstructorProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ConstructorProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/MethodProviderTests.cs
Labels: emitter:client:csharp

#8344 http-client-java, add clear-output-folder option, default to false
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#8352 Generate error types for Azure V2
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/util/ModelUtil.java
Labels: emitter:client:java

#8354 Support serialization helpers for JsonPatch
  packages/http-client-csharp/generator/Directory.Build.props
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ModelSerializationExtensionsDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Snippets/JsonPatchSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/ModelSerializationExtensionsDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelSerializationExtensionsDefinitionTests/ValidateGetFirstPropertyName.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelSerializationExtensionsDefinitionTests/ValidateGetUtf8Bytes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelSerializationExtensionsDefinitionTests/ValidateSliceToStartOfPropertyName.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Definitions/TestData/ModelSerializationExtensionsDefinitionTests/ValidateWriteDictionaryWithPatch.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/MrwSerializationTypeDefinitionTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputModelType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/InputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/perf/CodeWriterBenchmark.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/DeclarationExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Expressions/ValueExpression.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/ReadOnlyMemorySnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/ReadOnlySpanSnippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Snippet.DeclarationStatements.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Snippet.New.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Snippet.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Snippets/Utf8Snippets.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/IfElsePreprocessorStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Internal/ModelSerializationExtensions.cs
Labels: emitter:client:csharp

#8366 Perf improvements to roslyn processing
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/CSharpGen.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/GeneratedCodeWorkspace.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/MemberRemoverRewriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/LoggingHelpers.cs
Labels: emitter:client:csharp

#8367 Fix the spector build
  packages/http-client-csharp/generator/Directory.Build.props
  packages/http-client-csharp/generator/TestProjects/Spector/Directory.Build.props
Labels: emitter:client:csharp

#8328 [http-client-python] Log error when python environment set up fails
  .chronus/changes/python-fix-2025-8-2-16-15-27.md
  packages/http-client-python/eng/scripts/setup/install.ts
Labels: emitter:client:python

#8373 Fix issue involving customizing a property with a customized namespace
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanChangeModelPropertyWithChangedNamespace/MockInputModel.cs
Labels: emitter:client:csharp

#8396 Add release notes for 1.4.0 release
  website/src/content/docs/docs/release-notes/release-2025-09-09.md
Labels: meta:website

#8464 Pass BinaryData arg to Deserialize method
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
Labels: emitter:client:csharp

#8471 Add nuget.config
  packages/http-client-csharp/generator/nuget.config
Labels: emitter:client:csharp

#8055 [typespec-vscode] show template parameters default in hover signature
  .chronus/changes/show-tempalte-param-default-in-hover-2025-7-1-9-50-22.md
  packages/compiler/src/core/helpers/index.ts
  packages/compiler/src/core/helpers/raw-text-cache.ts
  packages/compiler/src/core/helpers/type-name-utils.ts
  packages/compiler/src/server/completion.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/type-details.ts
  packages/compiler/src/server/type-signature.ts
  packages/compiler/test/server/get-hover.test.ts
  website/src/content/docs/docs/libraries/rest/reference/interfaces.md
Labels: ide, compiler:core

#8499 update http-client-python CONTRIBUTING.md
  packages/http-client-python/CONTRIBUTING.md
Labels: emitter:client:python

#8512 Inheritance customization fixes
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/PersistableModelCoreTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/DoesNotOverrideMethodsIfBaseTypeIsNotModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/ModelCustomizationTests/DoesNotOverrideMethodsIfBaseTypeIsNotModel/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNamedSymbol.cs
Labels: emitter:client:csharp

#8536 [python] release a fix version
  .chronus/changes/python-fixPeerDeps-2025-8-23-19-12-53.md
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#8540 http-client-java, use --no for npx
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
Labels: emitter:client:java

#8535 fix: use correct length property for readonlyspan patch props
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.Dynamic.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/DynamicModelSerializationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteReadOnlySpanProperty.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/MrwSerializationTypeDefinitions/TestData/DynamicModelSerializationTests/WriteReadOnlySpanProperty/DynamicModel.cs
Labels: emitter:client:csharp

#8548 Pass compiler options correctly in linter tester
  .chronus/changes/fix-linter-tester-new-tester-2025-8-24-20-53-11.md
  packages/compiler/src/testing/rule-tester.ts
Labels: compiler:core

#8551 Fix issue with customized base model having discriminator property
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/DiscriminatorPropertyNotGeneratedIfOnCustomizedBase/MockInputModel.cs
Labels: emitter:client:csharp

#8564 Use abstraction for MultipartForm base type
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MultiPartFormDataBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/Abstractions/RequestContentApiTests.cs
Labels: emitter:client:csharp

#8566 Code fix edits out of order
  .chronus/changes/fix-code-fixes-edit-out-of-order-2025-8-25-17-28-41.md
  packages/compiler/src/core/code-fixes.ts
  packages/compiler/test/core/codefixes.test.ts
Labels: compiler:core

#8585 Visit IfElsePreprocessorStatement
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/LibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/IfElsePreprocessorStatement.cs
Labels: emitter:client:csharp

#8582 fix: include union variant types in root output types
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmTypeFactory.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/ScmTypeFactoryTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/InputModelTypeConverter.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/discriminated/src/Generated/Models/Cat.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/discriminated/src/Generated/Models/Dog.Serialization.cs
Labels: emitter:client:csharp

#8591 http-client-java, handle duplicated SystemData
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/transformer/ResourceTypeNormalization.java
Labels: emitter:client:java

#8596 Fix for back compat property replacement
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CanonicalTypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/CSharpTypeExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelProviderTests/BackCompat_ReadOnlyCollectionEnumPropertiesAreRetained/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelProviderTests/BackCompat_ReadOnlyCollectionModelPropertiesAreRetained(False)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelProviderTests/BackCompat_ReadOnlyCollectionModelPropertiesAreRetained(True)/MockInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
Labels: emitter:client:csharp

#8606 fix: propogate dynamicModel for union types
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/InputModelTypeConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TestData/TypeSpecInputConverterTests/LoadsDynamicModelWithModelProperties/tspCodeModel.json
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/TypeSpecInputConverterTests.cs
Labels: emitter:client:csharp

#8607 [python] ensure first line in param desc wrap arounds is a space
  .chronus/changes/python-fixBathDocIssue-2025-8-29-17-55-57.md
  packages/http-client-python/generator/pygen/codegen/templates/operation_tools.jinja2
Labels: emitter:client:python

#8573 [typespec-vscode] LSP connection failure after dynamically loading a certain library in the package
  .chronus/changes/loaded-package-is-cli-package-2025-8-26-5-27-22.md
  packages/compiler/src/server/lib-provider.ts
Labels: ide, compiler:core
