Repository microsoft/typespec, pull requests merged in 2025-06, with the labels that each got.

#7509 Fix service validation tag metadata
  .chronus/changes/fix-service-validation-tag-metadata-2025-4-29-22-43-37.md
  packages/openapi/src/decorators.ts
Labels: lib:openapi

#7508 Allow extends of array expression for not just template
  .chronus/changes/fix-extends-array-expr-2025-4-29-22-35-54.md
  packages/compiler/src/core/checker.ts
Labels: compiler:core

#7522 Java generator bug fixes
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/Editor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ClassType.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/util/ModelTemplateHeaderHelper.java
Labels: emitter:client:java

#6923 Init template can define a project kind which decide if dependencies are added to peer or regular dependencies
  .chronus/changes/init-project-target-2025-3-9-15-27-47.md
  packages/compiler/.scripts/build-init-templates.ts
  packages/compiler/src/init/init-template.ts
  packages/compiler/src/init/scaffold.ts
  packages/compiler/templates/__snapshots__/rest/package.json
  packages/compiler/templates/scaffolding.json
  packages/compiler/test/init/init-template.test.ts
Labels: compiler:core

#7525 [http-client-csharp] Add Back-Compat Support for Service Versions
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientOptionsProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/TestData/ClientOptionsProviderTests/BackCompat_GAApiVersionsAdded/SampleNamespaceClientOptions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/TestData/ClientOptionsProviderTests/BackCompat_PrereleaseApiVersionsAdded/SampleNamespaceClientOptions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/TestHelpers/MockHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ApiVersionEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/SourceInput/SourceInputModel.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/StringExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ApiVersionEnumProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TestData/ApiVersionEnumProviderTests/BackCompat_GAApiVersionsAdded/SampleNamespaceClientOptions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TestData/ApiVersionEnumProviderTests/BackCompat_PrereleaseApiVersionsAdded/SampleNamespaceClientOptions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Utilities/StringExtensionsTests.cs
Labels: emitter:client:csharp

#7534 http-client-java - Prepare for release 0.4.3
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7531 [http-client-java] mgmt, fix immutable resource model implementation
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/fluentmodel/ResourceImplementation.java
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/fluentmodel/method/FluentConstructorByName.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/ArmClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/ImmutableResourceModelsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/models/NginxConfigurationResponseInner.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ArmClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ChildResourceImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ImmutableResourceModelsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ImmutableResourceModelsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/NginxConfigurationResponseImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ImmutableResourceModels.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/NginxConfigurationRequest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/NginxConfigurationResponse.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/NginxConfigurationResponseProperties.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  packages/http-client-java/generator/http-client-generator-test/tsp/arm.tsp
Labels: emitter:client:java

#7499 Add missing imports and change client logger default
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/XmlSequenceWrapperTemplate.java
Labels: emitter:client:java

#7542 fix the range of float32
  website/src/content/docs/docs/language-basics/built-in-types.md
Labels: meta:website

#7538 Revert "Don't remove usings needed for crefs"
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/PostProcessing/PostProcessor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/PostProcessorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/PostProcessing/TestData/PostProcessorTests/DoesNotRemoveValidUsings/DoesNotRemoveValidUsings.cs
Labels: emitter:client:csharp

#7546 Include accept header in next link requests
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/TestBuildCreateRequestMethodWithPaging(False).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/TestBuildCreateRequestMethodWithPaging(True).cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClient.RestClient.cs
Labels: emitter:client:csharp

#7550 [http-client-csharp] handle nested types in custom code
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpType.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/TypeSymbolExtensions.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Primitives/CSharpTypeTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/NamedTypeSymbolProviders/NamedTypeSymbolProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TestData/TypeProviderTests/TestCustomizeNestedTypes/TestCustomizeNestedTypes(false).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TestData/TypeProviderTests/TestCustomizeNestedTypes/TestCustomizeNestedTypes(true).cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestNamedSymbol.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TestHelpers/TestTypeProvider.cs
Labels: emitter:client:csharp

#7526 add the api to add the compileinclude clauses
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/CSharpProjectCompileInclude.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Primitives/NewProjectScaffolding.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Writers/CSharpProjectWriter.cs
Labels: emitter:client:csharp

#7530 Show full definition of model/interface when it's 'extends' or 'is' other model/interfaces.
  .chronus/changes/full-def-hover-2025-5-3-14-54-27.md
  packages/compiler/src/core/helpers/type-name-utils.ts
  packages/compiler/src/server/serverlib.ts
  packages/compiler/src/server/type-details.ts
  packages/compiler/src/server/type-signature.ts
  packages/compiler/test/server/get-hover.test.ts
Labels: ide, compiler:core

#7541 Expose API for other vscode extension to be able to register more Init Template
  .chronus/changes/scaffolding-api-2025-5-4-17-46-14.md
  packages/typespec-vscode/package.json
  packages/typespec-vscode/src/extension.ts
  packages/typespec-vscode/src/index.ts
  packages/typespec-vscode/src/types.ts
  packages/typespec-vscode/src/utils.ts
  packages/typespec-vscode/src/vscode-cmd/create-tsp-project.ts
  packages/typespec-vscode/tsconfig.declaration.json
Labels: ide

#7582 Revert change to make CSharpProjectWriter internal
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Writers/CSharpProjectWriter.cs
Labels: emitter:client:csharp

#7583 Fix to changing namespace
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/TestData/ModelCustomizationTests/CanCustomizeTypeWithChangedNamespaceInVisitor/MockInputModel.cs
Labels: emitter:client:csharp

#7567 apply underline text-decoration to inlined links and improve contrast of links in codeboxes
  website/src/css/tsp.css
Labels: meta:website

#7448 [#7446] Handle special characters followed by digits in http-client-java's CodeNamer.getEnumMemberName
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamer.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamerTests.java
Labels: emitter:client:java

#7590 http-client-java, bug fix on enum variable name
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamer.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamerTests.java
Labels: emitter:client:java

#7592 Don't cache the relative file path since the name can change in visitor
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ModelProviders/ModelCustomizationTests.cs
Labels: emitter:client:csharp

#7595 Update the service method name
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ScmMethodProviderCollection.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputOperation.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/test/InputServiceMethodTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClient.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenHeaderResponseAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenHeaderResponseAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenHeaderResponseCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithContinuationTokenHeaderResponseCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithNextLinkAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithNextLinkAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithNextLinkCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithNextLinkCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithPagingAsyncCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithPagingAsyncCollectionResultOfT.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithPagingCollectionResult.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClientGetWithPagingCollectionResultOfT.cs
Labels: emitter:client:csharp

#7599 Fix arg validation for required strings
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/TestData/ClientProviderTests/XmlDocsAreWritten.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBody.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeader.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationToken.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfT.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfTAsync.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ArgumentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ConstructorProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Statements/XmlDocExceptionStatement.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Utilities/MethodProviderHelpers.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ArgumentTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ParameterProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Utilities/MethodProviderHelpersTests.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Internal/Argument.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/SampleTypeSpecClient.cs
Labels: emitter:client:csharp

#7603 Fix binary content naming and populate descriptions for serializationation type
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientOptionsProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/MrwSerializationTypeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/Utf8JsonBinaryContentDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ApiVersionEnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/EnumProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ModelProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ListWithContinuationTokenHeaderResponseResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ListWithContinuationTokenResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ListWithNextLinkResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ModelWithEmbeddedNonBodyParameters.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/PageThing.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/RenamedModelCustom.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Models/Thing.Serialization.cs
Labels: emitter:client:csharp

#7194 [http-client-js] emit correct diagnostic for unsupported API key auth
  .chronus/changes/http-client-js-correct-warning-for-apikey-auth-2025-3-30-21-48-15.md
  packages/http-client-js/src/components/client-context/client-context-factory.tsx
Labels: emitter:client:js

#7276 [hsjs] Better handling of JSON property names
  .chronus/changes/witemple-msft-quote-property-name-json-2025-4-7-13-40-10.md
  packages/http-server-js/src/common/serialization/json.ts
  packages/http-server-js/src/util/case.ts
Labels: stale

#7598 Don't delete spotless directory when spotless fails
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/Customization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/ls/EclipseLanguageClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/postprocessor/Postprocessor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/postprocessor/implementation/CodeFormatterUtil.java
Labels: emitter:client:java

#7589 http-client-java, support config use-default-http-status-code-to-exception-type-mapping to false, that would use Error in TypeSpec
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/utils.ts
  packages/http-client-java/emitter/test/utils.test.ts
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ExceptionMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ProxyMethodMapper.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ProxyTemplate.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/ErrorModelAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/ErrorModelClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/implementation/ErrorOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/BadResponseError.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/BadResponseErrorException.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/BatchError.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/BatchErrorException.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/BatchErrorMessage.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/errormodel/models/Details.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-errormodel_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/tsptest-errormodel_metadata.json
  packages/http-client-java/generator/http-client-generator-test/tsp/error.tsp
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/TypeSpecPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#7608 http-client-java, upgrade compiler 1.1.0
  packages/http-client-java/generator/http-client-generator-clientcore-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/Project.java
  packages/http-client-java/generator/http-client-generator-core/src/main/resources/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/pom.xml
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/template/FluentClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/pom.xml
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/ArmResourceProviderManager.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmResourceProviderManagementClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/fluent/ItemsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmResourceProviderManagementClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/ItemsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/ItemsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/implementation/models/ListResult.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Items.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armstreamstyleserialization/models/Result.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/proxy-config.json
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/deserialize/emptystringnull/DeserializeEmptyStringAsNullTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/largeheader/LargeHeaderTests.java
  packages/http-client-java/generator/http-client-generator-test/tsp/arm-stream-style-serialization.tsp
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7613 [python] bump typespec 1.1.0
  packages/http-client-python/CHANGELOG.md
  packages/http-client-python/generator/pygen/codegen/models/client.py
  packages/http-client-python/package-lock.json
  packages/http-client-python/package.json
Labels: emitter:client:python

#7552 Completely remove usage of Eclipse language server
  packages/http-client-java/generator/http-client-generator-core/pom.xml
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/Javagen.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/ClassCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/CodeCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/ConstantCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/ConstructorCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/Customization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/Editor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/JavadocCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/LibraryCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/MethodCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/PackageCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/PropertyCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/Utils.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseClassCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseCodeCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseConstantCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseConstructorCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseJavadocCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseLibraryCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseMethodCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipsePackageCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipsePropertyCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/eclipsecustomization/EclipseUtils.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/javaparsercustomization/JavaParserClassCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/javaparsercustomization/JavaParserCodeCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/javaparsercustomization/JavaParserLibraryCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/javaparsercustomization/JavaParserPackageCustomization.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/ls/EclipseLanguageClient.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/ls/EclipseLanguageServerFacade.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/ls/models/JavaCodeActionKind.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/JavaSettings.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/postprocessor/Postprocessor.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/customization/src/main/java/CustomizationTest.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/naming/NamingClient.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/Main.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/TypeSpecPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/fluent/TypeSpecFluentPlugin.java
  packages/http-client-java/generator/http-client-generator/src/main/java/com/microsoft/typespec/http/client/generator/model/EmitterOptions.java
Labels: emitter:client:java

#7616 Uri template fix
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
Labels: emitter:client:csharp

#7624 fix: handle accept parameter values
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/ValidateClientWithAcceptHeader_NoValuesDefined.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/ValidateClientWithAcceptHeader_ValueDefinedAsConstant.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/ValidateClientWithAcceptHeader_ValuesDefinedAsEnum.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/ValidateClientWithAcceptHeader_ValuesDefinedInResponse.cs
Labels: emitter:client:csharp

#7625 Setup pr pkg new
  .chronus/changes/setup-pkg-pr-new-2025-5-13-3-11-0.md
  .github/workflows/ci.yml
  .github/workflows/consistency.yml
  cspell.yaml
  eng/tsp-core/pipelines/jobs/publish-artifacts.yml
  eng/tsp-core/pipelines/stages/ci-stages.yml
  eng/tsp-core/pkg-pr-new.ts
  packages/emitter-framework/package.json
Labels: eng

#7627 [http-client-csharp] readd AssertNotNullOrEmpty method
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ArgumentDefinition.cs
  packages/http-client-csharp/generator/TestProjects/Local/Sample-TypeSpec/src/Generated/Internal/Argument.cs
Labels: emitter:client:csharp

#7633 Update codeowners
  .github/CODEOWNERS
Labels: eng

#7639 Add usedotnet task to PR creation stage
  packages/http-client-csharp/eng/pipeline/publish.yml
Labels: emitter:client:csharp

#7629 [http-client-java] mgmt, fix delete rename
  packages/http-client-java/generator/http-client-generator-mgmt/src/main/java/com/microsoft/typespec/http/client/generator/mgmt/model/clientmodel/FluentResourceCollection.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/ManagedMaintenanceWindowStatusOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/fluent/ModelInterfaceSameNamesClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ManagedMaintenanceWindowStatusOperations.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/armresourceprovider/models/ModelInterfaceSameNames.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_metadata.json
  packages/http-client-java/generator/http-client-generator-test/tsp/arm.tsp
Labels: emitter:client:java

#7648 Include subclient parameters as root client fields
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/ClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/ClientProviders/ClientProviderTests.cs
Labels: emitter:client:csharp

#7540 refine emitter docs
  .chronus/changes/refine_emitter_docs-2025-5-5-11-39-17.md
  packages/openapi3/README.md
  packages/openapi3/package.json
  website/src/content/docs/docs/emitters/openapi3/reference/index.mdx
  website/src/content/docs/docs/emitters/protobuf/guide.md
Labels: meta:website

#7645 Bump to .NET 9 SDK
  docs/samples/client/csharp/plugins/logging/Logging.Plugin/src/global.json
  packages/http-client-csharp/eng/pipeline/publish.yml
  packages/http-client-csharp/eng/pipeline/templates/ci-stages.yml
  packages/http-client-csharp/global.json
Labels: emitter:client:csharp

#7649 [copilot] rewrite instructions in copilot-friendly manner
  .github/copilot-instructions.md
  .github/prompts/testserver-generation.md
Labels: eng

#7656 Fix Editor.getLines not being updated
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/Editor.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/customization/implementation/Utils.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaJavadocComment.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamer.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/ModelExampleUtil.java
Labels: emitter:client:java

#7659 Add all updates
  packages/http-client-csharp/eng/pipeline/publish.yml
  packages/http-client-csharp/eng/scripts/Submit-AzureSdkForNetPr.ps1
Labels: emitter:client:csharp

#7670 [copilot[ add scenario naming reqs section
  .github/prompts/testserver-generation.md
Labels: eng

#7597 Add test case for extension resource in ArmResourceTest
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Labels: emitter:client:java

#7663 http-client-java, escape javadoc for \u
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaJavadocComment.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/javamodel/JavaLineComment.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamer.java
  packages/http-client-java/generator/http-client-generator-core/src/test/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamerTests.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/naming/NamingAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/naming/implementation/NamingOpsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/tsptest/naming/models/DataResponse.java
  packages/http-client-java/generator/http-client-generator-test/tsp/naming.tsp
Labels: emitter:client:java

#7668 http-client-java, codegen change, support query param reinjection
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PagingMetadata.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodPageDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/ClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/core/page/implementation/PageClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/core/page/PageTests.java
Labels: emitter:client:java

#7689 Add reset method
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
Labels: emitter:client:csharp

#7717 Suppress customized nested enums even when the declaring type was also customized
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenMemberAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenSerializationAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenSuppressAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/CodeGenTypeAttributeDefinition.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/NamedTypeSymbolProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TestData/TypeProviderTests/CanCustomizeNestedTypesWithRenamedDeclaringType/TestCustomizeNestedTypes.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/TypeFactoryTests.cs
Labels: emitter:client:csharp

#7694 fix typo in doc comment for plainDate scalar
  .chronus/changes/main-2025-5-23-16-13-19.md
  packages/compiler/lib/intrinsics.tsp
Labels: compiler:core

#7725 Remove unnecessary visitor
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/DefaultScmLibraryVisitor.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/ScmCodeModelGenerator.cs
Labels: emitter:client:csharp

#7706 http-client-java, support nested pageItems, nextLink, continuationToken
  packages/http-client-java/emitter/src/code-model-builder.ts
  packages/http-client-java/emitter/src/operation-utils.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
  packages/http-client-java/generator/http-client-generator-clientcore-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationsImpl.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/extension/model/extensionmodel/XmsPageable.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodsReturnDescription.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/mapper/PagingMetadata.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/MethodPageDetails.java
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/template/clientcore/ClientCoreClientMethodTemplate.java
  packages/http-client-java/generator/http-client-generator-test/Generate.ps1
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/PageableClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/implementation/PageableClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/implementation/ServerDrivenPaginationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/models/Pet.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/models/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/payload/pageable/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/payload-pageable_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/payload-pageable_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/payload-pageable.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/payload/pageable/PageableTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/payload/pageable/generated/PageableClientTestBase.java
Labels: emitter:client:java

#7737 http-client-java, bump tcgc and azure-http-specs
  packages/http-client-java/generator/http-client-generator-clientcore-test/package.json
  packages/http-client-java/generator/http-client-generator-test/package.json
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/ArchiveOperationsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/ArchiveOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/ClientLocationAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/ClientLocationClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/ClientLocationClientBuilder.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToExistingSubAdminOperationsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToExistingSubAdminOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToExistingSubUserOperationsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToExistingSubUserOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToNewSubProductOperationsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToNewSubProductOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToRootResourceOperationsAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/MoveToRootResourceOperationsClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/implementation/ArchiveOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/implementation/ClientLocationClientImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/implementation/MoveToExistingSubAdminOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/implementation/MoveToExistingSubUserOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/implementation/MoveToNewSubProductOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/implementation/MoveToRootResourceOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/implementation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/clientlocation/package-info.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/UsageAsyncClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/UsageClient.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/implementation/ModelInOperationsImpl.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/models/InputModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/java/azure/clientgenerator/core/usage/models/OutputModel.java
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-clientgenerator-core-clientlocation_apiview_properties.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/META-INF/azure-clientgenerator-core-clientlocation_metadata.json
  packages/http-client-java/generator/http-client-generator-test/src/main/resources/azure-clientgenerator-core-clientlocation.properties
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientlocation/ClientLocationClientTests.java
  packages/http-client-java/generator/http-client-generator-test/src/test/java/azure/clientgenerator/core/clientlocation/generated/ClientLocationClientTestBase.java
  packages/http-client-java/package-lock.json
  packages/http-client-java/package.json
Labels: emitter:client:java

#7736 [http-client-java] fix generation failure when there are same paging operation under different clients
  packages/http-client-java/generator/http-client-generator-core/src/main/java/com/microsoft/typespec/http/client/generator/core/preprocessor/tranformer/Transformer.java
Labels: emitter:client:java

#7743 Update with reset
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
Labels: emitter:client:csharp

#7745 Add profiling to java code
  cspell.yaml
  packages/http-client-java/emitter/src/emitter.ts
  packages/http-client-java/emitter/src/options.ts
  packages/http-client-java/generator/http-client-generator-clientcore-test/tspconfig.yaml
  packages/http-client-java/generator/http-client-generator-test/tspconfig.yaml
  packages/http-client-java/generator/http-client-generator/src/main/resources/PerfAutomation.jfc
  packages/http-client-java/package.json
Labels: emitter:client:java

#7752 [http-client-csharp] support reinjected next link params
  packages/http-client-csharp/emitter/src/lib/operation-converter.ts
  packages/http-client-csharp/emitter/src/type/input-service-method.ts
  packages/http-client-csharp/emitter/test/Unit/operation-paging.test.ts
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/src/Providers/RestClientProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/RestClientProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.ClientModel/test/Providers/RestClientProviders/TestData/RestClientProviderTests/TestNextLinkReinjectedParametersInCreateRequestMethod.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/InputNextLink.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator.Input/src/InputTypes/Serialization/InputNextLinkConverter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/common/InputFactory.cs
Labels: emitter:client:csharp

#7764 build: ignore build failure in sdk-for-net pr creation
  packages/http-client-csharp/eng/scripts/Submit-AzureSdkForNetPr.ps1
Labels: emitter:client:csharp

#7766 [http-client-csharp] support attributes for fields, props, & ctors
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ConstructorProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/FieldProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/MethodProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/ParameterProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/PropertyProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Providers/TypeProvider.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/src/Writers/CodeWriter.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/OutputLibraryVisitorTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/ConstructorProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/FieldProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/MethodProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/PropertyProviderTests.cs
  packages/http-client-csharp/generator/Microsoft.TypeSpec.Generator/test/Providers/TypeProviderTests.cs
Labels: emitter:client:csharp

#7768 Set the package version
  packages/http-client-csharp/eng/pipeline/publish.yml
Labels: emitter:client:csharp

#7767 Catch & ignore error on pwsh invocation for PR creation
  packages/http-client-csharp/eng/scripts/Submit-AzureSdkForNetPr.ps1
Labels: emitter:client:csharp

#7769 Fix ps syntax
  packages/http-client-csharp/eng/pipeline/publish.yml
Labels: emitter:client:csharp
